[2020-10-23 16:56] jennyf19 commented on #419
@PingPongSet did @Shama-K answer your question? If so, can this be closed? thanks.

[2020-10-23 16:56] jennyf19 commented on #415
@jmprieur fyi.

[2020-10-23 16:57] jennyf19 commented on #407
closing as answered @mitirazvan

[2020-10-23 16:57] #407 closed

[2020-10-23 16:58] jennyf19 commented on #363
closing as fixed.

[2020-10-23 16:58] #363 closed

[2020-10-23 16:59] jennyf19 commented on #360
@santhoshbomma looks like this was answered...feel free to reopen if needed.

[2020-10-23 16:59] #360 closed

[2020-10-23 17:00] jennyf19 commented on #270
@jmprieur what's our status on this one?

[2020-10-23 17:41] jmprieur commented on #270
This was done a long time ago.
Closing the issue. this works now

thanks for the heads-up, @jennyf19

[2020-10-23 17:41] #270 closed

[2020-10-23 19:34] sameer-kumar commented on #427
@jmprieur the response which I received back by calling downstream api looks like a sign-in form as html text. Instead I assume, it should pop-up a sign-in/consent window.

[2020-10-23 19:54] jmprieur commented on #427
@sameer-kumar : what is your web API? isn't it a web app?
It does not seem to be a proper web API?

[2020-10-23 20:51] sameer-kumar commented on #427
Yes, my webapi is part of asp.net core mvc 3.1 project, if thats what you mean. I am simply updating this [sample](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/5-WebApp-AuthZ/5-2-Groups)

[2020-10-23 22:27] Shama-K commented on #414
@iamalexmang, Readme is updated as mentioned in the issue. Closing this issue, feel free to reopen if that does not work for you.

[2020-10-23 22:27] #414 closed

[2020-10-24 12:47] vamsea2002 commented on #421
X💓🥢

Thanks & Regards
Vamsi J

________________________________
From: jennyf19 <notifications@github.com>
Sent: Friday, October 23, 2020 10:24:57 PM
To: Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2 <active-directory-aspnetcore-webapp-openidconnect-v2@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Azure-Samples/active-directory-aspnetcore-webap

[2020-10-25 02:32] #421 closed

[2020-10-26 08:11] jmprieur commented on #427
@sameer-kumar : did you read this article? https://github.com/AzureAD/microsoft-identity-web/wiki/Mixing-web-app-and-web-api-in-the-same-ASP.NET-core-app

Did you also expose a scope in your app registration?

Shouldn't your API controller inherit from APIController?

[2020-10-26 15:05] sameer-kumar commented on #427
@jmprieur Thanks for the link. I have used the provided code in my app but no luck. Here how my Startup.cs looks like after the new code integration:

[code]

Yes, I did exposed a scope in my app registration.
This is how my webApi controller looks:

[code]

What am I missing here?

[2020-10-26 20:51] sameer-kumar commented on #427
Phew! It was a struggle to pull it off. The thing which I was missing is authN scheme name from Api Controller:

`[Authorize(AuthenticationSchemes = JwtBearerDefaults.AuthenticationScheme)]`

@jmprieur thanks again for helping me through this and all useful links.
And on to next challenge now...

[2020-10-27 08:10] jmprieur commented on #427
Thanks for the update, @sameer-kumar. I'm happy you made it work.

[2020-10-27 08:10] #427 closed

[2020-10-27 08:11] jmprieur commented on #342
This was done.

[2020-10-27 08:11] #342 closed

[2020-10-27 08:13] jmprieur commented on #393
See https://github.com/AzureAD/microsoft-identity-web/wiki/web-apis#to-support-acl-based-authorization

[2020-10-27 08:13] #393 closed

[2020-10-27 17:03] iamalexmang commented on #415
All, in the same note we came across another (somewhat typical) scenario where APIs secured by B2C must be consumed by several clients of various types (desktop, web and mobile). Whilst some of these clients have for certain [API Gateways](https://microservices.io/patterns/apigateway.html) particularly designated for them and secured using scopes and OAuth authorizations, others are shared across

[2020-10-27 18:02] jmprieur commented on #415
@iamalexmang : you could create several endpoints, with different authentication schemes, and these endpoints would really delegate to the same method on the controller (they would only take care of the auth)
https://github.com/AzureAD/microsoft-identity-web/wiki/web-apis#using-multiple-authentication-schemes

[2020-10-27 19:02] iamalexmang commented on #415
May I please pick your mind on that, Jean Marc?

I am aware of the multiple authentication schemes approach, but in this case the authentication scheme is almost the same - the sole difference being the authority, or, put differently, the custom policy used for signing users in. What I don’t yet realize is how you would bind that to the various endpoints of the same project.

Would you have multip

[2020-10-28 13:50] jmprieur commented on #415
@iamalexmang : yes you would have multiple AzureADB2Cx sections in the appsettings.json. And you'd have to register each (duplicate the lines). However, you would have only one AddAuthentication with a parameter (the default value). The others would not have a default value.

In the controller actions, you would use the scheme https://docs.microsoft.com/en-us/aspnet/core/security/authorization/lim

[2020-10-29 17:48] gsmith140 commented on #376
@TiagoBrenck I am having the same issue in .Net framework. Is the cache being empty on application restart due to the specific cache implementation, or will it always be an issue in .Net framework regardless of cache implementation?

@freemstr Would it be possible to share a code sample of your AuthorizeForScopesAttribute class?

[2020-11-02 11:06] #419 closed

[2020-11-02 11:07] #398 closed

[2020-11-02 11:07] #397 closed

[2020-11-02 11:08] jmprieur commented on #391
Closing as there was no answer.
@joel-kriel feel free to reopen if you wish

[2020-11-02 11:08] #391 closed

[2020-11-02 11:10] jmprieur commented on #381
@tinboen are you still seing this issue?

[2020-11-03 19:38] freemstr commented on #376
@gsmith140
This is (over)simplified version for .NET Framework
[code]

[2020-11-04 08:42] lovettchris opened #431 "Explain how to get Microsoft Live account working from Linux hosted ASp.NET core app"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-11-04 10:03] jmprieur commented on #431
hi @lovettchris
When you deploy to Azure (or anywhere really), you need to add/update the redirect URI in the app registration, as this is the URL where the token will come back. See https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/6-Deploy-to-Azure#update-the-redirect-urls

[2020-11-04 10:26] lovettchris commented on #431
Oh wow, Hi Jean!,
Yep, I've already done that...

[2020-11-04 11:53] jmprieur commented on #431
See also https://github.com/AzureAD/microsoft-identity-web/wiki/Deploying-Web-apps-to-App-services-as-Linux-containers

[2020-11-04 11:53] jmprieur commented on #431
@lovettchris : closing as you confirmed you have a solution

[2020-11-04 11:53] #431 closed

[2020-11-04 13:35] jmprieur commented on #376
@gsmith140 : I'm surprised you used the implicit grant settings and not the auth code flow settings?
ASP.NET does not use implicit flow

cc: @jennyf19 FYI (and the support of the attribute in .NET Framework)

[2020-11-04 20:53] freemstr commented on #376
@jmprieur
Please elaborate on "does not use"

What is your suggestion to improve this?

[2020-11-05 08:13] jmprieur commented on #376
@freemstr : It uses the Authorization code flow. See https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow

[2020-11-05 15:21] gsmith140 commented on #376
I'm confused by your comment. I don't believe I am using implicit grant. On startup I am getting an auth code and that process works fine. It's subsequent calls to AcquireTokenSilent that always fail. I'm still not clear on whether or not this even works in .Net framework.

[2020-11-05 15:31] jmprieur commented on #376
This is because the comment in the code you proposed is:

[code]

I think that this would work. you might also want to add the claims.

@jennyf19 another good candidate to expose in ASP.NET (FW) applications

[2020-11-05 15:36] gsmith140 commented on #376
Ahh, I think you meant to tag @freemstr in that comment as it is his proposed code. Apologies for the confusion.

[2020-11-09 09:19] mitirazvan opened #433 "How to react to "Revoke sessions" or "Sign out from everywhere" actions from Azure AD"
Hi,

We have integrated the Azure AD login support in IdentityServer v4 to allow users to authenticate using their Microsoft accounts. Everything works fine, but I can't find a way to get notified when one of these actions are triggered:

![image](https://user-images.githubusercontent.com/18382083/98518380-fe6de680-2277-11eb-8feb-2d88ad77fd77.png)
I'm trying to implement the single sign out suppor

[2020-11-10 08:40] jmprieur commented on #433
@kalyankrishna1 @Shama-K : would you know?

[2020-11-10 23:21] wildhockey18 opened #434 "5-2 Groups works only for initial login"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-11-12 09:30] jmprieur commented on #434
@Shama-K do you want to have a look?
cc: @kalyankrishna1

[2020-11-12 18:09] Shama-K commented on #434
@wildhockey18, Do you get this issue when you run this sample or do you have another scenario?
Please share the steps to reproduce the issue?

[2020-11-13 21:32] hpsin commented on #433
In both cases, these revoke all refresh tokens issued before the button was clicked. No signout message is sent to applications, so there is no signal to react to.  This is because Azure AD uses "front-channel signout" when the user clicks signout normally (e.g. from within an application).  The session cookie within the Azure AD login page contains a list of all the apps that the user has signed

[2020-11-14 10:34] binhnguyen1984 commented on #281
Why do we need the scopes for AuthorizeForScopes if what it all does is to trigger the authentication flow? I try to remove the scopes and it is still working.

[2020-11-16 09:33] jmprieur commented on #281
@binhnguyen1984 : it does not trigger the authentication flow ([`Authorize]` does). It processes the missing claims or missing consent to scopes exceptions. See https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access

[2020-11-16 10:11] binhnguyen1984 commented on #281
@jmprieur : I see that AuthorizeForScopes adds the missing scopes in case the client requires more permissions. But it also creates a new ChallengeResult (even in case there are no additional scopes required) and this triggers the authentication flow. The attribute [Authorize] does not trigger the authentication flow in case the user was already authenticated (with cookies) and AuthorizeForScopes

[2020-11-16 10:37] jmprieur commented on #281
@binhnguyen1984 : Authorize does it a priori. AuthorizeForScopes does it a posteriori, for instance if there is no token in the cache whereas there is a session cookie (happens with the In memory cache when you restart the app), or if the service (Azure AD) asks for more scopes or requires more consent. The case you see is probably the first one, but in production you probably want to use another

[2020-11-18 14:19] gavin2n opened #436 "Login errors when having more than one tenant and multiple apps in single tenant mode."
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-11-18 20:25] jmprieur commented on #436
@gavin2n

This is because of the SSO.

What you could do is, in your **startup.cs**, after the call to `.AddMicrosoftIdentityWebApp(Configuration.GetSection("AzureAd"))` etc ... to add the following:

[code]

This will override the prompt to force the login.

[2020-11-18 20:49] gavin2n commented on #436
Thanks, that does at least give users a choice on which account to use to login.

but just to clarify, there is no way of telling https://login.microsoftonline.com/ to filter the shown accounts at all?

[2020-11-18 20:53] jmprieur commented on #436
@gavin2n: There is, by using a tenanted authority
(tenantId = a tenant, instead of common or organizations)

What do you have in your appsettings.json for "Instance", possibly "Authority" (used in the case of Blazor wasm apps), "TenantId", and "Domain" (used for B2C)?

[2020-11-18 22:04] gavin2n commented on #436
"Instance": "https://login.microsoftonline.com/",
    "TenantId": "481c5bef-6d6b-45e4-9bf5-0b562130e928",
    "Domain": "amigo.me"  (primary domain of the above tenant)

its a webapp and the app manifest is set to "signInAudience": "AzureADMyOrg",

[2020-11-23 10:53] patrick-robin opened #437 "How to switch accounts?"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [X] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-11-23 13:20] jmprieur commented on #437
@patrick-robin: This would require a new feature (an account picker).
We'll add this to Microsoft.Identity.Web backlog, but not ETA

[2020-11-23 14:42] patrick-robin commented on #437
Is there anyway of doingit without microsoft.identity.web package?

[2020-11-24 16:26] PingPongSet opened #438 "Access token timeout via Microsoft identity platform and ASP.NET Core"
**Updated to the title and the body to make it clearer that It is about the timeout of access token (login session), not session state.**

What is the length of  Access token timeout by default via Azure AD and Microsoft Identity Platform in the code below, which is from the link below?

https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/5-WebApp-AuthZ

[2020-11-25 01:28] Shama-K commented on #438
@PingPongSet, Thank you for taking time. I am afraid there was testing code for session timeout in [Startup.cs](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/4f196bbe09db88a480a140278583259d723d95cb/5-WebApp-AuthZ/5-2-Groups/Startup.cs#L71). I have updated the code, it will use default session timeout of ASP.NET Core.
To understand session policies via A

[2020-11-25 09:15] PingPongSet commented on #438
@Shama-K
Thank you for your reply.

On the session timeout, do you mean it is one minute? But this is session state, not login session timeout. Please correct me if I am wrong.

            services.AddSession(options =>
            {
                options.IdleTimeout = TimeSpan.FromMinutes(1);
            });

[2020-11-25 22:28] PingPongSet commented on #438
@Shama-K

I updated the OP to make it clearer that I am asking about access token timeout, not session state timeout. Sorry for the confusion.

[2020-11-26 09:03] jmprieur commented on #438
@PingPongSet : do you mean the access token expiry?

[2020-11-26 10:09] PingPongSet commented on #438
@jmprieur yes.

[2020-11-26 10:35] jmprieur commented on #438
@PingPongSet : please see https://docs.microsoft.com/azure/active-directory/develop/configure-token-lifetimes

[2020-11-26 10:36] jmprieur commented on #415
Closing as I believe I answered
fee free to reopen if I didn't, @iamalexmang

[2020-11-26 10:36] #415 closed

[2020-11-26 13:48] mohammadfarfour opened #440 "Use local sql server to save tokens and users info"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [x] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-11-26 19:26] Shama-K commented on #440
@mohammadfarfour, can you please provide more details about your use case?

[2020-11-26 20:39] jmprieur commented on #440
@mohammadfarfour : if I understand your question correctly, you could just use the Microsoft.Identity.Web distributed token cache with a serialization to SQL Server (which can be local, for instance localdb). See https://github.com/AzureAD/microsoft-identity-web/wiki/token-cache-serialization#distributed-token-cache.

cc: @Shama-K

[2020-11-30 13:44] jmprieur commented on #433
Proposing to close this issue as this was answered.

[2020-11-30 13:44] #433 closed

[2020-11-30 13:45] jmprieur commented on #438
Closing as this is answered

[2020-11-30 13:45] #438 closed

[2020-11-30 13:46] jmprieur commented on #436
Adding @hpsin

[2020-11-30 14:20] jmprieur commented on #326
@anniex325, actually the message is the same, it's just that it's addressed either to the user, or to an admin.
It would be better to say
- " the app can access the web api on your behalf" (in the case of the user consent)
- " the app can access the web api on behalf users in the tenant" (in the case of the admin consent)

[2020-12-01 04:56] hpsin commented on #436
You're correct, @gavin2n  - there's no way to filter out users at this time such that we only show users who can sign into the app successfully.  This has to do with a number of checks that are only done after the account is selected - we can't know ahead of time that user@fabrikam is not eligible to sign into Contoso for between 4 and 6 reasons, depending on the sign in request.  While we have so

[2020-12-01 09:19] #436 closed

[2020-12-01 10:20] CTOUT opened #441 "IOException: IDX20807: Unable to retrieve document from: '[PII is hidden. For more details, see https://aka.ms/IdentityModel/PII.]'."
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-12-01 11:12] #441 closed

[2020-12-01 11:12] CTOUT commented on #441
Caused by my own ignorance.  Apologies!

[2020-12-01 12:44] gavin2n commented on #436
Thanks for clarifying.

From reading the docs I'm guessing that going forwards we should be using multiple Azure B2C instances rather than just multiple  azure AD tenants with single tenant apps

[2020-12-02 15:02] filipgoris commented on #281
This article solved the issue for me (in Blazor).
Nothing to add, seems pretty clear to me. Thx!

[2020-12-04 17:12] DigitalPZ opened #442 "Problem Using Identity Web with Blazor Server Client App"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-12-04 18:08] Shama-K commented on #442
@DigitalPZ, Can you please verify if the method where you catch exception and handle consent have AuthorizeForScopes attribute?
You can also follow [Blazor server tutorial](https://github.com/Azure-Samples/ms-identity-blazor-server) and let us know if it solves the issue.

[2020-12-04 18:33] DigitalPZ commented on #442
I did not have the AuthorizeForScopes attribute on that method but I have now added it based on the server tutorial you linked to above and I still get the authentication looping_.

[2020-12-04 19:40] Shama-K commented on #442
Can you check if you have added **API permissions** in Blazor server app on Azure portal?
Registration steps are mentioned in [the Readme](https://github.com/Azure-Samples/ms-identity-blazor-server/tree/main/WebApp-your-API/MyOrg#register-the-service-app-todolistservice-aspnetcore).
If the registration is correct then please share the config files.

[2020-12-07 15:49] DigitalPZ commented on #442
The Blazor server app is registered as per the instructions as is the API app. The Blazor app has the extra item in appsettings for the client secret. I also made sure that the app registration for the Blazor app was given API permissions to the API scope that was registered. I have the Fiddler trace. What config files do you need and where can I send it all to?

[2020-12-08 00:32] Shama-K commented on #442
Contact to share fiddler trace: v-lnushama At microsoft.com
Please use a test tenant and a test user account as Fiddler might capture your credentials.

[2020-12-08 14:06] DigitalPZ commented on #442
Email sent

[2020-12-08 14:35] DigitalPZ commented on #442
Shama, is the v- part of your email address? The email I sent you was rejected as address not found.

[2020-12-08 17:38] Shama-K commented on #442
yes, it's "v-lnushama".

[2020-12-08 18:32] DigitalPZ commented on #442
I resent it, I thought the l was a capital i.

[2020-12-09 23:47] sameer-kumar opened #444 "Hybrid clients for protected WebApi"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [x] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-12-10 07:07] pmaytak commented on #444
Hello @sameer-kumar.
We have this [Ajax sample](https://github.com/AzureAD/microsoft-identity-web/tree/master/tests/AjaxCallActionsWithDynamicConsent) that uses Microsoft Identity Web and this [Angular SPA sample](https://github.com/Azure-Samples/ms-identity-javascript-angular-spa-aspnetcore-webapi) that calls a protected web API that might help. Is this what you were looking for?

[2020-12-10 07:12] Shama-K commented on #442
@DigitalPZ, Could you please check Startup.cs in your project and see if scope is passed in **EnableTokenAcquisitionToCallDownstreamApi** method. Here is the code for your reference [Startup.cs](https://github.com/Azure-Samples/ms-identity-blazor-server/blob/5a0d2108d3d1447ed8b3f9522f2382ed918fb490/WebApp-your-API/MyOrg/Client/Startup.cs#L36).
Please let me know if it solved your problem.

[2020-12-10 12:18] jmprieur commented on #440
Closing as I believe that we answered.

[2020-12-10 12:18] #440 closed

[2020-12-10 13:48] DigitalPZ commented on #442
I checked and I was not passing the scope in there. I was passing the scope in the **GetAccessTokenForUserAsync** call. I left it in there and added it in the startup call. I revoked the admin consent in the portal and re-tested and it now works. Why does it need to be in both places? I left it out because I saw documentation that said you could leave it out of startup and ask for it when needed.

[2020-12-10 16:46] sameer-kumar commented on #444
@pmaytak I looked at your [Ajax sample](https://github.com/AzureAD/microsoft-identity-web/tree/master/tests/AjaxCallActionsWithDynamicConsent) but that one invokes internal MVC controller. I need to invoke an external WebApi from Ajax call.

[2020-12-10 17:33] jmprieur commented on #444
Maybe this sample would be a good start?
https://github.com/Azure-Samples/ms-identity-javascript-react-spa-dotnetcore-webapi-obo

@derisen: would you have a better suggestion?

[2020-12-10 22:30] derisen commented on #444
I would recommend these two:

[VanillaJS SPA calling a Node.js web API](https://github.com/Azure-Samples/ms-identity-javascript-tutorial/tree/main/3-Authorization-II/1-call-api)
[Angular SPA calling a .NET Core web API](https://github.com/Azure-Samples/ms-identity-javascript-angular-spa-aspnetcore-webapi)

[2020-12-10 23:08] sameer-kumar commented on #444
@derisen yes, most of our apps use jQuery/ajax for invoking WebApis hence I want to stick to the standard.

[2020-12-10 23:32] derisen commented on #444
@sameer-kumar gotcha! I will add a new branch to first one (1), hopefully in the next couple of days. I'll pass the link here once its ready.

[2020-12-11 00:28] sameer-kumar commented on #444
@derisen cool. let me know for any questions you may have. Thanks!

[2020-12-11 10:09] jmprieur commented on #442
Which documentation is this, @DigitalPZ  ?

[2020-12-11 21:41] derisen commented on #444
@sameer-kumar see here the [sample using XMLHttpRequest for web api calls](https://github.com/Azure-Samples/ms-identity-javascript-tutorial/tree/c3s1-using-ajax/3-Authorization-II/1-call-api) (Its under the `c3s1-using-ajax` branch). Feel free to close the issue if that solves your problem.

[2020-12-11 22:39] sameer-kumar commented on #444
@derisen This is what I get when I try to sign-in:

[2020-12-11 22:57] derisen commented on #444
@sameer-kumar can you confirm that you've followed the registration steps in the [README](https://github.com/Azure-Samples/ms-identity-javascript-tutorial/blob/c3s1-using-ajax/3-Authorization-II/1-call-api/README.md) correctly? If so, can you please share your configuration for both the SPA and the web API projects?

[2020-12-11 23:08] sameer-kumar commented on #444
@derisen Yes, I have followed the suggested steps and verified them once again after your comment.
I have made changes to following files:
- SPA>App>authConfig.js
  - clientId: "3dc74506-7631-xxxx-xxxx-1f9a4c44a42c",
        authority: "https://login.microsoftonline.com/xxxxxxxx-xxxx-xxxx-b86d-2ba84a24cdc4",
        redirectUri: "http://localhost:3000",
- SPA > App > apiConfig.js
  - uri: "http://

[2020-12-11 23:18] derisen commented on #444
@sameer-kumar Thanks. That's strange. Can you also confirm that in your application manifest (go to Azure portal > Azure Active Directory > App Registration > "name-of-your-app" > Manifest), you have these values set:

In SPA's manifest:

[code]

In web API's manifest:

[code]

If that's also confirmed, I'm not sure what's the issue here. Please send me (dogan.erisen AT gmail.com) a network trace

[2020-12-11 23:30] sameer-kumar commented on #444
@derisen Ensured those entries. Still no luck. Sending you the logs now.. Thanks.

[2020-12-11 23:38] sameer-kumar commented on #444
@derisen Just realized that can't send over office network. Sorry man.

[2020-12-12 00:20] derisen commented on #444
@sameer-kumar Aah, might be a network proxy issue then. Can you perhaps check it at home over the weekend? If it's working, then we at least know its about the corporate network

[2020-12-14 18:35] sameer-kumar commented on #444
@derisen As suggested, I tried to mimic the sample and run it from home. This time I got passed and got to see the consent screen and was able to successfully login. However, when I click Call API, I got different error:

[2020-12-15 02:14] filipgoris opened #446 "Inconsistent signature in EnableTokenAcquisitionToCallDownstreamApi"
I found an inconsistency in the documentation/behavior of `EnableTokenAcquisitionToCallDownstreamApi` when used with ASP.Net Core 3.1 server-side Blazor.

### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in y

[2020-12-15 08:53] jmprieur commented on #446
@filipgoris
This is not a question of .NET Core 3.1 or .NET 5, but of which override of `AddMicrosoftIdentityWebApp` you use:

- When you use the override of `AddMicrosoftIdentityWebApp` with a IConfiguration, you can use two overrides of  `EnableTokenAcquisitionToCallDownstreamApi` (the one passing-in the scopes, and the one passing in a delegate to initialize the MSAL.NET `ConfidentialClientAppl

[2020-12-15 12:14] filipgoris commented on #446
@jmprieur

I used the Startup.cs in [2-3-Multi-Tenant](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/2-WebApp-graph-user/2-3-Multi-Tenant) initially in the ASP.Net Core 3.1 project, which uses the override of `AddMicrosoftIdentityWebApp` with a delegate, and indeed also calls 'EnableTokenAcquisitionToCallDownstreamApi` with a delegate, not a strin

[2020-12-15 12:14] #446 closed

[2020-12-15 17:47] derisen commented on #444
@sameer-kumar I'm unable to reproduce this. Can you send me a network trace with [Fiddler](https://www.telerik.com/fiddler) from your home setup at least?

[2020-12-15 22:13] sameer-kumar commented on #444
@derisen sent you the trace. Its pwd protected with your branch name without dashes.

[2020-12-16 15:21] sameer-kumar commented on #444
I got an email delivery failure for dogan.erisen@gmail.com

[2020-12-16 16:35] derisen commented on #444
@sameer-kumar that's weird.. -try using v-doeris At microsoft DOT com

[2020-12-17 16:24] ducalai opened #447 "Web API calls Microsoft Graph"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue
1. [ ] Web app calling your own Web API
   1. [ ] with a work and school account in your organization: [4-WebApp-your-API/4-1-MyOrg](../blob/master/4-WebApp-your-API/4-1-MyOrg)
   1. [x] with B2C users: [4-WebApp-your-API/4-2-B2C](.

[2020-12-17 18:18] Shama-K commented on #447
[2. Web API now calls Microsoft Graph](https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/2.%20Web%20API%20now%20calls%20Microsoft%20Graph) adds delegated permissions of MS graph API in app registration. But in B2C, users can obtain tokens for Microsoft APIs using application permissions. The instructions in [Manage Azure AD B2C with Microsoft Graph](https://

[2020-12-18 10:24] ducalai commented on #447
@Shama-K, thx for your reply. Would you say that:
- I need to make an extra application registration for a "service account" app which would use client_credentials and then inform my Web API to use it when calling for Graph API. How do I make the link between my Web API and that "management app" ?
- or can I edit Web API registration to make it act as "service account" to call Graph API ?

Regards

[2020-12-19 00:39] Shama-K commented on #447
@ducalai, you need to update client app, as on-behalf-of flow is not currently supported in the Azure AD B2C.

[2020-12-21 15:07] ducalai commented on #447
So, once the app registration has been updated with proper application permissions, the web client app must request a token from Azure AD and then call Graph API, without passing through Web API. Right?

[2020-12-22 00:35] Shama-K commented on #447
yes right, you can use client credentials flow to acquire token.

[2020-12-22 07:26] brijesh-1111 opened #448 "How to use JWTTokenValidation along with Microsoft.Identity.Web"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-12-22 08:38] ducalai commented on #447
Thanks for your help. Is Azure AD B2C planning to support on-behalf-of flow soon? This is a limitation that has a large impact on architecture design.

[2020-12-23 01:27] Shama-K commented on #448
We are looking at this scenario and will get back with an update.

[2020-12-23 02:03] Shama-K commented on #447
Currently, we don't have a timeline for Azure AD B2C on-behalf-of flow support.

[2020-12-23 06:05] nickgmicrosoft commented on #447
Shama is correct, there's no immediate timeline for OBO support. For client-credentials, note that it should be using AAD's client credentials service. This can be done from within the same Azure AD B2C tenant, just using AAD's endpoints (ie. login.microsoftonline.com without a policy parameter) instead of B2Cs. See [this](https://docs.microsoft.com/en-us/azure/active-directory-b2c/microsoft-graph

[2020-12-23 21:45] sameer-kumar commented on #444
@derisen thanks much for your help. Its working now. You can mark this resolved/closed.

[2020-12-23 21:56] derisen commented on #444
@sameer-kumar you're welcome : ) Would be best to clone, I'll keep it there for now but something might change in future.

[2020-12-23 21:56] #444 closed

[2020-12-28 11:08] LockTar commented on #442
Hi,
I have the same issue as @DigitalPZ.

I have all the tooling (visual studio 2019) and nuget packages on the latest version.
I have a new blazor server app. An API that I want to call (in the future I want to call multiple API's). So I have the following code:

Startup.cs
[code]

UserService.cs
[code]

CustomerDetails.razor
[code]

If I call the above code **(with SecurityContext PrincipalSecur

[2020-12-28 11:15] LockTar commented on #442
That's the whole idea behind the page [Managing incremental consent and conditional access](https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access#incremental-consent) right?
So only ask the permissions you need when you login into the app. Ask more permissions when the users needs it.

[2020-12-28 12:30] LockTar commented on #442
One thing extra...

When I use the code:
`.EnableTokenAcquisitionToCallDownstreamApi(new string[] { "api://HiddenGuid/User.Read" })`
start the app, login, give consent, call the api and then I see that it works.

But when I then change the code to:
`.EnableTokenAcquisitionToCallDownstreamApi()`
start the app (consent already given previous time), I get MsalUIException. The strange page refresh is

[2020-12-29 19:36] Shama-K commented on #442
@DigitalPZ and @LockTar, This issue is fixed with [this Pull Request](https://github.com/AzureAD/microsoft-identity-web/pull/840) and here is the related [issue](https://github.com/AzureAD/microsoft-identity-web/issues/847) raised in Microsoft.Identity.Web.

[2020-12-29 20:24] LockTar commented on #442
Hi @Shama-K,
If I track the PR, this fix should be in version 1.4.1 of Microsoft.Identity.Web(.UI) right?
I'm using that version and still have that issue.

[2020-12-29 21:01] Shama-K commented on #442
It will be available in 1.4.2 as mentioned in [this issue](https://github.com/AzureAD/microsoft-identity-web/issues/847).

[2020-12-31 01:55] brijesh-1111 opened #450 "5-WebApp-AuthZ - What is the alternative of storing the groups in the Session"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-12-31 02:48] Shama-K commented on #450
Please find the below response for your queries:
Query 1: If incoming token contains Group Overage claim then only we request groups from Microsoft Graph and store in session. If the token already has groups then it'll not retrieve the groups again. [The groups overage claim](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/5-WebApp-AuthZ/5-2-Groups#

[2020-12-31 02:49] Shama-K commented on #450
Please find the below response for your queries:
For Query 1: If incoming token contains Group Overage claim then only we request groups from Microsoft Graph and store in session. If the token already has groups then it'll not retrieve the groups again. [The groups overage claim](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/5-WebApp-AuthZ/5-2-Gro

[2020-12-31 07:31] pmaytak commented on #448
@brijesh-1111 Does this wiki describe what you're looking for? [Mixing web app and web API in the same ASP.NET core app](https://github.com/AzureAD/microsoft-identity-web/wiki/Mixing-web-app-and-web-API-in-the-same-ASP.NET-core-app)

[2021-01-04 15:08] jmprieur commented on #450
https://github.com/AzureAD/microsoft-identity-web/issues/846 might also be promissing

[2021-01-13 14:35] manuelsidler commented on #115
@andrenpt

We refresh the token when loading the view. It's a nasty workaround and doesn't work if the token expires between loading the view and doing the Ajax call. But in our case it works so far:

[code]

[2021-01-20 11:40] bgavrilMS commented on #366
@jmprieur - could you or Jenny investigate this? Or does CXP handle token cache implementaions?

[2021-01-20 13:10] jmprieur commented on #366
It's on my list @bgavrilMS. I was already monitoring it (see the label). I just did not get to it yet ... OOF

[2021-01-23 06:20] creativebrother commented on #115
@manuelsidler, @andrenpt Would you just put the Attribute on the GetUsers() Action directly where the exception is thrown so it can be caught by the Attribute?

[2021-01-25 09:31] jmprieur commented on #366
This is a SQL server connection error.

[2021-01-25 12:52] manuelsidler commented on #115
@creativebrother we're using Razor Pages in our application. Therefore I had to apply the attribute on page level since it cannot be applied on handler methods.

[2021-01-25 13:33] tjorxwrynch opened #452 "2-WebApp-graph-user/2-1-Call-MSGraph: Unable to locate a directory mentioned in the tutorial"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2021-01-25 13:48] #452 closed

[2021-01-25 13:48] jmprieur commented on #452
Thanks for the heads-up @tjorxwrynch
This is now fixed

[2021-01-25 13:50] tjorxwrynch commented on #452
You're welcome @jmprieur ! Thank you for quickly addressing this!

[2021-01-25 14:10] arqe opened #454 "NameClaimType = "name" ?"
Hi,

why is the authentication scheme set to use TokenValidationParameters.NameClaimType = "name"; ?

It seems that it gets mapped to what is received from Azure AD B2C as "Display Name". Something that may change or be changed for whatever reason in the future. Is this on purpose?

![image](https://user-images.githubusercontent.com/16734197/105714948-47e7dc80-5f1d-11eb-82f8-d503bccecc36.png)

I f

[2021-01-25 20:12] jmprieur commented on #454
@jennyf19 : do you want to answer this one?

[2021-01-25 23:23] davidopstack opened #455 "Bug in 5-2 GraphHelper.cs"
This function is wrong due to out of place brackets.  Unless you have an overage this will never return any groups the way its written.

Its currently this:
-=-=-=-=-=-=-=-

[code]

Should be this
=-=-=-=-=-=-
[code]

[2021-01-26 00:00] davidopstack commented on #434
I think I posted the fix for it in a new issue report.  Give it a try

[2021-01-26 00:07] Shama-K commented on #455
@davidopstack, When there is no overage scenario then you will find the groups in claims collection. Processing is required for overage only.

GetUserGroupsFromSession method is called to get group values from session(**groupClaims**) if exists. If session does not contain groups claim then it will call ProcessUserGroupsForOverage method to retrieve groups.
ProcessUserGroupsForOverage method makes

[2021-01-26 00:08] davidopstack commented on #455
The way the function is written currently it returns a null value for group claims if there is no overage condition.

[2021-01-26 00:09] davidopstack commented on #455
if (HasOverageOccurred(context.Principal))
        {
        <code>
        }
 return groupClaims;

thats what its doing.  NULL OBJECT

[2021-01-26 13:08] jmprieur commented on #455
@Shama-K can you please look at this issue?
cc: @kalyankrishna1

[2021-01-26 13:18] jmprieur commented on #454
@arge
you could use the name of any claim displaying information about the user (displayed in the web app). It's just that depending on the iDP this name is different. See https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens#claims-in-an-id_token for AAD and

[2021-01-26 19:42] Shama-K commented on #455
@davidopstack, Could you please check if your Startup.cs has following code:

services.AddSession(options =>
            {
                options.IdleTimeout = TimeSpan.FromMinutes(1);
                options.Cookie.HttpOnly = true;
                options.Cookie.IsEssential = true;
            });

[2021-01-27 17:50] arqe commented on #454
@jmprieur

Thank you - it took me some time to understand, but now I think I may got it.

 `opions.tokenValidationParameters.NameClaimType = "name" `

**only** tells middleware what claim is to be mapped to ClaimsPrincipal.Identity.Name.

In this case the claim of "name" type, regardless of what is default, or whether I call
JwtSecurityTokenHandler.DefaultInboundClaimTypeMap.Clear();

Is it correc

[2021-01-27 20:34] davidopstack commented on #455
Shama-K

These options ARE in my startup.cs

Look at the logic.  Its just a curly braces issue.  It never ever will see the overage condition to go to the Graph API because the if - else logic isn't structured correctly.

The else logic is in the wrong if statement because you have your curly braces in the wrong place

[2021-01-27 22:29] Shama-K commented on #455
Can you connect with me at this email address: v-lnushama At microsoft.com?

[2021-01-28 03:22] creativebrother commented on #115
@jmprieur One thing I noticed when I get the error  "No account or login hint was passed to the AcquireTokenSilent call" is due to the ConfidentialClientApplication.GetAccountAsync(Id) is returning null due to the fact that the cache entry was cleared upon the reading operation of the cache(read triggers cache purge) and that the default slidingexpiration is only 20 min for Distrubuted SQL cache i

[2021-01-28 18:45] monikanafdey opened #456 "Not able to overwrite ResponseType="id_token code""
File Name:
https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/5-WebApp-AuthZ/5-2-Groups/Startup.cs

I need a id_token along with the code for my experiment, I am not able to overwrite this like below, can you please suggest.

[code]

### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an '

[2021-01-28 18:56] jmprieur commented on #456
@monikanafdey
do you want to try the following:

L58 add:

[code]

[2021-01-28 20:04] monikanafdey commented on #456
Hi There..

Please find the attached pdf, I am able to get the id_token with below code and able to get an access token with below code(with no exception) but the doesn't load and throw this error attached.

string code = context.Request.Form["code"];
            string requestUrl = "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token?";
            string repl

[2021-01-29 16:25] jmprieur commented on #454
Yes this is correct, @arqe
You might also be interested in https://github.com/AzureAD/microsoft-identity-web/issues/911

[2021-01-29 16:25] #454 closed

[2021-01-30 10:37] jmprieur commented on #456
As discussed offline, you don't want to redeem your code yourself.
To get group overage please look at active-directory-aspnetcore-webapp-openidconnect-v2/5-WebApp-AuthZ/5-2-Groups at master · Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2 (github.com), which does this already.

[2021-01-30 10:37] #456 closed

[2021-01-30 11:37] jmprieur commented on #115
Thanks for the update, @creativebrother
What would you suggest we could do? would changing the documentation to recommend a distributed SQL DefaultSliding operation to over 60 be enough?

[2021-02-01 10:05] jmprieur commented on #455
@Shama-K : where are we with this issue?

[2021-02-02 14:11] jmprieur commented on #455
@davidopstack
The code in GraphHelper.cs is right. As @Shama-K explained:
- when a user is part of a group, and there is not [Group overage](https://docs.microsoft.com/azure/active-directory/develop/id-tokens#groups-overage-claim), you'll already find claims in the token named "group", which contain the name or id or ... what you have decided for the groups the user belongs to
- when the user belo

[2021-02-08 01:35] brijesh-1111 commented on #450
I understood it now. As you described, It makes sense to carefully consider whether to use the cookie or session while we have the larger set.
extension methods to fetch the groups and role would be really a great value addition.
Thanks.

[2021-02-08 01:35] #450 closed

[2021-02-08 01:42] brijesh-1111 commented on #448
Yes, Indeed this is exactly, I was looking for - Thanks pmaytak.

I have added these in my code (except AddMicrosoftGraph - which was not a requirement for my code).
My solution has both Web App + Web API flavor (together) and both refer the Azure AD (one through Code flow vs another through Client Cred).

Code flow was working with AddMicrosoftIdentityWebApp but I was not sure in the chain How ca

[2021-02-08 01:42] #448 closed

[2021-02-09 14:32] LockTar commented on #442
@Shama-K My issue about this is solved for me at least

[2021-02-09 17:22] Shama-K commented on #442
@LockTar, Thank you for letting us know.
@DigitalPZ, you can also update the package and test it.
Closing this issue. Feel free to reopen if there is any issue.

[2021-02-09 17:22] #442 closed

[2021-02-11 01:23] Shama-K commented on #434
When user restarts the app then session is lost. User should sign-in again to retrieve the groups.

[2021-02-11 04:00] davidfordaus opened #460 "Is any OIDC provider supported? The language throughout doesn't indicate if it's Microsoft-specific"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:
![updated diagram](https://user-images.githubusercontent.com/602815/107601013-8e596d00-6c79-11eb-87bd-884479be5f98.png)

- Is this connector for ANY OIDC supplier such as Auth0 or Okta - is will it only work with Azure AD ?
  -  If it is Microsoft-only then the main introductory content MUST mak

[2021-02-11 08:16] jmprieur commented on #460
Thanks @davidfordaus
Yes, this sample only features the Microsoft.Identity.Platform (Azure AD, and Azure AD B2C)
Azure AD B2C is a proxy for social identities. It's now one of the way by which you want to sign-in users with social identities (but also other kind of identities), the other being external identities.
B2C is the way featured here.

cc; @mmacy @kalyankrishna1

[2021-02-11 10:24] davidfordaus commented on #460
Yet OIDC is a standard platform, and ADB2C can be used for other purposes besides purely social proxy.    Can I request that the diagram and text is updated to clarify your words above:
- That this is "OIDC for Azure AD" only - an update of the title to "Chapter - Enable your Web app to sign-in users using the Microsoft Identity Platform and Azure AD" would likely suffice
- ADB2C is a required arc

[2021-02-11 10:27] jmprieur commented on #460
@davidfordaus : do you want to propose a pull request?

[2021-02-11 10:58] omarmallat opened #461 "[ASP.NET MVC] No Account or login hint after every debug"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [x] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2021-02-11 12:17] davidfordaus commented on #460
Shall do - I'll organise it tomorrow.  Many thanks.

[2021-02-11 13:47] dancundy commented on #337
Where can you enable/disable App Service Authentication with Login in the Azure Portal? I cannot find it.

[2021-02-11 13:49] jmprieur commented on #337
@dancundy : you might want to read this article: https://github.com/AzureAD/microsoft-identity-web/wiki/deploying-to-app-services

[2021-02-11 14:39] VictorioBerra commented on #216
This conversation helped me quite a bit. Like @jasonshave said, the name `[AuthorizeForScopes]` caused me significant confusion as I see `[Authorize...` and immediately think of a controller or action `IAuthorizeData` attribute. Something that inspects the User Principal for claims, roles, policies, permissions.

As someone coming from IS4 when you configure your client, you generally ask for the

[2021-02-11 20:00] Shama-K commented on #461
@omarmallat, can you share why do you require this customization and also the steps with details?
In the samples, we don't explicitly acquire token and add to authorization header as that is handled when you add **AddMicrosoftGraph** extension method in [Startup.cs](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/8294c9d4504ec115b68552acc9e63c8d49c5d892/2-

[2021-02-11 20:14] jmprieur commented on #216
Yes, @VictorioBerra. We could request the claims upfront (authorization filter), but this would not be enough. Nothing would guaranty that Azure AD would not ask for more claims / conditional access etc ..
So we prefer to try, and catch to challenge (in a web app, of course)

[2021-02-15 13:13] kwaazaar opened #462 "Where is the .NET 5 sample code?"
Documentation and samples on Azure AD integration is a mess. I find samples for 2.2 or 3, but no samples for 5. It's also not clearly mentioned for what version the samples are.

[2021-02-16 09:06] jmprieur commented on #462
@kwaazaar : we're sorry that you find that the documentation and samples are a mess.

For the 5.0 samples, just know that apps written for net core 3.1 code run seamlessly with ASP.NET for net 5.0. Microsoft.Identity.Web builds for both and the CI/CD tests both. See for instance https://github.com/AzureAD/microsoft-identity-web/blob/bf8b06fa812521e99cd006edee8b50f100f0670c/tests/WebAppCallsMicroso

[2021-02-16 15:19] jmprieur commented on #461
@omarmallat
This is expected as you are using an In memory token cache, and therefore you'll need to let the user resign-in  This is explained in https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access

You might want to use another token cache. See https://github.com/AzureAD/microsoft-identity-web/wiki/token-cache-serialization

[2021-02-17 20:40] zhadjah9559 commented on #462
I'm glad im not the only one who had trouble with this. I did a tech interview with a company and had to struggle with some of those docs unforunately. I hope they get reconfigured to be more understandable soon.

[2021-02-17 21:21] jmprieur commented on #462
@zhadjah9559 thanks for the feedback. Can you please be specific? What, from your perspective would be better docs? if you had a magic wand, what would you do?

[2021-02-18 12:52] omarmallat commented on #461
Not sure if I posted the question in the right place, but I'm using **webforms** with **dotnet 4.8** (not .net core/ .net 5).
I modified my authentication to use _MSAL_ instead of _ADAL_ as per https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-migration and yes, I'm using In Memory Token Cache but it was working till few days ago!

I'm building the _GraphServiceClient_ as sh

[2021-02-18 13:11] jmprieur commented on #461
@omarmallat
- I think that the ClaimsPrincipal is stored in a cookie (session cookie)
- When you restart your app, the in memory token cache is lost, and therefore Microsoft Graph does not find it.

You might be interested in this sample, which uses the Microsoft.Identity.Web token caches, but in an ASP.NET (not core) sample:
Sample | Platform | Description
------ | -------- | -----------
[ms-iden

[2021-02-19 09:08] omarmallat commented on #461
It's clear now, but is there any reason why Owin use cookies, and [Token Cache Serialization](https://github.com/AzureAD/microsoft-identity-web/wiki/token-cache-serialization) does not propose cookies? they are discussing only memory, session and distributed.

While I figure out that it's better to go for another caching method, I found two ways to solve the current issue:

1. (work for debugging

[2021-02-19 09:40] jmprieur commented on #461
@omarmallat : the cookie is storing the identity of the signed in user (ID Token claims), whereas the token cache stores the access tokens and refresh tokens.

For debugging, indeed, you can use an "In Private" browsing

And yes, you can force the sign-out if you prefer not to challenge the user.

[2021-02-19 18:36] omarmallat commented on #461
Actually I forced the sign-out because I did not find another way. How to challenge the user when using `ConfidentialClientApplicationBuilder`? this one does not have `AcquireTokeninteractive`

[2021-02-21 21:21] oleksii-mykhniak opened #464 "Login for guest user"
### This issue is for a: (mark with an `x`)
[code]

All samples using standard Microsoft login UI and I don't understand how I can get an authorization token for a guest user?

I can create a guest user in Azure Ad by invitation like this:
[code]
Bearer token for this call I generate by the next method:
[code]

[2021-02-22 07:29] jmprieur commented on #464
@oleksii-mykhniak : I'm not sure I fully understand your question. It does not seem to be related to this sample, nor to the MSAL libraries?

### Daemon applications
I see that you used client credentials. Maybe you are asking for a daemon application sample? If that's the case, please look at https://github.com/azure-samples/active-directory-dotnetcore-daemon-v2

### Some information you might fi

[2021-02-22 09:27] oleksii-mykhniak commented on #464
Hi @jmprieur,
I don't understand how a guest user can do authenticate, because it doesn't have a password and I can't manage that password in my web application.

[2021-02-22 09:45] jmprieur commented on #464
@oleksii-mykhniak
A guest user will receive an email, and will have to sign-in and set a password. Then they'll be able to authenticate.

[2021-02-22 10:11] oleksii-mykhniak commented on #464
Does exist any auth flow when a web application could control a guest user password? Because I have the request to create a web application with my own sign-in/sign-up/reset password web page and then they are going to manage user access to different power bi reports by different Azure AD groups.

[2021-03-01 11:18] selvarajendran commented on #126
Is it recommended to use the v1 endpoint? Any idea when the v1 endpoint would be deprecated?

Thanks in advance.

[2021-03-01 11:30] jmprieur commented on #126
No, we don't recommend you use the v1.0 endpoint.
@hpsin could you please help if there is a workaround?

[2021-03-01 11:58] tiagobernardes opened #465 "published on server, but return error AADSTS50011"
[ x] bug report -> please search issues before submitting
 [ ] feature request
 [ x] documentation issue or request
 [ ] regression (a behavior that used to work and stopped in a new release)

1. Web app that signs in users
   1. [ x] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-

**Repro steps**
I set up the example with my organization's

[2021-03-01 12:27] jmprieur commented on #465
@tiagobernardes
when you deploy the web app, you need to add a redirect URI
see https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/6-Deploy-to-Azure#update-the-redirect-urls

[2021-03-01 13:02] jmprieur commented on #464
I don't think so, @oleksii-mykhniak. If a user is a guest user, they'll use their password in their own tenant.
you'd want to check what the Microsoft Graph API allows to create users?  https://docs.microsoft.com/en-us/graph/api/user-post-users?view=graph-rest-1.0&tabs=http

[2021-03-01 13:09] tiagobernardes commented on #465
Yes, I did, exactly as it is in that example.
the defined url has a custom port (port 8085)
is there any limitation in this regard?

[2021-03-01 13:11] jmprieur commented on #465
No this should work. does it have the path? "/signin-oidc" ?

[2021-03-01 14:14] tiagobernardes commented on #465
I have this configuration:
![image](https://user-images.githubusercontent.com/15774469/109509042-656a1200-7a98-11eb-9f75-21878db2c90d.png)

[2021-03-01 14:24] jmprieur commented on #465
Would you have a load balancer? or URI rewriters?
you might be interested in https://github.com/AzureAD/microsoft-identity-web/wiki/Deploying-Web-apps-to-App-services-as-Linux-containers

[2021-03-01 23:30] hpsin commented on #126
We're improving this flow and will have updated guidance on "single sign out" shortly (end of April ETA)

[2021-03-02 03:20] selvarajendran commented on #126
Thank you both @jmprieur @hpsin

[2021-03-02 15:05] Breee opened #466 "2-1-Call-MSGraph login is broken for me: Exception: Correlation failed"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2021-03-02 15:17] jmprieur commented on #466
@Breee wasn't the redirect URI you registered in the app registration portal an https URI?

[2021-03-02 15:28] Breee commented on #466
Hm nope, it's a http url. (http works for localhost URLs, while it is required for everything else i think)

[2021-03-04 16:24] Breee commented on #466
Update:

in firefox it works,
in chrome it does not.

can you confirm that?

[2021-03-11 14:16] #465 closed

[2021-03-11 18:13] Waldulmer opened #469 "SocketException: No connection could be made because the target machine actively refused it."
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2021-03-11 19:54] Shama-K commented on #469
@Waldulmer, Thanks for raising the issue. It's fixed, you could test again.

[2021-03-11 20:40] Waldulmer commented on #469
Yes, I applied the change and it solved the error. However I created a new issue for a different error message.

[2021-03-11 20:40] #469 closed

[2021-03-11 20:40] Waldulmer opened #471 "HttpRequestException: Invalid status code in the HttpResponseMessage: Unauthorized."
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2021-03-11 21:58] Shama-K commented on #471
Readme requires update here. I'll update and create a PR. Meanwhile, can you follow this doc for API registration: [add-web-api-application](https://docs.microsoft.com/en-us/azure/active-directory-b2c/add-web-api-application?tabs=app-reg-ga) and share if your issue is resolved?

[2021-03-12 21:02] Waldulmer commented on #471
Shama, my issue is not resolved yet. I configured the scope without changing the sourcecode. See attached screenshot.

![Annotation 2021-03-12 150119](https://user-images.githubusercontent.com/22600469/110994934-8e678e00-8347-11eb-8200-317032c8b307.JPG)
Here is my log:
PS C:\Users\sabin\Documents\VS20\active-directory-aspnetcore-webapp-openidconnect-v2-master\4-WebApp-your-API\4-2-B2C\Client> dotn

[2021-03-12 22:21] Shama-K commented on #471
Please make sure that you have added and granted admin consent to service permission in API permissions blade of Client on Azure portal. You also need to update TodoListScope key in Client\appsettings.json with the service scope.
[Readme](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/4-WebApp-your-API/4-2-B2C/README.md) is also updated with the st

[2021-03-13 22:17] Waldulmer commented on #471
I downloaded the 4-WebApp-your-API/4-2-B2C project again and followed the **updated** Readme instructions. I have added and granted admin consent to service permission in API permissions blade and update TodoListScope key in Client\appsettings.json with the service scope.
![Annotation 2021-03-13 165254](https://user-images.githubusercontent.com/22600469/111051220-75caa700-841f-11eb-9411-d5e2845665

[2021-03-14 12:39] Waldulmer commented on #471
Now it is working.
![Annotation 2021-03-14 083510](https://user-images.githubusercontent.com/22600469/111068769-866f3180-84a0-11eb-899b-ca966a91a214.JPG)
In Startup.cs I had to add the new policy "access_as_user".
![Annotation 2021-03-14 083344](https://user-images.githubusercontent.com/22600469/111068833-c0403800-84a0-11eb-915d-7abea7908318.JPG)

[2021-03-16 11:15] jcanquelain opened #473 "4-2-B2C - TodoListClient launch settings have wrong launching ports compared to documentation"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2021-03-16 17:48] Shama-K commented on #473
@jcanquelain, Thank you for the suggestions.
For **Create User Flows and Custom Policies**: we have provided the official docs where the examples are given.
**Add External Identity Providers**: We have included the option so that user is aware of this scenario in B2C. We don't have a separate sample for this.
I have created a Pull Request to make steps more clear.

[2021-03-16 21:23] #471 closed

[2021-03-23 09:31] amalea commented on #327
Hi @jokerlovescaptainmarvel,

Can you please tell me how did you solve your issue?

[2021-03-23 09:35] jmprieur commented on #327
For ASP.NET Core web APIs, we recommend you use Microsoft.Identity.Web

`dotnet new webapi --auth SingleOrg`

See also https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-1-MyOrg

[2021-03-23 10:03] amalea commented on #327
Thank you for your reply! I will try as you have mentioned.

[2021-03-24 06:59] ne0rrmatrix opened #476 "restricting a personal account login to a specific user how-to"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2021-03-24 08:19] jmprieur commented on #476
@ne0rrmatrix
I'm not sure I understand your scenario. There is a need for your web app or your web API to know the identity needs to use.
Do you mean that when the user creates the PDF, they are in a certain context, with a certain identity? Which tool are they using then?

[2021-03-24 08:46] amalea commented on #327
Hello @jmprieur,

I have added  services.AddMicrosoftIdentityWebApiAuthentication(Configuration, "AzureAd"); in the ConfigureServices method, but it seems that it does not read my appsettings.json file, because it throws: Microsoft.Extensions.Options.OptionsValidationException: IDW10106: The 'ClientId' option must be provided.

Do I miss something here?

Previously I had this line: /services.AddAu

[2021-03-24 08:58] jmprieur commented on #327
@amalea : see the 3.) of https://github.com/AzureAD/microsoft-identity-web/wiki/web-apis#protected-web-apis---startupcs:
Just use:

[code]

when migrating from .NET Core 2.2 to .NET Core 3.1, you probably want to compare 2 new applications.
To create a new web app for .NET Core 3.1, use: `dotnet new webapi2 --auth SingleOrg`

[2021-03-24 10:22] ne0rrmatrix commented on #476
The scenario is they log in and upload a bunch of pdf's to their personal account. I just want to limit access to MVC controller to one specific user that logs in using Microsoft Identity. I have no idea how to do that.

[2021-03-24 10:42] ne0rrmatrix commented on #476
If There is a different login flow that allows someone with a personal microsoft account to upload a file to onedrive that limits it to specific accounts logging into app i would appreciate any suggestions. I want just one individual to be able to login with the rights to upload files. I want to have others be able to fill out pdf's and save them locally. Then one user can have access to files and

[2021-03-24 11:14] jmprieur commented on #476
- how do you want to describe/specify this user? by its login?
- did you try specifying "consumers" as the tenant? (to be sure you have only personal accounts)

[2021-03-24 12:09] ne0rrmatrix commented on #476
I am open to suggestions. The easiest way to specifiy user would be just by email.

[2021-03-24 12:38] jmprieur commented on #476
then you can probably specify a `login_hint`:

In the startup.cs, after the configuration of the web app by AddMicrosoftIdentityWebApp ...

[code]

[2021-03-24 13:13] ne0rrmatrix commented on #476
I am looking at controlling which users access the site and limit access to a preapproved list of users. And i want to have access control. I also want to access microsoft graph and use onedrive. I was hoping to do this with microsoft identity web library but if i use it all users who have a personal microsoft account can log in. I want to limit logins to a specific list of users.

[2021-03-24 13:21] jmprieur commented on #476
Ok I understand now.
you want to apply authorization. Please look at the following:
https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/5-WebApp-AuthZ

[2021-03-24 13:33] ne0rrmatrix commented on #476
I am not hosting the app on azure. I have a host that i am using. Both of those options listed by jmprieur require me to host it in azure. I have a server on a vps that i am using. I am a learning to devolop apps and i can't budget in azure credits or spending a significant amount of money to test whether i can program the app. Sorry but i don't have the resources to do that atm.

[2021-03-24 13:38] jmprieur commented on #476
@ne0rrmatrix : you can host your web app wherever you want, but use Azure Active Directory for the authentication / authorization, and this is free. Create a free tenant (https://docs.microsoft.com/azure/active-directory/develop/quickstart-create-new-tenant), and then invite the personal accounts you want.

I don't know what I can do better for you. Sorry as well ....

[2021-03-24 13:40] ne0rrmatrix commented on #476
Yes i have a free azure account :) I guess i just have a lot of reading to do to understand how this all works. I had it working with one of the samples but i lack the understanding of how to limit authorization. I have azure active directory tenant on the free version.

[2021-03-24 16:52] Shama-K commented on #476
You can invite the user in Azure AD by following [Add a new guest user](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/add-users-azure-active-directory#add-a-new-guest-user) document.
Here is the link to [Create a basic group and add members](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-groups-create-azure-portal).

[2021-03-24 18:41] ne0rrmatrix commented on #476
That solved all of my problems thank you for advice. I have solved access problems for application. I have also reduced my workload and made things easier by adding azure as my user management tool.

[2021-03-24 18:42] #476 closed

[2021-03-25 09:48] Welteam commented on #171
Is there any news on this topic? I'm currently trying to do just that and [the only doc I found](https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/development/enabling-openId-connect-with-ad-fs) still uses the old project structure with web.config and reference the previous version of this repo.

[2021-03-25 09:58] jmprieur commented on #171
@kalyankrishna1 would you know?

[2021-03-26 04:19] kalyankrishna1 commented on #171
@Welteam, The OIDC/OAuth support on ADFS is somewhat different for the libraries involved as there is no concept of a tenantId (tid) in ADFS and that breaks the libraries that depend on this being available, like the ones in use here.
I suggest you look at [this](https://github.com/Azure-Samples/ms-identity-dotnet-adfs-to-aad/blob/master/README.md) guide and choose what works best for you.

[2021-03-26 15:27] emaborsa opened #477 "Edit Profile user flow not working"
### This issue is for a:
[code]

### The issue was found for the following scenario:

   1. [x] with B2C users [1-WebApp-OIDC/1-5-B2C](../blob/master/1-WebApp-OIDC/1-5-B2C)

### Repro-ing the issue

- create a edit profile user flow called _B2C_1_edit_
- add _"EditProfilePolicyId": "B2C_1_edit"_ in the application.json

**Expected behavior**
- When Edit Profile on the UI is clicked, I expect to be

[2021-03-26 15:54] emaborsa commented on #477
My mistake, i did not add any _User Attributes_ to the policy.

[2021-03-26 15:54] #477 closed

[2021-03-29 14:14] jmprieur commented on #473
https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/474

[2021-03-31 09:01] abarpetia commented on #208
@TiagoBrenck Thanks for the link, I got my React Webapp working with asp.net API.

@bobo8488  @mufraver2 @faizankhan1995 For me the issue was the MSAL scope while getting token from the Azure Application. Try adding a "Expose an API" scope in your app registration and use that scope to get a token.

[2021-04-07 14:29] mesteves opened #479 "OpenId Authentication callback/event after login"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [x] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2021-04-07 18:28] Shama-K commented on #479
@mesteves, You can subscribe to OnTokenValidated event in AddMicrosoftIdentityWebApp as shown in this link: [Using delegate events](https://github.com/AzureAD/microsoft-identity-web/wiki/web-apps#using-delegate-events).
OnTokenValidated is invoked when user has signed-in and the token is validated.

[2021-04-08 02:01] rlasker-b2w commented on #466
I get this exact same error but using [1-WebApp-OIDC/1-1-MyOrg](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/1-WebApp-OIDC/1-1-MyOrg)

All I do is Register the app in Azure, open the solution, replace the Client ID, Tenant ID and Domain ... then when I run the app and log into Microsoft when the request is redirected to /signin-oidc I get Excepti

[2021-04-08 08:18] jmprieur commented on #466
You might want to clear the cookies?

[2021-04-08 10:15] Breee commented on #466
It's a chromium issue, in Firefox it works^^
Try to set your CookieOptions  to `options.SameSite = SameSiteMode.Unspecified;` and see if this resolves the issue.

For me this does resolve it.

[code]

[code]

[2021-04-08 11:36] rlasker-b2w commented on #466
@Breee ... thank you. Your solution worked for me. Do you know why this is an issue in Chromium?

[2021-04-08 13:45] Breee commented on #466
@rlasker-b2w Hmm look into this:

https://github.com/dotnet/aspnetcore/issues/14996
https://docs.microsoft.com/en-us/aspnet/core/security/samesite?view=aspnetcore-3.1

[2021-04-10 02:27] super-jb commented on #196
Has this ever been solved? Running into the same problem
Microsoft.Identity.Web v1.8.2
.NET 5.0

[2021-04-10 04:01] tbrophy commented on #196
Here is what I did in the Startup class inside of Program.cs.

There might be better ways to do this now.

[code]

[2021-04-10 17:07] dbman86 opened #480 "AddMicrosoftIdentityWebAppAuthentication - JwtBearerDefaults.AuthenticationScheme - Exception No authentication handler is registered for the scheme 'OpenIdConnect'."
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2021-04-10 17:10] dbman86 opened #481 ".Net 5 ASP.Net Core Identity Not Remembering User"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2021-04-10 18:18] dbman86 commented on #479
How can you do this with AddMicrosoftIdentityWebAppAuthentication?
            services.AddMicrosoftIdentityWebAppAuthentication(Configuration, "Authentication:AzureAdB2C")
                .EnableTokenAcquisitionToCallDownstreamApi(new[] {Configuration["Authentication:AzureAdB2C:ApiScopes"]})
                .AddInMemoryTokenCaches();

[2021-04-12 08:03] jmprieur commented on #479
There are two ways:
- either you configure the `OpenIdConnect` options after the code you wrote. See https://github.com/AzureAD/microsoft-identity-web/wiki/customization#openidconnectoptions
- Or indeed, as @Shama-K suggested, you can use the construct with delegates: See https://github.com/AzureAD/microsoft-identity-web/wiki/web-apps#using-delegate-events.

[2021-04-12 08:13] jmprieur commented on #480
@dbman86 ,JwtBearerDefaults.AuthenticationScheme is for web APIs, not for web apps.
If you are building a web app, you can get the claims from the ID token from HttpContext.User, but you should not look inside the access token you acquire to call a downstream API as this token is only for that web API (and could anyway be encrypted).

If you want to build a web API, please see https://github.com/A

[2021-04-12 17:30] dbman86 commented on #479
Thank you for the reply.  In the OnTokenValidated event I want to do some custom permission checks and if they don't pass then I want to redirect to a nice error screen.  How can I do this?  I tried to do:

arg.HttpContext.Response.Redirect("/somepage");

but it didn't work. I see in the example it throws an UnauthorizedAccessException but how can I show a nice descriptive error page ? thank you.

[2021-04-12 17:41] dbman86 commented on #479
also - how can I easily query ms graph in OnTokenReceived to get additional info about the user?  I particularly want to get the user's App Role Assignments in Service Principals - https://docs.microsoft.com/en-us/graph/api/user-list-approleassignments?view=graph-rest-1.0&tabs=csharp - I was trying to add .AddMicrosoftGraph(Configuration.GetSection("DownstreamApi")) to this but it is not possible:

[2021-04-12 21:40] dbman86 opened #482 "Query MSGraph for current user in OnTokenValidated"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2021-04-13 08:21] jmprieur commented on #482
@dbman86
You should have the app roles directly in the token without calling Microsoft Graph. See:

https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/012df8a0682948226a5916fc751dcdddc1c98558/5-WebApp-AuthZ/5-1-Roles/Startup.cs#L63

If you really need to call Microsoft Graph, see https://github.com/AzureAD/microsoft-identity-web/wiki/Customization#how-to-quer

[2021-04-13 10:53] dbman86 commented on #482
@jmprieur thank you for the response, I am using AD B2C.  I do not think that is the same app role - I am looking for app role assignments configured in enterprise application section (app registration -> overview -> click on "Managed application in local directory" -> users
https://docs.microsoft.com/en-us/graph/api/user-list-approleassignments?view=graph-rest-1.0&tabs=http
if this works where ex

[2021-04-13 11:21] jmprieur commented on #482
@dbman86 I understand from the error you have that you are building a web API, not a web app?
and that you want to call a downstream web API (Microsoft Graph) on behalf of the user for whom the API was called.
Unfortunately this is not supported by Azure AD B2C: see https://github.com/AzureAD/microsoft-identity-web/wiki/b2c-limitations

This should work, though, if you use an Azure AD authority (a

[2021-04-13 11:24] dbman86 commented on #482
@jmprieur thank you for the response.  this is a web app not a web api... (see in my original question I am using AddMicrosoftIdentityWebApp()), so is this possible? thank you

[2021-04-13 11:34] jmprieur commented on #482
that's what I understood initially, @dbman86, but then I couldn't understand why this was using the On behalf of flow, until I realized you had probably copied this code from a web API, which was using a hack

Just remove the following code:

[code]

This should just work.

[2021-04-13 11:40] dbman86 commented on #482
@jmprieur thanks - but  If I remove that then I get this exception:

IDW10502: An MsalUiRequiredException was thrown due to a challenge for the user. See https://aka.ms/ms-id-web/ca_incremental-consent.

-> No account or login hint was passed to the AcquireTokenSilent call.

Any other ideas?

[2021-04-13 11:43] dbman86 commented on #482
@jmprieur I get same exception if I try this:
`            var accessToken = await _tokenAcquisition.GetAccessTokenForUserAsync(scopes2);
`
?

[2021-04-13 12:02] jmprieur commented on #479
@dbman86 : maybe "somepage" has the [Authorize] attribute? you'd want to remove it for the error message page ...

[2021-04-13 16:23] dbman86 commented on #479
@jmprieur thanks for reply but no it has [AllowAnonymous] . other ideas?

[2021-04-14 03:22] dbman86 commented on #482
@jmprieur is this because of B2C?  I know some things are limited with B2C... thank you

[2021-04-14 04:43] Shama-K commented on #482
@dbman86, Is your app registered in B2C with audience as "AzureADandPersonalMicrosoftAccount"? If yes, then below information could be of use:
For AzureAD B2C, users can obtain tokens for Microsoft APIs using application permissions. The instructions in [Register a Microsoft Graph application](https://docs.microsoft.com/en-us/azure/active-directory-b2c/microsoft-graph-get-started?tabs=app-reg-ga)

[2021-04-14 09:19] dbman86 commented on #482
@Shama-K Thank you for reply but I don’t want to manage anything I just want to get more details of the logged in user. I would rather not use app based credentials it is quite slow. I want to do what’s in this article but it’s not working I am wondering if it’s because I’m using B2C instead of pure AD, https://github.com/AzureAD/microsoft-identity-web/wiki/Customization#how-to-query-microsoft-gra

[2021-04-14 10:22] jmprieur commented on #482
@dbman86, then you cannot use Graph with B2C.
See [AAD B2C limitations](https://github.com/AzureAD/microsoft-identity-web/wiki/b2c-limitations)

[2021-04-19 09:44] plaa commented on #126
@hpsin How can I follow the progress of "single sign out"?  Will you post about it here (even though it's closed), or is there another issue that I can subscribe to?

We're implementing an internal app that embeds various web services in WebViews.  In order for SSO to work inside the WebView, we're performing AD authentication in a WebView using MSAL.js.  Currently, we've implemented logout by sim

[2021-04-19 17:36] hpsin commented on #126
It won't be marked on this Github issue, but you can follow along with our product announcements here: https://techcommunity.microsoft.com/t5/azure-active-directory-identity/bg-p/Identity

[2021-05-05 19:27] V4A001 opened #486 "How to validate multiple issuers with issuervalidator and Microsoft.Identity.Web or OpenIdConnect ?"
I am still struggling getting a multi-daemon tenant app working. I want to implement that I can receive every tenant. In my token validation I want to validate if the issuer is in my database. Same as this example:

https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-2-AnyOrg

However, the code is not triggered for some reason:

`service

[2021-05-06 11:27] jmprieur commented on #486
@V4A001 is it a multi-tenant web API?

[2021-05-06 16:54] V4A001 commented on #486
Yep, it is. It is: https://github.com/Azure-Samples/ms-identity-aspnet-daemon-webapp/issues/48

[2021-05-07 21:41] nishantjhade commented on #434
groups are populating in session after token validated event - that would first time activity. this is not feasible or not working when browser closed and access site again.  on next time site access token validation does not fire because user authentication does workflow does not execute.
how to make it work ? how to populate user groups if there session is null ?

[2021-05-11 13:01] newbiedev123 commented on #281
Hi,

Is there a solution for this issue in the helper class(or any other class than the Controller action)?

I am facing same issue(getting "No account or login hint....") in my ASP.Net Core MVC project.

My code follows an n-tier architecture and the code for calling the Downstream API is **not** in the Presentation Layer.

When I try the solution above in my MVC controller, it works fine. But wh

[2021-05-11 19:01] jmprieur commented on #281
@newbiedev123 :
- no, there is no interface. Do you have a scenario where you'd need one?
- You can also call .AddMicrosoftIdentityConsentHandler() on services.

  See https://github.com/AzureAD/microsoft-identity-web/blob/bba91c4298411e780c9f082e8e3843eacd8e543c/src/Microsoft.Identity.Web/MicrosoftIdentityCircuitHandler.cs#L50

[2021-05-12 07:16] newbiedev123 commented on #281
@jmprieur thanks for your reply.

- This was purely to unit test the method which uses it.
- I added the .AddMicrosoftIdentityConsentHandler() on services, but I am getting an error.

![image](https://user-images.githubusercontent.com/81688354/117934105-3672e680-b2fa-11eb-9c40-31f7c2d46120.png)

[code]

[2021-05-12 08:44] jmprieur commented on #281
@newbiedev123
you need to add the line after AddAuthentication etc ... not before!

[2021-05-12 09:30] newbiedev123 commented on #281
@jmprieur
I tried adding it on top of AddAuthentication, but still having same issue.

[code]

[2021-05-12 09:46] jmprieur commented on #281
Thanks @newbiedev123
Could you please try after .AddMvc ?
Maybe you'd also want to try AddRazor?

[2021-05-12 10:12] newbiedev123 commented on #281
@jmprieur
Thanks for the prompt reply.

I believe you meant AddRazorPages().
I tried it, but still the same error.
[code]

[2021-05-14 07:11] newbiedev123 commented on #281
@jmprieur , so is there no other solution than adding the Blazor middleware?

[2021-05-14 11:14] jmprieur commented on #281
@newbiedev123 not for the moment, it seems
do you mind to create a new github issue for this very specific problem?

Thanks

[2021-05-14 15:33] newbiedev123 commented on #281
@jmprieur will do, thanks.

[2021-05-18 07:44] V4A001 commented on #486
@jmprieur friendly bump.

[2021-05-18 15:02] rjehl opened #490 "Web app that signs in users with a work and school account in your organization : SecurityTokenSignatureKeyNotFoundException: IDX10501"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [X ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg

[2021-05-18 19:37] jmprieur commented on #490
@rjehl did you add the certificate to the app registration?

[2021-05-19 05:42] rjehl commented on #490
Okay, I fell stupid... As the tutorial stated :

I did not do it. Is it mandatory ?

[2021-05-19 07:17] jmprieur commented on #490
Sorry, @rjehl
I missed that you had `.EnableTokenAcquisitionToCallDownstreamApi(new string[] { "user.read" })` commented out. so no, you don't need a client certificate if you don't enable token acquisition. This seems to be the certificate used to validate ID token signature? (as you don't get an access token)

Azure AD seems to say that you are receiving a token which was signed with a key that

[2021-05-19 09:10] rjehl commented on #490
@jmprieur

No problem, I should have simply removed that part, it's confusing.

I don't think we use App services authentication. My administrator did not find anything related to this on our Azure Ad Back Office.

[2021-05-19 13:55] #490 closed

[2021-05-19 14:15] jmprieur commented on #490
@rjehl : thanks for the update.
Sorry for my lack of knowledge. I'd like to understand better in order to improve the FAQ/Troubleshooting section:
- what does it mean: "Administrator had enabled Single sign-on with SAML signing Certificate." Is it what is described here: https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/certificate-signing-options ?
- Is your app a SAML app? or i

[2021-05-19 14:35] rjehl commented on #490
@jmprieur

Don't worry, I lack even more than you. I started working on this last week and I'm really clueless about a lot of things.

- Yes, It was there :

![application-overview-page](https://user-images.githubusercontent.com/84378191/118828985-08734080-b8be-11eb-9093-07216c1e24b8.png)

I think that my manager tried to select SAML and adding information on the user in the token. Or it's by defa

[2021-06-07 08:12] jmprieur commented on #486
@V4A001 : did you try to use the `TokenValidationParameters.ValidIssuers` property ?
This should work.

[2021-06-07 08:21] #473 closed

[2021-06-07 08:32] #447 closed

[2021-06-07 08:32] #455 closed

[2021-06-07 08:33] jmprieur commented on #461
@omarmallat : just use `HttpContext.Current.GetOwinContext().Authentication.Challenge()`

[2021-06-07 08:33] #461 closed

[2021-06-07 08:34] #464 closed

[2021-06-07 08:34] #466 closed

[2021-06-07 08:34] #480 closed

[2021-06-07 08:34] #481 closed

[2021-06-07 08:34] #482 closed

[2021-06-09 09:01] Catalin-M opened #496 "URL in the second sentence of the README.md leads to a 404 page"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2021-06-09 12:21] jmprieur commented on #496
@Catalin-M where did you click? in the readme.md in this githhub repo?
which file? (there are several readme.md)
Can you please provide a screenshoot where you point the sentence ? I couldn't repro this

[2021-06-09 12:31] Catalin-M commented on #496
Hi @jmprieur, it happens on [this page](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-2-B2C) which is the 4-WebApp-your-API/4-2-BC project page. It also happens on the [Microsoft Documentation](https://docs.microsoft.com/en-us/samples/azure-samples/active-directory-aspnetcore-webapp-openidconnect-v2/how-to-secure-a-web-api-buil

[2021-06-11 23:25] twofingerrightclick commented on #465
I have the similar problem. I can authenticate when running locally, but as soon as I try using the app registration in an Azure Web App service I get the redirect issue:
![image](https://user-images.githubusercontent.com/11265760/121756477-053f2f00-cacf-11eb-9b60-5e2a2cdbe5fe.png)

My app registration redirects:
![image](https://user-images.githubusercontent.com/11265760/121756555-5c450400-cacf-1

[2021-06-11 23:40] twofingerrightclick opened #499 "Redirect URI error when running demo code in Azure Web App Service. Like #465"
I have the similar problem to #465 (couldn't reopen issue)  (except I am using a regular windows 64 Azure web app service). I can authenticate when running locally, but as soon as I try using the app registrations authentication provider with an Azure Web App service I get the redirect issue:
![image](https://user-images.githubusercontent.com/11265760/121756477-053f2f00-cacf-11eb-9b60-5e2a2cdbe5fe

[2021-06-12 07:48] jmprieur commented on #499
@twofingerrightclick.
If you can run it locally and it does all the authentication, you don't need to use App service **authentication**, when you deploy to App services. (you can, but don't need to). Depending on whether you enable or not App service authentication, the redirect URI will be different:

 Scenario |  Redirect URI
-----------   | -----------
Run on your developer box with IIS |  ` h

[2021-06-12 08:01] jmprieur commented on #499
I've also updated the doc.

[2021-06-12 17:26] twofingerrightclick commented on #499
@jmprieur Thank you for clarifying! I now understand more that App Service Authentication is to be used without  the "code behind" that is in this demonstrated in this repo, but it requires third party code if you want to add role-based authorization at this point (https://github.com/MaximRouiller/MaximeRouiller.Azure.AppService.EasyAuth).
I was mislead to enabling App Service Authentication becau

[2021-06-12 18:28] jmprieur commented on #499
@twofingerrightclick, normally MIcrosoft.Identity.Web detects that you detected to app service and enabled authentication (but that doesn't prevent you from adding the right redirect URI).
It works well for simple scenarios, but less for complex Web apps that call multiple web APIs and require incremental consent.

[2021-06-12 18:31] jmprieur commented on #499
BTW, if you haven't, you might want to update the version of Microsoft.Identity.Web to 1.13.0 (that was released yesterday. We also updated this sample to that version yesterday fixing a couple of issues with Easy auth, who took a breaking change between v1.0 and v2.0)

[2021-06-12 18:59] twofingerrightclick commented on #499
@jmprieur Got 1.13.0.
To clarify: I want to use Microsoft.Identity.Web like so:
![image](https://user-images.githubusercontent.com/11265760/121786371-53f2d480-cb74-11eb-88c1-35b4532b24fe.png)
and so in the web app service I should have?:
![image](https://user-images.githubusercontent.com/11265760/121786407-7c7ace80-cb74-11eb-9667-3fbdb8a1f022.png)
(I also just tried publishing to a brand new web a

[2021-06-13 09:48] jmprieur commented on #499
@twofingerrightclick
There is a tutorial that will tell you all you want to know:

https://docs.microsoft.com/en-us/azure/app-service/scenario-secure-app-authentication-app-service

[2021-06-13 16:44] twofingerrightclick commented on #499
Thanks. But I've read that one several times :) ... But I will close the issue and comment later here later with what I figure out. I am probably missing something simple. A coworker is writing a blog about how to use the Web App Service authentication with Authorization, and I might write one about how to use the old approach of Authentication that's been around since Aps.net 2 when with Web App

[2021-06-13 16:44] #499 closed

[2021-06-16 12:08] bgavrilMS commented on #496
Thanks for reporting @Catalin-M , should be fixed now.

[2021-06-16 12:08] #496 closed

[2021-06-20 14:16] SwimlaneBuilder commented on #486
Does Microsoft.identity.web have the same caching issue as MSAL that was a blocker for ADAL compatibility>

See bottom of:
https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/tree/nvalluri-b2c

[2021-06-20 14:18] SwimlaneBuilder commented on #437
The B2C feature might have issues as noted in at the bottom of this
https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/tree/nvalluri-b2c

A custom cache or policy might help micrososoft.identity.web... but can it be used in Xamarin apps?

[2021-06-20 15:04] jmprieur commented on #486
@SwimlaneBuilder : this should work now, as we have implemented multiple scheme support. See https://github.com/AzureAD/microsoft-identity-web/wiki/multiple-authentication-schemes

[2021-06-24 16:28] don01001000 opened #506 "Broken links in 5-WebApp-AuthZ/5-1-Roles/README.md"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2021-06-25 10:09] #506 closed

[2021-07-05 05:56] qetza opened #509 "Images in documentation are not readable with dark theme"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2021-07-07 06:29] Lu-Fi opened #511 "Is there a B2C sample with access token requests available ?"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2021-07-07 09:02] jmprieur commented on #511
@Lu-Fi.
I don't understand what you are trying to do.

### this sample works

I just tried this sample again (we do test them each time we release Microsoft.Identity.Web anyway, so I was surprised if it didn't work).

[code]
and navigated to `https://localhost:44316` in a browser and I was able to sign-in as expected.

### Are you looking for a web API?

Would you be trying to call a web API? If t

[2021-07-07 09:07] Lu-Fi commented on #511
Sry for this misunderstanding.

I was searching for a solution where additional access tokens can be requestet after initial authentication.

[2021-07-07 09:56] jmprieur commented on #511
I think the sample I provided will work, @Lu-Fi

[2021-07-07 10:27] #511 closed

[2021-07-10 03:43] ssabih opened #513 "1-2-AnyOrg code snippet in documentation needs update."
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [x] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2021-07-11 09:10] #513 closed

[2021-07-11 09:11] jmprieur commented on #513
Thanks @ssabih
you are right.
Wee fixed the README.md

[2021-07-14 07:36] #486 closed

[2021-07-21 17:45] rgl opened #520 "1-WebApp-OIDC/1-5-B2C: Cannot Edit Profile of a GitHub account"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2021-07-22 11:12] jmprieur commented on #520
@aremo-ms could you please have a look?

Note that corresponding Microsoft.Identity.Web sample works fine: https://github.com/AzureAD/microsoft-identity-web/tree/master/tests/webapp-b2c (no need to re-sign-in)

[2021-07-22 13:20] aremo-ms commented on #520
@jmprieur On it

[2021-07-22 13:50] jmprieur commented on #520
Thanks  @aremo-ms

[2021-07-22 14:03] dkboon01 opened #521 "Trying to find the correct example to use"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2021-07-22 14:21] troymc opened #522 "OpenIdConnect was not authenticated"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2021-07-23 13:55] troymc commented on #522
I had some of the settings wrong in my appsettings.json

[2021-07-23 13:55] #522 closed

[2021-07-23 17:11] aremo-ms commented on #520
Identity provider for GitHub was disabled inside "b2c_1_edit_profile" user flow and this caused the issue.
I've re-enabled the provider and sample work as expected.
Please let us know if you have other concerns.

[2021-07-23 17:11] #520 closed

[2021-07-27 22:34] aremo-ms commented on #462
@zhadjah9559 @kwaazaar
I'm currently working on improving documentation for the samples. Will update soon.

[2021-08-04 15:55] aremo-ms commented on #434
@nishantjhade @wildhockey18
I'm trying to reproduce the issue. The sample is deployed to Azure and I need your help to reproduce if this is still relevant. So far I don't see any issue with the sample. Please advise

[2021-08-20 13:46] aremo-ms commented on #434
I cannot reproduce the issue and no response was received from customers for 16 days.
Closing the issue. Feel free to re-open once reproducible.

[2021-08-20 13:46] #434 closed

[2021-08-25 10:10] karayakar opened #530 "Missing Controller"
active-directory-aspnetcore-webapp-openidconnect-v2/1-WebApp-OIDC/1-5-B2C/Controllers/

Project missing Account controller.
` <li class="navbar-btn">
            <form method="get" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="EditProfile">
                <button type="submit" class="btn btn-primary" style="margin-right:5px">Edit Profile</button>
            </form>
        </

[2021-08-25 15:39] jmprieur commented on #530
@karayakar what problem are you seeing? what are your repro steps?
the account controller is in Microsoft.Identity.Web.UI: https://github.com/AzureAD/microsoft-identity-web/blob/master/src/Microsoft.Identity.Web.UI/Areas/MicrosoftIdentity/Controllers/AccountController.cs

[2021-08-25 19:10] dzielin opened #531 "Cannot edit Azure AD B2C profile in 1-5-B2C project; reauthenticates and redirects to index"
\*_This may be related to issue #530.  I can see how it might _look like_ the account controller is missing, because the button that should ordinarily link to /MicrosoftIdentity/Account/EditProfile according to the asp-* helpers, is instead (eventually) ending up at /.  But my issue is definitely not due to AccountController itself being missing._

When using /1-WebApp-OIDC/1-5-B2C, I'm able to si

[2021-08-28 11:59] fadi-42 opened #532 "Why is it required to enable the implicit flow?"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2021-09-07 01:54] jmprieur commented on #532
This is a current limitation of the B2C service. I believe it's on the backlog to be fixed.

[2021-09-07 01:55] jmprieur commented on #531
@jennyf19 fyi

[2021-09-07 02:14] jmprieur commented on #521
Yes, this web app should be registered to access the API.
With B2C you need to have an interactive login.
The sample is https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-2-B2C

[2021-09-10 02:36] jennyf19 opened #534 "[Bug] remove <PackageReference Include="Microsoft.Extensions.Logging.Debug" Version="3.0.0" />"
remove `<PackageReference Include="Microsoft.Extensions.Logging.Debug" Version="3.0.0" />` from all samples csproj, as it's already brought by Microsoft.Identity.Web

[2021-09-15 13:48] vivere-dally opened #537 "Documentation on the `AzureAdB2C` policy ids `appsettings.json` keys"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

1. [x] Other (please describe)
  Web Api `appsettings` policy key.

### Repro-ing the issue

**Repro steps**

**Expected behavior**

From `appsettings.json` remove `SignUpSignInPolicyId` and instead add an `SignInPolicyId`.

**Actual behavior**
The `SignIn` flow should work.

**Additional conte

[2021-09-16 15:41] PeterKalvik2 opened #538 "4-2-B2C Boolean cliams always become false"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2021-09-23 14:49] Pruzzo opened #540 "MsalUIRequiredException: No Account or login hint was passed to the AcquireTokenSilent call"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [x] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2021-09-23 19:07] jmprieur commented on #540
@Pruzzo do you get this exception on the debugger and the app re-signs-in the user? or does it just crash?

[2021-09-23 20:17] Pruzzo commented on #540
I get the error in the debugger, if i logout and login again it works fine but the exception is just thrown, nothing else

[2021-09-23 21:54] jmprieur commented on #540
But when you continue the execution on the debugger, you are automatically re-signed-in? aren't you?

[2021-09-23 23:03] Pruzzo commented on #540
No i am not re-signed in automatically :)

[2021-09-23 23:16] jmprieur commented on #540
you mean the application crashes? you don't see the sign-in dialog?

[2021-09-23 23:25] Pruzzo commented on #540
No, when this error comes i do not see the signin dialog

[2021-09-23 23:27] jmprieur commented on #540
I mean when you continue. I'm trying to understand if the app crashes?
The fact that there is an exception is expected/normal,. But it should be filtered by `[AuthorizeForScopes]`

[2021-09-23 23:28] jmprieur commented on #540
I'm assuming you have ` [AuthorizeForScopes(new string[] { "user.read", "onlineMeetings.readWrite" }]`  ?

[2021-09-24 07:25] Pruzzo commented on #540
Yes, that is what i have.
I've also followed the idea of @TiagoBrenck  [here](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/issues/240#issuecomment-567658268) and i've seen that the attribute is an exception filter but the exception thrown is a lever lower, so i copied the code and i wrote mine to catch the MsalUiRequiredException

` MsalUiRequiredException m

[2021-09-27 03:08] jmprieur commented on #538
@PeterKalvik2  do you have a repro environment and repro code?

[2021-09-27 05:29] PeterKalvik2 commented on #538
Hi,
You can close the issue I found an error in my code that produced the wrong result. Sorry for the inconvenience.

From: Jean-Marc Prieur ***@***.***>
Sent: den 27 september 2021 05:09
To: Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2 ***@***.***>
Cc: Peter Kalvik ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-

[2021-09-27 15:26] #538 closed

[2021-10-04 00:05] deruss commented on #530
Hello,

I am having the same issue, where EditProfile does not work properly on 1-5-B2C project configured against my own ADB2C tenant.

It looks like the initial authorize is being rejected, generating the following error:

    Message contains error: 'server_error', error_description: 'AADB2C: An exception has occurred. Correlation ID: 05f99e87-0735-4734-862b-6331519ccc78 Timestamp: 2021-10-03 2

[2021-10-04 00:06] deruss commented on #531
Hello,

I am having the same issue, where EditProfile does not work properly on 1-5-B2C project configured against my own ADB2C tenant.

It looks like the initial authorize is being rejected, generating the following error:

    Message contains error: 'server_error', error_description: 'AADB2C: An exception has occurred. Correlation ID: 05f99e87-0735-4734-862b-6331519ccc78 Timestamp: 2021-10-03 2

[2021-10-04 15:25] jennyf19 commented on #531
@deruss thanks for the repro steps, will take a look.

[2021-10-04 22:23] jennyf19 commented on #531
@deruss I tried the sample here and was not able to repro the issue. do you have repro code you can send me or provide a link to?

[2021-10-05 02:29] jmprieur commented on #530
I cannot repro this, @karayakar
Please provide repro steps

[2021-10-05 07:49] deruss commented on #531
Hello @jennyf19 , Thank you for looking into this, greatly appreciated.

Here's a folder with some screenshots and a video to help: https://onedrive.live.com/?authkey=%21AH9X3tXqicbdAhM&id=5A8ABF47B6342EE0%21233233&cid=5A8ABF47B6342EE0

I haven't changed any code except appsettings, and I've configured the B2C tenant in Azure portal as per instructions (I hope!).

I'm not sure what else to try.

[2021-10-05 17:52] jennyf19 commented on #531
thanks @deruss will take a look. does the edit profile policy work in the AAD B2C portal? There should be a "try it out now" feature.

[2021-10-05 18:32] ataraxia89 commented on #281
Yeah, great, I tried to get a token and now the exception is handled, so how do I now get the token?? I still don't have what I want!!

[2021-10-05 21:57] ataraxia89 commented on #462
I've also had so many problems trying to follow how to integrate Azure B2C auth into a web app. My API is done, my web app is mostly done, I am redirected to the user login flow and get returned to my web app but the first time I try to get an access token it all falls over.

It started with a `MsalUIRequiredException: No Account or login hint was passed to the AcquireTokenSilent`, but then I foun

[2021-10-05 22:08] deruss commented on #531
Hi @jennyf19 .

Yes, the edit flow works from the portal, but when it redirects to my localhost site I get a generic error "OpenIdConnectAuthenticationHandler: message.State is null or empty."

However, I don't think the portal link reuses a previously issued token - I think it always prompts for credentials. That's what happens if I try with jwt.ms redirect.

David.

[2021-10-06 00:34] jmprieur commented on #462
@ataraxia89 : 404 that is app crash. can you please log the exception?

[2021-10-06 01:21] jennyf19 commented on #531
@deruss thanks for the files. I do not see the same issue with the sample and the default config. Can you make me a guest user in  your b2c tenant and email me (jeferrie@microsoft.com - please include the issue # and sample in the subject line) the info (username/password) so I can run it locally? Also, can i get a screen shot of your user flow for edit profile? You said you have this same issue i

[2021-10-06 02:01] deruss commented on #531
Hi @jennyf19 - email sent and user added.

[2021-10-06 09:44] ataraxia89 commented on #462
@jmprieur in the browser developer tools I see:

`Uncaught (in promise) WebSocket is not in the OPEN state` - in blazor.server.js
`Uncaught (in promise) Error: Invocation canceled due to the underlying connection being closed.` - in blazor.server.js

[2021-10-14 15:40] ataraxia89 opened #544 "Calling web API with Azure B2C token returns 401 Unauthorized due to invalid signature"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2021-10-14 21:46] aremo-ms commented on #509
@qetza
The issue was addressed inside main README.MD
Let us know if there any other places with same issue

[2021-10-15 06:50] HWouters opened #545 "Singin with 1-5-B2C example returns unexpected error after cookies are deleted"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2021-10-25 19:31] ssarin3194 opened #548 "Unable to hit common endpoint with .net core web app"
Hi all,

I have posted a stackoverflow question. I have some concerns on when the /common endpoint will be hit. When I hit the url..

asmfeedbackamestage.azurewebsites.net .. only after attempting to sign in- will it hit the common endpoint?

Also, the redirectURL of my AAD app is ""/.auth/login/aad/callback"" so not sure what that means here,

https://stackoverflow.microsoft.com/questions/279006

[2021-10-27 10:34] shieldsyWRH55 opened #549 "Unable to add new role claim to existing Microsoft Identity User from MVC C# Controller"
I have been unable to add a new roles claims to the existing cookie without the need for the user to log out and back in again.

Please find the attached question for more details about this issue.

https://stackoverflow.com/questions/69729540/how-to-add-new-role-to-existing-microsoft-identity-user-from-mvc-c-sharp-control

I have began this process using the 1-WebApp-OIDC/1-1-MyOrg/

However I am

[2021-10-29 11:44] #549 closed, assigned to nobody

[2021-10-29 15:22] tacklers opened #550 "Experiences with setup 4-1-MyOrg and deployment to Azure"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2021-11-01 22:19] jennyf19 commented on #550
Thanks for all the feedback here @tacklers, much appreciated.

We can proceed in a couple of different ways...you can open smaller issues for each of the points above for easier tracking on our side or you can provide a PR/PRs which address any of the issues you want to address personally.

@aremo-ms thoughts on how to tackle some of these?

[2021-11-01 22:21] jennyf19 commented on #545
@HWouters I'm not able to repro this. Do you have code you can share or a repo you can point me to?

[2021-11-02 00:27] aremo-ms commented on #550
I will check it tomorrow first thing and answer, @jmprieur

[2021-11-02 13:32] aremo-ms commented on #550
@jennyf19
As I see there were mainly readme misunderstandings. Agree - this is confusing and disordered.
I will work on regenerating new readme file with all improvements in it and submit a PR for review

[2021-11-02 19:10] HWouters commented on #545
@jennyf19, no I don't have any other code, I'm using this sample project.

[2021-11-02 22:46] jennyf19 commented on #545
@aremo-ms i wasn't able to repro this, do you have time to try it out? if it repros, lmk.

[2021-11-02 23:38] aremo-ms commented on #545
@jennyf19 I will take a look and update soon

[2021-11-03 02:07] aremo-ms commented on #545
@jennyf19 @HWouters
I couldn't reproduce it as well - see the screen recording

https://user-images.githubusercontent.com/85962119/140000810-dd222b33-bba2-42fb-92cb-5602cbdab691.mp4

[2021-11-03 02:43] jennyf19 commented on #550
thanks @aremo-ms. It's hard to keep so many readme's updated with new content. Appreciate you taking this on so quicky.

[2021-11-03 11:46] aremo-ms commented on #550
We are working on updating our CodeGenerator tool, so hoping to make it easier soon.

[2021-11-03 17:14] #545 closed

[2021-11-03 18:24] jennyf19 commented on #545
thanks for the follow-up @HWouters

[2021-11-05 19:25] fabiomq opened #552 "Unable to Build the project"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [x] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2021-11-05 19:30] fabiomq commented on #552
No previous knowledge in coding, so I just installed the prerequisites on this article https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-authentication-sample-web-app?tabs=visual-studio and I´m trying to run the web app to test B2C authentication. On step 5, I try to build the project, and the following error appears:

Severity	Code	Description	Project	File	Line	Suppression Sta

[2021-11-06 01:20] jmprieur commented on #552
This is a NuGet error.
can you access NuGet.org?
or would you have a nuget.config somewhere in the parent folders of the folder where you cloned the repo?

[2021-11-08 12:22] fabiomq commented on #552
Yes, I can access NuGet.org, but I don´t have this config file anywhere in the repo.
Should I have it?

[2021-11-08 20:39] fabiomq commented on #552
Thanks a lot, after following the article steps it worked!

[2021-11-08 20:39] #552 closed

[2021-11-08 20:40] fabiomq commented on #552
@aremo-ms suggestion resolved the issue

[2021-11-21 03:35] robidas opened #554 "Unable to sing-In with 4-3-AnyOrg"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2021-11-30 13:37] aremo-ms commented on #554
Hello @robidas, thank you for your feedback
Could you tell me if you setup app registration with PowerShell script or manually?

[2021-11-30 18:02] robidas commented on #554
manually

________________________________
From: Alex Remo ***@***.***>
Sent: November 30, 2021 6:37 AM
To: Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2 ***@***.***>
Cc: Robi (Rob) Das ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2] Unable to sing-In with 4-3-AnyOrg (Issue #554)

Hello @robidas<https://github.

[2021-12-06 18:52] aremo-ms commented on #554
@robidas
I've found a possible reason for your issue, seems like out README is incorrect:
Please do next 2 things:

1. Inside your client's appsettings.json, set "TodoListScope" : "api://<your todo list service app client id>/.default"
instead of "ScopeDefault" as specified inside README

2. Make sure you have Admin Consent inside your Service's App Registration for User.Read.All permission (READM

[2021-12-13 15:53] aremo-ms commented on #462
@ataraxia89
Can you please update on this issue? Did you manage to overcome all failures? If not I'd like to address your concerns

[2021-12-15 18:00] ataraxia89 commented on #462
For the [initial exception](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/issues/462#issuecomment-934906818) I believe the issue was that either the user wasn't authenticated or the auth needed to be refreshed, not sure but in any case it needed to be caught as per the guide I posted.

The reason I was getting a 404 was because I needed to add the line below

[2021-12-15 18:06] aremo-ms commented on #462
@ataraxia89  That's great to hear. Can you please advise what sample you've experienced issues with? I will need to check instruction per your feedback. Thanks in advance

[2021-12-15 18:09] ataraxia89 commented on #462
Well I can see that the code I was missing is in the example so I don't know if I missed this or what happened, a lot has been going on with this project since I originally commented above so I can't remember exactly.

[2021-12-15 18:20] aremo-ms commented on #462
Ok, then. I'm closing the issue for now. Let us know for any other questions in a separate issue.
Thanks for your help

[2021-12-15 18:20] #462 closed

[2021-12-16 23:04] KSchlobohm opened #557 "1-5-B2C README.md has broken link"
### This issue is for a: (mark with an `x`)
* [ ] bug report -> please search issues before submitting
* [ ] feature request
* [x] documentation issue or request
* [ ] regression (a behavior that used to work and stopped in a new release)

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] wi

[2021-12-17 13:50] aremo-ms commented on #557
Hi @KSchlobohm
thank you for your feedback. I've updated the link, you can see it in  [this PR](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/558)

Let me know any other issue, if not, I'll close the issue once the PR is approved

Best Regards
Alex

[2021-12-17 16:35] KSchlobohm commented on #557
@aremo-ms it was a minor nit but i noticed in the README's there are sections that say "Never expires". 2-WebApp-graph-user/2-1-Call-MSGraph/README-incremental-instructions.md is one of these examples.

[code]
The "Never expires" option is not a valid selection for client secrets.

[2021-12-17 16:58] aremo-ms commented on #557
@KSchlobohm thanks again
I'm actively updating all readme files and I saw that. I will fix it when I get there.
Thanks again
Feel free to close the issue if you have no other concerns

Sincerely
Alex

[2022-01-03 07:56] devamirsaleem opened #561 "Readme does not describe or missing documenation that describe the difference between authorization with Azure AD or OAuth"
I am reading microsoft documentation and using their apps / api to secure api using Azure AD. But I got confused by two different approaches and as articles describe setting up the client app and Api.

This article describe " Protect a web API backend in Azure API Management using OAuth 2.0 authorization with Azure Active Directory"
link: https://docs.microsoft.com/en-us/azure/api-management/api-m

[2022-01-03 08:13] kalyankrishna1 commented on #561
The first one is a product, for API management, which is a sort of higher level abstraction for publishing APIs. Thus ,their instructions tend to be more around setting configuration in the API management portal. There is some overlap, like registering an app (API) in the Azure AD portal, but for the most part, the "protection" is done automatically by the API management service.

This sample is m

[2022-01-03 18:55] aremo-ms commented on #557
I will close the issue. Feel free to open new in case of problems

[2022-01-03 18:55] #557 closed

[2022-01-04 03:47] devamirsaleem commented on #561
Thanks for your reply.   Last time when I deployed the Api on the Azure I had to use Api Management tool regardless of not using OAuth.  So lets say if I use the sample and deploy on the Azure and do not use the OAuth the api would still be protected and code would remain intact.   however, if I go to implement OAuth in Azure then the code would be mean less but I won't have to remove them or do n

[2022-01-04 14:23] aremo-ms commented on #420
No response since September. Closing

[2022-01-04 14:23] #420 closed

[2022-01-04 14:24] aremo-ms commented on #381
I don't think EF failure is related to AAD. Also no response since November. Closing the issue

[2022-01-04 14:24] #381 closed

[2022-01-07 15:58] sam-wheat opened #563 "Is implicit grant required for API auth?"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2022-01-13 19:36] lgomez28 opened #565 "Kubernetes Cluster with Container Registry"
Hello,
I used this code to login my users with azure active directory b2c. Now I wanted to change from an App Service to a kubernetes Cluster. Where I have a Container Registry. Can this still can be used in a kubernetes cluster? Im not sure how to connect the url, because it needs an https.
I would really appreciate an answer. Thanks in advance.
Kind regards.

### This issue is for a: (mark with

[2022-01-14 02:11] jmprieur commented on #565
This will work @lgomez28
See https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/docker

[2022-01-15 00:28] lgomez28 commented on #565
Thank you very much for your answer. I already have my webapp in a container registry with docker inside a kubernetes cluster. I also have an ingress to get a https url, because the b2c active directory wouldn´t accept a http.
But the b2c login pops up in milliseconds and disapears again. Afterwards my website appears with a deployment error and with the url https://domain.com/MicrosoftIdentity/Ac

[2022-01-15 01:38] jmprieur commented on #565
@Tratcher: would you know?

[2022-01-17 14:05] AkshayBh28 opened #566 "Unable to access the API : AuthenticationException and HttpRequestException"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2022-01-17 14:09] AkshayBh28 commented on #566
I am using client secret that My org application uses to prove its identity when requesting a token instead of client certificate..

[2022-01-18 06:02] AkshayBh28 commented on #566
@jennyf19 @aremo-ms @jmprieur I will grateful to you, if you can help with this..
Kind Regards,
Akshay

[2022-01-18 15:55] aremo-ms commented on #566
@AkshayBh28
please try running the below command and let me know if your issue is resolved
[code]

[2022-01-19 07:47] AkshayBh28 commented on #566
It says "A valid HTTPS certificate is already present." as I run it again, I am receiving the same exceptions.

[2022-01-19 16:15] aremo-ms commented on #566
@AkshayBh28 please chat with me at v-abeyderman@microsoft.com

[2022-01-19 18:57] Tratcher commented on #565
We'd need to see the server logs and a fiddler trace to know what the error was.

[2022-01-20 15:52] AkshayBh28 commented on #566
Okay, I have sent you an email.

[2022-01-20 19:35] Tratcher commented on #565
See https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-6.0#troubleshoot

[2022-02-01 15:44] jeanmarclaiml opened #572 "Correlation failed - on 20 minute delay of signing in."
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2022-02-01 19:04] joshmouch opened #573 "AAD with PKCE sample"
Is there a sample available that shows an Asp .NET Core app authenticating aganist AAD using PKCE?  I imagine a cookie would have to be used as part of the redirect to the AAD login, but I'm looking for best practices as defined by AAD and the IdentityModel library.

[2022-02-01 19:07] jmprieur commented on #573
@joshmouch
The Web app samples do use PKCE by default (this is enabled by default in Microsoft.Identity.Web)

[2022-02-01 19:20] joshmouch commented on #573
@jmprieur How/where is the "code_verifier" being stored when it's redeeming a code for an access token?

[2022-02-01 20:15] jmprieur commented on #573
@joshmouch It's handled by ASP.NET Core.

[2022-02-02 00:17] jmprieur commented on #572
@jeanmarclaiml I think it's a behavior of the b2c service.
@nickgmicrosoft FYI and to reply

[2022-02-02 00:48] sshquack opened #574 "Upgrade to .NET 6 LTS"
All the code samples are using [netcoreapp3.1](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/search?q=netcoreapp3.1&type=code) They all fail on macOS with M1 Arm64 because .NET 3 does not work on ARM 64. Only .NET 6 is supported on macOS with Arm64 architecture. Please upgrade all the samples to .NET 6 LTS.

Running every single sample on this repo leads to t

[2022-02-02 01:04] jmprieur commented on #574
I think this is work in progress.
@kalyankrishna1 @aremo-ms ?

[2022-02-02 01:06] aremo-ms commented on #574
YES!

[2022-02-02 01:12] sshquack commented on #574
I found a confusing duplicate sample for b2c [here](https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi) that is running on .netframework4.8. Newbies stumble across these old samples and assume b2c is broken. I have even created an issue there https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/issues/120 Please fix these as well.

[2022-02-02 09:47] jeanmarclaiml commented on #572
Many thanks for your reply. You do get a remote failure (you can trap it if you add a OnRemoteFailure event handler like this

            // Configuration to sign-in users with Azure AD B2C
            // + add event handler to be able to pass the login hint
            services.AddAuthentication(OpenIdConnectDefaults.AuthenticationScheme)
                .AddMicrosoftIdentityWebApp(options =>

[2022-02-03 18:45] jmprieur commented on #572
@Tratcher do you have an idea?

[2022-02-03 18:53] Tratcher commented on #572
Logins have a 15 minute timeout by default, and that's applied to the cookies. It's a compromise between how long someone needs to log in vs the buildup of abandon cookies on the client. You can change it if you need to.
https://github.com/dotnet/aspnetcore/blob/7f97f3ca84290c15ddfa40ed43e86b610399a4a4/src/Security/Authentication/Core/src/RemoteAuthenticationOptions.cs#L114-L117

[2022-02-03 20:20] jeanmarclaiml commented on #572
@Tratcher many thanks for your answer. What I would like to know and if it can be addressed in the sample, is how to handle that situation, if it times out in b2c (its a remote error). How would you advise to handle it. Should you trap "correlation error" and display something like "sorry, you took too long to log in. Please try again?", which would be fine however, when clicking on sign in again,

[2022-02-03 21:07] Tratcher commented on #572
That's not a decision I can make for you, you need to decide what you want the user experience to be and then we can help get you there.  Some of your options:
- Raise the timeout and see how often it comes up in practice. You may not need to address it if it's 1/10000.
- Return a nice error page with a retry link.
- Return to a neutral anonymous page like the home page.
- Retrying automatically,

[2022-02-03 23:15] jeanmarclaiml commented on #572
@Tratcher many thanks for you advice.

The issue is that you press sign in, go to b2c, you then get redirected back, with an error. you press sign in again, and you dont go to b2c but find your somehow logged in. The sample indicates your logged in by displaying "hello <name>". Its just an indication that your logged in. I refer you to the repo steps I documented above. I humbly thank you for you

[2022-02-03 23:30] Tratcher commented on #572
@jmprieur can you have your folks to work through the sample's error handling with @jeanmarclaiml?  Let me know if you get stuck.

[2022-02-03 23:34] jmprieur commented on #572
@kalyankrishna1 @aremo-ms can you please help?

[2022-02-04 16:54] Tratcher commented on #572
Hmm, that nonce takes its timeout from somewhere else:
https://github.com/dotnet/aspnetcore/blob/ed1ac4285213158a85f69449dba448ef0c65fbf4/src/Security/Authentication/OpenIdConnect/src/OpenIdConnectOptions.cs#L324
https://github.com/dotnet/aspnetcore/blob/ed1ac4285213158a85f69449dba448ef0c65fbf4/src/Security/Authentication/OpenIdConnect/src/OpenIdConnectOptions.cs#L180

[2022-02-04 18:31] aremo-ms commented on #574
@sshquack  can you please test the PR on your side?

[2022-02-04 21:24] sshquack commented on #574
@aremo-ms Ran the sample on macOS + Apple silicon + .NET 6 and it finally works out of the box. Thanks!

Please remove this other stale [b2c repo](https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi) because for some reason it keeps showing up higher on Google search than this repo. I've had few team mates running into this. Everyone should be using this repo for all AAD

[2022-02-04 21:52] jmprieur commented on #574
There is a little difference though. This sample is ASP.NET Core. the other one is ASP.NET ...

[2022-02-04 23:32] aremo-ms commented on #574
I've closed issue on (this)[https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi] repo because it is supposed to be .Net Framework

[2022-02-04 23:33] aremo-ms commented on #574
I guess we can sign off here as well

[2022-02-04 23:33] #574 closed

[2022-02-05 17:46] Roman-Jordan opened #576 "README has extra ``` just chilling"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2022-02-05 18:58] ghost opened #577 "About The Code, step 3, missing a space before the word file."
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2022-02-06 18:40] JeanmarcLai commented on #572
@Tratcher thank you so much. I will try also increasing this timeout too.
Did you ever get to the bottom of why after you get this error, you find out you don't need to sign in after pressing the sign in button? You seem to then be signed in already? Thank you.

[2022-02-07 14:14] jeanmarclaiml commented on #572
@Tratcher
note, I added

[code]
I updated the options.ProtocolValidator.NonceLifetime to a large value for testing see above, but I noticed that the Nonce Lifetime gets overwritten/reset back to 15 minutes, as I got the error:

{"IDX21324: The 'nonce' has expired: '[PII of type 'System.String' is hidden. For more details, see https://aka.ms/IdentityModel/PII.]'. Time from 'nonce': '02/07/2022 10:5

[2022-02-08 06:48] jeanmarclaiml commented on #572
@Tratcher @jmprieur @kalyankrishna1 @aremo-ms

so increasing both these time outs does work, I can increase it to say 1 hour..

Please can you help on finding out why once you get the error, when clicking the sign in button, you don't have to enter your credientials (again) and find out your logged in? Many thanks

[2022-02-09 09:58] jeanmarclaiml commented on #572
@Tratcher @jmprieur @kalyankrishna1 @aremo-ms

I found a similar issue that was raised here:

https://codersatellite.com/question-with-identifier-49067562

if anyone has any ideas as to implement the answer from the Microsoft Support team in this example? Any help would be appreciated. Thank you.

[2022-02-20 22:43] Mson888 opened #580 "3-WebApp-multi-APIs Sample Broken - site doesn't load when targetting: .net 6.0 framework"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:
3-WebApp-multi-APIs no longer works after changing from .net core 3.1 to .net framework 6.0 target runtime

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../b

[2022-02-20 23:01] Mson888 opened #581 "2-3 Multi-Tenant Sample doesn't build when options.UseInMemoryDatabase is used - missing EFCore update and EFCore.InMemory Nuget"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:
Please add an 'x' for the scenario(s) where you found an issue

1. Web app that calls Microsoft Graph
   1. [ ] Calling graph with the Microsoft Graph SDK: [2-WebApp-graph-user/2-1-Call-MSGraph](../blob/master/2-WebApp-graph-user/2-1-Call-MSGraph)
   1. [ ] With specific token caches: [2-WebApp-

[2022-02-22 17:19] #532 closed

[2022-02-22 17:21] #375 closed

[2022-02-22 17:21] #366 closed

[2022-02-22 17:26] #565 closed

[2022-02-22 17:27] #372 closed

[2022-02-22 17:28] kalyankrishna1 commented on #372
there is a detailed FAQ that should help -> https://docs.microsoft.com/en-us/azure/active-directory-b2c/faq?tabs=app-reg-ga

[2022-02-25 09:01] v-michaelmi commented on #576
Is there any reference to which README has the extra backticks?

I'm not seeing it.

[2022-02-25 09:28] v-michaelmi commented on #577
Thanks for this.

Updates made to relevant README files in 2-1-Call-MSGraph and 2-4-Sovereign-Call-MSGraph README files.

See:

[582918f7229dc6b2b1c88bd0cfa6843831665d2f](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/commit/582918f7229dc6b2b1c88bd0cfa6843831665d2f)
[99e43830076e8e910cd74fdcd0920285c8891505](https://github.com/Azure-Samples/active-directory-as

[2022-02-25 09:28] #577 closed

[2022-02-25 09:35] v-michaelmi commented on #534
Removed with commit [a55623115bcfd126847e3a6f5b1adb1a9dee2598](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/commit/a55623115bcfd126847e3a6f5b1adb1a9dee2598)

Closing.

[2022-02-25 09:35] #534 closed

[2022-02-25 10:03] v-michaelmi commented on #576
Resolved. Found them in both 5-2 readmes.

Commits:

[a5f4d0f89312d728d16bfecb6d61ef60fa8b66e0](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/commit/a5f4d0f89312d728d16bfecb6d61ef60fa8b66e0)
[249e710aa10c1ec7ff1533898fd203f9c5bccf24](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/commit/249e710aa10c1ec7ff1533898fd203f9c5b

[2022-02-26 14:06] scale-tone opened #582 "Microsoft.Identity.Web.csproj file is missing"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2022-02-27 04:39] jmprieur commented on #582
Thanks @scale-tone
PR: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/compare/master...jmprieu/fix582?quick_pull=1

[2022-03-08 14:43] aremo-ms commented on #566
@AkshayBh28
I believe one of our folks, Michael, spoke with you Was he able to help?

[2022-03-08 15:20] aremo-ms commented on #540
Hello @Pruzzo
I'm so sorry to start with the issue few months later. I'm on it now
Can you please kindly update if you still need help?

[2022-03-08 15:26] Pruzzo commented on #540
Hi @aremo-ms, it was necessary to me to carry out with the job and so i found a walkaround, setting a control that simpy tries to use the token and if it gives an exception the user is logged out forcing the login again.

[2022-03-08 15:28] aremo-ms commented on #540
@Pruzzo
If you had to find workaround, then something is wrong or you have a special case. I don't remember any issue in our samples. Do you think that the sample is incorrect?

[2022-03-08 15:34] Pruzzo commented on #540
I was not reffering at the sample, my case is that i was just expection the token to auto refresh using the AcquireTokenSilent but it seems to not be working.
Honestly i do not remember precisely all the steps i've followed. In principle i remeber that i was not able to acquire silently the token in order to auto refresh it when expires.

[2022-03-09 22:45] jerry1100 commented on #580
It works when I start the app via `dotnet run` instead of F5. Not sure why though.

[2022-03-18 15:42] cschar commented on #566
I had this issue running `4-1-MyOrg/` , I ran the [command above](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/issues/566#issuecomment-1015550896) in both client and service directories and the Authentication issue went away

[2022-03-18 16:11] aremo-ms commented on #566
Hi @cschar
thank you for your feedback.

[2022-03-22 13:17] aremo-ms commented on #540
Closing this issue after 14 days without response

[2022-03-22 13:17] #540 closed

[2022-03-22 13:34] #566 closed

[2022-03-23 19:06] esdccs1 opened #588 "Group Assignment missing step in 5-WebApp-AuthZ/5-2-Groups ?"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2022-03-23 19:45] es-cs1 opened #589 "Clarification in finding/setting GroupAdmin and GroupMember group in 5-2-Groups?"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2022-03-25 09:09] teemer22 opened #590 "Error in retrieving tenant details in dbContext.AuthorizedTenants for solution 2-3-Multi-Tenant"
The app cannot get data from dbContext.AuthorizedTenants

error InvalidOperationException: Sequence contains more than one matching element for "dbContext.AuthorizedTenants.FirstOrDefault(x => x.TenantId == tenant)"

[2022-03-25 13:14] teemer22 commented on #590
Already found the issue. I just updated the EF and SQL core version to 5 in my case

[2022-03-25 13:14] #590 closed

[2022-03-29 01:05] v-michaelmi commented on #572
Hello @jeanmarclaiml,

Unfortunately I would need to know a bit more about your application before I can give a hard diagnosis on your issue but after looking at the code here I'm noticing there's a call to `UseCookiePolicy` in the `ApplicationBuilder` in `Startup.cs`.

The original line should read `app.UsingCookiePolicy`.

This will be removed with [PR 591](https://github.com/Azure-Samples/activ

[2022-03-30 23:36] v-michaelmi commented on #581
Thank you for bringing this to our attention.

It appears we had some issues upgrading the samples to `net6.0`.

This issue should be resolved with by updating the packages as show in [PR 593](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/593)

[2022-03-31 00:23] v-michaelmi commented on #580
Similar issue was encountered in sample `2-3` and should be resolved with [PR 593](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/593).

It seems the issue here is routing in the `Startup.cs` file.

[PR 594](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/594) should resolve this. Tested this code with `VS 2022` a

[2022-03-31 00:37] v-michaelmi commented on #425
Steps are now included in the **Setup** instructions of the main `README` file.

Closing.

[2022-03-31 00:37] #425 closed

[2022-03-31 12:41] Pruzzo commented on #540
If it could help you i found this walkaround.
`try
                {
                    var taRes = await tokenAcquisition.GetAuthenticationResultForUserAsync(new List<string> { "user.read", "onlinemeetings.readwrite" }, "common", null, User, new TokenAcquisitionOptions() { ForceRefresh = true }).ConfigureAwait(false);
                }
                catch
                {

[2022-04-13 11:00] AdityaGupta1409 opened #596 "System.string is hidden"
![Screenshot 2022-04-13 162908](https://user-images.githubusercontent.com/65030583/163166254-82945c92-1194-422c-9fd8-b775c922e11a.png)
This page comes after I click signup/signin button
Important links
https://aka.ms/IdentityModel/PII
[Configure authentication in a sample web application by using Azure Active Directory B2C | Microsoft Docs](https://docs.microsoft.com/en-us/azure/active-directory-b

[2022-04-13 15:30] jmprieur commented on #596
@AdityaGupta1409 did you enable the PII ?

[2022-04-13 17:32] AdityaGupta1409 commented on #596
@jmprieur I don't know how to enable PII
If you can let me know that would be great.

and my appsettings.json (removed client id for security)
{
  "AzureAdB2C": {
    "Instance": "https://www.beaconcreate.net/",
    "ClientId": "",
    "Domain": "beaconcreate.onmicrosoft.com",
    "SignedOutCallbackPath": "/signout/B2C_1_beaconcreate",
    "SignUpSignInPolicyId": "B2C_1_beaconcreate",
    "ResetPa

[2022-04-13 20:01] v-michaelmi commented on #572
No response.

Closing.

[2022-04-13 21:46] jeanmarclaiml commented on #572
Hello @v-michaelmi

I've very sorry that I have not responded sooner. I appreciate your time and I apologise for not responding.

I have tried your suggestion of the app.UseCookiePolicy(). This has not resulted in any change to the behaviour.

I summary, the issue is that if you don't sign in before the timeout as set in startup.cs:

[code]

then you enter your correct credentials, you get a corre

[2022-04-18 10:21] sgalcheung opened #597 "Friendly prompt for database creation (using admin)"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2022-05-10 00:19] v-michaelmi commented on #572
Reopening this issue.

Currently corresponding with customer.

[2022-05-10 22:47] nikosft commented on #360
@jmprieur I believe you are wrong. Auth code grant requires client authentication and this sample is not configured with a client secret. The sample does implicit grant (which btw is considered insecure)

[2022-05-10 23:30] jmprieur commented on #360
@nikosft : you don't need client credentials if you don't want to redeem the auth code. In the case of the chapters where you call a downstream web API you would need a client secret, but if you just sign-in users, you don't need any (first leg of the auth code flow)

[2022-05-11 06:27] nikosft commented on #360
Dear @jmprieur
I checked the provided sample and it  is doing implicit flow. If you see the request to the authorization server it says:

[code]
This is the the parameter used in [OpenID connect  authorization with implicit flow](https://openid.net/specs/openid-connect-core-1_0.html#ImplicitFlowAuth) which is [not secure](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-security-topics-19#se

[2022-05-14 17:34] iguanaware commented on #596
I'm having the same problem with a new solution

As soon as I add SignUpSignInPolicyId  to the config I get the error.  Run without SignUpSignInPolicyId .

[2022-05-31 17:36] #554 closed

[2022-05-31 17:37] aremo-ms commented on #550
The instructions were updated and are in main branch. Feel free to re-open with any question

[2022-05-31 17:37] #550 closed

[2022-05-31 18:47] kalyankrishna1 commented on #588
You have also defined roles in the same app registration and thats conflicting with your assignment. We recommend you use a new app registartion for this.

[2022-05-31 23:29] kalyankrishna1 commented on #589
@esdccs1 , apologies, but the following text had gone missing from the README. We have it added now

In the sample, a dashboard component allows signed-in users to see the tasks assigned to them or other users based on their memberships to one of the two security groups, **GroupAdmin** and **GroupMember**. Please use the instructions provided at [Create a basic group and add members using Azure AD

[2022-05-31 23:31] #319 closed

[2022-06-01 12:07] #589 closed, assigned to kalyankrishna1, aremo-ms

[2022-06-14 12:19] aremo-ms opened #603 "Sample 3-WebApp-MultiAPIs fails on startup for Microsoft.Identity.Web > 1.23.1"
### This issue is for a:
[code]

### The issue was found for the following scenario:

1. [X] Web app calling several APIs [3-WebApp-multi-APIs](../blob/master/3-WebApp-multi-APIs)

### Repro-ing the issue
1. Update the sample to Microsoft.Identity.Web 1.24.0 or up
2. Run
3. you will see next failure
![image](https://user-images.githubusercontent.com/85962119/173574005-6b777eec-64c6-4c08-9ff5-8b274

[2022-06-14 12:19] aremo-ms commented on #603
@jennyf19 @jmprieur
for you kind review

[2022-06-19 19:08] aremo-ms commented on #603
@jennyf19 @jmprieur @kalyankrishna1
Tested on 1.25.1 - pass

Closing.
@jennyf19 Thanks for rapid fix

[2022-06-19 19:08] #603 closed

[2022-06-24 08:42] jamesW360DotNet opened #607 "App redirects to RedirectURI Without Running Flow"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2022-06-29 08:47] crobbo commented on #540
Adding `[AuthorizeForScopes(Scopes = new[] { ".default" })]` on to the relevant controller methods improves things. The app no longer crashes when the token is missing/out of sync, however it throws an exception which I have to Continue in Debug mode but the app then works as expected. I presume once I handle this exception then things will work as they should.

[2022-06-30 22:04] aremo-ms commented on #540
You can refer to [this](https://docs.microsoft.com/azure/active-directory/develop/msal-net-token-cache-serialization) page for detailed explanations.
The session token cache you've chose to use is for a memory cache, The memory exists only while server is on.
If you need to persist the token, then use SQL server option.
In case you'd like to get a fresh token every time you call Graph, then you sh

[2022-07-01 08:59] crobbo commented on #540
Thanks, I'll take a look at the example. My workaround has been to add the AuthorizeForScopes attribute to my controller and this seems to work (I think it calls AquireTokenSilent in the background aso our tokens were setup to expire after 30mins)

Its weird as in a development environment the AuthorizeForScopes throws an exception and causes the debugger to pause the code. Whereas once the app is

[2022-07-05 14:01] crobbo commented on #540
Does  [AuthorizeForScopes(Scopes = new[] { "{scopes}" })] not process and handle  `MsalUiRequiredException`?

As mentioned, since I added AthourizeForScopes to my controller it works when deployed, the app does not crash due to the exception, I get a new user token and the user is able to access SharePoint via the app as intended. The exception only forces the code to stop in development locally a

[2022-07-05 16:05] jmprieur commented on #540
@crobbo : yes it does. That's what exception filters do.

[2022-07-07 10:13] john-gros opened #609 "Invalid instructions for manual app registration creation"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2022-07-15 02:14] amir4q opened #610 "554039"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2022-07-15 03:10] jmprieur commented on #610
@[amir4q](https://github.com/amir4q) closing as there is no question / repro steps.

[2022-07-15 03:10] #610 closed

[2022-07-17 15:33] sujayvsarma commented on #531
@jennyf19 or @deruss  - What was the resolution here? This issue still exists in current Microsoft.Identity.Web.UI !

[2022-07-27 07:02] bizinbarefeet opened #612 "Instructions fail"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2022-07-31 20:04] Ataljkaa opened #613 "Р"

[2022-07-31 23:37] jmprieur commented on #613
Closing as there are no repro steps

[2022-07-31 23:37] #613 closed

[2022-08-09 09:20] mohamedalijinnah commented on #607
Im also facing the same issue.

Any help is appreciated.

[2022-08-27 20:02] #588 closed

[2022-08-28 02:59] kalyankrishna1 commented on #597
Thanks @sgalcheung , we'd provide some instructions..

[2022-08-28 03:00] kalyankrishna1 commented on #582
@jmprieur, I have fixed this in 4-1 update and your PR should no longer be needed

[2022-08-29 02:59] aremo-ms commented on #609
@john-gros
We recently updated the Manual instructions. Could you please review once again and let me know?
We tested the new instructions few times and they should suffice now.
Waiting for your response

Alex

[2022-08-29 05:00] aremo-ms commented on #597
@sgalcheung
Thank you for your feedback
I've found that the command
[code]
fails when a database not found, but passes once the database exists - it just adds a specified table for cache
I didn't find a documentation saying that the command creates a database.
If you have one - please forward it to me.

[2022-08-29 06:48] sgalcheung commented on #597
I originally meant to add a prompt, create with admin privileges and that's it

[2022-08-29 10:51] aremo-ms commented on #597
@sgalcheung
I'm not understand, to create what with admin privileges? The database?

[2022-08-29 10:53] sgalcheung commented on #597
yes

获取 Outlook<https://aka.ms/qtex0l> for iOS
章思高
________________________________
From: Alex Remo ***@***.***>
Sent: Monday, August 29, 2022 6:51:37 PM
To: Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2 ***@***.***>
Cc: Sgal Cheung ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2] Friendly prompt for database cr

[2022-08-29 11:06] aremo-ms commented on #597
@sgalcheung
take a look into my [PR](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/617)

[2022-08-30 22:50] v-michaelmi commented on #563
@sam-wheat

Thanks for your patience.

The reason that the implicit flow for both ID Token and Access Token is needed in this particular sample is to ensure that user flows will work. It is possible to access the **TO-DO API** in this sample _**without**_ the implicit flow enabled however.

See this issue for reference. Unfortunately we do not have a fix yet.

https://github.com/AzureAD/microsoft-

[2022-08-30 22:50] #563 closed

[2022-08-31 00:11] sam-wheat commented on #563
@v-michaelmi

I have no patience for late sloppy work.  You should be embarrassed to answer a simple question like this eight months after the issue is raised.

[2022-09-01 00:23] v-michaelmi commented on #607
@jamesW360DotNet @mohamedalijinnah

In your `appsettings.json` file do you have the following line uncommented?

[code]

By default your application will use `https://localhost:44316/signin-oidc` as the login path for your application.

When you have this line uncommented but your application is configured to use `https://localhost:44316/signin-oidc` in the portal instead what will happen is your

[2022-09-01 00:29] v-michaelmi commented on #596
@AdityaGupta1409 @iguanaware

A common cause for those errors is trying to access resources that do not exist.

I noticed in the `appsettings.json` file you have the `Instance` value set to `"https://www.beaconcreate.net/"`. Do you still encounter this issue when you replace that value with `"https://www.beaconcreate.b2clogin.com"`?

[2022-09-01 00:31] v-michaelmi commented on #596
Also for reference if you want to see `PII`

Add the following line of code in `Startup.cs` in the `ConfigureServices` method.

[code]

[2022-09-01 16:36] lukedukeus opened #618 "How to authenticate from server side?"
I have a react app with a ASP.NET server. The server just sends the static files to the client, but there are two versions of the client. I want to switch which version the client gets based off of whether the user is authenticated or not.

One way I could implement this is by doing authentication on the client side, then passing the authentication token to the server, which determines which stati

[2022-09-01 17:42] jmprieur commented on #618
@lukedukeus : The reason why you don't see the login/out routes is they are in a library Microsoft.Identity.Web.UI: See
https://github.com/AzureAD/microsoft-identity-web/blob/master/src/Microsoft.Identity.Web.UI/Areas/MicrosoftIdentity/Controllers/AccountController.cs

You can override the UI in your app (server) by following these instructions: https://github.com/AzureAD/microsoft-identity-web/wi

[2022-09-01 21:35] v-michaelmi commented on #580
Issue resolved with [commit 2607](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/commit/2607df1338a9f7c06fe228c87644b8b456ca708b)

Closing.

[2022-09-01 21:35] #580 closed

[2022-09-02 04:55] #609 closed

[2022-09-06 17:43] jennyf19 commented on #612
@bizinbarefeet closing, as there is not enough information provided to know what to fix in the instructions. thx.

[2022-09-06 17:43] #612 closed

[2022-09-07 00:35] jmprieur commented on #596
@v-michaelmi
This is no longer necessary. If you use the latest Microsoft.Identity.Web, just use the "ShowPII"

[code]

[2022-09-07 17:15] v-michaelmi commented on #326
Issue resolved with [commit 391863](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/commit/3918633c09c8f90275901939ad3844ab65a5ebb7)

Closing.

[2022-09-07 17:15] #326 closed

[2022-09-07 17:43] v-michaelmi commented on #607
No response. Closing.

Please feel free to re-open if this issue is not resolved.

[2022-09-16 21:47] jennyf19 commented on #582
Looks like this is fixed? closing.

[2022-09-16 21:47] #582 closed

[2022-09-29 22:34] eamreyes opened #621 "IDX20807: Unable to retrieve document from: {openid-configuration URL}"
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg](../blob/master/1-WebApp-OIDC/1-2-AnyOrg)

[2022-10-04 15:45] derisen commented on #618
@lukedukeus apologies for late response -have you considered using hybrid spa flow, which allows you to authenticate to both backend and frontend at the same time? Check out the sample [here](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/2-WebApp-graph-user/2-5-HybridFlow).

[2022-10-04 17:51] lukedukeus commented on #618
It looks like that would have worked, what I ended up doing was just doing normal server side auth, then forwarding the data to the client.

Thanks for the response!

[2022-10-04 17:51] #618 closed

[2022-10-10 16:09] mriepe-lab opened #622 "Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" could not be located"
The CodeDom provider type "Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" could not be located. (D:\AppModelv2-WebApp-OpenIDConnect-DotNet-master\AppModelv2-WebApp-OpenIDConnect-DotNet-master\AppModelv2-WebApp-OpenIDConnect-DotNet\web.config line 73

IIS We

[2022-10-10 17:32] mriepe-lab commented on #622
This is IIS Windows 2012, using Visual Studio 2019

[2022-10-14 20:04] v-michaelmi commented on #622
It's looking like the issue is you're trying to run a project that's on `net6.0` which isn't supported on VS2019.

Are you able to upgrade to VS2022?

[2022-10-20 22:31] s-t-e-v-e-c commented on #126
Has this been implemented yet for the v2 endpoint?  It seems that the logout_hint parameter is not being honored still at sign-out, and I don't see mention of this in the blog linked above by hpsin.

[2022-10-21 16:42] v-michaelmi commented on #622
Closing this issue.

@mriepe-lab if this didn't resolve your problem, please feel free to re-open.

[2022-10-21 16:42] #622 closed

[2022-10-27 15:30] emaborsa opened #625 "Microsoft.IdentityModel does not support a B2C issuer with 'tfp' in the URI"
I am trying to run the WebApp B2C sample:
https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-5-B2C

When I try to login, I get the following error:

`IDX40002: Microsoft.IdentityModel does not support a B2C issuer with 'tfp' in the URI. See https://aka.ms/ms-id-web/b2c-issuer for details.`

If I edit the `Instance` to `https://myHost.b2

[2022-10-27 16:29] emaborsa commented on #625
Have been able to fix it, but now I get always redirected to https://jwt.ms/ even if I did not defined it in ma Azure App...

[2022-11-08 10:56] emaborsa commented on #625
After a long research I found [this][1] article/sample, where the `Microsoft.Identity.UI` framework is replaced with the `Microsoft.AspNetCore.Authentication.AzureADB2C.UI`.
However, with the `https://myDomain.b2clogin.com` url I still get the same error, using the custom domain it works, that's enough for me.

  [1]: https://github.com/azure-ad-b2c/apps/tree/master/apps/web-dotnet-core-oidc-b2cui

[2022-11-08 10:56] #625 closed

[2022-11-22 07:38] gdoron commented on #572
@v-michaelmi @kalyankrishna1 where is the issue standing? seems like you took it offline a bit.

[2022-11-25 15:58] mschaefer-gresham opened #638 "How to silently renew Id Token using AddMicrosoftIdentityWebAppAuthentication to Call Downstream API"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2022-11-29 22:16] kalyankrishna1 commented on #76
done

[2022-11-29 22:16] #76 closed

[2022-11-29 22:19] kalyankrishna1 commented on #163
target is this sample -> https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/2-WebApp-graph-user/2-2-TokenCache

[2022-11-29 22:29] kalyankrishna1 commented on #113
@kalyankrishna1 to check if we can accommodate in code gen

[2022-11-29 22:30] kalyankrishna1 commented on #171
closing as we already have an ADFS sample

[2022-11-29 22:30] #171 closed

[2022-11-29 22:31] kalyankrishna1 commented on #208
closing

[2022-11-29 22:31] #208 closed

[2022-11-29 22:33] kalyankrishna1 commented on #422
closed as this is fixed

[2022-11-29 22:33] #422 closed

[2022-11-29 22:35] kalyankrishna1 commented on #437
Not planned to be done, available in Javascript samples though

[2022-11-29 22:35] #437 closed

[2022-11-29 22:36] kalyankrishna1 commented on #460
PR attended to , so closing issue

[2022-11-29 22:36] #460 closed

[2022-11-29 22:42] kalyankrishna1 commented on #479
Please let us know if this issue is still relevant after all the updates the samples have gone through. Or, we'd go ahead and close this issue

[2022-11-29 22:43] #530 closed

[2022-11-29 22:45] kalyankrishna1 commented on #548
closed as its an app svc issue

[2022-11-29 22:45] #548 closed

[2022-11-29 22:47] kalyankrishna1 commented on #561
The API mgmt is capable of working with OAuth `providers` like Azure AD , or you can use this sample to get more _raw_ and handle the OAuth token validation bits yourself. Let us know if we can close this issue

[2022-11-29 22:49] kalyankrishna1 commented on #572
This is expected behavior, timeouts in stateless systems would lead to correlation failures
SSO behavior is expected, if the user just signed in with AAD

[2022-11-29 22:49] #572 closed

[2022-11-29 22:50] patrick-robin commented on #437
Any chance of linking to the relevant JavaScript sample?

[2022-11-29 22:54] kalyankrishna1 commented on #638
You do not "Renew" and id-token without a user not being in front of your system.
Your scenario might be addressed by this sample -> [Share the MSAL token cache between a web app and a background console worker app](https://github.com/Azure-Samples/ms-identity-dotnet-advanced-token-cache/blob/master/1-Integrated-Cache/1-1-WebApp-BgWorker/README.md)

[2022-11-29 22:54] #638 closed

[2022-11-30 07:34] mschaefer-gresham commented on #638
@kalyankrishna1 thanks for the response. Can you clarify what you mean by "without a user being in front of your system"?

Could [incremental consent and conditional access](https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access#handling-incremental-consent-or-conditional-access-in-web-apps) be used to solve this problem?