[2020-02-05 17:45] #273 closed

[2020-02-06 11:26] JosephAspey commented on #240
Is there a solution to this yet?

[2020-02-06 11:30] sujayvsarma commented on #240
Yes. Force a login everytime.

[2020-02-07 07:49] karllarssonusawest commented on #187
I have the opposite problem. My code has this line:

`string authority = $"{applicationOptions.Instance}{applicationOptions.TenantId}/";`

But the instance and tenant ID are null, so it fails.

The original versions seems to work:

`string authority = $"{azureAdOptions.Instance}{azureAdOptions.TenantId}/";`

[2020-02-07 18:28] TiagoBrenck commented on #187
@karllarssonusawest  We had some changes in the couple of months, so I believe your code might not have the latest changes. To solve your case, please check if you have this line in `AddMsal()` method (it is inside WebAppServiceCollectionExtensions.cs):
[code]

[2020-02-07 18:43] karllarssonusawest commented on #187
I do, yes, but you helped me solve the problem. Whatever sample I'd been following had specified a custom config section in this line:

`.AddProtectedApiCallsWebApis(Configuration)`

I removed that, and it picked up the default AzureAD one, and all was well.

Thanks for your prompt and helpful response.

[2020-02-08 03:31] sowsan opened #283 "Cant find the AddDistributedSqlServerCache implementation"
Following the instructions here to setup token cache provider for SQL. But I am not seeing an implementaiton of SQL Token Cache Provider mentioned in the Microsoft.Identity.Web

https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/Microsoft.Identity.Web/TokenCacheProviders/Distributed

Instructions here says, https://github.com/Azure-Samples/active-direc

[2020-02-08 18:13] #283 closed

[2020-02-08 18:13] jmprieur commented on #283
Thanks for the feedback, @sowsan
You need to reference the `Microsoft.Extensions.Caching.SqlServer` NuGet package. I've just updated the README.md

[2020-02-09 23:26] jmprieur commented on #274
We are working on iut, @GedillurBjorn
There is a PR here: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/282

[2020-02-09 23:37] jmprieur commented on #242
Closing as a dupe of #69

[2020-02-09 23:37] #242 closed

[2020-02-09 23:45] #130 closed

[2020-02-09 23:47] jmprieur commented on #268
@kalyankrishna1 : this should not be necessary at all given that application of different ClientId won't share the cache unless they are part of the same family of client IDs

Proposing to close this issue
cc: @TiagoBrenck @jennyf19

[2020-02-09 23:47] #268 closed

[2020-02-09 23:59] jmprieur commented on #211
Closing as a duplicate of #69

[2020-02-09 23:59] #211 closed

[2020-02-10 00:02] jmprieur commented on #169
Closing this issue as it was fixed

[2020-02-10 00:02] #169 closed

[2020-02-10 00:26] jmprieur commented on #270
@multco-malan we are working on unbacking AzureAD/Account controller.
PR is https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/272

[2020-02-10 00:33] jmprieur commented on #241
This is an external issue tracked in MSAL.NET: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/715

[2020-02-10 04:34] udlose commented on #69
Any update on this issue?

[2020-02-10 14:39] sowsan opened #285 "[Blazor server app] HttpContext is null"
Using the Blazor Server app and the graph API calls are working fine on the first page. When I visit the second page the corresponding graph API calls are getting the exception and it is coming from the below call stack. For some reason, HttpContext is getting null. Any hints on what is going wrong?

{"Object reference not set to an instance of an object."}

at Microsoft.Identity.Web.TokenAcquisit

[2020-02-10 16:31] jmprieur commented on #285
Can you please share some repro steps, @sowsan ?

[2020-02-10 16:33] jmprieur commented on #260
Closing as this is external (AzureAD.UI and AzureADB2C.UI depend on a non public NuGet package).
The new implementation (https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/jennyf/b2cwebapi) does not use them, but uses directly the OIDC middleware.

[2020-02-10 16:33] #260 closed

[2020-02-10 16:34] #80 closed

[2020-02-10 16:48] jmprieur opened #287 "[Microsoft.Identity.Web] There should be an option to have TokenAcquisitionbe a singleton"
### This issue is for a: (mark with an `x`)
[code]

### Why?

Today, TokenAcquisition is a scoped by request. See https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/ab84785cf757c2d3244090a90d563528ee4be616/Microsoft.Identity.Web/ServiceCollectionExtensions.cs#L38

There are scenarios, like using the Graph SDK, which require it to be a sigleton. This is a requ

[2020-02-10 16:49] sowsan commented on #285
Using the sample available here : https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/2-WebApp-graph-user/2-1-Call-MSGraph with an ASP.NET core Blazor Server side app.

1. On the landing page (index.razor) , Getting the users information using Graph API. It also show the directReport of the user.
2. Upon click on one of the direct Reports listed it will

[2020-02-10 16:57] jmprieur opened #288 "[Microsoft.Identity.Web] All Add... methods should propose an override with Action<MicrosoftIdentityOptions>"
Why?
Today all Microsoft.Identity.Web public API named Add.XXX propose an override with a config file section name. Some to propose an override with an Action<>

What?
Ensure that both overrides exists, to let use plug-in their configuration the way they want

Context:
recommended by Chris Ross/ASP.NET Core

[2020-02-10 17:54] jmprieur opened #289 "[Microsoft.Identity.Web] Microsoft.Identity.Web should use the ILogger rather than Console.Writeline"
***Why?***

Microsoft.Identity.Web's code uses Console.Writeline, whereas ASP.NET Core provides a ILogger interface which can be injected (by DI), and offers great logging, including for apps that would be deployed in App services

***What?***
- Inject ILogger in the constructor of the classes using Console.WriteLine
- Use ILogger instead of Console.Writeline

[2020-02-10 18:04] jmprieur opened #290 "[Microsoft.Identity.Web] Identity.Web.UI should use Razor pages, not MVC"
***Why?***

Microsoft.Identity.Web.UI (in removeUI branch) currently uses MVC. The advise of the ASP.NET Core team is to change it to use Blazor pages because Razor pages have an extensibility model can be overridden by copy / paste in the user project, therefore replacing the pages which are provided by the library

***What?***
The advise of the ASP.NET Core team is to change MVC pages to Razor p

[2020-02-10 18:11] jmprieur opened #291 "[Microsoft.Identity.Web] SameSite browser sniffing code should be extensible"
Why?
The number of browsers hit by SameSite keeps growing

What?
- Provide a way to let app developers add their favorite browser. Add some extensibility here.
- Possibly have a community project to propose the last known good browsers?

recommendation from the ASP.NET Core team.

[2020-02-10 18:16] jmprieur opened #292 "[Microsoft.Identity.Web] Investigate if AuthorizeForScopes could be used Policy instead of an exception filter"
**Why?**
Policies work independently of ASP.NET, or even Http. They work with SignalR..
The recommendation of the ASP.NET Core team is to not embed rules in a filters
Policies can be parametrized.

**What?**
AuthorizeForScopes might be be a Policy
(or not, this might not work, in which case Barry wants to know)

**Resources**
=> GitHub.com/blowdart=>old workshop.

[2020-02-10 19:24] TiagoBrenck commented on #287
Did you try it with multiple users? I am trying to find where I read in the docs that ideally you want to have `ITokenAcquisition` scoped per http session, but I haven't found it yet. However I can see that our `TokenAcquisition` receives `IHttpContextAccessor` in the DI. I wonder if the singleton architecture would make all the subsequent calls use the same context and cause a big mess.

[2020-02-10 19:29] TiagoBrenck commented on #285
I was helping another developer to use Microsoft.Identity.Web in a Blazor app, and apparently it wont be possible due to Blazor's architecture. Please check https://github.com/dotnet/aspnetcore/issues/18761

[2020-02-10 19:36] TiagoBrenck commented on #291
@jmprieur it has extension options. *CookiePolicyOptionsExtensions.cs*:
[code]

There is an overload that accepts a func, which would be the way developers can have custom browser sniffing code.

[2020-02-10 19:40] TiagoBrenck commented on #292
I actually did some research and tests on this during the refactor, and it seems to be possible.

[2020-02-10 20:38] TiagoBrenck commented on #287
Found it: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/High-availability#one-confidential-client-per-session

[2020-02-10 22:29] jmprieur commented on #287
@bgavrilMS : is it our authoritative recommendation?

[2020-02-11 19:07] sowsan commented on #285
Thanks @TiagoBrenck . Seems that the issue is more on not tracking the exception. In my case, the httpContext is coming as null. Is there any correlation?

[2020-02-11 19:18] TiagoBrenck commented on #285
Have you tried one of these answers? https://stackoverflow.com/questions/53817373/how-do-i-access-httpcontext-in-server-side-blazor

[2020-02-11 19:29] sowsan commented on #285
I am getting the HttpContext on the first page and once I redirect the user to the second page is I am noticing its not available in GetAccessTokenOnBehalfOfUserAsync method. Do I need to customize the Microsoft.Identity.Web project to access the HttpContext passed by the web app using the method mentioned in the stackoverflow?.

[2020-02-11 20:03] TiagoBrenck commented on #285
Honestly I don't have a working solution at the moment. Since Blazor has a different architecture than the MVC projects, it is understandable that the current Microsoft.Identity.Web project has issues with it.

We might create a Blazor sample in the future, but for now, it definitely needs customization in Microsoft.Identity.Web.

[2020-02-11 20:39] sowsan commented on #285
Thank you, @TiagoBrenck

[2020-02-12 09:20] dxm38 commented on #264
@jmprieur Title question is exactly what i am looking for..
Following the tutorials on signin user to org, call graph and distributed token cache I now have most of what I am looking for
`services.AddMicrosoftIdentityPlatformAuthentication(Configuration)
                .AddMsal(Configuration, new string[] { Constants.ScopeUserRead })
                .AddDistributedTokenCaches();`
Now on my action

[2020-02-14 10:02] JosephAspey commented on #115
@pmeems the try-catch above just feels like we are masking the issue. The issue should be fixed in the library. I've encountered far more issues that i'd have like when using MSAL.

[2020-02-14 15:48] szalapski commented on #69
I would like this as a package as well.

[2020-02-17 07:28] pmeems commented on #115
@JosephAspey Thanks for the reply. I also had so many problems when using MSAL I moved to Google Authenticate and got it working in a few hours. Here's my repo: https://bitbucket.org/pmeems/matblazorgooglegsuite/src/develop/

[2020-02-17 16:47] mylesjj commented on #69
Me too

[2020-02-18 01:59] #231 closed

[2020-02-18 02:54] jennyf19 commented on #287
Now tracked in Microsoft-Identity-Web repo: https://github.com/AzureAD/microsoft-identity-web/issues/1

[2020-02-18 02:54] #287 closed

[2020-02-18 02:56] jennyf19 commented on #288
Now tracked in microsoft identity web repo: https://github.com/AzureAD/microsoft-identity-web/issues/2

[2020-02-18 02:56] #288 closed

[2020-02-18 02:57] jennyf19 commented on #289
now tracked in microsoft identity web repo: https://github.com/AzureAD/microsoft-identity-web/issues/3

[2020-02-18 02:57] #289 closed

[2020-02-18 02:58] jennyf19 commented on #290
now tracked in microsoft identity web repo: https://github.com/AzureAD/microsoft-identity-web/issues/4

[2020-02-18 02:58] #290 closed

[2020-02-18 03:00] jennyf19 commented on #291
now tracked in microsoft identity web repo

[2020-02-18 03:00] #291 closed

[2020-02-18 03:02] jennyf19 commented on #267
moved to microsoft identity web repo: https://github.com/AzureAD/microsoft-identity-web/issues/6

[2020-02-18 03:02] #267 closed

[2020-02-18 03:04] jennyf19 commented on #254
issue moved to microsoft identity web repo: https://github.com/AzureAD/microsoft-identity-web/issues/7

[2020-02-18 03:04] #254 closed

[2020-02-18 03:05] jennyf19 commented on #279
issue moved to microsoft identity web repo: https://github.com/AzureAD/microsoft-identity-web/issues/8

[2020-02-18 03:05] #279 closed

[2020-02-18 03:07] jennyf19 commented on #248
moved to microsoft identity web repo: https://github.com/AzureAD/microsoft-identity-web/issues/9

[2020-02-18 03:07] #248 closed

[2020-02-18 03:09] jennyf19 commented on #233
now tracked in microsoft identity web repo: https://github.com/AzureAD/microsoft-identity-web/issues/10

[2020-02-18 03:09] #233 closed

[2020-02-18 03:10] jennyf19 commented on #216
tracked in microsoft identity web repo: https://github.com/AzureAD/microsoft-identity-web/issues/11

[2020-02-18 03:10] #216 closed

[2020-02-18 03:16] jennyf19 commented on #240
tracked in microsoft identity web repo: https://github.com/AzureAD/microsoft-identity-web/issues/13

[2020-02-18 03:16] #240 closed

[2020-02-18 03:18] jennyf19 commented on #241
issue tracked in microsoft identity web repo: https://github.com/AzureAD/microsoft-identity-web/issues/14

[2020-02-18 03:18] #241 closed

[2020-02-18 03:19] jennyf19 commented on #249
issue tracked in microsoft identity web repo: https://github.com/AzureAD/microsoft-identity-web/issues/15

[2020-02-18 03:19] #249 closed

[2020-02-18 03:20] jennyf19 commented on #213
issue tracked in microsoft identity web repo: https://github.com/AzureAD/microsoft-identity-web/issues/16

[2020-02-18 03:20] #213 closed

[2020-02-18 03:21] jennyf19 commented on #292
issue tracked in microsoft identity web repo: https://github.com/AzureAD/microsoft-identity-web/issues/17

[2020-02-18 03:21] #292 closed

[2020-02-18 03:30] jmprieur commented on #69
We have created a new repo to host Microsoft.Identity.Web (https://github.com/AzureAD/microsoft-identity-web), and to release it as a NuGet package.

[2020-02-18 19:14] udlose commented on #69
@jmprieur any SWAG on when it will be released as a nuget?

[2020-02-19 18:20] jennyf19 commented on #69
@udlose you can track the progress [here](https://github.com/AzureAD/microsoft-identity-web/projects/2)

[2020-02-19 19:12] jordanbean1 opened #303 "License terms for this example?"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-02-19 19:17] #303 closed

[2020-02-19 23:11] jennyf19 commented on #274
@GedillurBjorn The sample you are looking for is now available [here](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-2-B2C). Closing this issue, but please reopen, or create another if you have any further issues.

[2020-02-19 23:11] #274 closed

[2020-02-19 23:19] keithdv opened #305 "AzureADOptions.ClientID must be a Guid"
This isn't an issue or feature I think I am just struggling with how to use Microsoft.Identity.Web to both protect a WebAPI and get a bearer token to make a webapi call.

I set a non-guid client id like "api://myapi" as the AzureADOptions.ClientID in appsettings.json because that is the audience of the token coming in because the requested scope is "api://myapi/AScope". Works great to protect the

[2020-02-19 23:33] jmprieur commented on #266
Might be fixed by https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/commit/53a4b0ad82f2ec1034ed8b334a78f87751587275
@newpiguy how to enable dark mode?

[2020-02-19 23:41] jmprieur commented on #305
Hello @keithdv
Did you checkout this sample: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API

It's a Web app calling a Web API.
(and a B2C Web app calling a B2C Web API)

Note that we changed Microsoft.Identity.Web recently and merged new code today.

[2020-02-19 23:42] #266 closed

[2020-02-19 23:57] keithdv commented on #305
First, hats off for some wonderfully documented samples!
I still don't see a solution. The demo is a protected WebClient calling a protected WebApi. I'm adding another layer implementing a protected WebClient calling a protected WebApi calling a protected WebApi. I'm getting stuck calling the second WebApi. Am I missing a sample that shows this?

I do think that if I do not set "Application ID URI

[2020-02-20 00:12] jmprieur commented on #305
@keithdv : thanks for explaining. I think you'd want to have a look at the service of this sample: https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/2.%20Web%20API%20now%20calls%20Microsoft%20Graph

[2020-02-25 18:20] isaacOjeda commented on #69
I don't like this, i spend some time trying to figure out what is happening in all the demos at the docs (like this code sample https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-app-call-api-call-api?tabs=aspnetcore) and then i found the github repo and i have this surprice that i can't get the NuGet package 😣

[2020-02-25 23:55] hejingkan2005 opened #309 "Why "need admin approval" is required for sample"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-02-25 23:57] hejingkan2005 commented on #309
Here is what I get when starting TodoListClient:
![image](https://user-images.githubusercontent.com/14071136/75298469-8c7e7a00-586d-11ea-86db-ca5eff81713b.png)

From my understanding, we should not user content instead of admin

[2020-02-26 00:01] TiagoBrenck commented on #309
@hejingkan2005, what you are facing is a Microsoft tenant restriction. We recommend MSFT employees to create their own test tenant, and use it instead.

[2020-02-26 00:31] hejingkan2005 commented on #309
@TiagoBrenck, thank you for your quick reply. I'm working on DevRel team, and currently my team is working on a new web API service for Microsoft account only access. So I'm expecting to use this sample to secure web API as an example. If Microsoft tenant is restricted to consent on user, do you get any other recommendation for it? Should I ask for MSFT domain admin to grant admin permission? It i

[2020-02-26 19:44] mpp commented on #69
Hi! I'm using the separated microsoft-identity-web repository with success with an API application. I need it also for an APP, but when I try to login/logout it doesn't find the Account controller. Do I need to import the microsoft-identity-web-ui project as well? Does it have its own repository or it comes only with this samples collection?

[2020-02-26 20:03] jmprieur commented on #69
Yes, @mpp, you need to use microsoft-identity-web-ui. It's in the same repo as microsoft.identity.web

[2020-02-26 20:04] mpp commented on #69
Thanks @jmprieur. I'm dumb, I didn't see it.

[2020-03-01 08:25] chineseneolight opened #310 "service.AddSignIn(configuration) no overload for method AddSignIn take 1 arguments"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-03-01 08:29] chineseneolight commented on #310
And services.AddSignIn(configuration, null, false)  requires a receiver type of authenticationBuilder, I do not know how it works for this:
services.AddSignIn(configuration);
                services.AddWebAppCallsProtectedWebApi(graphScopes)
                .AddInMemoryTokenCaches();

[2020-03-02 00:39] jmprieur commented on #310
@chineseneolight : this is because the method is an extension method ?

[2020-03-02 19:55] TiagoBrenck commented on #310
@chineseneolight for the `authenticationBuilder` question, the approach is, i.e:

[code]

[2020-03-03 14:53] OsirisTerje commented on #310
It would be nice if the [instructions](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-3-AnyOrgOrPersonal#option-2-create-the-sample-from-the-command-line) was updated to reflect this change.

[2020-03-03 22:15] dpomBF commented on #310
Agreed. It took me a while to figure that out.

[2020-03-03 22:15] jmprieur commented on #310
Thanks @OsirisTerje
Fixed.

[2020-03-03 22:15] #310 closed

[2020-03-03 22:19] dpomBF commented on #310
@jmprieur and here
https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-1-MyOrg#option-2-create-the-sample-from-the-command-line

[2020-03-03 23:26] multco-malan opened #312 "Updated to latest Microsoft.Identity.Web and now OnAuthorizationCodeReceived() isn't firing."
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [X] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-03-04 00:27] kramffud opened #313 "Incorrect redirect URL?"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-03-04 15:55] multco-malan commented on #312
Fixed in ConfigureServices()

`            services.AddAuthentication(OpenIdConnectDefaults.AuthenticationScheme)
                .AddSignIn("AzureAd",
                    Configuration,
                    options => {
                        Configuration.Bind("AzureAd", options);
                        var existingOnAuthorizationCodeReceivedHandler = options.Events.OnAuthorizationCodeReceived;

[2020-03-04 15:55] #312 closed

[2020-03-04 17:04] mpp commented on #115
Hi, my solution is to handle that exception in the ErrorController:

[code]

You tell the app to use it in Startup.cs

[code]

[2020-03-04 17:31] jak-hammond opened #314 "AuthorizeForScopesAttribute.cs ArgumentNull Exception when token cache is reset"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [x] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-03-04 18:25] TiagoBrenck commented on #314
@jak-hammond Could you also share how you are using the `AuthorizeForScopes` decorator?
And what do you mean by globally register the attribute? This is not required in our samples.

[2020-03-04 18:30] jak-hammond commented on #314
@TiagoBrenck Sure thing, I'll throw the snippet of my startup code below.

[code]

[2020-03-04 18:42] TiagoBrenck commented on #314
So, in the samples, you will notice that we use it on top of the action result that will consume `AcquireTokenSilent` method, passing scopes (or appsettings key section that's value is the scope):

[code]

If you want to have it globally registered, you must pass a scope as well.

[2020-03-04 18:44] jak-hammond commented on #314
Okay, that makes a bit more sense for the null value I was seeing then. In relation to #240 and this filter being a form indirect workaround for it then, would you suggest just registering a global with a scope of least privilege like `User.Read`. I know it's a little off topic, but if I can solve both these issues with this one filter it would be the last hurdle in implementing all this :)

[2020-03-04 19:17] TiagoBrenck opened #316 "Review READMEs to reflect Microsoft.Identity.Web refactoring"
With the refactoring on Microsoft.Identity.Web, we are not using **AzureAd.UI** methods anymore, and the samples got changed. However the READMEs are still referencing the old code or **AzureAd,UI**.

Some points to check:

 - Check if the code snippet is using
[code]
- Talk about `.AddMicrosoftIdentityUI()` or if they keep using **AzureAd.UI** mention the need to configure `AzureAdOptions`
- Some

[2020-03-04 19:30] TiagoBrenck commented on #314
Well, it depends on your scenario. If your application is only using one scope (lets say `User.Read`), then you are safe to use it on your global filter registration. If not, then you will face a bug that every time `MsalUIException` is thrown for a scope other than `User.Read`, your app will get stuck in an infinite loop.

About issue #240, we are still discussing it internally. The suggested app

[2020-03-04 19:32] jak-hammond commented on #314
Ah yes, I've seen that infinite loop a few times, okay, this at least gives me something to work with, I'll probably stick to method filters for now then and remove the global registration since the app itself isn't too big at the moment.

Thanks for the clarification on this :)

[2020-03-04 19:32] #314 closed

[2020-03-05 07:52] dxm38 commented on #264
I see this is assigned and just wanted to check if the plan is to include/produce a tutorial that will including handling expired access tokens when making xhr requests from the web app and to get refresh tokens when using authorize policies? (or indeed whatever the correct approach should be)

[2020-03-05 15:27] jmprieur commented on #264
For the moment, the plan is to understand the problem, and come-up with the best solution, (possibly with an incremental step).
Out of  curiosity would you also be interested in Blazor?

[2020-03-05 16:00] dxm38 commented on #264
What I would like to do is
1.
A Regular ASP.Net Core Web App in AAD. In a returned View, have sections that have Js/Jquery calls to an Action to bring back some Json to update sections of the page. These Actions will have [Authorize] or [Authorize Policy()] so if the access token has expired I would see how we could use the refresh token (possibly in the db token cache) to restore the access and t

[2020-03-05 17:20] aelhadi commented on #281
Any news about this issue?
Thanks

[2020-03-05 18:24] TiagoBrenck commented on #281
Hi,
Have you tested applying the `AuthorizeForScopes` on top of GetUserMemberOf?

[code]

[2020-03-06 12:38] jadjare commented on #264
@dxm38 's first requirement matches what I'm looking to achieve also.

I'm only interested if it's the only way that the problem can be solved.  We currently use VueJs and don't intend to move to Blazor in the immediate term.

Thanks for your continued assistance.

[2020-03-06 18:17] jamiemccrindle opened #318 "Please add an example of how to test"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [x] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [x] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-03-06 18:19] jmprieur commented on #264
Changing this issue to an enhancement to add a new phase to the tutorial
cc: @kalyankrishna1 @TiagoBrenck

[2020-03-09 07:21] spotnick opened #319 "Implementation for React"
Hi guys,

I really love using this solution with my ASP .Net Core projects. I´m planning to do a redesign of my application with C# as backend and React as frontend. Is there anything similar or a planned implementation for React?

Thanks a lot!

[2020-03-09 18:05] fboucsc commented on #281
hey,
I've tried that, since "GetUserMemberOf" isn't a controller action the filter doesn't seem to handle the exception. I usually use this method inside a controller action so its no problem for that use case. However I also used it to build a custom authorization rule (authorization filter)

![image](https://user-images.githubusercontent.com/60673449/76243570-e8061b80-620e-11ea-862f-c0c879659ed4

[2020-03-09 18:37] TiagoBrenck commented on #281
I understand your point. Indeed `AuthorizeForScopes` seems to be tied to controller actions and we have to improve it. I will open an internal discussion with the engineering team and I will post any updates here.

[2020-03-09 19:21] derisen commented on #319
Hi @spotnick,

Yes, there'll be a .Net core backend single-page-app sample (possibly angular or react) very soon. You can keep an eye on [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/sample-v2-code) or search for `azure-samples/active-directory-javascript` in future.

[2020-03-10 00:00] TiagoBrenck commented on #313
Thanks @kramffud. I have opened a PR to fix the steps.

[2020-03-10 00:02] TiagoBrenck commented on #309
Question answered in an internal thread

[2020-03-10 00:02] #309 closed

[2020-03-10 00:05] TiagoBrenck commented on #247
The sample B2C calling a web api got merged. You can find it here: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-2-B2C

[2020-03-10 00:11] TiagoBrenck commented on #318
Hi @jamiemccrindle, we are planning in creating a chapter to talk about unit test in this tutorial. In the mean time, you have [these tests from MSAL library](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/tree/master/tests) as a reference.

[2020-03-10 04:41] kramffud commented on #313
Thank you Tiago.  I promise I won’t pester you.  But if you might permit me a moment of your time, I think I speak for others similarly confused about this Reply/Redirect URI.

I admit some degree of B2C ignorance.  But I will say that I tried it years ago and abandoned it.  Now I’ve got it working, but only after reading so many site pages, I need glasses.

My current project is an insurance agen

[2020-03-10 04:48] kramffud commented on #313
And I should probably mention, the experience I described is all with URIs that have a “localhost:<ssl port>” prefix.  Haven’t worked up the courage to deploy to the Web App yet.

Mark

From: Mark Duff
Sent: Monday, March 9, 2020 11:41 PM
To: Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2 <reply@reply.github.com>; Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2

[2020-03-10 09:42] spotnick commented on #319
Thanks a lot!

[2020-03-10 17:05] mjnorman opened #322 "Sample 2-1-MSGraph gives NullReferenceException: Object reference not set to an instance of an object."
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-03-10 18:18] TiagoBrenck commented on #313
@kramffud I am sorry to hear that. We understand that authentication is a complex topic so don't blame your reading skills haha.

The multiple reply urls on Azure Portal App Registration, is useful for customers that develop SaaS for instance. In your case, would this code snippet be the solution that you are looking for?

[code]

[2020-03-10 18:26] kramffud commented on #313
THE CLOUDS PARTED, THE SUN SHINED AND THE ANGLES SANG…

OMG YES!  Where has THAT been my whole B2C lifetime?

I ransacked the literal gigabytes of tutorials I’ve slaved through – not a whisper of that directive!

THANK YOU SO MUCH!!!

Mark

From: Tiago Brenck <notifications@github.com>
Sent: Tuesday, March 10, 2020 1:19 PM
To: Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2 <acti

[2020-03-10 18:29] TiagoBrenck commented on #322
@mjnorman did you also change the `ClientSecret` on appsettings.json?

[2020-03-10 18:35] kramffud commented on #313
…and you MUST understand the source of confusion.  The portal’s App Registration Authentication blade sure seems like it’s asking for the destination after authentication – not the destination for authentication…

[cid:image001.png@01D5F6E0.B5918DE0]

From: Mark Duff
Sent: Tuesday, March 10, 2020 1:27 PM
To: Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2 <reply@reply.github.com>

[2020-03-10 18:47] TiagoBrenck commented on #313
That refers to the OpenIdConnect protocol redirect uri. In case you would like to learn more about it, https://openid.net/specs/openid-connect-core-1_0.html

I am glad I could help. Have a good one.

[2020-03-10 18:47] #313 closed

[2020-03-10 18:53] mjnorman commented on #322
@TiagoBrenck No, my client currently is set for implicit.  The way our org is set up, we are either configured for implicit or client_credentials.  So, if I switch to a client that has a ClientSecret, I get the expected `id_token` error because the client is not set for implicit.  Can this sample be adapted for this scenario?

[2020-03-10 23:04] mjnorman commented on #285
@sowsan I'm interested in your example if you have a simple repro.  I have been trying to accomplish somewhat the same in that I would like to use implicit flow to log the user in and be able to utilize Graph to fetch info.  I'm using the latest Microsoft.Idendity.Web from that same sample repo, and I am not even able to get it working from the first page (also getting a null reference, but I can'

[2020-03-11 19:43] TiagoBrenck commented on #322
@jmprieur is this a scenario that we would like to cover?

[2020-03-11 19:55] mjnorman commented on #322
i was able to confirm that once our admins added a client secret, and this was set in appsettings.json that the sample worked correctly.

Perhaps a more meaningful error/warning message would be in order here?

[2020-03-11 20:21] TiagoBrenck commented on #322
Thanks for confirming.

[2020-03-11 20:21] #322 closed

[2020-03-14 05:26] rcholic opened #323 "Redirect loop after successful B2C login"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

I registered an application under my B2C tenant and set the redirect url as `https://localhost:44316/signin-oidc`; I also registered an application under my Azure AD directory, which serves as the openID connect auth provider for my B2C tenant application. I was able to sign up and sign in on t

[2020-03-15 01:59] rcholic opened #324 "User is not authenticated in AuthorizationHandlerContext of HandleRequirementAsync method in ScopeRequirement"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-03-15 02:00] #323 closed

[2020-03-16 11:50] dxm38 commented on #264
Changing this issue to an enhancement to add a new phase to the tutorial
cc: @kalyankrishna1 @TiagoBrenck

@jmprieur  This is great news and thanks for taking the feeback and requests on-board.  Looking forward to seeing more on this. Hope you can include all 3 scenarios over time. Cheers

[2020-03-16 15:54] Akos-T opened #325 "Getting access token fails with "code already redeemed" exception, though code hasn't been used yet"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-03-16 16:28] TiagoBrenck commented on #325
Hi @Akos-T, are you running the sample as is (just updating the config file)? Or do you have extra customization?

Another question is, how did you register the application on Azure Portal? Manually or via Powershell?

Thanks

[2020-03-16 16:47] Akos-T commented on #325
Hi @TiagoBrenck,

Please ignore, we can close this issue. After posting (of course when else) I discovered that the Scope in the settings was incorrect. Nonetheless, the error message was terrible at telling me what is the problem, but that's not the samples repo's fault.

For future reference, if anyone sees the "code already redeemed" error, that not necessarily means that the code was actually

[2020-03-16 16:47] #325 closed

[2020-03-16 17:16] TiagoBrenck commented on #325
@Akos-T  This is indeed very weird. Would you mind telling what scope were you using?
I will try to reproduce it here and send the results to the team responsible for the error messages. They might have a bug.

[2020-03-16 17:32] TiagoBrenck commented on #324
Hi @rcholic could you help me understand a little bit more of the repro steps?

Did you create both client app and web api app in your B2C tenant?
Did you update the `appsettings` with your own values?

[2020-03-16 17:53] rcholic commented on #324
@TiagoBrenck
it turns out that the access token validation also validates against the `audience`. After I put the audience id in the validation requirements, the app started working for me. thanks

[2020-03-16 17:53] #324 closed

[2020-03-17 14:58] dancundy commented on #196
This thread saved me from a lot of headache. I also agree this needs to be wrapped up into a Nuget package. Thanks to the @jmprieur for his help though.

[2020-03-19 01:07] anniex325 opened #326 "Sentence duplicate in the README.MD"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-03-19 15:17] jokerlovescaptainmarvel opened #327 "“Authorization failed. AuthenticationScheme: AzureADJwtBearer was challenged” in ASP.NET Core Web API - 401 Unauthorized"
I'm trying to authenticate my web api using Azure AD.

I'm following this [tutorial](http://mobilefirstcloudfirst.net/2019/08/adding-azure-active-directory-authentication-connect-angular-app-asp-net-core-web-api-using-msal/) and I successfully authenticated using my Angular App.

The problem is, when I put the `Authorize` attribute in my controller, it gives me `401 Unauthorized` error in my angul

[2020-03-19 16:30] dancundy commented on #327
I could be wrong, but this looks more like something for Stack Overflow and not an actual issue with the software itself.

[2020-03-20 00:05] jokerlovescaptainmarvel commented on #327
Just asking for help. Because the samples here are difficult to implement especially if the developer is just getting started :/

[2020-03-20 01:56] mohan810 commented on #69
Is there any update.. its been almost 1 year since the issue is raised. It will be great if this can be a nuget package.

[2020-03-20 02:01] jmprieur commented on #69
We are working on it. See https://github.com/AzureAD/microsof-identity-web

[2020-03-21 14:35] Akos-T commented on #325
Sure. I was trying to use an Azure FHIR API.
Depending on the Active Directory App and the Azure FHIR API setup:
<ins>The correct scope:</ins> https://azurehealthcareapis.com/user_impersonation
<ins>The one I tried incorrectly:</ins> https://the-name-of-your-fhir-api.azurehealthcareapis.com/user_impersonation

p.s.: Sorry for the delay

[2020-03-23 13:35] rosdi commented on #69
This is awesome, will clone this project since nuget package isn't ready yet. Thanks!

[2020-03-23 16:00] jmprieur commented on #69
you can generate a NuGet package for yourself, BTW (msbuild /t:pack)
But mind you that's an alpha version, we'll probably still change things in the public API

[2020-03-25 00:24] isaacrlevin commented on #281
@TiagoBrenck here is a Blazor Sample that doesn't work after you stop the debugging session. All debugging sessions after the initial have the OP error
https://github.com/isaacrlevin/BlazorGraphTest

[2020-03-27 07:28] odin88 commented on #327
@jokerlovescaptainmarvel  have u solved it ? I stuck for weeks .. until I manage to resolve it using services.AddAuthentication(
                    options => { options.DefaultScheme = JwtBearerDefaults.AuthenticationScheme; })

[2020-03-27 21:51] djmx38 commented on #264
@jadjare The more I look into this issue the worse it gets and the further back it seems to go. I am not sure if your problem like mine matches the issue below (except Vue in your case and JS/JQuery in mine) If you were to find a workable example before a tutorial is ready I would love to hear from you. Thanks
[old access refresh token issue](https://ios.develop-bugs.com/article/15893519/MVC+AD+Az

[2020-03-29 23:37] jadjare commented on #264
@djmx38 I've been temporarily moved onto some other work, so not looked into this much further.  Interesting that you found that old article pointing out the exact same problem years ago!
When I originally posted this question I suspected that the refresh of the access token during an Ajax call would simply not be possible, and was simply seeking to confirm that. I didn't expect it to become this

[2020-04-01 10:40] dxm38 commented on #264
Yes, that sounds promising actually. I have found some other stuff as well, so when I get time to try it out and have success, I will get back to you.
Cheers

From: jadjare <notifications@github.com>
Sent: 30 March 2020 00:38
To: Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2 <active-directory-aspnetcore-webapp-openidconnect-v2@noreply.github.com>
Cc: dxm38 <djm38@msn.com>; Ment

[2020-04-02 15:39] cedrox opened #328 "Graph api from Web api : "No account or login hint was passed to the AcquireTokenSilent call.""
- [ x] bug report -> please search issues before submitting
- [ ] feature request
- [ ] documentation issue or request
- [ ] regression (a behavior that used to work and stopped in a new release)

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organi

[2020-04-02 15:44] cedrox commented on #328
If we can have the same sample as https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/2.%20Web%20API%20now%20calls%20Microsoft%20Graph but for webapp and openidconnect, it will be great !

[2020-04-02 16:21] TiagoBrenck commented on #328
Did you also include `AddProtectedApiCallsWebApis` on the WebAPI startup class?

[2020-04-03 08:33] cedrox commented on #328
Hello @TiagoBrenck
I try to replace line as shown bellow with no success :
![image](https://user-images.githubusercontent.com/10764310/78340513-867b6780-7596-11ea-9583-d01d932b0c28.png)

Same error

[2020-04-03 09:18] cedrox commented on #328
Also I update the Microsoft.Identity.Web with
  <PackageReference Include="Microsoft.IdentityModel.JsonWebTokens" Version="6.5.0" />
    <PackageReference Include="Microsoft.IdentityModel.Tokens" Version="6.5.0" />
    <PackageReference Include="System.IdentityModel.Tokens.Jwt" Version="6.5.0" />

[2020-04-03 12:02] cedrox commented on #328
I am now facing error MsalUiRequiredException > ConsentRequired

[2020-04-03 15:22] cedrox commented on #328
I try to connect the native client on the TodoListService-aspnetcore-webapi and it was working.
Here are the changes that I did in the manifest of the Web Api Service :
- Add AppId in knownClientApplications
- Change  signInAudience from AzureADMyOrg to AzureADandPersonalMicrosoftAccount
Maybe there are some other changes that I did not log. Do you think this is consistent ?

[2020-04-03 16:11] TiagoBrenck commented on #328
Sorry @cedrox I am confused here and I didnt get your point.

Just to make sure that we are on the same page, if you want a Web API calling another Web API downstread (using on behalf of flow), the code and app registration steps for this scenario can be found here: https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/2.%20Web%20API%20now%20calls%20Microsoft%20

[2020-04-04 14:46] cedrox commented on #328
Thanks for your answer Tiago,
I just highlighted few updates I had to do in order to have the sample [active-directory-aspnetcore-webapp-openidconnect-v2/4-WebApp-your-API/4-1-MyOrg](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-1-MyOrg) working...
Thanks

[2020-04-07 18:57] #328 closed

[2020-04-07 22:05] henriquebelotto commented on #310
Hello,

I have a similar issue with this "option" in my startup class.
Can you help me?

I have added the following code, from the[ B2C example](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-5-B2C)>

`            // Configuration to sign-in users with Azure AD B2C
            services.AddAuthentication(OpenIdConnectDefaults.Authent

[2020-04-07 22:43] TiagoBrenck commented on #310
Do you have this Nuget package imported?
[code]

[2020-04-08 08:07] swiftPeter opened #329 "Did not have user consent when expose web API in B2C tenant"
I follow the document: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/4-WebApp-your-API/4-2-B2C/README-incremental-instructions.md#register-the-service-app-todolistservice-aspnetcore-webapi

In step 6, it mentions "user consent display name", but I did not see user consent in B2C tenant when exposing web API, this document seems like for B2B tenant

[2020-04-08 13:25] henriquebelotto commented on #310
Hello

Yes, I do have it.

These are some of the packages that the Startup class is using
[code]

What I'm wondering if the fact that I manually got the DLL from the Microsoft Identity Web and Web.UI from this folder "src\Microsoft.Identity.Web.UI\bin\Debug\netcoreapp3.1", when I ran this project, and added as reference to my project, if it somehow something got lost on the way...

[2020-04-08 13:30] henriquebelotto commented on #310
I have the following errors related to this code.

![image](https://user-images.githubusercontent.com/38217514/78789704-80f99500-797b-11ea-996e-c8c7a9d9fb62.png)

Also, this one
![image](https://user-images.githubusercontent.com/38217514/78789749-94a4fb80-797b-11ea-9ea3-9fbcad271b39.png)

[2020-04-08 16:21] TiagoBrenck commented on #329
The document is correct. Did you create your own applications and changed all the configs in the projects [Step 3](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/4-WebApp-your-API/4-2-B2C/README-incremental-instructions.md#step-3--configure-the-sample-to-use-your-azure-ad-tenant)?

[2020-04-08 16:26] TiagoBrenck commented on #310
If you copy and paste the 2 Identity.Web projects to your solution folder, and add them as existing projects, can you clan&build them?

[2020-04-08 16:32] swiftPeter commented on #329
@TiagoBrenck Hi Tiago, this document is correct but this document is for Azure AD tenant, not for B2C tenant, did Azure AD tenant mentioned in this document refer to B2B tenant? If so, this document is a wrong path in B2C document, because I find this document path is for B2C but actually this article is for B2B rather than B2C

I think put this article to B2C document path active-directory-aspnet

[2020-04-08 16:38] TiagoBrenck commented on #329
Sorry @swiftPeter I just checked the Azure Portal for B2C, and it seems that they change it. Indeed the field for user consent when creating a scope is not there. I will start an internal thread and I will let you know when we fix this.

Thanks for opening the issue.

[2020-04-09 02:10] ahelwer commented on #69
While we're waiting for a nuget package, where can I find a code sample that *doesn't* use microsoft.identity.web for authentication with kestrel?

[2020-04-09 02:12] jmprieur commented on #69
@ahelwer : we intend to release a first nuget package in the next couple of days ...
cc: @jennyf19 @pmaytak
cc: @henrik-me

[2020-04-09 11:09] franva commented on #281
hi, hit the same issue. do we have any update?

[2020-04-09 16:36] TiagoBrenck commented on #281
@franva is your app also in Blazor? We currently doesnt have a solution for this problem on Blazor apps, but the task is on the backlog.

[2020-04-09 18:37] spacekale opened #332 "Need logic to stop redirect loop (misconfiguration, etc)"
I'm looking to add developer and administrative fault tolerance to my B2C template for developers and want to catch instances where the B2C and my application redirect back and forth to each each other in an endless loop. This occurs in the samples 4-2-B2C demo, and likely others.

**Question**
Where in the .NET Core library or WebApp would I capture the error below, and ideally provide better gui

[2020-04-11 01:50] franva commented on #281
@TiagoBrenck  nope, I'm using WebAPI for the restful api + React.js app.

I solved this issue by adding the "AuthorizeForScopes".

:)

[2020-04-11 10:09] swiftPeter commented on #329
Hi @TiagoBrenck, I saw the document has been changed, I think you could close this issue, appreciate your help.

[2020-04-12 12:14] mrjoe882 commented on #69
When nuget package will be released?

[2020-04-12 17:50] clockwiseq opened #334 "WebApp Example Does Not Open or Load - Good Example PLEASE"
Please add an 'x' for the scenario(s) where you found an issue

1. Web app that calls Microsoft Graph
   1. [X] Calling graph with the Microsoft Graph SDK: [2-WebApp-graph-user/2-1-Call-MSGraph](../blob/master/2-WebApp-graph-user/2-1-Call-MSGraph)

### Repro-ing the issue
Clone/Download Code and attempt to follow instructions on this page:
https://github.com/Azure-Samples/active-directory-aspnetco

[2020-04-12 19:44] dxm38 commented on #334
Is it possible you have moved the folder with the solution you want to run to a different location than the other folders or have it in a particularly long file path?

From: clockwiseq <notifications@github.com>
Sent: 12 April 2020 18:50
To: Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2 <active-directory-aspnetcore-webapp-openidconnect-v2@noreply.github.com>
Cc: Subscribed <sub

[2020-04-12 23:36] clockwiseq commented on #334
The file path is definitely long.  I will move to a shorter location and try again.

Thanks,
Keith

From: dxm38 <notifications@github.com>
Sent: Sunday, April 12, 2020 2:45 PM
To: Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2 <active-directory-aspnetcore-webapp-openidconnect-v2@noreply.github.com>
Cc: Keith Culpepper <keithculpepper@clockwiseq.com>; Author <author@noreply.githu

[2020-04-13 16:27] TiagoBrenck commented on #281
Yes, that is the current solution for this issue. I am glad it worked.

[2020-04-13 16:28] TiagoBrenck commented on #329
Thanks.

[2020-04-13 16:28] #329 closed

[2020-04-13 16:37] TiagoBrenck commented on #334
Did you just download that specific project? Or did you clone the whole repo?
I ask that because currently, this sample is using a helper project (Microsoft.Identity.Web, and .UI) which is located in the root of the repo. They are required to get the sample built.

[2020-04-14 04:05] jennyf19 commented on #69
@mrjoe882 It was released earlier today. We are in the process of updating samples.
[Microsoft Identity Web](https://www.nuget.org/packages/Microsoft.Identity.Web/0.1.0-preview)
[Microsoft Identity Web UI](https://www.nuget.org/packages/Microsoft.Identity.Web.UI/0.1.0-preview)
cc: @jmprieur

[2020-04-15 11:14] frankkilcommins commented on #281
Any update timelines regarding this? Am hitting a similar issue with ViewComponents

[2020-04-17 14:30] serge2112 commented on #69
I have been trying to add login/logout functionality by adding both packages to my MVC Web App, but when I try to redirect to MicrosoftIdentity/Account/SignOut I get 404 error. Do I need to create the UI components in my project itself? I would have thought they were included in Microsoft Identity Web UI. I would appreciate some guidance on this.

Sorry if this is the wrong place to post this ques

[2020-04-17 16:35] TiagoBrenck commented on #69
Hi @serge2112,

Make sure you have the package Microsoft.Identity.Web.UI and this configuration:

[code]

[2020-04-18 05:59] franva opened #336 "Demo 4-WebApp-Your-API Application ID URI should be https pattern"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-04-20 17:08] TiagoBrenck commented on #336
Hi @franva, it depends. Is your API configured to support `AzureADandPersonalMicrosoftAccount`? If yes, then the https pattern should be used, otherwise, you can use either of them since you dont have any restrictions. To check those restrictions, please follow [this doc](https://docs.microsoft.com/en-us/azure/active-directory/develop/supported-accounts-validation).

[2020-04-20 19:16] serge2112 commented on #69
@TiagoBrenck thanks a lot! That solved the issue and allowed me to sign in and out when testing my application locally.

However, after I deployed the app to an app service on azure, I got "The page cannot be displayed because an internal server error has occurred." while redirecting to /signin-oidc. If I refresh the same page then I get: "Exception: OpenIdConnectAuthenticationHandler: message.Sta

[2020-04-20 20:09] TiagoBrenck commented on #69
@serge2112 would you mind opening a new issue to discuss it there?
When opening the new issue, please provide repro steps to help us troubleshoot the problem.

[2020-04-20 21:47] serge2112 opened #337 "Error redirecting to /signin-oidc OpenIdConnectAuthenticationHandler: message.State is null or empty."
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [X] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-04-21 00:12] TiagoBrenck commented on #337
I have tried publishing the sample on my end, and it worked. The reply urls that are registered are:

![image](https://user-images.githubusercontent.com/16087102/79811071-98e0f980-8329-11ea-9b93-b2ac46e9d94d.png)

There is no need to register the extra one, `.../.auth/login/aad/callback`.

Are you trying to publish the sample as is, or did you customize the code?
Could you check if your publish pr

[2020-04-21 11:10] #212 closed

[2020-04-21 13:23] serge2112 commented on #337
@TiagoBrenck first of all, thanks for the help. I tried both, the sample as it is and a customized project, but neither of them worked when deployed to the app service. Both worked locally. Below a couple of things I suspect:

1. The publish profile has the publish url as https but I am unable to change the port from 443 to 44321. If I changed the port, validating connection with the app service f

[2020-04-21 16:08] TiagoBrenck commented on #337
Are you importing the publish profile directly from your AAD App Service? Mine also doesnt include Enable Organization Authentication.

I didnt get your point about the publish profile port 44321. That port is for localhost only. Your published app would use https://mywebsite.azurewebsites.net.

About the "Application ID URI" that you used, it doesnt matter, however this is only required for web a

[2020-04-21 17:16] serge2112 commented on #337
1. Yes, I am importing the profile from the App Service
2. Publish profile URL shows as https://mywebsite.azurewebsites.net:443 if I remove the port it shows me some certificate warning
![image](https://user-images.githubusercontent.com/3915073/79892096-fb8cd080-83cf-11ea-9eb4-05fb747af8c0.png)

Any other scenario where you think we could get below error?
![image](https://user-images.githubusercon

[2020-04-21 17:24] TiagoBrenck commented on #337
@jmprieur @kalyankrishna1 have you seen this certificate error when publishing the app?

[2020-04-21 20:28] serge2112 commented on #337
My bad, actually the port does not appear on the Publish URL only https://mywebsite.azurewebsites.net so the certificate error is irrelevant. The "OpenIdConnectAuthenticationHandler: message.State is null or empty" though, is the actual issue

[2020-04-21 20:39] serge2112 commented on #337
@TiagoBrenck I finally realized the cause of the issue. I had enabled App Service Authentication with Login with Azure Active Directory in azure portal, pointing to my App Registration. I disabled that and and kept configuration only in my code and now it seems to be working, I am able to login and out now. However, I am not very clear on how these two things were conflicting with each other.

Tha

[2020-04-21 23:44] franva commented on #336
hi @TiagoBrenck  thanks for pointing out where the document is.
However, after looked at that doc, it makes me more confused.
Please look at the screenshot below:
![image](https://user-images.githubusercontent.com/5151146/79924971-980cac80-847c-11ea-844c-6c959efdd6e7.png)

Yes, I need to support both org and personal accounts. According to your answer, the Application ID URI should be the **https*

[2020-04-21 23:48] TiagoBrenck commented on #337
Thanks for confirming that disabling App Service Authentication, solved the problem.

Our samples suggest to have App Service Authentication OFF for simplicity, when deploying to Azure. Having this settings ON, bring something called *easy auth* that intercepts all calls to an Azure website, so further configurations are needed for this scenario.

[2020-04-21 23:48] #337 closed

[2020-04-22 09:20] jmprieur commented on #337
Note that we have a feature in MIcrosoft.Identity.Web so that it understand the App services authenticaiton headers (to avoid this kind of issues). See  https://github.com/AzureAD/microsoft-identity-web/issues/8

cc: @jennyf19 @pmaytak @SaeedAkhter-MSFT @navyasric

[2020-04-22 16:39] TiagoBrenck commented on #336
Hi @franva, I am sorry for causing even more confusion.

So, the doc statement: "urn:// schemes are not supported" is the restriction that affects api://<>. Then, you should use another pattern, like the https:<> one. We have [this sample](https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/3.-Web-api-call-Microsoft-graph-for-personal-accounts) that is a WebAP

[2020-04-23 20:54] rharbaugh commented on #281
@frankkilcommins That's the context that I'm experiencing the issue in as well. It's happening on our web servers whenever a deployment hits, which reinforces my suspicions. Clearing browser cookies and allowing a proper MSAL re-auth fixes it.

@TiagoBrenck The situation where browser cookies exist, but the in-memory cache does not, evades null references until `GetAccessTokenOnBehalfOfUserFromCac

[2020-04-23 22:28] TiagoBrenck commented on #281
@frankkilcommins and @rharbaugh We currently dont have a solution for this problem when using Razor app, or your AcquireToken method is happening in a ViewComponent or an Ajax call.

If those are not your scenarios, then the current solution is to decorate your ActionResult with:

[code]

@rharbaugh the analysis that you did about why this error is happening is correct. When you stop the applicati

[2020-04-24 13:38] franva commented on #336
Thanks @TiagoBrenck  I am still trying to find out an up-to-date example which fits my requirements.
Once again, I found [this one](https://github.com/Azure-Samples/ms-identity-aspnet-webapi-onbehalfof#register-the-service-app-todolistservice-obo-sample-v2) On point 10, it still shows to use the api:// pattern, even Point 3 has already selected the AnyOrg+Personal Accounts.

There are so many docu

[2020-04-27 17:59] tylerforaie commented on #118
Hey @jmprieur or anyone else that may be monitoring this closed issue. I am encountering basically the same issue as above however now that `Microsoft.Identity.Web` is a nuget package things behave a little bit differently. The recommend practice is to use the `.AddSignIn()` extension and I am unable to see a way to set the redirect url as mentioned above. Any help would be appreciated.

I also ma

[2020-04-28 08:42] jmprieur commented on #118
@tylerforaie : I think that this should be addressed by https://github.com/AzureAD/microsoft-identity-web/issues/115, which is next on line to be implemented in Microsoft.identity.Web
cc: @jennyf19 as it's assigned to her.

[2020-04-28 10:24] Prashant1119 opened #339 "Error while building app"
MSB3713	The file "obj\Debug\netcoreapp3.1\WebApp-OpenIDConnect-DotNet.MvcApplicationPartsAssemblyInfo.cs" could not be created. Could not find a part of the path 'C:\Users\jjadhap5\Downloads\active-directory-aspnetcore-webapp-openidconnect-v2-master (1)\active-directory-aspnetcore-webapp-openidconnect-v2-master\1-WebApp-OIDC\1-1-MyOrg\obj\Debug\netcoreapp3.1\WebApp-OpenIDConnect-DotNet.MvcApplicat

[2020-04-28 10:45] jmprieur commented on #339
@Prashant1119
I suspect that you've been hiting the long names issue on Windows (the paths have a limited length)

you might want to move the content of `C:\Users\jjadhap5\Downloads\active-directory-aspnetcore-webapp-openidconnect-v2-master (1)\active-directory-aspnetcore-webapp-openidconnect-v2-master` to a location closer to the root of your hard drive

for instance "C:\Users\jjadhap5\Downloads\

[2020-04-28 13:40] Prashant1119 commented on #339
@jmprieur  oh well its working great thank you so much!!!!!

[2020-04-28 13:40] #339 closed

[2020-04-29 23:28] TiagoBrenck commented on #336
Hi @franva

I would like to apologize for a confusion about the MSA and api:// pattern. Due to a miscommunication, we told you that api:// is not supported for MSA however it is. We will update the sample to remove this miss information. It was actually a bug but it got fixed already.

Could you let me know if you manged to have your MSA scenario working?

Thanks

[2020-04-30 13:11] franva commented on #336
thanks @TiagoBrenck  for the update.

Unfortunately, no.  I have been stuck here for about 4 weeks.

I have put my question here:
https://stackoverflow.com/questions/61524182/msal-net-no-account-or-login-hint-was-passed-to-the-acquiretokensilent-call

If you could have a look, that would be great.

Thanks

[2020-04-30 16:35] TiagoBrenck commented on #336
Your scenario is on-behalf-of flow, so the web api configuration is different than the one in this repo.

Your WebAPI configuration on AzureAD should follow this: https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/2.%20Web%20API%20now%20calls%20Microsoft%20Graph#register-the-service-app-todolistservice.

Make sure to set `knownClientApplications`, and that yo

[2020-05-01 00:40] franva commented on #336
thanks @TiagoBrenck for pointing out the correct example to follow.

I checked my app registration for my API project on Azure, it's almost identical to the one you provided(https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/2.%20Web%20API%20now%20calls%20Microsoft%20Graph#register-the-service-app-todolistservice) EXCEPT the **Application ID URI**. So it seem

[2020-05-01 01:27] franva commented on #336
I updated my SPA request to use:

`"resourceScope": "https://papayee008.onmicrosoft.com/papayee008/.default"`

And here is the configuration for the SPA
![image](https://user-images.githubusercontent.com/5151146/80773642-d94c3d00-8b9d-11ea-95fc-9b6126d40699.png)

and here is the config for Web Api:
![image](https://user-images.githubusercontent.com/5151146/80773916-b79f8580-8b9e-11ea-9589-4e81dd28

[2020-05-01 16:16] TiagoBrenck commented on #336
*Should I use http:// pattern or the api:// patter? I am now totally lost >_<;*
**Sorry about that. You can choose the one you prefer.**

*Why should I follow the dotnet-native example rather than the aspnetcore example, as in my case I am using Angular app, instead of the WPF client?*
**I recommended that one just because of the Web API configuration for OBO flow. You can ignore the WPF client pa

[2020-05-02 06:55] franva commented on #336
hi @TiagoBrenck

I think i finally have made some progress.
I found the git repository -> Microsoft.Identity.Web and read through its Readme and understood why you asked me to call AddProtectedWebApiCallsProtectedWebApi.
Before diving deeper, I'd like to clarify the name ->**AddProtectedWebApiCallsProtectedWebApi**

There are 2 ProtectedWebApi in this name. My understanding is, the 1st ProtectedWe

[2020-05-02 07:54] franva commented on #336
I added a reference to Microsoft.Identity.Web project so that I can debug inside it.

And I found that the code was trying to fetch value from cache but got null:
![image](https://user-images.githubusercontent.com/5151146/80858568-4f839900-8c9d-11ea-8eb6-4fb98631cb12.png)

Then it cannot find an account:
![image](https://user-images.githubusercontent.com/5151146/80858628-d9cbfd00-8c9d-11ea-805f-ea

[2020-05-02 12:11] kevin-jing opened #342 "Can you update the sample to dotnet core 3.1? 2.2 is no longer supported."
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-05-04 07:43] jmprieur commented on #342
@kevin-jing. I'm confused. which branch do you use?
this sample is, to my knowledge, only .NET Core 3.1 ?

[2020-05-04 08:41] kevin-jing commented on #342
@jmprieur I see "ASP.NET Core 2.2" here: https://docs.microsoft.com/en-us/azure/active-directory/develop/sample-v2-code#web-applications

[2020-05-04 08:49] kevin-jing commented on #342
@jmprieur Another one is [https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-aspnet-core-webapp](url). The file I downloaded is "active-directory-aspnetcore-webapp-openidconnect-v2-aspnetcore2-2.zip".
So, it's 2.2.

[2020-05-04 08:49] kevin-jing commented on #342
@jmprieur Another one is https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-aspnet-core-webapp. The file I downloaded is "active-directory-aspnetcore-webapp-openidconnect-v2-aspnetcore2-2.zip".
So, it's 2.2.

[2020-05-04 09:18] jmprieur commented on #342
Oh. Thanks @kevin-jing.
this is the quickstart
We need to fix it.

[2020-05-04 09:54] jmprieur commented on #342
I fixed the label in the sample page (the samples were really 3.1)

[2020-05-04 10:45] dxm38 commented on #342
No, he is correct, at the link mentioned : first sample download on the page.
https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/archive/aspnetcore2-2.zip

However, I notice it targets 2.1 which is LTS
<TargetFramework>netcoreapp2.1</TargetFramework>

Thanks
From: Jean-Marc Prieur <notifications@github.com>
Sent: 04 May 2020 10:55
To: Azure-Samples/active-director

[2020-05-04 11:01] jmprieur commented on #342
@dxm38 : which page are you talking about?
https://docs.microsoft.com/en-us/azure/active-directory/develop/sample-v2-code ?

[2020-05-04 12:45] dxm38 commented on #342
Hi,

The page that the person mentioned previously
https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-aspnet-core-webapp

At download the code sample: contains the attached link
https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/archive/aspnetcore2-2.zip

which mentions asp.net core 2.2

However, as I stated, it appears to be targeting 2

[2020-05-04 13:39] jmprieur commented on #342
Thanks for confirming @dxm38
We'll update the quickstart with Microsoft.Identity.Web (https://github.com/AzureAD/microsoft-identity-web/issues/126)

[2020-05-04 16:32] TiagoBrenck commented on #336
Cool, I think we are making progress. Your understanding about the `AddProtectedWebApiCallsProtectedWebApi` is correct.

Could you get what is null in this last screenshot? Is it the variable `tokenUsedToCallTheWebApi`?

[2020-05-05 09:52] franva commented on #336
hi @TiagoBrenck the "account" is null, you can see it from the second last screenshot.

Cheers,

Winston

[2020-05-05 16:17] TiagoBrenck commented on #336
@franva would you be able to have a screen sharing session with me, so I can help you troubleshoot this problem?

[2020-05-06 10:01] jmprieur commented on #255
Closing as Tiago's question was not answered.
Feel free to reopen @nehaagrawal

[2020-05-06 10:01] #255 closed

[2020-05-06 10:02] jmprieur commented on #285
Transfering to Microsoft.Identity.Web

[2020-05-06 10:49] franva commented on #336
@TiagoBrenck thanks man, Yes, sure. I am based in Melbourne Australia, I can do screen sharing after work 6PM, or anytime in weekends. What is your preferred tool to use?
Team? Skype? Zoom?
I will add you there.

Thanks again~!

[2020-05-07 18:39] TiagoBrenck commented on #336
Lets use Teams. Mine is v-tibre@microsoft.com

[2020-05-08 00:25] franva commented on #336
hi @TiagoBrenck thanks for your willingness to help.

I have tried, I cannot use my own Microsoft account to log into Team and cannot find you if I logged in with my company's account.

my email is franva008@hotmail.com

Could you please add me on Skype? or any other means you prefer.

Thanks a lot

[2020-05-13 14:36] dengel223 commented on #281
@TiagoBrenck For those of us that are using Blazor, where can we subscribe to get notified when this issue is resolved or the task on the Backlog has been completed and available?

[2020-05-13 15:11] dengel223 commented on #281
I am able to use a Distributed SQL Server Cache in Blazor which stores the token in a SQL table. This seems to work when the application is restarted, the call to GetAccessToken using the _tokenAcquisition DI uses the SQL table to find the token.  However, I noticed when the token expires, the SQL Cache removes the token entry in SQL and the next time GetAccessToken is called, we are back to the s

[2020-05-14 11:02] SwimlaneBuilder opened #345 "Blazor Webassembly Support or demo for Microsoft.Identity.Web?"
Should Blazor Webassembly be using Microsoft.Identity.Web?

How can I call Azure Graph (B2C?) with incremental consent?

PS- Thanks for all the demos in this repro, I depend on this quite often, good work

[code]

[2020-05-15 13:11] wmgdev commented on #281
I've been experimenting with calling Graph from a Blazor Server app. It seems to work, I ran into the problem when you lose the in-memory cache while your cookies are still alive, the auth calls are skipped and you don't bootstrap the token cache, which throws the _MsalUIException_ . Can't use the AuthorizeForScopes attribute, because we don't have a 'controller' in Blazor

I came up with a clunky

[2020-05-15 15:46] isaacrlevin commented on #281
ping @jasonjoh

[2020-05-17 18:54] mufraver2 commented on #208
I had the same problem when I tried this library but I didn't solve the the problem. But for a "workaround"  I found this good repo and got it working  [https://github.com/vfabing/simple-aspnetcore-azuread-react](url). Still trying to find out how I could solve this using this new library

[2020-05-18 13:37] wmgdev commented on #345
Have you had a look here
https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/?view=aspnetcore-3.1

[2020-05-18 13:41] wmgdev commented on #281
I've updated [BlazorGraphApi](https://github.com/wmgdev/BlazorGraphApi) and put AuthorizeForScopes attribute on __Host.cshtml PageModel

This does away with the extra controller and makes things a bit cleaner

[2020-05-19 19:51] pduer opened #347 "Invalid Audience error message and how to handle it?"
I get:
SecurityTokenInvalidAudienceException: IDX10214: Audience validation failed. Audiences: 'axxx'. Did not match: validationParameters.ValidAudience: 'axxx' or validationParameters.ValidAudiences: 'null'.

when I try to run this sample with a App Registration that I setup exactly as it says.

I cloned the repo if that helps.

[2020-05-19 20:09] #347 closed

[2020-05-19 20:10] pduer commented on #347
Spaces are BAD! Had a space in the appsettings!

[2020-05-21 16:25] NikolaosWakem commented on #115
I have come back to a project I wrote in xmas… where I was using this code in Home/Index as a massive hack

catch (Microsoft.Identity.Client.MsalUiRequiredException ex)
            {
            var appBaseUrl = $"{this.Request.Scheme}://{this.Request.Host}{this.Request.PathBase}";
                var azureLogInUrl = $"{appBaseUrl}/AzureAD/Account/SignIn";
                await Request.HttpContext

[2020-05-21 16:31] TiagoBrenck commented on #115
Hi @NikolaosWakem

The current solution is by decorating your action result with:
[code]

The attribute is from [Microsoft.Identity.Web](https://github.com/AzureAD/microsoft-identity-web/tree/master/src/Microsoft.Identity.Web) nuget package.

An example of its usage in our samples [can be found here](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/2

[2020-05-21 16:38] NikolaosWakem commented on #115
So i have to put this on every Action in my project?

[2020-05-21 16:54] TiagoBrenck commented on #115
Currently we are using this attribute on every action result that calls `AcquireTokenSilent` method.

If you are not using incremental consent, and your web app uses the same scope on every call, then you could create a global filter for the `MSALUIRequiredException`. You can check the logic on `AuthorizeForScope` as a reference.

Keep in mind that `MSALUIRequiredException` is expected and documen

[2020-05-21 16:57] NikolaosWakem commented on #115
i dont need scopes at all ;-) - just want my API's to get a userid :-D

[2020-05-21 17:01] TiagoBrenck commented on #115
I am not sure how you are calling `AcquireToken` without sending any scope, since it is mandatory for the method, so a code sample would be good to give me an idea. But regardless that, then you can definitely create the global filter that I have talked about, and register in the Startup.cs. Then you wont need to treat it in every action result separately.

[2020-05-21 17:06] NikolaosWakem commented on #115
sorry - I am passing in a scope... exactly, because you need to ;-)

private async Task PrepareAuthenticatedClient()
        {
            var accessToken = await this._tokenAcquisition.GetAccessTokenForUserAsync(new[] { this._portalApiScope });
            _httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", accessToken);
            _httpClient.DefaultRequest

[2020-05-21 17:24] NikolaosWakem commented on #115
Why does closing the browser each time fix this? is it using some kind of temporary cookie that goes away by simply closing chrome?

[2020-05-21 19:13] NikolaosWakem commented on #115
Even if I create the filter and trap the exception - what am I then supposed to do?...

[2020-05-21 19:19] TiagoBrenck commented on #115
Closing the browser is **not** the solution. `AuthorizeForScopeAttribute` is your solution. If you want to make it global, then you will have to create your own global filter for `MsalUIException`.

Prod is working fine because you probably never restarted IIS. If you do it, all the users will get the same error.

Again, the try/catch is the recommended pattern to acquire a token silently. We wrap

[2020-05-21 21:28] NikolaosWakem commented on #115
Ah...

return new ChallengeResult(OpenIdConnectDefaults.AuthenticationScheme);

the magic line that i havn't seen in any example ..... :-D

Perhaps a standard filter could be added to Microsoft.Identity.Web - would save a lot of people a lot of wasted time :-D

[2020-05-21 22:01] TiagoBrenck commented on #115
Not just throw it. It needs to be treated by returning a ChallengeResult.
If you just decorate the action result with the `AuthorizeForScopes` the exception will be handled for you.

I hope you got your problem solved. Let us know if you need more help

[2020-05-21 22:03] NikolaosWakem commented on #115
Yep... I decorated it but it wasn't doing anything as I though it was like AuthoriseAttribure... but it's a exception trap.. so i had to throw it outside the action...

[2020-05-21 23:25] kenchilada commented on #115
But how do you handle `MsalUiRequiredException` when you have a web app with no controllers/actions?  I am writing a Blazor app and I can't find any way to accomplish incremental consent.

Maybe I should create a global exception filter, but it still does not know what scopes were requested that are missing.  Exception only has claims property.

[2020-05-22 00:20] kenchilada commented on #281
Thank you so much for publishing this to Github for everyone.  This is brilliant, I love you.  I've been trying to solve this all day and I can finally stop crying.

For the sake of others, I needed to handle scopes for **multiple** resources (Graph, PowerBi, Azure Storage, etc).  I subclassed `AuthorizeForScopesAttribute` and populated `Scopes` to include ALL of my scopes and used that attribute

[2020-05-22 08:12] jland13 commented on #281
I'm having an issue with this exception as well and feel I have ran out of options.  I feel my situation is unique in that I'm using a helper function that is called from the Home controller, and I pass the ITokenAcquisition and WebOptions to the helper's constructor.

The weird thing is it seems to work fine when I run the app in Firefox, but in Chrome it works only when I login for the first tim

[2020-05-22 10:25] jmprieur commented on #281
@jland13 would it be a SameSite issue?

[2020-05-22 16:41] TiagoBrenck commented on #281
@jland13 Have you tried adding the `AuthorizeForScopes` on top of the action result instead?

[2020-05-22 19:10] jland13 commented on #281
Sure, here are the relavant pats of the code, everything else should be the same as in the example, that is using the Services/Infrastructure, appsettings, etc.

`// In Startup.cs

public void ConfigureServices(IServiceCollection services)
{
	// Authentication/Authorization
	services.Configure<CookiePolicyOptions>(options =>
	{
		// This lambda determines whether user consent for non-essential coo

[2020-05-22 19:37] TiagoBrenck commented on #281
So, the attribute on top of `GetProfileName()` will definitely not work.
I ve heard from someone in another topic, that he added a try/catch in their helper method, and just throwing the `MsalUiRequiredException` made the attribute to be handled properly by the `AuthorizeForScopes` on top of the action result. Could you try that and see it solves your problem?

[2020-05-22 19:42] jland13 commented on #281
I had this in the GetProfileName() of GraphApi.cs but didn't include it as it didn't seem relevant other than for debugging, should I just switch the exception to `MsalUiRequiredException`?

`try
{
    var me = await graphClient.Me.Request().GetAsync();
    string name = me.DisplayName;
    return name;
}
catch (Microsoft.Graph.ServiceException e)
{
    System.Diagnostics.Debug.WriteLine("\n======

[2020-05-22 19:54] TiagoBrenck commented on #281
You dont need to switch, since Graph may also throw exceptions. I was talking about adding this for test:

[code]

Would this make the attribute on `Index()` to catch it?

[2020-05-22 21:44] jland13 commented on #281
Okay I tried that and it didn't work, still getting the exception/user_null error.

[2020-05-22 22:57] Rishab1988 commented on #281
I am new to learning MSAL, I encountered the similar log " No account or login hint was passed to the AcquireTokenSilent call" in the sample app, can somebody help me to understand how this exception was handled and a user re-authentication was succeeded while my app simply gives and error and shuts.

[2020-05-23 00:14] faizankhan1995 commented on #208
I am also unable to verify the token on backend.

[2020-05-24 15:34] V4A001 opened #348 "Help question: AzureB2C and AzureB2B multi-tenant with AzureGraph"
Moved to Stackoverflow. Please close or remove.

[2020-05-24 15:46] #348 closed

[2020-05-25 16:51] jsjanows1 opened #349 "trying to just display the name of the user only to store it in my model class"
I've successfully implemented this code to get all the user information.  I really just want to be able to use this code to just pull the user name / email and store it into a model class.  How can I do this?  I'm new to this ASP.Net framework as well as this API but the things I've tried don't seem to work? I'm not passing to a view, I want to pass information to another class.  Please advise :

[2020-05-25 17:14] jmprieur commented on #349
@jsjanows1 : did you try this sample: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-1-MyOrg

[2020-05-26 10:27] #327 closed

[2020-05-26 23:50] AndrewDGrant opened #350 "signin-oidc returning 404 for 4-WebApp-your-API/4-2-B2C example"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-05-27 12:53] jmsv commented on #281
I'm currently trying to set up the same architecture but adding `AuthorizeForScopes` didn't work for me - do you have a working set up I could look at?

[2020-05-27 14:01] jmprieur commented on #350
@AndrewDGrant how do you launch your app? dotnet run?
 Did you have a look at the launchsettings.json in the properties folder? do you navigate to the right URL in your browser?

[2020-05-27 14:22] AndrewDGrant commented on #350
@jmprieur Yes I launch with dotnet run via rider. I did look at and modify the launchsettings.json file in the project. My B2C tenancy and app work fine with the 1-WebApp-OIDC example btw.

[2020-05-27 17:02] TiagoBrenck commented on #281
@jmsv here is where we use it: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/2-WebApp-graph-user/2-1-Call-MSGraph/Controllers/HomeController.cs#L34

You could decorate the controller as well.

[2020-05-27 17:05] TiagoBrenck commented on #350
It looks like you have a reply url mismatch?
In the error message is saying that your are using port 5000, but your registration in for 44316.

Could you double check that?

[2020-05-27 17:21] AndrewDGrant commented on #350
@TiagoBrenk There are two .NET Core apps in this example, the front end listens on port 5000, the backend on port 44316. Do I need to register both with the app in B2C or just the front end or just the backend?

[2020-05-27 17:29] jmsv commented on #281
@TiagoBrenck if I understand correctly, that example handles the views for logging in? I'm trying to handle that part in a React app and pass the bearer token to the API - are there any examples of this?

[2020-05-27 17:50] TiagoBrenck commented on #350
Just the front end actually, and the reply url should end with `/signin-oidc`

[2020-05-27 17:53] TiagoBrenck commented on #281
Oh I see. Yes, `AuthorizeForScopes` is just for MVC.
@jmprieur do we have a solution for React+.Core Web API?

[2020-05-27 18:42] multco-malan opened #352 "How to generate Swagger docs for protected api?"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-05-27 22:41] AndrewDGrant commented on #350
Thanks Tiago, that did the trick. Could you change the README.md file instructions to match the port in the launchSettings.json for the client. They don't actually match either but were closer to the server port than client port or if you prefer, I can modify and create a pull request.

[2020-05-28 00:27] AndrewDGrant commented on #350
Client web app is working fine, thanks for your help. I am now getting a 403 forbidden on the WebApi when I try to display the todo list. One difference from the README.md, I have the TodoListScope set to the scope path from the azure portal i.e. https://<appname>.onmicrosoft.com/<app id>/user_impersonation rather than app://<appid>/user_impersonation. Using a client secret from my B2C app page.

[2020-05-28 08:11] jmprieur commented on #350
You need to use the scopes that are provided in the portal. The portal displays the fully qualified scopes. That's the one you need to use, @AndrewDGrant

[2020-05-28 13:59] damienbod opened #354 "Azure AD use Access Token with Custom API not working"
I am trying to login using Azure AD and use Azure AD to authorize my access token in an ASP.NET Core API project which users the user access token.

UI APP => ASP.NET Core
API => ASP.NET Core

The login UI app works without problem. I use Code Flow with PKCE and I receive my tokens back.

Problem: I receive an access_token with the following format:

[code]

How can I validate this in a WEB API AS

[2020-05-28 15:22] damienbod commented on #354
Some extra info:

When I request the access token using

[code]

with the id_token token flow, then I get a JWT Bearer access token back which can be used. But I would like to use best practice and the Code Flow with PKCE.

[2020-05-28 16:28] TiagoBrenck commented on #354
Is your UI App also registered in AzureAD?

[2020-05-28 17:07] damienbod commented on #354
@TiagoBrenck yes,

[code]

[2020-05-28 17:19] TiagoBrenck commented on #354
Ok, and do you have token encryption on the web api configuration on AzureAD?
I want to understand why your token is not JWT.

[2020-05-28 17:29] damienbod commented on #354
@TiagoBrenck thanks for your help. Here's my manifest from the Azure AD App registration:

[code]

[2020-05-28 17:43] TiagoBrenck commented on #354
@jmprieur @kalyankrishna1 could you help me identify why the token received is not JWT?

[2020-05-28 17:55] TiagoBrenck commented on #354
@damienbod apparently you are missing the configuration for `OnAuthorizationCodeReceived`. The token that you are getting is actually the authorization code, that needs to be exchanged to an access token with another call. I would recommend checking the sample, https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-1-MyOrg, for that. An

[2020-05-28 18:50] damienbod commented on #354
Thanks for your feedback. I have tried the Azure AD with 2 certified clients, which work with all OIDC servers... Strange that this does not work with Azure. I believe I do not need the 'OnAuthorizationCodeReceived' unless Azure does something non conform.  I'll try this example and I have already tried using the `Microsoft.Identity.Web` but it was doing a implicit flow request which is no longer

[2020-05-28 19:16] TiagoBrenck commented on #354
So, *Microsoft.Identity.Web* doesnt control which flow to use. The flow is a reflection of you app registration on Azure Portal.

From your manifest, I could check this `"oauth2AllowImplicitFlow": true,`, so there is the implicit flow configured. If you dont want implicit flow, and indeed is not secure, please update this property (which can also be done in the UI).

[2020-05-28 19:50] damienbod commented on #354
@TiagoBrenck Thanks for your help, I have everything works now. The example put me on the right path. Thanks

My main proble was that do not configure the scope on the App Registration `api://{clientId}/access_as_user`

Then the `Microsoft.Identity.Web` uses the `code id_token` flow, I used the 1st example fromt he same repo which uses the Implcit Flow. `code id_token`  is fine for me.

The Code F

[2020-05-28 20:21] TiagoBrenck commented on #354
There is this sample that shows PKCE on SPA: https://github.com/Azure-Samples/ms-identity-javascript-v2

[2020-05-28 20:21] #354 closed

[2020-05-29 00:18] AndrewDGrant commented on #350
My issue was caused by the following line on the server side todo list controller:

[Authorize(Policy = "ReadScope")]

The instructions have the todo list scope set to user_impersonation. If I change the ReadScope policy from read to user_impersonation in the Configure services function it works.

options.AddPolicy("ReadScope",
                    policy => policy.Requirements.Add(new ScopesRequir

[2020-05-29 01:21] TiagoBrenck commented on #350
@AndrewDGrant the sample is pre-configured to run out of the box, so the values like ClientId, Domain, Secret, Policies and TodoListScope, are accordingly to the app registered on our B2C playground (Fabrikam).

If you want to create your own client app and web api, you must update the config values accordingly to your configurations. So, when you register your web api app, you will have to create

[2020-05-29 02:17] AndrewDGrant commented on #350
@TiagoBrenck it does clarify the sample yes. The problem, I think, is the documentation is confusing and incomplete. The user_impersonation scope name was something I got from the README-incremental-instructions.md. Scopes aren't mentioned at all in the main README.md file.

[2020-05-29 02:17] #350 closed

[2020-05-31 18:30] alilouchka opened #356 "Exception error when configure OpenIdConnectOptions and add Events"
I am trying to add some events in OpenIdConnectOptions in ASP Core app :
after adding  some events in options :

` services.Configure<OpenIdConnectOptions>(OpenIdConnectDefaults.AuthenticationScheme, options =>
            {
                Configuration.Bind("AzureAdB2C", options);
                options.Events = new OpenIdConnectEvents
                {
                    OnSignedOutCallbackRe

[2020-06-01 11:55] jackheywood opened #357 ""GetAccessTokenForUser" fails when most recent token was not obtained through the signin policy"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-06-01 16:58] TiagoBrenck commented on #356
Hi @alilouchka

When you sign-out, the MSAL token cache for that user is removed. Did you add any code in *Home/Index* that tries to acquire an access token? Also, did you decorate the action with `[AllowAnonymous]`?

[2020-06-01 17:02] TiagoBrenck commented on #357
@jennyf19 @pmaytak could you take a look in that?
Microsoft.Identity.Web might need to be adjusted.

[2020-06-01 17:18] jennyf19 commented on #357
thanks @TiagoBrenck we are working on fixing the b2c devex all up. have added the issue in identity web for tracking.
cc: @jackheywood

[2020-06-01 17:30] alilouchka commented on #356
Hi @TiagoBrenck

No I am not using any code to acquire an access token in my Home controller. and I am not using the [Authorize] decorator in it.
I am getting the error 'No account or login hint was passed to the AcquireTokenSilent call.' after restarting my app or after a while.

I used the same configuration that are in Startup of the project active-directory-aspnetcore-webapp-openidconnect-v2/4

[2020-06-01 17:52] TiagoBrenck commented on #356
`services.AddDistributedMemoryCache();` is definitely needed to configure the token cache provider.

Then, take a look at TodoListController, on top of *Index* we decorate it with `[AuthorizeForScopes(ScopeKeySection = "TodoList:TodoListScope")]`

You might want to add this on top of the action result (or controller) that you are acquiring a token silently. This attribute will handle `MsalUIRequir

[2020-06-01 23:17] alilouchka commented on #356
Hi @TiagoBrenck

Thank you, yes we have to add
`[AuthorizeForScopes(ScopeKeySection = "TodoList:TodoListScope")]` in the client controller.

I had to edit my startup too in order to add some events, and this is how my ConfigureServices  looks now :

`

            services.AddDistributedMemoryCache();
            services.AddOptions();
            services.AddSignIn(Configuration, "AzureAdB2C");

[2020-06-01 23:17] #356 closed

[2020-06-02 09:00] jmprieur commented on #349
Closing, as I believed I've answered
feel free to reopen

[2020-06-02 09:00] #349 closed

[2020-06-02 09:02] #357 closed

[2020-06-02 12:01] Steeve13011 opened #358 "When I try to call TodoListService I receive an error 401 Bearer error="invalid_token", error_description="The audience 'https://****/*** is invalid""
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
1. [ ] Web app calling your own Web API [4-WebApp-your-API](../blob/master/4-WebApp-your-API)

### Repro-ing the issue

**Repro steps**

I registred the TodoListService-aspnetcore-webapi with followin

[2020-06-02 20:57] TiagoBrenck commented on #358
Hi @Steeve13011

This is because `Microsoft.Identity.Web` configuration for our web api, has a default audience validation, but it checks only for the pattern, `api://<you_app_id>`. I could notice that you registered your api with `https://<yourDomain>`.

There is nothing wrong in using the https pattern. So you basically have two options here:

1. Change the web api identifier uri to: `api://<you

[2020-06-02 23:46] RedBlue1776 opened #359 "What's the difference between Microsoft.Identity.Web and Azure.Identity"
I'm trying to create a grid/spreadsheet when to use each library (adal/msal,AzureIdentity, and Microsoft.Identity.Web)

I found this used here as part of authenticating the Blob,Table, and Queue
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/identity/Azure.Identity/README.md

The confusing part is that it supports AzureAD authentication, so I thought of this library, but perhaps the wa

[2020-06-03 02:38] #359 closed

[2020-06-03 08:16] Steeve13011 commented on #358
Hi @TiagoBrenck,

Thanks very much for your answer.
In fact, I understood where the problem comes from. We have two azure portals. The first is an Azure AD V2 tenant and the second to an Azure AD B2C tenant. I tried your example with an Azure AD B2C thinking that it was only a complement to Azure AD V2. Your project works very well with an Azure AD V2, I tested it yesterday on the other tenant. Th

[2020-06-03 08:47] jmprieur commented on #358
@Steeve13011 : did you have a look at using Microsoft.Identity.Web with B2C:

You have 2 test apps here (samples): https://github.com/AzureAD/microsoft-identity-web/tree/master/tests/B2CWebAppCallsWebApi

Also in this repo you have:
- How to sign-in to a Web app with B2C: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-5-B2C
- B2C We

[2020-06-03 08:51] jmprieur commented on #334
@clockwiseq : our samples have Continuous integration (See the build badge which builds the whole repo: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2#tutorial---enable-your-web-apps-to-sign-in-users-and-call-apis-with-the-microsoft-identity-platform-for-developers)

You probably want to copy the folder for the repo close to the root of your hard drive, and re

[2020-06-03 08:51] #334 closed

[2020-06-03 08:53] jmprieur commented on #69
Closing this one, as Microsoft.Identity.Web is available as a NuGet package (in preview)
See https://github.com/AzureAD/microsoft-identity-web/wiki

[2020-06-03 08:53] #69 closed

[2020-06-03 08:54] jmprieur commented on #358
@Steeve13011 : proposing to close this issue as I think we answered
Feel free to reopen if you disagree

[2020-06-03 08:54] #358 closed

[2020-06-03 09:06] jmprieur commented on #358
@Steeve13011 : note that you can set the Audience property in the appconfig.json of your Web API.
See [What if the App ID URI of your application is not api://{ClientID}](https://github.com/AzureAD/microsoft-identity-web/wiki/web-apis#what-if-the-app-id-uri-of-your-application-is-not-apiclientid)

cc: @TiagoBrenck

[2020-06-03 13:24] CodeguruEdison commented on #196
I have the same issue, It is not working asp.net core 3.1, I would like to additional check if a user exists on application database. here is sample code i am using, but it is not working, can anyone help us on this.

` services.AddProtectedWebApi(Configuration);
            services.Configure<JwtBearerOptions>(AzureADDefaults.JwtBearerAuthenticationScheme, options =>
            {

[2020-06-03 16:51] TiagoBrenck commented on #196
@CodeguruEdison `Microsoft.Identity.Web` has become a nuget package and your code is not in sync with its version. Could you please update your code to use the nuget package?

Then your custom code would probably look like:

[code]

[2020-06-03 17:24] TiagoBrenck commented on #196
What error are you getting?

[2020-06-03 17:28] TiagoBrenck commented on #196
Ops my bad. I missed one item:

[code]

[2020-06-03 17:43] CodeguruEdison commented on #196
@TiagoBrenck
options. Events are coming null now.

[2020-06-03 17:50] TiagoBrenck commented on #196
Sorry @CodeguruEdison I dont have a fully testing scenario for your case. I edited my code snippet again. Hopefully it works.

Thanks

[2020-06-03 17:50] CodeguruEdison commented on #196
![SSO_ERROR](https://user-images.githubusercontent.com/10437792/83670416-20fd2480-a5a1-11ea-8294-76ffec5fa3c7.PNG)

@TiagoBrenck  you can see the image, is anything we need to do in appsetting.json

[2020-06-03 17:58] TiagoBrenck commented on #196
@CodeguruEdison I updated my code snippet.

Your solution should be like this sample: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-1-MyOrg but adding the code snippet in the web api startup.

Please follow the sample configuration so you can learn what should go in the appsettings.json (you can bind any property from JwtBearer

[2020-06-03 20:47] CodeguruEdison commented on #196
@TiagoBrenck
it worked. Thank you :). Looks like samples are not updated yet.

[2020-06-03 21:01] TiagoBrenck commented on #196
@CodeguruEdison  I am glad it worked. The samples are updated, as far as I know.

Do you have the latest master branch?
What updates are you missing?

[2020-06-03 21:04] CodeguruEdison commented on #196
@TiagoBrenck

if you see line#34 on https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/4-WebApp-your-API/4-1-MyOrg/TodoListService/Startup.cs . We should put a comment for custom validation.

[2020-06-10 05:36] santhoshbomma opened #360 "Using Authorization code flow to signin users?"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [x] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-06-10 09:42] jmprieur commented on #360
@santhoshbomma
thanks for your feedback

Actually this sample does use the **auth code flow** and **not** the implicit flow. It's just that it also leverages the [ID Token](https://docs.microsoft.com/azure/active-directory/develop/id-tokens), which is improperly classified as part of implicit flow in the app registration portal.

I fixed the README.md you pointed to (1.2)

@kalyankrishna1 @TiagoBr

[2020-06-11 13:49] camilastu opened #362 "Check user on my database after Azure B2C sign in"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-06-11 14:33] alexchro93 opened #363 "Possible update to README in 4-2-B2C"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-06-11 15:53] TiagoBrenck commented on #362
I believe what you are looking for is something like this:

[code]

The event OnTokenValidated will happen after OnAuthorizationCodeReceived , where MSAL gets the access token, so I think this event fits best your scenario. The building error is because you missed one argument.

[2020-06-12 19:16] Prabu76 commented on #28
Hi,
I am using latest version of MSAL 4.14.0. When I try to call below code:
IPublicClientApplication clientApp = PublicClientApplicationBuilder
                                                                    .Create(ApplicationId)
                                                                    .WithAuthority(AuthorityUrl)

[2020-06-12 19:37] TiagoBrenck commented on #28
Hi @Prabu76

I have a question. Why would you use IPublicClientApplication on a web scenario? It should be IConfidentialClientApplication.

But regardless that, if you are looking to return the cached tokens from MSAL, you can:
   - Or, have a singleton of you ClientApplication, which you would leverage the default object memory cache from MSAL (if you build a new ClientApp or the singleton obj ge

[2020-06-12 20:08] Prabu76 commented on #28
Hi,
I tried to use the existing developer samples provided here https://github.com/Microsoft/PowerBI-Developer-Samples
I have downloaded the code and tried with ID's... This is the code that power BI documentation point to as reference. I would appreciate if any other sample code to access and get token from Azure AD app.

[2020-06-12 21:11] Prabu76 commented on #28
@TiagoBrenck  ConfidentialClientApplication requires clientsecret. I have registered my application as Native app which have only clientID.
Do you have any sample code to show the options you mentioned

[2020-06-12 22:05] TiagoBrenck commented on #28
Oh ok, for native app is public indeed.
You can take a look at this native app implementation: https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/1.%20Desktop%20app%20calls%20Web%20API/TodoListClient

We have a class there called TokenCacheHelper, that you might be interested in

[2020-06-12 22:52] #362 closed

[2020-06-13 13:28] jmprieur commented on #28
@Prabu76 : you can even use a better token cache serialization (cross platform, productized, battle tested), See https://www.nuget.org/packages/Microsoft.Identity.Client.Extensions.Msal and the doc:
https://github.com/AzureAD/microsoft-authentication-extensions-for-dotnet/wiki/Cross-platform-Token-Cache

cc: @TiagoBrenck

[2020-06-13 14:19] Prabu76 commented on #28
@TiagoBrenck  @jmprieur Thanks for the response.
Before doing this for the below code:

IPublicClientApplication clientApp = PublicClientApplicationBuilder
.Create(ApplicationId)
.WithAuthority(AuthorityUrl)
.Build();
var userAccounts = await clientApp.GetAccountsAsync();

I am also checking to see if I need to grant any permission to the application registered in Azure. I just registered the appl

[2020-06-13 14:50] Prabu76 commented on #28
@TiagoBrenck @jmprieur When I tried to call using below code:

AuthenticationContext authContext = new AuthenticationContext(AuthorityUrl);
var user = new UserCredential(Username,Password);
string token = authContext.AcquireToken(ResourceUrl, ApplicationId, user).AccessToken;

I am getting an error -
unknown_user_type: Unknown User Type
Exception Details: Microsoft.IdentityModel.Clients.ActiveDire

[2020-06-15 17:29] TiagoBrenck commented on #28
@Prabu76 your code is using ADAL library (Microsoft.IdentityModel.Clients.ActiveDirectory).

Could you update it to MSAL library (Microsoft.Identity.Client) so you could benefit from our sample code?

[2020-06-16 20:04] multco-malan opened #366 "SQL distributed cache fails with Login failed for user ''."
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-06-16 20:43] TiagoBrenck commented on #366
Hi @multco-malan

Is this error happening locally(using a local SQL db) or just when you deploy it?

[2020-06-16 20:49] multco-malan commented on #366
@TiagoBrenck I am running the web app locally (Visual Studio 2019) and connecting to an Azure SQL database.
I haven't gotten to deployment yet, gotta get it working locally before I even commit code.

[2020-06-16 20:57] TiagoBrenck commented on #366
I see. Did you run the `dotnet sql-cache create` command? Update the connect string according to your settings.

[code]

**Note** that this command only creates the table. In the example above, MY_TOKEN_CACHE_DATABASE should exist in prior.

[2020-06-16 21:04] multco-malan commented on #366
@TiagoBrenck I tried that tool, but it failed for some reason I don't remember.
I created a EF migration to create the table, getting it's structure from https://github.com/dotnet/aspnetcore/blob/4928eb3de0d80570dad93a143b52a8f5a205dac7/src/Tools/dotnet-sql-cache/src/SqlQueries.cs

Here is the generate table script I just generated from my azure sql db:

`/****** Object:  Table [dbo].[TokenCache]

[2020-06-16 21:28] TiagoBrenck commented on #366
Ok, that is good then. This error is then related to your web config. Double check if the values are all fine.

I noticed that you are using:
[code]

while in another code, you have this:
[code]

Declare a variable that receives the code that you are using for the connection string, and check if that variable got set properly. This "." in the error message usually is because it didnt get the conne

[2020-06-17 14:04] multco-malan commented on #366
@TiagoBrenck
I modified the code to this
`public void ConfigureServices(IServiceCollection services)
        {
            services.AddHttpClient();
            services.Configure<CookiePolicyOptions>(options =>
            {
                options.CheckConsentNeeded = context => false;
                options.MinimumSameSitePolicy = SameSiteMode.Unspecified;
                options.HandleSameSit

[2020-06-18 00:14] jland13 commented on #281
Since Identity Web has been updated, is there any update to this?  My Home controller is getting really messy and I would like to be able to move my requests to a helper function before the end of my project.  Thanks!

[2020-06-18 11:48] PastelFish99 opened #367 "Openid connect authentication behind Azure application proxy"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [X] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-06-18 17:33] TiagoBrenck commented on #281
@jmprieur @jennyf19 @pmaytak could you help him?

[2020-06-18 19:11] TiagoBrenck commented on #367
Would this doc help you? https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-add-on-premises-application

[2020-06-19 13:09] ahmedsza opened #368 "DefaultMapinbound claims question/request for a SPA based app"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-06-19 14:38] PastelFish99 commented on #367
Thanks Tiago, I'll check and provide feedback if it is a possible solution. cheers.

[2020-06-19 16:07] TiagoBrenck commented on #368
Hi @ahmedsza

Help me understand your issue with `DefaultMapInboundClaims` first. In which case it fails? When is **true** or when is **false**?

[2020-06-19 16:16] ahmedsza commented on #368
Fails  (in the spa case) when JwtSecurityTokenHandler.DefaultMapInboundClaims is false

That makes sense as the claims are based on the saml format when I look at it in the debugger.. but I am not sure how I get to change the format

In the sample scenario on github all works but that does not appear to be spa based and the claims come through "differently"

Note - I am still a relative newbie in

[2020-06-19 16:26] TiagoBrenck commented on #368
I see.

We are still building the SPA sample, but if you want to take a look, it is: https://github.com/Azure-Samples/ms-identity-javascript-angular-spa-dotnetcore-webapi-roles-groups/tree/derisen

[2020-06-19 16:39] ahmedsza commented on #368
Thanks.  Will take a look .. figuring out angular can be harder bit 😃

[2020-06-20 03:00] npjabirpkv opened #369 "How can i use this sample with asp.net web app to asp.net web api without .net core"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-06-20 14:15] jmprieur commented on #369
@npjabirpkv the sample you are looking for is:https://github.com/Azure-Samples/ms-identity-aspnet-webapp-openidconnect

In general all the Web app authentication samples are described in https://docs.microsoft.com/en-us/azure/active-directory/develop/sample-v2-code#web-applications

[2020-06-21 09:37] npjabirpkv commented on #369
Thanks jmprieur

I am able to authenticate the web app and able to pass the bearer to my custom web api. However I am getting 401

I need to know how to protect web api using asp.net. My scenario is exactly similar to below  however I am using asp.net instead of core. Any help will be appreciated

https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-We

[2020-06-21 14:43] jmprieur commented on #369
@npjabirpkv
I suggest you have a look at this article, which describes an ASP.NET Web API.
https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-dotnet-native-aspnet

[2020-06-22 09:18] ahmedsza commented on #368
Hi @TiagoBrenck . Thanks for the sample. Some useful stuff in there. When I look at  https://github.com/Azure-Samples/ms-identity-javascript-angular-spa-dotnetcore-webapi-roles-groups/tree/derisen/chapter1 i see this code
services.Configure<JwtBearerOptions>(JwtBearerDefaults.AuthenticationScheme, options =>
   {
         // The claim in the Jwt token where App roles are available.
         option

[2020-06-22 20:04] TiagoBrenck commented on #368
In the angular sample, if you edit the API `Startup.cs` to:

[code]

You will get the desired result, if I understood your problem correctly.

[2020-06-22 21:11] jwahr commented on #196
Hi!

I am having issues with `VerifyUserHasAnyAcceptedScope` validating my accessToken with the scopes.

When I use the default `HttpContext.VerifyUserHasAnyAcceptedScope(scopeRequiredByApi)`, it gives me an error of `System.Net.Http.HttpRequestException: The 'scope' claim does not contain scopes 'access_as_user' or was not found
   at Microsoft.Identity.Web.Resource.ScopesRequiredHttpContextExten

[2020-06-22 21:28] TiagoBrenck commented on #196
@jwahr Could you update your Microsoft.Identity.Web version please? They have just fixed this issue.

[2020-06-22 21:50] jwahr commented on #196
@TiagoBrenck thanks a bunch! Great this is fixed 😃

https://github.com/AzureAD/microsoft-identity-web/compare/0.1.4-preview...0.1.5-preview#diff-7d8f6a372000d8d43a1e5d473acbf323

[2020-06-25 10:15] Blackleones opened #372 "[Scenario] Single sign on with Microsoft Identity Platform and store user info locally using Microsoft identity Framework"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [x] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-06-25 16:33] TiagoBrenck commented on #372
@Blackleones from what you are describing, your needs fit Azure AD B2C. We have a sample for it in this repo.
[Azure B2C website](https://azure.microsoft.com/services/active-directory/external-identities/b2c/)

[2020-06-25 20:46] Blackleones commented on #372
@TiagoBrenck  thank you, I am going to read the Azure B2C docs.

I am trying to connect my project to my azure ad tenant. My project is like a blog website where everyone inside the same tenant can create a new thread. So, just to learn, I am trying to store each user locally and collect some user info (like photos, first name, and last name).

I've started with AzureAD sign in, then I've found Mi

[2020-06-26 16:06] TiagoBrenck commented on #372
Microsoft Identity Platform represents all the AAD/B2C etc technologies. You can relate it to a Microsoft technology to authenticate users in the cloud.

Azure AD used to be more focused on users from AAD tenants only, without adding extra identity providers (like Facebook, Google etc). They are working on this and at this stage is on preview mode. If you would like to try, access your Azure Porta

[2020-06-29 11:41] juanan commented on #337
Hi @TiagoBrenck @jmprieur : I have the same error "OpenIdConnectAuthenticationHandler: message.State is null or empty" but in my case I don't have deployed my .Net Core Project (offering local login with Identity Server 4 and external login with Microsoft Identity Web) on Azure so this solution is not valid for me.

Could you say to me if I have to add anything more to my configuration?

![image](

[2020-06-29 12:58] juanan opened #373 "Signin callback error OpenIdConnectAuthenticationHandler: message.State is null or empty."
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [x] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-06-29 16:52] TiagoBrenck commented on #337
Do you have this `/account/azuread/login/callback` code in your project? We usually use `/signin-oidc` which is implemented by default.

What is the result using  `/signin-oidc` for CallbackPath?

[2020-06-29 16:53] TiagoBrenck commented on #373
Do you have this `/account/azuread/login/callback` code in your project? We usually use `/signin-oidc` which is implemented by default.

What is the result using `/signin-oidc` for CallbackPath?

[2020-06-30 06:54] ahmedsza commented on #368
Thanks @TiagoBrenck :-)  . With this I can now see the claims in a different format. Much appreciated.  Are there any docs you can point me that explains this. I assume this is JWT vs SAML. I want to try and understand this better.  with the change above you both the ASP.NET Client example and the SPA client be able to use the same backend code? I assume so, but did not try

[2020-06-30 06:56] ahmedsza commented on #196
Has a similar issue and thanks for the pointer to update Microsoft.Identity.Web.. Thanks @TiagoBrenck

[2020-06-30 07:07] juanan commented on #373
Hi @TiagoBrenck ,

I have done the test using /signin-oidc for CallbackPath with the same error.

I have attached a trace file to see if that can give you any clue.

Many thanks.

[trace.txt](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/files/4850007/trace.txt)

[2020-06-30 13:00] juanan commented on #373
Attached a repro project with testing instructions (very simple).

[IdentityServers.zip](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/files/4851963/IdentityServers.zip)

[2020-06-30 16:30] TiagoBrenck commented on #368
There is this explanation from George, about these properties: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1214#issuecomment-508285963

Basically, .NET maps the JWT claims name to the SAML equivalent, to help people migrate apps easier. You can disable the mapping by setting `JwtSecurityTokenHandler.DefaultMapInboundClaims = false;`

The `RoleClaimTy

[2020-06-30 16:30] #368 closed

[2020-06-30 20:12] TiagoBrenck commented on #373
Sorry I couldn't reproduce the error, but I noticed something that is missing. OpenIdConnectOptions shouldn't be different than IdentityOptions. You missed some key configs I guess

Could you try this:

[code]

[2020-06-30 20:26] juanan commented on #373
Ok, I will try it but didnt you get any error using my repro solution

[2020-06-30 21:08] TiagoBrenck commented on #373
I mean, I couldn't run the code. I would need to use localhost but your reply url wasn't matching

[2020-07-01 02:17] tbrophy commented on #196
@TiagoBrenck,

_Is there a way to disable scope and roles claims decoratively in appsettings.json?_

The Use Case involves a client that does not provide either scope or role claims in a Bearer token.

If there is **_not_** a way to turn off scope and claims via appsettings.json, can you please suggest a programmatic alternative?

Thanks in Advance!
mr.T

Here is what I have **tried so far** (BTW;

[2020-07-01 02:51] udlose commented on #196
@tbrophy this question should be in a separate Issue

[2020-07-01 02:56] tbrophy opened #374 "How to disable scope and roles claims validation of Oauth 2.0 Bearer tokens when using AddProtectedWebApi?"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-07-01 03:21] AlexA-1976 commented on #281
Is there any fix for a controller action that is attempting to read user profile from AzureAD that is using .NET Core 2.2?

[2020-07-01 03:40] KalyanChanumolu-MSFT commented on #281
Support for .NET Core 2.2 ended on December 23, 2019. Timelines are [here](https://dotnet.microsoft.com/platform/support/policy/dotnet-core)

You should consider upgrading to .NET Core 3.1

[2020-07-01 06:18] juanan commented on #373
I tried with the same result, at the end I just made

`services.AddSignIn(Configuration); `

to avoid problems but no luck.

My client has the reply url configured for localhost so you should not have problems to run my code

![image](https://user-images.githubusercontent.com/17723190/86209340-b1179500-bb72-11ea-988f-1932aed23895.png)

Did you see my log trace?

Don't know, could be that the error

[2020-07-01 10:59] juanan commented on #373
Solved, my error was to mix the internal callback (/signin-oidc) with my custom one.

[2020-07-01 10:59] #373 closed

[2020-07-02 18:06] TiagoBrenck commented on #374
@tbrophy how did you end up with an access token from AAD without scope?

[2020-07-02 19:05] tbrophy commented on #374
@TiagoBrenck, _Thanks for your quick reply._

How do we get an access token without scope?  The entire shell script is quoted at the bottom of this reply, with hard-coded tenant id.

The shell script was created based on; https://docs.microsoft.com/en-us/azure/active-directory/azuread-dev/v1-oauth2-client-creds-grant-flow

Not sure it will matter, but the version of Bash this script is being execu

[2020-07-03 00:47] TiagoBrenck commented on #374
Ok, I managed to get it working now. We have a few considerations in your scenario:

You are using the v1 endpoint, and we highly recommend using the v2.0 endpoint (which will give you roles):

[code]

Please, [refer to this sample](https://github.com/Azure-Samples/active-directory-dotnetcore-daemon-v2/tree/master/2-Call-OwnApi) for the client credential flow. You would like to add the role in you

[2020-07-03 01:37] tbrophy commented on #374
@TiagoBrenck, _Thanks for confirmation on the correct sample to use_—was just starting to work with it this afternoon.  Stepping-back in the git commit timeline to the earliest support of netcore3.1, I have seen that it demands roles and scopes for; https://github.com/Azure-Samples/active-directory-dotnetcore-daemon-v2/tree/master/2-Call-OwnApi/TodoList-WebApi

Perhaps we may have to go really old

[2020-07-03 16:01] TiagoBrenck commented on #374
@jmprieur is it possible for Microsoft.identity.Web to not validate scopes or roles?

[2020-07-04 14:43] jmprieur commented on #374
@TiagoBrenck
Assuming you mean here: https://github.com/AzureAD/microsoft-identity-web/blob/aa72fadd98181a01ce0da4aee4206e0bbc6d9fba/src/Microsoft.Identity.Web/WebApiAuthenticationBuilderExtensions.cs#L139-L148, I would think yes, as roles and scopes should be validated in the controllers with the [ValidateAppRole](https://github.com/AzureAD/microsoft-identity-web/blob/aa72fadd98181a01ce0da4aee420

[2020-07-05 18:40] kalyankrishna1 commented on #374
Folks that check exists to satisfy an [important security posture ](https://docs.microsoft.com/azure/active-directory/develop/reference-breaking-changes#app-only-tokens-for-single-tenant-applications-are-only-issued-if-the-client-app-exists-in-the-resource-tenant)that we fixed last year. That's reason #1
We can introduce a flag to skip this check, but its not advisable to walk around security chec

[2020-07-05 18:50] jmprieur commented on #374
Thanks @kalyankrishna1
Do you mean tokens emitted by AAD v2.0 ?
or v2.0 tokens?

[2020-07-06 15:38] udlose commented on #374
@jmprieur can you describe the difference?

[2020-07-06 17:12] tbrophy commented on #374
@kalyankrishna1 Is there a process for having a 'disable role and scope checking ' flag formally considered?

As an aside, our client is in the same tenant.  We check the audience and client id in the token from the client as the next-best alternative to having been provided no role or scope passed to us.

[2020-07-07 04:46] rajeev16mca2k5 opened #375 "Single sign-on working with 1-1-MyOrg Sample, but not with 1-5-B2C. Please help."
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-07-07 08:40] jmprieur commented on #374
@udlose : The Azure AD v2.0 endpoint (Microsoft identity platform endpoint), like the Azure AD v1.0 endpoint emit access tokens which version is the version that the Web API expects (accepted access token version in the application manifest)

[2020-07-07 14:25] jmprieur commented on #374
@udlose
Something you could do is override options.Events.OnTokenValidated:
See https://github.com/AzureAD/microsoft-identity-web/wiki/customization

[2020-07-07 16:52] tbrophy commented on #374
@jmprieur and @udlose, Can one of you help me out here?  I am missing something.  Is the recommendation to override options.Events.OnTokenValidated for the purpose of skipping role and scope claim validation or to support v1.0 tokens, or something else?

If the modification is for the purpose of skipping role and scope claim validation, is the code snippet under "2. modifications to Startup.cs' in

[2020-07-08 19:56] TiagoBrenck commented on #281
@AlexA-1976 in case you can`t update your .NET Core version at all, unfortunately the only solution would be using Microsoft.Identity.Web project before becoming a NuGet package and before using Core 3.1.

The Git revision at this stage is: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/d043e49e

Be aware that at that time, some methods had a different na

[2020-07-09 01:43] udlose commented on #374
@jmprieur I was asking if you could explain the difference between the 2 types of tokens you mention above

[2020-07-09 09:51] jmprieur commented on #374
@udlose : please see https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens and https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens

[2020-07-09 09:53] jmprieur commented on #374
@tbrophy : it should not run unconditionally if you override the `OnTokenValidated` event.

[2020-07-10 17:05] tbrophy commented on #374
@jmprieur, Thanks.  Using the snippet at https://github.com/AzureAD/microsoft-identity-web/wiki/customization as guidance, I was able to override the default claims checking.

[2020-07-10 17:37] jmprieur commented on #374
@tbrophy : thanks for the update. Do we want to close this issue?

[2020-07-10 17:53] #374 closed

[2020-07-10 18:05] jennyf19 commented on #375
@rajeev16mca2k5 have you tried running the b2c sample as-is? it is preconfigured.

What are you expecting for single sign-on?

[2020-07-11 07:45] freemstr opened #376 "No account or login hint was passed to the AcquireTokenSilent call"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-07-11 22:28] toddheckel opened #377 "Signout fails in samples with unknown tenant in error message"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [x] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-07-13 21:20] jmprieur commented on #376
@freemstr
We just released Microsoft.Identity.Web 0.2.0 which refactored the the token cache key
If you provide all the necessary scopes in the AddMicrosoftWebAppCallsWebApi, you should not have this issue

Do you have a repro?

[2020-07-13 21:27] jmprieur commented on #377
@toddheckel
Would you be using the user secrets (right click on the project in Visual Studio, | manage user secrets) ?

[2020-07-14 00:13] toddheckel commented on #377
No I am not using user secrets. This happens with minimal repro steps - just clone the repo, modify appsettings.json, and run.

I am also seeing similar behavior in a production service that is using MSAL directly.

[2020-07-14 18:02] freemstr commented on #376
@jmprieur
Thank you
I will have to look at code changes and see if there is anything useful for me.
API is secured and is operating as intended.
However, the code in question is **.NET Framework** project not using Microsoft.Identity.Web nuget targeted at Core
The original relevant Azure-Samples project for MVC is [archived](https://github.com/Azure-Samples/active-directory-dotnet-webapp-webapi-op

[2020-07-14 19:24] TiagoBrenck commented on #376
The scenario of empty cache and AuthorizationCodeReceived not being called after restarting the application is an expected stage. The `AuthorizeForScopesAttribute` takes care of it, filtering `MsalUiRequiredException` and throwing an authentication challenge. Since there are valid auth cookies in the user s browser, they wont be asked to type their password again. This solution does **not** involv

[2020-07-14 19:38] TiagoBrenck commented on #377
@toddheckel I have checked this app registration, https://ms.portal.azure.com/#blade/Microsoft_AAD_RegisteredApps/ApplicationMenuBlade/Authentication/appId/7561a6e5-a4da-43d9-a920-a2194b9086bf/isMSAApp/, and it has a lot of different values for scopes and reply urls. than the ones mentioned in the sample Readme. I would suggest you creating another application with just the necessary values for th

[2020-07-14 22:27] toddheckel commented on #377
I created a new app registration (client id fcac81a9-f560-4f60-a646-e83cdd936301), followed the exact steps in the readme to configure it, and tried again with sample 1-3 (since I'm working with accounts in any org / personal accounts) and still see the same thing when signing out.

**Even stranger, however, is that I just saw the same thing attempting to log out of Partner Center with my work acc

[2020-07-14 23:51] TiagoBrenck commented on #377
Could you help me understand where this Tenant a39cd443 is coming from?
The file that you shared earlier uses the MSFT tenant id instead. In which tenant do you want the application to be registered?

[2020-07-15 00:06] toddheckel commented on #377
I have no idea where tenant a39cd443-628d-4856-97f8-fd1718b5bbcb is coming from, that's the big mystery here. I have only tried this with the MSFT tenant, both with an existing app registration and the new one I created per your request, using samples 1-1 and 1-3 (the code in Startup.cs is essentially identical). I have also tried with both "72f988bf-86f1-41af-91ab-2d7cd011db47" (MSFT tenant id) a

[2020-07-15 17:31] toddheckel commented on #377
This turned out to be an issue with Azure AD and a deleted tenant. Will provide Fiddler capture as discussed. Thanks!

[2020-07-15 17:31] #377 closed

[2020-07-16 04:20] freemstr commented on #376
@TiagoBrenck @jmprieur

I will look at the code changes for 0.2 and see what I can infer that is usable for legacy applications.

This issue seems to also still be open https://github.com/AzureAD/microsoft-identity-web/issues/13
but ideas provided by @jennyf19 seem promising

I understand that Microsoft.Identity.Web isn't compatible with .NET MVC Framework and appreciate all the work that went int

[2020-07-16 08:22] #376 closed

[2020-07-16 16:21] TiagoBrenck commented on #376
Thanks for the detailed solution @freemstr

We are waiting for [.NET 5](https://devblogs.microsoft.com/dotnet/introducing-net-5/) to be released, so we would have one single platform that would handle Net Core and Net Standard.

[2020-07-16 19:23] freemstr commented on #376
Hope it helps the remaining few people working with Framework projects
I have my doubts about release of 5.0 bridging difference in `AuthenticationProperties `(for example) so I expect my solution to stay there until the entire app is upgraded.

Thanks again

[2020-07-22 06:03] tinboen opened #381 "Entity Framework doesn't work after publish to folder."
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [x] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-07-23 12:07] maarten1055 opened #382 "Still getting No account or login hint was passed to the AcquireTokenSilent using latest microsoft.identity.web"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-07-23 16:38] mossywell commented on #375
Problem confirmed.
If 1-5-B2C is run against the Fabrikam, it works.
The bug is in the instructions which omit "allow Implict Flow" via the Legacy App Registration option. I would also recommend making it clear that this sample uses Implict Flow and not Authorization Code flow.

[2020-07-23 16:43] jmprieur commented on #375
@mossywell : it does not use implicit flow. It just asks for an IDToken, which turns out to be presented, in the app registration (and wrongly) in the part about implicit flow

[2020-07-23 17:14] mossywell commented on #375
@jmprieur : Interesting. So, the option "allow Implicit Flow" (which returns an access token if using oAuth2) should say "allow ID token"? I also just read this: https://docs.microsoft.com/en-us/azure/active-directory/azuread-dev/v1-protocols-openid-connect-code "The response_type parameter must include id_token". So, Microsoft's OIDC implementation requires id_token even though the OIDC standard

[2020-07-23 22:52] TiagoBrenck commented on #382
Did you deploy it on Azure? If not, where did you deploy it?
Another question is, did you add any code customization (other than setting your clientId, tenantId etc)?

[2020-07-23 22:59] TiagoBrenck commented on #375
Hi @mossywell could you point me to this instruction that you are getting confused?
I checked that our sample 1-5 has a link to the registration steps, which says:

 - Under Implicit grant, select both the Access tokens and ID tokens check boxes.

This "Under Implicit grant" is referencing the Azure Portal UI. The IdToken checkbox is under the title Implicit grant.

[2020-07-24 06:33] maarten1055 commented on #382
No, we deploy it to an on-premise IIS server.
No, at least not in the authorization flow to call our API.

I don't know if it matters but it has always worked until the separation of microsoft.identity.web.

[2020-07-24 13:31] mossywell commented on #375
I have searched the instructions page https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-5-B2C for the word "implicit" and cannot find it.

[2020-07-24 17:44] TiagoBrenck commented on #382
Is your `ActionResult`, or `Controller`, decorated with the attribute: `[AuthorizeForScopes(Scopes = new[] { "Your-WebApi-Scope" })]` ?

[2020-07-24 17:52] TiagoBrenck commented on #375
@mossywell the readme on sample 5-1 itself doesn't have the steps to create the application, but a link to the steps. You will find it in [this text](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-5-B2C#step-2-get-your-own-azure-ad-b2c-tenant) (the ** would be the link):

[code]

[2020-07-24 18:09] maarten1055 commented on #382
Sorry, I should've specified this. My API is MVC but the webapp that calls it are razor pages, so no `Controller `or `ActionResult`.
Unless handler methods count as `ActionResult`, but I doubt it?

[2020-07-24 18:57] TiagoBrenck commented on #382
@maarten1055, `Microsoft.Identity.Web` is about to release a version that makes this, ``No account or login hint...`` problem to be handle quiet easily for MVC and Blazor apps.

Would you mind [tracking this issue](https://github.com/AzureAD/microsoft-identity-web/issues/360) so you can get notified when they release the new version?

[2020-07-24 19:21] maarten1055 commented on #382
Will do, I'll update if it solves my issue when it's released .

Thanks!

[2020-07-26 19:58] kalyankrishna1 commented on #250
You are on a path that will consistently make your application outdated. The Microsoft.Identity.Web is a library, that will continue to evolve for a long time. Your application is probably using 1%- 5% of the libraries that it has referenced, so how many references would you continue to minify for your project ?

While no one has stopped you from downloading the library  and minify it yourself, th

[2020-07-26 19:58] #250 closed

[2020-07-27 00:26] the-vampiire commented on #329
@TiagoBrenck can you confirm whether AD B2C allows for requesting **user consent**? i can not find an answer to this anywhere. it has been driving me insane and after another rabbit hole i end up on this issue.

all i have been able to do is grant tenant-wide permissions as an admin. but i would like a user to view a consent screen.

i do not follow how an *authorization* can be taken without the

[2020-07-27 00:32] the-vampiire commented on #329
it implies that there should be a way to request **user consent**:

![image](https://user-images.githubusercontent.com/25523682/88493325-15612500-cf76-11ea-84ae-1f61f678f8c0.png)

but when adding a new scope the only option is admin consent required:

![image](https://user-images.githubusercontent.com/25523682/88493355-3f1a4c00-cf76-11ea-9357-d12b2a059996.png)

the permission type is correctly cla

[2020-07-27 00:38] the-vampiire commented on #329
is this because both the Client and API applications are registered in my tenant. so this not considered a **third-party delegation** as seen in traditional OAuth uses?

while i can rationalize the logic here i dont agree with it and think there should be some explanation around this behavior.

i believe (and according to the highlighted text when exposing a scope) that a user should be prompted f

[2020-07-27 08:16] jmprieur commented on #329
@the-vampiire : no this is not because both apps are registered in your tenant (unless you have granted admin consent, in which case the users don't need to consent any longer)

@nickgmicrosoft can you please help?

[2020-07-27 08:19] jmprieur commented on #250
Also, when you deploy your application, depending on the host, the parts of Microsoft.Identity.Web that are not used (see technics like .NET native)

For the unique selling points, @sujayvsarma

![image](https://user-images.githubusercontent.com/13203188/88519636-b392d080-cff2-11ea-978b-712caf1d1fe3.png)

[2020-07-27 08:20] the-vampiire commented on #329
that is exactly what i did - grant tenant-wide admin consent.

but i am confused why there appears to be no mechanism or documentation about setting other more granular consents (app, user).

particularly user consent. it seems like a natural choice to me in the context of oauth with b2c.

[2020-07-27 08:22] jmprieur commented on #329
I'll let @nickgmicrosoft elaborate. It might be that for the moment, this needs to be edited in the app manifest, but I'm not sure. @jennyf19 would you know?

[2020-07-27 09:19] sujayvsarma commented on #250
2 things, given this was a very old ask that someone misguidedly closed in the middle of a discussion! -

1] I had since succeeded in minifying the library for my use. It was very very tiny. I also ended up having to rewrite small bits of it and add more handlers. Still the code was smaller than the `Microsoft.Identity.Web` codebase.

This was the primary reason that I let this item remain closed.

[2020-07-27 09:22] jmprieur commented on #250
Thanks for the update @sujayvsarma
Good luck for your new role!

[2020-07-27 15:04] derisen commented on #208
@bobo8488 @mufraver2 @faizankhan1995 I suggest to take a look at these two samples:

- [Angular SPA & .NET Core Web API](https://github.com/Azure-Samples/ms-identity-javascript-angular-spa-aspnetcore-webapi)
- [React SPA & .NET Core Web API (on-behalf-of)](https://github.com/Azure-Samples/ms-identity-javascript-react-spa-dotnetcore-webapi-obo)

With respect to CORS issue, you might want to check [

[2020-07-27 18:51] the-vampiire commented on #329
last i checked it wasnt available. but if you know there is support for this from the CLI or making raw requests to the azure REST API to configure this that is fine by me.

thank you again for tagging the experts. sorry if i came across as aggressive i am just really frustrated after scouring every resource i could find on the subject.

[2020-07-27 19:47] jmprieur commented on #233
This is documented in this is documented in https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access

[2020-07-27 19:48] jmprieur commented on #382
@maarten1055 @TiagoBrenck
Did you read: this is documented in https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access ?

[2020-07-28 02:18] DhivyaG19 commented on #144
To find the objectId of existing roles in your tenant you can use [Get-AzureADMSRoleDefinition](https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureadmsroledefinition?view=azureadps-2.0-preview) powershell commandlet and you can use [New-AzureADMSRoleAssignment](https://docs.microsoft.com/en-us/powershell/module/azuread/New-AzureADMSRoleAssignment?view=azureadps-2.0-preview) comman

[2020-07-28 02:59] kalyankrishna1 commented on #144
Closing this as the PS command needed is provided and Microsoft.AspNetCore.Authentication.AzureAD.UI has been superseded by Microsoft.Identity.Web

[2020-07-28 02:59] #144 closed

[2020-07-28 06:44] maarten1055 commented on #382
So I tried the new version and the info @jmprieur provided but no luck.

Since the new version I do get a new error: `An MsalUiRequiredException was thrown due to a challenge for the user. This has occurred in a Blazor page. You need to use ConsentHandler.HandleException(ex) to challenge the user`
Which is weird because I'm not using Blazor but Razor Pages.

[2020-07-28 07:43] jmprieur commented on #382
@maarten1055 :
Did you add the attribute on the Razor page as show here? https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access#in-razor-pages ?

[2020-07-28 12:07] maarten1055 commented on #382
I did, but checking this made me recheck everything again and I noticed that this new exception also mentions the graph API I call.
I thought it wouldn't matter at first because It's a separate flow. But apparently it does interfere with each other because it seems to work when I disable graph.

[2020-07-28 12:21] jmprieur commented on #382
Thanks @maarten1055 for the update.
I'm not clear if you think there is an issue in MIcrosoft.Identity.Web / the sample? or in your code?

[2020-07-28 12:29] maarten1055 commented on #382
I'm pretty sure it's in my code. So this can probably be closed?

Thanks for the help anyways!

[2020-07-28 12:42] jmprieur commented on #382
Thanks for the update @maarten1055.
Closing this issue

[2020-07-28 12:42] #382 closed

[2020-07-28 12:43] #369 closed

[2020-07-28 12:44] jmprieur commented on #367
@PastelFish99
Did you see https://github.com/AzureAD/microsoft-identity-web/wiki/Deploying-Web-apps-to-App-services-as-Linux-containers ?
Closing this issue as we think it's answered.
Feel free to reopen if you disagree

[2020-07-28 12:44] #367 closed

[2020-07-28 12:53] jmprieur commented on #345
@SwimlaneBuilder : Microsoft.Identity.Web now support Blazor server and the blazorwasm template (Blazor SPA with hosted web api). See also https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access#in-blazor-server.

This will be available in .NET 5 Preview 8 templates

[2020-07-28 12:53] #345 closed

[2020-07-28 12:54] #305 closed

[2020-07-28 12:55] jmprieur commented on #285
This is now fixed @sowsan @TiagoBrenck @njnorman
See https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access#in-blazor-server

[2020-07-28 12:55] #285 closed

[2020-07-28 12:56] jmprieur commented on #159
@robertjf : We've done this in Microsoft.Identity.Web 0.2.1-preview which released on Saturday.
Thanks for your suggestion

[2020-07-28 12:56] #159 closed

[2020-07-28 13:02] jmprieur commented on #281
@fboucsc @aelhadi @isaacrlevin @franva @frankkilcommins @rharbaugh @dengel223  @wmgdev
@kenchilada  @JaimeLanders @jmsv @AlexA-1976 @KalyanChanumolu-MSFT

Microsoft.Identity.Web now provides solutions for MVC, Razor and Blazor. Please see https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access#in-blazor-server

Proposing to close this issue. Feel

[2020-07-28 13:02] #281 closed

[2020-07-28 13:03] jmprieur commented on #316
This should be done, now, @TiagoBrenck
feel free to reopen if you disagree

cc: @jennyf19 @pmaytak

[2020-07-28 13:03] #316 closed

[2020-07-28 13:04] #332 closed

[2020-07-28 15:43] PastelFish99 commented on #367
Hi Jean-Marc,

Thanks for the link. I’ll check it out. I have been focusing on some other higher priority work so have not given much focus to this.

Regards
Adrian

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Jean-Marc Prieur<mailto:notifications@github.com>
Sent: Tuesday, 28 July 2020 14:45
To: Azure-Samples/active-directory-aspnetcore-webapp-openidconnec

[2020-07-30 05:38] RhomGit opened #386 "4-2 B2C: How to diagnose 401 errors?"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-07-30 10:35] jmprieur commented on #386
@RhomGit : I'm a bit confused. It seems the doc is up to date here :https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-2-B2C#step-2-modified-the-generated-code ?
where is it obsolete?

To understand the 401, the best is to change this line

https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/dc1

[2020-07-30 11:09] RhomGit commented on #386
Thanks for your response. With regard to the doc:
https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-2-B2C#modify-the-startupcs-file-to-validate-bearer-access-tokens-received-by-the-web-api

   services.AddAuthentication()
           .AddMicrosoftWebApi(options =>

Which I believe should read:
            services.AddAuthentication(

[2020-07-30 11:12] RhomGit commented on #386
IIS is reporting this when trying to open the url:
_info: Microsoft.AspNetCore.Hosting.Diagnostics[1]
      Request starting HTTP/2.0 GET https://localhost:44332/api/TodoList
info: Microsoft.AspNetCore.Authorization.DefaultAuthorizationService[2]
      Authorization failed.
info: Microsoft.AspNetCore.Authentication.JwtBearer.JwtBearerHandler[12]
      AuthenticationScheme: Bearer was challenged.
i

[2020-07-30 13:53] jmprieur commented on #386
Could you please subscribe to the events diagnostics? (set to true the last parameter of AddMicrosoftWebApp)

[2020-07-30 20:12] TiagoBrenck commented on #386
@RhomGit you unloaded the Client app and publish the API.
API doesnt have landing page, so you wont be able to access it via the url: `https://localhost:44332/api/TodoList` or its published version.

To test it, you need to make a GET request with a **bearer token** in the header. This is not possible to do by just browsing the URL. [This link explaining access tokens](https://docs.microsoft.com/e

[2020-07-31 06:46] RhomGit commented on #386
Ok, that makes sense. I have been trying to use it the same way my old B2C API was working using Azure App Service to fetch the token:
![image](https://user-images.githubusercontent.com/25700833/89007540-83716780-d33b-11ea-80d3-87ee139b5bd7.png)

Requesting the url redirects me to my sign in flow, and then redirects back but I am getting a 401.
I have also used MSAL (4.16.1) PCA to obtain a token

[2020-07-31 07:58] jmprieur commented on #386
Oh, if you use the authentication in our samples, you should disable Azure App Service authentication (for the moment they are conflicting with each other. See https://github.com/AzureAD/microsoft-identity-web/issues/8

[2020-07-31 08:33] RhomGit commented on #386
Ok, that's kind of a big deal considering all of our tokens (desktop, web, mobile) are currently acquired via MSAL and Easy Auth.
I didn't even know there was a difference in tokens, damn I wasted alot of time on this.

[2020-07-31 08:33] #386 closed

[2020-07-31 13:38] jmprieur commented on #386
You are right @RhomGit
would you have suggestions on how we could surface this better?

[2020-07-31 23:49] RhomGit commented on #386
Is it possible to catch the invalid token/bearer at point of auth in microsoft.identity.web and report an additional diagnostic line? Documentation is good (might stop some developers earlier) but easily missed, some sort of information at point of failure would be very beneficial in my opinion:

e.g.
Microsoft.AspNetCore.Authorization.DefaultAuthorizationService: Information: Authorization failed

[2020-07-31 23:54] RhomGit commented on #386
Thanks for your fast response time by the way, Your team is great and one of the reasons I switched to this library when looking for a solution.

For anyone who stumbles across this thread, I found this link helps to explain the token issue a little more (and provides a possible workaround):
http://jsandersblog.azurewebsites.net/2020/01/17/easy-auth-using-x-ms-token-aad-access-token-as-a-bearer-to

[2020-08-03 11:52] jmprieur commented on #386
Thanks for reporting the docs issue, @RhomGit and for your feedback. I fixed the README.md

the issue with the workaround is that the token is only active for 1h, and won't be refreshed. But I guess that's ok.

[2020-08-04 08:54] NikolaosWakem commented on #115
@TiagoBrenck

Seem to be getting the MsalUiRequiredException wrapped in a MicrosoftIdentityWebChallengeUserException since updating to 0.2.1-preview in Action methods... so the

            catch (MsalUiRequiredException)
            {
                throw;
            }
            catch (Exception ex)
            {
               do other stuff

doesn't throw out via AuthorizeForScopes

IDW1050

[2020-08-04 08:59] jmprieur commented on #115
@NikolaosWakem
- Thanks for reporting. This is a breaking change :-(
Are you saying it's not handled by the AuthorizeForScopes attributes? (that's strange?, as it does look to the inner exception, which is an MsalUiRequiredException

cc: @jennyf19

[2020-08-04 09:02] NikolaosWakem commented on #115
Probably right if there is no other exception hadnling... However the recommended solution if you do have exception handling is to throw  any MsalUiRequiredException up to AuthorizeForScopes...
so now you need
catch (MsalUiRequiredException)
            {
                throw;
            }
            catch (Exception ex)
            {
                if (ex.InnerException is MsalUiRequiredExcep

[2020-08-04 09:05] jmprieur commented on #115
Oh I see.
Thanks for the update, @NikolaosWakem
We'll fix this. I was wondering if the new exception shouldn't inherit from MsalUiRequiredException

[2020-08-04 09:15] NikolaosWakem commented on #115
To be honest I was more flagging this up as it started showing up on my clients website and I had to figure out what was going on.. Please move in the direction you think is best for the product as I'm more than happy to make changes to my code. With a bit of a rethink I could remove all exception handling in all my actions and move to one/many custom ExceptionFilterAttribute(s) too.. , but it's m

[2020-08-04 14:02] rajeev16mca2k5 opened #387 "Authorization Code Flow does not work possibly because ResponseType has been overridden by CodeIdToken in Microsoft.Identity.Web"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-08-05 08:43] nickgmicrosoft commented on #329
Hi @the-vampiire ,

Apologies for the confusion. To clarify, Azure AD B2C does not support user consent out of the box at this time. Thus, all scopes must be given admin consent as you found.

You can implement your own consent logic using custom policies as seen in [this](https://github.com/azure-ad-b2c/samples/tree/master/policies/service-consent) community sample.

[2020-08-11 16:04] joel-kriel opened #391 "1-WebApp-OIDC/1-1-MyOrg (.NET core 3.1) giving Unable to obtain configuration error while 2.2 sample working properly."
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [x] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-08-11 17:31] Shama-K commented on #391
@joel-kriel, I'd run the sample but could not reproduce the issue. Can you share if you have customized code or are there any extra steps taken?

[2020-08-11 17:57] multco-malan commented on #352
I got this working by "exposing" (e.g. getting) authenticated user token in web site that calls api, and then authenticating in swagger docs w/ this token.

Closing.

[2020-08-11 17:57] #352 closed

[2020-08-11 18:13] joel-kriel commented on #391
The only change I did to startup.cs was the following:

using Microsoft.IdentityModel.Logging;

and then added this in ConfigureServices

IdentityModelEventSource.ShowPII = true;

Beside that, I just updated the appsetting.json file and ran the project. The 2.2 linked here (https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-aspnet-core-webapp) works fine for me but the 3

[2020-08-11 21:28] Shama-K commented on #391
Can you share the configuration file? And also the output when you click below link:
https://login.microsoftonline.com/common/discovery/instance?authorization_endpoint=https://login.microsoftonline.com/common/oauth2/v2.0/authorize&api-version=1.1

[2020-08-12 07:29] jmprieur commented on #391
Would you have a proxy? or a firewall preventing you to access the discovery endpoint, @joel-kriel ?

[2020-08-12 11:51] joel-kriel commented on #391
Which configuration file?

This is the output when I click on the link:
{"tenant_discovery_endpoint":"https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration","api-version":"1.1","metadata":[{"preferred_network":"login.microsoftonline.com","preferred_cache":"login.windows.net","aliases":["login.microsoftonline.com","login.windows.net","login.microsoft.com","sts.windows.net"]

[2020-08-12 11:55] joel-kriel commented on #391
Yes I am behind a corporate proxy. I was going down this path until I downloaded the 2.2 sample and that worked. I thought it was not the proxy at that point.

I did modify my devenv.exe.config file here

to this

[2020-08-13 06:54] PingPongSet opened #392 "How to receive login response, process it and store it in DB via Azure Acitve Directory and OIDC ASP.NET Core"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-08-13 21:24] gufigueiredo opened #393 "Cannot validate scopes using AddMicrosoftWebApi()"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-08-14 22:34] Shama-K commented on #391
Could you run a tool like fiddler and diagnose what might be going wrong with the network calls?
Please also look at the changes between 2.2 and 3.0 [here](https://docs.microsoft.com/en-us/aspnet/core/release-notes/aspnetcore-3.0?view=aspnetcore-3.1),  as one of those changes might be affecting your network scenario.

[2020-08-17 07:55] PingPongSet commented on #392
Any idea?

[2020-08-17 09:03] jmprieur commented on #392
@PingPongSet I'm confused. What do you want to store into a SQL database?

[2020-08-18 02:14] sprakash10 commented on #115
The same issue as @NikolaosWakem, the only difference is, it is a blazor app though. A user signed in, but OnAuthoizationCodeReceived even is not wired to call "AddAccountToCacheFromAuthorizationCodeAsync", since this method isn't exposed via the interface.

Error: Microsoft.Identity.Web.MicrosoftIdentityWebChallengeUserException: IDW10502: An MsalUiRequiredException was thrown due to a challenge

[2020-08-18 03:24] jennyf19 commented on #115
@NikolaosWakem @sprakash10 you'll need to handle the challenge, as mentioned in the error. see this [wiki page for details](https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access#in-blazor-server). Let us know if this doesn't resolve the issue for you.

[2020-08-20 01:02] #392 closed

[2020-08-24 09:14] PingPongSet opened #396 "5-WebApp-AuthZ/5-2-Groups: AADSTS50011: The reply URL specified in the request does not match the reply URLs configured for the application"
I created my app following the instructions on the link below:
https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/5-WebApp-AuthZ/5-2-Groups

I got the error below when I tried to log into my app hosted on Azure,

The url at the time of error is shown below:

Please note the `redirect_uri=https://xxx.azurewebsites.net/.auth/login/aad/callback` above, wh

[2020-08-24 12:07] dxm38 commented on #264
@jmprieur @kalyankrishna1 @TiagoBrenck

Hi, I might have missed it but have there been any updates on the tutotial on how to handled expired tokens with JS when you have logged in using the 2-2-TokenCache or similar example (Mixed C# and Javascript Ajax calls environment)?

As I reminder, what I was looking for, in the first instance, was an enhancement to the 2-2-TokenCache (or depending on whate

[2020-08-24 18:03] TiagoBrenck commented on #396
Hello,

Our samples are configured to run locally, using the `https://localhost:44321/signin-oidc` reply URI. If you want to deploy your application (or the sample), the reply URI must be updated as well, according to your AppService. For i.e, `https://xxx.azurewebsites.net/signin-oidc`. For more guidance about this topic, check [our deployment steps sample](https://github.com/Azure-Samples/active

[2020-08-24 18:05] TiagoBrenck commented on #264
@jmprieur @jennyf19 @pmaytak Does `Microsoft.Identity.Web` got this feature implemented?

[2020-08-25 00:53] PingPongSet commented on #396
Hi @TiagoBrenck,

Before I opened the issue, I did follow the steps on the link below. But I got the same error.
https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/5-WebApp-AuthZ/5-2-Groups#how-to-deploy-this-sample-to-azure

I also got error when I tried to import Profile downloaded from App Service, which means I was not able to set the setting below

[2020-08-25 16:39] jennyf19 opened #397 "[FeatureRequest] Implement CallsMicrosoftGraph in Startup.cs"
See this [issue in Microsoft Identity Web](https://github.com/AzureAD/microsoft-identity-web/issues/427) for details, but let's update the samples to use the new API in [0.3.0-preview](https://aka.ms/ms-id-web/0.3.0-preview). Here's an [example](https://github.com/AzureAD/microsoft-identity-web/blob/master/tests/WebAppCallsMicrosoftGraph/Startup.cs#L33).

[2020-08-25 16:41] jennyf19 opened #398 "[Feature Request] Implement AddDownstreamWebApi"
See this [issue in Microsoft Identity Web](https://github.com/AzureAD/microsoft-identity-web/issues/403) for details, but let's update the samples to use the new API in [0.3.0-preview](https://aka.ms/ms-id-web/0.3.0-preview). Here's an [example](https://github.com/AzureAD/microsoft-identity-web/blob/master/tests/WebAppCallsWebApiCallsGraph/Client/Startup.cs#L47) and the [controller](https://github

[2020-08-25 17:05] jmprieur commented on #397
@kalyankrishna1 FYI

[2020-08-25 17:06] jmprieur commented on #398
@kalyankrishna1 FYI

[2020-08-25 22:18] pmaytak commented on #397
Additional converted sample as an example: [1](https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/blob/f94cf7f25b63ae3defa697c24663b35016676ae0/2.%20Web%20API%20now%20calls%20Microsoft%20Graph/TodoListService/Startup.cs#L27), [2](https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/blob/f94cf7f25b63ae3defa697c24663b35016676ae0/2.%20Web%20API%20no

[2020-08-26 07:45] manoj1201 opened #399 "EditProfile Throw error for Azure AD B2C solution "1-WebApp-OIDC/1-5-B2C""
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-08-26 07:48] manoj1201 commented on #399
Added Operating system version and .NetCore Version details

[2020-08-26 18:25] pmaytak commented on #399
Hi @manoj1201. Could you provide a detailed error message? `ASPNETCORE_ENVIRONMENT` should be set to `Development` in [launchSettings.json](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/1-WebApp-OIDC/1-5-B2C/Properties/launchSettings.json#L15) or just remove [this](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v

[2020-08-27 06:26] manoj1201 commented on #399
@pmaytak , Thanks for info.

I am using Userflow:
B2C_1_SignUpIn for Sign In or Sign Up -> Working fine.
B2C_1_ProfileEdit  -> When i run using run flow button via portal with https://jwt.ms as redirect url. it works fine.  I followed again all steps and documentation  https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-5-B2C .
Invalid g

[2020-08-27 07:15] pmaytak commented on #399
@manoj1201 Can you verify which version of Microsoft identity Web package you're using? Try 0.3.0-preview (it's is the latest) if you're not already.

@jennyf19 I thought we had a similar issue like this and it was fixed? (Maybe it was [467](https://github.com/AzureAD/microsoft-identity-web/issues/467)?) I think the problem was that user flow parameter passed in to `GetAccessTokenForUserAsync` is

[2020-08-27 08:44] jmprieur commented on #399
I could confirm that this reproes in a B2C Web app that sign-ins users (1-WebApp-OIDC/1-5-B2C), but not in a B2C web app that signs-in users and calls a Web API (our test app works well).

### Analysis
What happens, is that in `AzureADB2COpenIDConnectEventHandlers.OnRedirectToIdentityProvider` we request an IdTokenCode even in the OIDC case (when the app does not call a Web API)

https://github.co

[2020-08-27 08:51] jmprieur commented on #399
@manoj1201 thanks for raising this issue. We'll fix it ASAP (in Microsoft.Identity.Web)
Meanwhile there is a work around which is call `.AddMicrosoftWebAppCallsWebApi(Configuration, "AzureAdB2C")` after `.AddMicrosoftWebApp`

[2020-08-27 11:54] manoj1201 commented on #399
Hello @pmaytak

As suggested, I changed the nuget package "Microsoft.Identity.Web.UI"  & "Microsoft.Identity.Web" with 0.3.0-preview.

It asked to change the obsolete function in stratup.cs file. I changed  below line **services.AddMicrosoftWebAppAuthentication(Configuration, "AzureAdB2C")**
with   **services.AddMicrosoftIdentityWebAppAuthentication(Configuration, "AzureAdB2C");**

**_When the ran

[2020-08-27 12:28] jmprieur commented on #399
@manoj1201, it's a work around. We are going to fix this ASAP.

Meanwhile, if you don't want to use that work around, you could try the following work around, which should work.

[code]

[2020-08-27 13:01] manoj1201 commented on #399
Thanks @jmprieur for your quick prompt. Its really appreciable.
As suggested, I added above shared code snippet with Configure Service function in Startup.cs file. Its works like charm.

**Modified Function**
public void ConfigureServices(IServiceCollection services)
        {
            services.Configure<CookiePolicyOptions>(options =>
            {
                options.CheckConsentNeeded =

[2020-08-27 15:01] jennyf19 commented on #399
@manoj1201 the fix has been merged into master. we'll let you know when we can get out a release. thanks for letting us know about the issue so quickly.

[2020-08-27 16:41] jennyf19 commented on #399
included in [0.3.1-preview release](https://github.com/AzureAD/microsoft-identity-web/releases/tag/0.3.1-preview). thanks again @manoj1201

[2020-08-27 16:41] #399 closed

[2020-08-27 17:28] jmprieur commented on #387
@rajeev16mca2k5
CodeIdToken is not implicity flow. The portal incorrectly states that IDToken is in implicity flow, but it's not. you would have implicit flow only if you checked "Implicit flow access token", which we don't advise.

If you want to override what Microsoft.Identity.Web does, you can use the following code:

[code]

[2020-08-27 17:28] #387 closed

[2020-08-28 04:38] dglumesh opened #403 "How to get '.TokenAuthCookies' cookie from this sample code - [3-WebApp-multi-APIs]"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-08-28 05:30] jmprieur commented on #403
@hspin FYI

[2020-08-28 14:01] jmprieur commented on #403
@dglumesh :
Please look at:
https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/b355c94177caa58d4e8c59a07a13429dc3788395/3-WebApp-multi-APIs/Controllers/HomeController.cs#L55-L70,

It does what you want (without having to use a token auth cookies which is proprietary to docs.microsoft.doc, and which you should probably not use.

[2020-08-29 04:34] dglumesh commented on #403
@jmprieur  Thank you for letting me know regarding this. I was wondering how should they access tenant list before getting tenant list by api request. i will follow with this. Thanks again 👍

[2020-08-29 08:21] jmprieur commented on #403
@dglumesh : proposing to close this issue. Feel free to reopen if that does not work for you

[2020-08-30 04:46] dglumesh commented on #403
Done! Thanks. @jmprieur

[2020-08-30 04:46] #403 closed

[2020-09-02 06:54] PingPongSet commented on #396
Hi @TiagoBrenck,

Thank you for comments.

I have checked the link you provided, which lacks settings for App Registration including Token Configuration, Permission, secret, settings on appsettings.json file and others.

However, the link I am using is below, which includes settings mentioned above.
https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/5-

[2020-09-02 16:53] TiagoBrenck commented on #396
Could you share your `Startup.cs` code section where you are using Microsoft.Identity.Web methods and configuring the authentication?

[2020-09-03 01:53] PingPongSet commented on #396
Hi @TiagoBrenck,

Please find `Startup.cs` code file below:
[code]

Please find `appsettings.json` file below:

[code]

Please note that I followed the steps on the link below, as I mentioned on my OP.
https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/5-WebApp-AuthZ/5-2-Groups

[2020-09-03 17:13] TiagoBrenck commented on #396
The `Startup.cs` looks fine.

I couldnt find the the instruction in the readme that tells you to enable App Service Authentication. Would you mind sending the link of the header where it is written?

Also, what version of Microsoft.Identity.Web are you using? On the discussion that you linked, [Jean-Marc replied about Microsoft.Identity.Web dealing with App Service Authentication](https://github.c

[2020-09-04 01:17] PingPongSet commented on #396
Hi @TiagoBrenck

Please find the packages below that are being used.

[code]

I used the link below.
https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/5-WebApp-AuthZ/5-2-Groups

I cannot see the instruction that enable App Service Authentication from the link above.

Can you see it?

[2020-09-04 22:14] TiagoBrenck commented on #396
Sorry @PingPongSet I got confused about what is the problem here, so could you bear with me?
Which of these is your scenario:

1- You need to deploy the sample 5-2, *enabling* the App Service Authentication option, but it is not working?
2- You need to deploy the sample 5-2, *disabling* the App Service Authentication option, but it is not working?
3- You don`t know rather you should *enable or dis

[2020-09-05 01:29] PingPongSet commented on #396
I want both authenication and authorisation working on both Azure and locally.

I tried enabling AppService Authentication option plus following the steps on the document, but it is not working on Azure. Instead, I have to disable AppService Authentication option to make it work.

I want to know is this the correct configuration?

[2020-09-06 16:09] jguadagno opened #406 "Missing links in Readme.md file"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [x] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [x] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-09-07 07:04] maheshcm80 commented on #69
When is original version of Microsoft.Identity.Web been released in nuget.

[2020-09-07 10:21] mitirazvan opened #407 "Issuer validation for Guest AzureAd Users"
Hello
We have a multi tenant application defined in our AzureAd organization and in our client application we have implemented a custom logic to validate the issuer property for the AzureAD users. We can add tenant ids for the allowed organization and everything works ok.
The problem appears when we try to login with an User that belongs to different Organization that is not added as allowed in ou

[2020-09-08 08:49] jmprieur commented on #407
You could get the list of tenants a user belongs to using ARM (Azure Resource Manager).
See https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/3-WebApp-multi-APIs/Services/ARM

But you would get the information from the claims in the User (if using Microsoft.Identity.Web), as you'll get both the home tenant ID, and the guest tenant ID (See https://gith

[2020-09-08 08:52] jmprieur commented on #69
I don't understand the question, @maheshcm80
Microsoft.Identity.Web (preview) is available from NuGet.org: https://www.nuget.org/packages/Microsoft.Identity.Web

[2020-09-09 14:55] udlose commented on #69
@jmprieur I think he meant the Release (non-preview)

[2020-09-09 15:02] jennyf19 commented on #69
@maheshcm80 you can follow the progress in the [repo](https://github.com/AzureAD/microsoft-identity-web/projects/11)

[2020-09-10 06:19] maheshcm80 commented on #69
@jennyf19  Thank you

[2020-09-10 15:54] TiagoBrenck commented on #396
Yes, this is the correct configuration. Our samples documentation does not suggest you to turn that option on.

[2020-09-11 16:51] teerasej commented on #115
@jennyf19

I created blazor server project from template with

[code]

I tried to follow [wiki page for blazor server](https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access#in-blazor-server) and checked out these following method:

In startup.cs

[code]

I applied Graph Client API with following code in [Startup.cs](https://github.com/teerasej/B

[2020-09-14 17:23] TiagoBrenck commented on #396
Im closing this for now. Let us know if you need more guidance.

[2020-09-14 17:23] #396 closed

[2020-09-17 13:12] PRAKAS1 commented on #69
https://www.nuget.org/packages/Microsoft.Identity.Web/

[2020-09-25 13:30] iamalexmang opened #414 "4-WebApp-your-API 4-2-B2C does not mention the client secret"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-09-25 15:54] iamalexmang opened #415 "Specify multiple sign-in policies for service"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-09-26 00:56] TiagoBrenck commented on #415
Hi @iamalexmang

Do you mean that you have for instance:
- b2c_1_susi
- b2c_2_susi

Then depending on some logic, you would call the policy 2 instead of 1?

[2020-09-26 06:39] iamalexmang commented on #415
There are two scenarios:

  *    I either have a multi-tenant (multiple customers, each with their own application users, part of the same tenant) system. As such, I end up having application tenant 1 using their own front-end calling b2c_1_signin_customerA, b2c_1_signin_customerB, b2c_1_signin_customerC and so on. Each time a new customer is onboarded, we develop an app for them, a singin flow as

[2020-09-27 18:38] PingPongSet opened #419 "Where are object IDs of the GroupAdmin and GroupMember groups located"
On Azure portal, where can I find object IDs of the GroupAdmin and GroupMember groups, as required from below?

https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/5-WebApp-AuthZ/5-2-Groups#configure-the-web-app-webapp-groupclaims-to-recognize-group-ids

### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenar

[2020-09-28 07:16] PingPongSet opened #420 "Retrieve all groups via MS Graph as previous version of it works"
How to retrieve all group names via MS Graph?  Example in previous version works.

https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/5-WebApp-AuthZ/5-2-Groups

Below is the previous verion which works.
[code]

### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s)

[2020-09-28 17:15] Shama-K commented on #419
GroupAdmin or GroupMember can be any group based on your Application's authorization policy.
To get object id of a group on Azure Portal, click on Groups blade and click on the required group. It will navigate to group details page where you can find Object Id of the group.

[2020-09-28 17:24] TiagoBrenck commented on #415
Hi Alex,

.NET Core supports multiple authentication schemes configured, given that they have distinct names. If I got your scenario correctly, I believe that you need to set multiple JWTBearer schemes, one for each client. Since I dont have this multiple customer, multi-tenant scenario on my end, do you mind testing this approach and let us know if it worked?

This is what we are trying to achiev

[2020-09-28 17:25] Shama-K commented on #420
Implementation is changed, details can be found in [README.md](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/5-WebApp-AuthZ/5-2-Groups/README.md).
Could you also share if you are getting any error.

[2020-09-28 17:29] iamalexmang commented on #415
Before testing it, let me confirm that the instance and tenant is the same. Would this pose a problem?
The sole difference is that each front end application uses its custom policy (with its own customizations applied - branding, experience etc.) but they all share the API.

Alex

[2020-09-28 17:39] TiagoBrenck commented on #415
Oh, gotcha. So nevermind about the multiple JWTBearer configuration. Let me check with the engineering team.

You might have to have your own `AccountController` though, to handle Signout, Edit profile, etc. `Microsoft.Identity.Web.UI` provides those for you, but it expects only one policy for each flow.

@jmprieur @jennyf19 @pmaytak Would you know if his scenario is supported? He has one tenant,

[2020-09-28 17:45] sameer-kumar opened #421 "Retrieve user groups in Startup.cs"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-09-28 17:49] PingPongSet opened #422 "Exception getting Azure AD groups via MS Graph with ASP.NET Core"
I want to retrieve all groups assigned to a logged in user when user signed in. So that the groups can be used for the user's logged-in session.

I followed the code from the link below,

https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/5-WebApp-AuthZ/5-2-Groups

and modified to call `GetMyMemberOfGroupsAsync()` like below, but get exception shown at

[2020-09-28 17:56] PingPongSet commented on #420
My code example posted on OP works if it is called from a controller. The exception generates when it is called from ConfigService. It is similar to this https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/issues/422

Any idea to fix this when it is called the first time after user logged in. In this example it is from ConfigService.

[2020-09-28 18:03] Shama-K commented on #420
**GroupMember.Read.All** requires admin to consent, can you check if it is done?

[2020-09-28 18:13] Shama-K commented on #421
Is there any specific reason to add claims in Startup.cs? As you can get groups claim by [configuring group claims for applications with Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-group-claims#:~:text=Configure%20the%20Azure%20AD%20Application%20Registration%20for%20group,only%20the%20groups%20that%20are%20explicitl%20...%20).
Related

[2020-09-28 18:19] Shama-K commented on #422
Could you please ensure that required permissions are consented?

[2020-09-28 19:52] sameer-kumar commented on #421
I've looked at that sample too and see this in Startup.cs

services.Configure<OpenIdConnectOptions>(OpenIdConnectDefaults.AuthenticationScheme, options => {

                // The following code instructs the ASP.NET Core middleware to use the data in the "groups" claim in the [Authorize] attribute and for User.IsInRole()
                // See https://docs.microsoft.com/en-us/aspnet/core/securit

[2020-09-29 00:53] Shama-K commented on #420
Could you please run the sample and share if that worked for you or not?

[2020-09-29 01:27] Shama-K commented on #421
As mentioned earlier, You can retrieve groups claim by [configuring group claims for applications with Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-group-claims#:~:text=Configure%20the%20Azure%20AD%20Application%20Registration%20for%20group,only%20the%20groups%20that%20are%20explicitl%20...%20) in the app registration.
Can you try that a

[2020-09-29 14:54] PingPongSet commented on #420
please see https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/issues/422

[2020-09-29 18:01] sameer-kumar commented on #421
Sorry, I guess I was not able to communicate properly. All the links you have shared shown ways to access group membership in ID token (automatically) or manually in Controller. What I need is a way to access GraphAPI from Startup.cs class so that I can pull details of current user and store them in token as Claims. For instance, I tried this code in Startup but without success:

[code]

[2020-09-29 19:16] Shama-K commented on #420
I've gone through that thread that's why required input from you if the sample is causing any issue.
How you created **GetMyMemberOfGroupsAsync** method? Did you follow instructions mentioned in [ProcessUserGroupsForOverage](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/6f6aa0ffe44045072250f88357fdeb255627bce7/5-WebApp-AuthZ/5-2-Groups/Services/Microsoft

[2020-09-29 21:37] sameer-kumar commented on #421
I see there is an update to samples you linked on github. Let me try those, will keep you posted.

[2020-09-30 00:05] Shama-K commented on #420
I've gone through that thread, so required input about the sample.
Could you also share how GetMyMemberOfGroupsAsync method is created and follow instructions mentioned in [ProcessUserGroupsForOverage](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/6f6aa0ffe44045072250f88357fdeb255627bce7/5-WebApp-AuthZ/5-2-Groups/Services/MicrosoftGraph-Rest/GraphHelper.

[2020-09-30 20:49] jennyf19 commented on #69
Microsoft Identity Web is out of preview now, version 1.0.0. Thanks for all your support & feedback.
Microsoft.Identity.Web is released in NuGet.org as a set of NuGet packages:
- [Microsoft.Identity.Web](https://www.nuget.org/packages/Microsoft.Identity.Web) which is the main API.
- [Microsoft.Identity.Web.UI](https://www.nuget.org/packages/Microsoft.Identity.Web.UI) brings the button to sign-in a

[2020-10-01 02:35] OnAzureCloud9 commented on #264
Any update on this issue @jmprieur ? I am have a web and API application setup using Microsoft.Identity.Web which follows this structure from your examples: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-1-MyOrg

My web app is .NET Core MVC. Everything has been working fine until I started attempting to load partial views using

[2020-10-01 11:10] andrenpt commented on #281
I dont think the **AuthorizeForScopes** Attribute it-s a good solution to this problem.

What happens in my application its really odd if I have no cookies it all works as expected but as soon as I have the **.AspNetCore.Cookies** already there it always fails with that error message "_Microsoft.Identity.Web.TokenAcquisition: Information: No account or login hint was passed to the AcquireTokenSile

[2020-10-01 12:48] andrenpt commented on #115
The AuthorizeForScopes attribute doesn't work when you have an action ie:
` [HttpGet] `
`[AuthorizeForScopes(ScopeKeySection = "Scheduler:SchedulerScope")]`
`        public async Task<IActionResult> Index()`
`        {`
           ` return this.View("Index");`
`        }`

But then inside of that view you have a protected Ajax Call. IE:

`[HttpGet]`
       ` public async Task<JsonResult> GetUsers(

[2020-10-01 22:31] sameer-kumar commented on #421
Your updated [sample](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/5-WebApp-AuthZ/5-2-Groups) works. I have some other questions but not related with the original post hence will start a new discussion assuming you don't want to twist this thread. Thanks!

[2020-10-04 19:29] MarekLani opened #425 "Add steps how to setup Scopes and Permissions"
[code]

### The issue was found for the following scenario:
In the following readme.md file https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-2-B2C please also include steps how to setup scope and permissions if one wants to use custom AD B2C apps to run the sample.

[2020-10-04 20:59] OnAzureCloud9 commented on #264
I setup my web app to return a 401 to the AJAX call when a [MicrosoftIdentityWebChallengeUserException](https://github.com/AzureAD/microsoft-identity-web/blob/master/src/Microsoft.Identity.Web/MicrosoftIdentityWebChallengeUserException.cs) is thrown. So my goal is to also return the redirect URL (not sure if I need anything else as well) so that the AJAX can catch the 401 and navigate to the redir

[2020-10-04 22:36] OnAzureCloud9 commented on #281
@andrenpt also facing the same issue. The `AuthorizeForScopes` cannot handle an AJAX call to a controller action decorated with `AuthorizeForScopes` because it redirects and you get a CORS rejection. I'm currently investigating my own work around for this issue but it would be great for the library to be able to handle AJAX calls appropriately. I suppose this would mean returning a redirect URL an

[2020-10-05 01:31] OnAzureCloud9 commented on #264
So, my best work around for making AJAX calls with this library so far is:
- Removing AuthorizeForScopes attribute on actions which are expected to be called via AJAX. Otherwise, a redirect will occur an a CORS issue will arise.
- Catch the MSAL exceptions yourself. If you're calling a method like `GetAccessTokenForUserAsync`, a `MsalUiRequiredException` will be thrown but this will be caught and

[2020-10-05 06:11] dxm38 commented on #264
That is awesome and would love to see an implemented repo with your solution :) Thanks for the effort. Much better than timed calls to keep the page alive.
Would love to hear from the team how to avoid losing state as well though as much of what I am doing means that operators will take a very long time to fill in the form (nature of the work, not the size of the form)

[2020-10-05 14:39] creativebrother commented on #264
@OnAzureCloud9 Hi, In your case I am wondering why the refresh token in the cache haven't helped to get you a new access token silently without causing the Msl exception? Refresh token will not expire.
I assume you used GetAccessTokenForUserAsync from ITokenAqusition from the Microsoft.Identity.Web. to retrieve the token from the token cache and in your startup.cs you applied the extention method

[2020-10-05 14:47] OnAzureCloud9 commented on #264
@creativebrother I think I have seen that this issue is I have restarted the app many times. I am mainly in local development still, but it's also occurred in Azure as well. But the app has been restarted in Azure as well due to fact that I've been deploying app updated during my development and I assume that restarts the app service as well. Here's how I have configured token cache:

[code]

I ha

[2020-10-05 17:29] creativebrother commented on #264
Hi, @OnAzureCloud9 I understand OP's original issue. There are of course cases where token expires due to App restart and app is not using persistent cache, and even app does not lost the cache, user still may facing token expiration due to for instance, if no refresh token was in the cache, or the user needs to consent (this is my issue), or re-sign-in (for instance if the password expired), or t

[2020-10-05 19:19] creativebrother commented on #264
@OnAzureCloud9, After I looked again at your previous comments, I realized your may refer to a different scenario when you mentioned the access token expiring issue, you may experience authentication cookie (authentication ticket) expiring under the hood. For web app call wep api using Access Tokens, refresh token will take care of the renewal, as I mentioned in the previous comment. But for auth

[2020-10-06 02:50] jenpchen1 opened #426 "project of "2-WebApp-graph-user/2-1-Call-MSGraph" not compiling"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-10-06 13:01] damienbod commented on #426
@jenpchen1 I tested this and this works for me. Have you tried a `dotnet restore` ?

Greetings Damien

[2020-10-06 14:41] jenpchen1 commented on #426
Found the issue

[2020-10-06 14:41] #426 closed

[2020-10-12 09:09] djmx38 commented on #264
Does that mean that I can’t use Microsoft Identity Web for doing Javascript fetch in this scenario?  Do you have any other tutorials of examples where I can?  This is still the primary approach we use to update elements of the page and want to be able to use our enterprise AAD accounts to do it.

Thanks
From: Tiago Brenck <notifications@github.com>
Sent: 24 August 2020 19:06
To: Azure-Samples/acti

[2020-10-12 15:41] OnAzureCloud9 commented on #264
@djmx38 well, you _can_ use Javascript with the library even when integrated with a .NET Core MVC app (such as in my case). However, you will need to handle re-authorization client side to avoid redirection errors (CORS) since the `AuthorizeForScopes `attribute provided by the library redirects to Microsoft login site.

I am using both standard Ajax as well as Jquery Unobtrusive Ajax for post requ

[2020-10-12 17:54] jmprieur commented on #264
@OnAzureCloud9 @djmx38, did you try with Microsoft.Identity.Web 1.1.0 ?
@creativebrother has done a contribution to improve the Ajax case.

[2020-10-12 18:06] OnAzureCloud9 commented on #264
@jmprieur I am still using Ms.Id.Web 1.1.0.

I can look into how to try it out. I'm not familiar with using packages that are in a Git repo and not on NuGet, but that is unrelated to your project in specific so I can investigate how to do that. Any ideas when it will be officially released?

I will investigate your sample link provided (it looks new and I hadn't seen it yet). It looks like it dire

[2020-10-12 19:27] djmx38 commented on #264
Hi,
I have not tried it yet as I would like to see a concrete example.

I was hoping you guys would provide a tutorial showing how to refresh expired tokens during an ajax call so that data was not lost during delayed form submission.
There must be a lot of people who still use Ajax calls to update pages that would find this tutorial very useful?

I am still using knockout.js at the moment but as

[2020-10-12 19:35] djmx38 commented on #264
Sorry, I just want to add an additional point that I don’t particularly need this to be using the identity web package.  I just want to see an example of how to login and refresh tokens with AAD when doing MVC Core and Ajax calls.

Thanks again
From: Jean-Marc Prieur <notifications@github.com>
Sent: 12 October 2020 18:54
To: Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2 <active

[2020-10-12 19:38] OnAzureCloud9 commented on #264
@djmx38 I would check out this example (https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/issues/264#issuecomment-707263309) that @jmprieur just linked. It's going to be a part of a soon to be release (1.2.0). However, before I was working on the MVC app that I'm working on now I was using Blazor. But in Blazor since it's a stream over SignalR, in a sense it's "k

[2020-10-12 20:09] jmprieur commented on #264
@javiercn : you might be interested in the comment just above

[2020-10-12 20:17] djmx38 commented on #264
@OnAzureCloud9 okay thanks I will have a look at this and will keep an eye on this issue here as well.  I don’t really have much experience with this type of authN scenario as the last guy left and I have been dropped in..

Hopefully, we can get a solution sorted soon as I need to find a way to handle forms that are filled in over a long period of the day without doing this
https://stackoverflow.c

[2020-10-12 21:44] creativebrother commented on #264
@OnAzureCloud9 Yes you are correct. The following is what I did to solve the issue of ajax on (1) CORS and (2)Return to Previous URL before the redirect to Authentication.
(1) I made a PR on AspnetCore (https://github.com/dotnet/aspnetcore/pull/26689) to emit 401 for ajax when handling challenging. (of course as @Tratcher suggested all the redirect in OpenIdConnect need to adjust such as signout),

[2020-10-12 21:53] creativebrother commented on #264
@djmx38 Hi, One way to preserve the form data when challenge arises is to override the OnRedirectToIdentityProvider to save the data into the state parameter, that's where I saved some simple data such as ReturnURL after authentication, but I believe you can customize it to save any data, because it will be posted back to you when Auth Code is returned (I assume you use auth code flow to get acces

[2020-10-19 21:43] sameer-kumar opened #427 "Call to an internal api fails"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [x] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-10-20 09:17] jmprieur commented on #427
@sameer-kumar if your API is protected, you necessarily need to provide an access token (even if you call it from your own application). I think that requesting a token which scope is your own clientID should work.

To do that, I would recommend you use the `IDownstreamWebApi` interface that you would inject by dependency injection. See https://docs.microsoft.com/en-us/azure/active-directory/devel

[2020-10-20 16:38] sameer-kumar commented on #427
@jmprieur This is what I get from using the above code:

[2020-10-20 16:50] jmprieur commented on #427
@sameer-kumar : ok. I had not realized this had changed, but this makes sense.

Given you have a Web API, you probably exposed scopes (See https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-app-registration#exposed-api) ?
So, I suggest passing-in the scope associated with the endpoint: `api://clientId/access_as_user` for instance.

[2020-10-20 18:28] sameer-kumar commented on #427
@jmprieur what do you mean when you say "_you probably exposed scopes_". Based on the mentioned article I have followed this [step](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-app-registration#exposing-delegated-permissions-scopes) in my AAD registration of app associated with web app. And when I run the app in VS with scope changed as `api://{clientI

[2020-10-20 19:17] jmprieur commented on #427
Did you use the `[AuthorizeForScopes]` attribute? : https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access

[2020-10-22 21:44] sameer-kumar commented on #427
@jmprieur now, i'm getting different error.
Can I use both [option1](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-app-call-api-app-configuration?tabs=aspnetcore#option-1-call-microsoft-graph) and [option2](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-app-call-api-app-configuration?tabs=aspnetcore#option-2-call-a-downstream-web-api-oth

[2020-10-22 23:41] sameer-kumar commented on #427
@jmprieur  I realized, its same error. But this time I was trying to cast html response into Json hence the above error. So back to where I started  :-(.
Essentially I followed all the links you mentioned but no luck. Do you have access to a sample for my use case?

[2020-10-23 16:53] jennyf19 commented on #414
@Shama-K can this be closed?

[2020-10-23 16:54] jennyf19 commented on #406
looks like this was fixed.

[2020-10-23 16:54] #406 closed

[2020-10-23 16:54] iamalexmang commented on #414
Was it fixed though?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: jennyf19 <notifications@github.com>
Sent: Friday, October 23, 2020 7:53:23 PM
To: Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2 <active-directory-aspnetcore-webapp-openidconnect-v2@noreply.github.com>
Cc: Alex Mang <amang@keyticket.eu>; Author <author@noreply.github.com>
Subj

[2020-10-23 16:54] jennyf19 commented on #421
@sameer-kumar can this be closed? thanks.

[2020-10-23 16:55] jennyf19 commented on #420
@PingPongSet any follow-up for @Shama-K ?