[2018-05-14 17:38] deepjaisia opened #3 "Request for an example on how to integrate with existing app"
### This issue is for a:
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

### Versions

### Mention any other details that might be useful
The documentation of this sample is point. The middleware is triggered when you launch the application for this sample. It would be good to see an implementation of how to tri

[2018-05-14 19:55] #3 closed

[2018-06-06 21:19] Alfetta159 opened #4 "Multiorg generation command uses `singleorg`"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

run multiorg dotnet CLI command to generate project.

### Any log messages given by the failure

Creates wrong appsettings.json

### Expected/desired behavior

Should use `multiorg`.

### OS and Version?

N/A
### Versions

### Mention any other details that might be useful

Line #50 of ReadMe file

[2018-06-15 17:33] Rick-Anderson commented on #4
@Alfetta159  what is the exact command you ran? Can you provide a link to the *ReadMe* file?

[2018-07-18 05:57] jmprieur commented on #4
@Alfetta159
Actually, this does not matter as anyway Dotnet new creates an AAD V1 project (for Work & School accounts only), whereas this sample is about AAD V2 (supporting Work and School and Microsoft personal accounts). I tried both templates and found that the SingleOrg one was a better starting point for be changed to support the AAD V2 endpoint.

I'll be a bit more explicit in the README abo

[2018-07-18 06:02] jmprieur commented on #4
Closing as fixed by commit #8bc83219e0aa366dda8529fe2a6183e40afdc523

[2018-07-18 06:02] #4 closed

[2018-07-20 16:10] algab87 opened #6 "How change the Redirect URL in the Project"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

### Versions

### Mention any other details that might be useful

[2018-07-23 06:31] jmprieur commented on #6
@algab87 : did you try to also change the `CallbackPath` in
https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/appsettings.json#L7 ?

[2018-07-26 15:45] algab87 commented on #6
![image](https://user-images.githubusercontent.com/39596420/43272766-0860cb16-90b8-11e8-8fd9-906f3f9c9e29.png)

I configured in the Application Registration Portal as the last Image.
In the appSettign.Json the next code>
{
  "AzureAd": {
    "Instance": "https://login.microsoftonline.com/",
    "Domain": "qualified.domain.name",
    "TenantId": "22222222-2222-2222-2222-222222222222",
    "ClientId

[2018-07-31 16:28] algab87 commented on #6
When we have a different Welcome Page Like the next picture:
![image](https://user-images.githubusercontent.com/39596420/43472399-97c3d3d4-94aa-11e8-8583-ea49d7668f44.png)
You need configure the default Route of the project and change the URL Pack.
![image](https://user-images.githubusercontent.com/39596420/43472526-e240921c-94aa-11e8-9f99-39f9a1288d57.png)
The Sing in Microsoft Button need to red

[2018-07-31 16:28] #6 closed

[2018-08-27 20:10] HopperTech opened #8 "Port mismatch between documentation and configuration"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

### Versions

### Mention any other details that might be useful
The README.md under the section "Step 1: Register the sample with your Azure AD tenant" states port 5000. The actual configuration in Properties/launchSetti

[2018-08-28 23:00] jmprieur commented on #8
Thanks for the feedback @HopperTech
I guess since 5000 is the default port for Kestrel, this would be a good idea if I had not overridden the port in the launchSettings.json.

[2018-08-28 23:00] #8 closed

[2018-09-03 18:29] ceszare opened #9 "Instructions seem out-of-date against dotnet version 2.1"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

### Versions

### Mention any other details that might be useful

[2018-09-10 04:43] jmprieur commented on #9
See also https://github.com/aspnet/Docs/issues/7224

[2018-09-10 07:44] jmprieur commented on #9
@ceszare thanks again for the heads-up.
I've gone ahead and updated both the code of the sample and the instructions in the README.md to accommodate for the changes in the ASP.NET template. If you are interested in a preview it's in the following branch [spnetcore2-2](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/aspnetcore2-2)

Leaving the issue open, u

[2018-09-19 08:45] pablitofernandez opened #11 "[Request] Account controller scaffold"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

### Versions

### Mention any other details that might be useful

[2018-10-01 01:07] jmprieur commented on #11
@pablitofernandez : what is your scenario?
Azure AD is about delegating authentication to the cloud … are you concerned about something? is it about performance?

[2018-10-08 14:36] BenjaminAbt opened #13 "[docs] How to handle consent and challenge for internal-only applications?"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?
Any

### Versions

### Mention any other details that might be useful

For me it is absolutely unclear how to implement APIs right now. Right know I would say the documentation is a big pain for me.

Our scenario is an int

[2018-10-08 15:00] plazav opened #14 "AADSTS90100: The 'resource' request parameter is not supported."
I am configuring options for AAD Implicit Grant flow in a similar way like was for 2.0:

[code]
But revieving AADSTS90100: The 'resource' request parameter is not supported.
I can set instead of Resource:
[code]
But in this case token is not valid. And I can't specify 3d7dsrh4-c97j-4c47-3f74-0e74c34675sd GUID

[2018-10-09 12:11] BenjaminAbt commented on #13
Okay, another step further.

You cannot set contents to a WebAPI platform only.
An admin consent can only bet set if a reply url exists, because a reply url is required - and this is only the case for a WebApp.

So even you have a Web API you have to add a Web App box to your Azure AD 2.0 App configuration.
This absolutely misses in every documentation and also makes no sense for me.

[2018-10-10 07:27] #14 closed

[2018-10-10 15:01] jmprieur commented on #14
Please see https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Adal-to-Msal#scopes-for-a-v10-application for explanations about how the Azure AD V2 endpoint supports resources

[2018-10-29 23:10] skorpionet100 opened #16 "Azure B2C with core 2.1"
- [ ] bug report -> please search issues before submitting
- [X] feature request
- [ ] documentation issue or request
- [ ] regression (a behavior that used to work and stopped in a new release

### Expected/desired behavior

### OS and Version?

[2018-10-31 09:18] #9 closed

[2018-11-12 18:50] jasonkenneth opened #19 "Cookie being used as the Cache for Everyone"
### This issue is for a:
[code]

### Minimal steps to reproduce
1. checkout the aspnetcore2-2-signInAndCallGraph branch
2. perform necessary app registration steps
3. deploy to an IIS host
4. login with >= 2 people AzureAD users, the app stops working and/or we get a "400 error: Headers too large" on the client.

### Any log messages given by the failure

### Expected/desired behavior

* app works

[2018-11-20 16:48] AaronNesbitt opened #20 "AADSTS50011: The reply url specified in the request does not match the reply urls"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce
Following steps in
https://azure.microsoft.com/en-gb/resources/samples/active-directory-dotnet-webapp-openidconnect-aspnetcore/

Download active-directory-dotnet-webapp-openidconnect-aspnetcore
Change Domain,TenantId & ClientId in appsettings.json
Run application = Works

Download active-directory-aspnetcore-webapp-

[2018-11-20 16:56] jmprieur commented on #20
Sorry, I don't understand your question. you want to follow the steps for a v1 sample (which home URL is http://localhost:5000/) and expect, with the same app registration that the v2.0 sample works?

Did you see in https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2#register-your-app that you need to add the following in the app registration:
- In the **Redirect U

[2018-11-20 16:58] jmprieur commented on #19
@jasonkenneth : When you say everyone, you mean every identity using the **same browser**, not several users using the app with a different browser / machine.
But you make a good point that the cookie can become big with several identities (still same user).

Would providing a cache implementation with the session storage or local storage be better? what would you prefer to have?

[2018-11-20 16:59] #11 closed

[2018-11-20 17:10] AaronNesbitt commented on #20
Thank you
(Never underestimate the value of scrolling down on GitHub)

Working now as intended

[2018-11-20 17:10] #20 closed

[2018-11-27 10:21] jmprieur commented on #19
@jasonkenneth
we've replaced the cookie cache by a session cache. Please confirm this works for you now.

[2018-12-04 08:13] jmprieur commented on #13
See also https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/24 which I just medged.

[2018-12-04 08:13] #13 closed

[2018-12-04 08:13] #19 closed

[2018-12-05 17:45] markolbert opened #25 "Documentation Does Not Match Current Azure Portal UI"
The instructions provided in the landing page do not match the current UI for the Azure Portal. For example, step 5:

There is a Redirect URI section, I think, but it's called Reply URLs, and the interface does not match the description there, either.

This ongoing disconnect between the state of the released Azure Portal and virtually all of GitHub and Microsoft documentation is both annoying and

[2018-12-05 18:04] jmprieur commented on #25
@markolbert
I'm sorry for your frustration with our samples. I can assure you that we spend a lot of time updating them.
That said, I'm confused as for me the description above maps to the experience in the portal.

![image](https://user-images.githubusercontent.com/13203188/49533930-901c8e80-f8c0-11e8-9a7a-877b3a803973.png)

Then given that a URL is a kind of URI, I had not thought that "adding a

[2018-12-05 18:14] markolbert commented on #25
Yep, I'm seeing something totally different. Here's what I thought was the top-level view:

![untitled-1](https://user-images.githubusercontent.com/9095610/49534318-0f38a500-f876-11e8-9ba4-b0c58dda0d70.png)

This is inside my tenant directory.

When I click on the newly-created/registered app, here's what shows up:

![untitled-2](https://user-images.githubusercontent.com/9095610/49534478-79514a00-

[2018-12-05 18:24] jmprieur commented on #25
@markolbert
I've 2 questions for you:
- In which Azure region are you?
- When you click on **Azure Active Directory** in the vertical menu bar on the left-hand side, don't you see **App Registration (Preview)** ?

![image](https://user-images.githubusercontent.com/13203188/49534954-336ea300-f8c3-11e8-86d3-ad5951144574.png)

cc: @lnalepa FYI.

[2018-12-05 18:29] lnalepa commented on #25
@markolbert Unfortunately, the preview experience is currently not available in B2C tenants. Are you able to use another tenant? I have answered your [StackOverflow question](https://stackoverflow.com/questions/53638108/confusing-documentation-for-azure-ad-v2-sample/53638478#53638478).

[2018-12-05 18:42] markolbert commented on #25
Nope. I don't see a preview, just App Registrations (I assumed it had been released, and was no longer in preview):

![untitled-3](https://user-images.githubusercontent.com/9095610/49535537-48bedf80-f879-11e8-9601-0988d9a82366.png)

I noticed that @lnalepa has just added to this thread that the preview experience is not available in B2C tenants. Any idea on when it might be available? Or if there'

[2018-12-05 23:09] parakhj commented on #25
@markolbert i'm from the Azure AD B2C product team. Are you trying to register a B2C application to authenticate using Azure AD B2C? If so, you should be using the app registration experience through the Azure AD B2C menu

See instructions here:
https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-app-registration

Screenshot here:
![image](https://user-images.githubuse

[2018-12-06 00:13] markolbert commented on #25
Hi @parakhj. Here's what I'm trying to do: I want to authenticate users via social logins (currently Google & MicrosoftAccount), and then use Graph to store certain optional user information (those additional elements are optional because they define whether a user is a member of the site I'm building -- non-members get to use certain features of the site, but members get to use everything).

I ex

[2018-12-06 08:43] jmprieur commented on #25
Closing this issue, as we've added a disclaimer that this sample is not for Azure AD B2C.
Thanks for the heads-up, @markolbert

[2018-12-06 08:43] #25 closed

[2018-12-06 08:48] jmprieur opened #26 "AadIssuerValidator should check tenantId and not jwtToken again"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce
Look at https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/aspnetcore2-2-signInAndCallGraph/Extensions/AadIssuerValidator.cs#L34

### Expected/desired behavior
the test should be on the tenant ID, whereas the jwtToken is tested again.

### Mention any other details that might b

[2018-12-06 18:31] parakhj commented on #25
@markolbert you should follow the instructions as outlined in https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-devquickstarts-graph-dotnet (the same doc that Abhishek linked to)

[2018-12-08 13:01] twentytwokhz opened #27 "MsalException thrown when no Authority is set for ConfidentialClientApplication"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

Trace ID: 4a7a6b33-61b6-45fa-a3db-eb7cc3660f00
Correlation ID: d5b01030-e720-4331-ad42-45602ca6a74c
Timestamp: 2018-12-08 12:53:39Z

### Expected/desired behavior

### OS and Version?

### Versions

### Mention any other details that might be useful
Looking closer into the

[2018-12-08 17:01] twentytwokhz opened #28 "MsalException when calling GetAccountsAsync with newer version of Microsoft.Identity.Client"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

### Versions

[2018-12-08 17:41] jmprieur commented on #27
Thanks @twentytwokhz for discovering this regression, and for analyzing the root cause.
I've proposed a PR. Do you want to check that this fixes the issue? (it works for me).

I still observe an issue with guest accounts, which I'll investigate ASAP (might not be before Monday, though)

[2018-12-08 17:43] jmprieur commented on #28
Thanks @twentytwokhz .
So this would be regression with MSAL.NET?
I'll investigage. cc: @henrik-me @jennyf19 @trwalke @bgavrilMS

[2018-12-08 17:44] twentytwokhz commented on #27
@jmprieur awesome! will take a look. Thanks for the quick reply 👍

[2018-12-08 17:48] twentytwokhz commented on #28
I think it is..since the problem appears after the call to GetAccountsAsync using the correct accountid. Worked in 2.3.1, not working with latest. Should have reported it over there, sorry :)

[2018-12-08 17:49] jmprieur commented on #28
@twentytwokhz do you have repro steps that I could use? this does not seem systematic. would it be with guest accounts (accounts invited into the tenant) ?

[2018-12-08 17:59] twentytwokhz commented on #28
I'm working with accounts created inside the tenant, so organizational accounts only. Some repo steps below:
1. get repo with branch **aspnetcore2-2-signInAndCallGraph** from https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2
2. enter the required settings in appsettings.json for a single tenant app with only organizational accounts
3. set nuget package Microsoft.

[2018-12-08 18:02] jmprieur commented on #28
thanks @twentytwokhz
Does it fail with any account from that tenant? this seems to work fine for me, except for guest accounts. But I'll keep looking at it.

[2018-12-08 18:06] twentytwokhz commented on #28
@jmprieur yes, it fails with any AD account in the tenant: test@tenant.onmicrosoft.com, etc
then the exception is caught inside the catch MsalUiRequiredException in the controller and then it's an infinite loop of exceptions

[2018-12-08 18:40] jmprieur opened #30 "Infinite loop when signing-in with a guest account in a single tenant application"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce
1. Change the appsetttings.json to set tenantId to a GUID (to have a tenanted authority). **This only reproes with a single tenant app**
2. sign-in to the app with a guest user
3. try to call Contact

### Any log messages given by the failure
There is an infinite loop

### Expected/desired behavior
you can see the i

[2018-12-08 18:41] jmprieur commented on #26
Fixed

[2018-12-08 18:41] #26 closed

[2018-12-08 18:44] jmprieur commented on #28
@twentytwokhz : any chance this could be related to #30 ?
- did you allow cookies in your browser?
- does it also repro with our release candidate: https://www.myget.org/feed/aad-clients-nightly/package/nuget/Microsoft.Identity.Client ?

[2018-12-08 19:14] twentytwokhz commented on #28
@jmprieur never tried with a guest account
1. yes
2. tried it now with 2.6.0 and still reproduces

what i currently have modified from latest code on the branch  aspnetcore2-2-signInAndCallGraph:
`if (jwtToken == null)` replaced by `if (tenantId == null)` on line 34 AadIssuerValidator.cs and
`app = new ConfidentialClientApplication(_azureAdOptions.ClientId, currentUri, credential, userTokenCache,

[2018-12-10 07:41] #27 closed

[2018-12-10 08:48] jmprieur commented on #30
For the moment, fixed the issue with special processing for guest users
however.
GetMsalAccountId does not retrieve the right value for guest users in sigle tenant apps. Getting the home tenant id and home oid would require one more call to the STS.

[2018-12-10 08:48] #30 closed

[2018-12-10 13:18] jmprieur commented on #28
Thanks @twentytwokhz
I've investigated what happened, and it turns out that something in MSAL (getting the OIDC metadata) made ASP.NET Core change the session, and therefore the session based token cache was empty (as the session was different)

I've replaced the SessionBasedTokenCache, by an InMemoryToken cache, and this is working very well.

Please confirm this works for you

[2018-12-10 17:50] twentytwokhz commented on #28
This seems to work fine now. Thank you @jmprieur !

[2018-12-10 17:50] #28 closed

[2018-12-10 17:58] jmprieur commented on #28
Thanks for confirming, @twentytwokhz
I've also found it way quicker :)

[2018-12-20 21:55] twcarnahan opened #36 ""AccountController" with Area "AzureAd" and "SignOut" missing"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

two questions:
 Where is the "AccountController" with Area "AzureAd" and "SignOut"; how do we change the logout path?
### OS and Version?

### Versions

### Mention any other details that might be useful

[2018-12-20 22:05] twcarnahan commented on #36
Ultimately, we are trying to use post_logout_redirect_uri to point users back to home page after signout

[2019-01-07 16:48] Tloch95 commented on #36
It looks as if the AccountController was deleted in [commit 4bbfd9e3f720c2bc5a5958f373b8f3ced125af2f](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/commit/4bbfd9e3f720c2bc5a5958f373b8f3ced125af2f).

[2019-01-08 04:18] jmprieur commented on #36
@Tloch95 @twcarnahan : this is because the controller is now part of ASP.NET Core itself: see https://github.com/aspnet/AspNetCore/blob/master/src/Azure/AzureAD/Authentication.AzureAD.UI/src/Areas/AzureAD/Controllers/AccountController.cs

In order to change the logout path, you might want to subscribe to one of the OpenIDConnect events, for instance `OnRedirectToIdentityProviderForSignOut ` as des

[2019-01-08 08:18] twcarnahan commented on #36
services.Configure<OpenIdConnectOptions>(AzureADDefaults.OpenIdScheme, options =>
{
    options.Authority = options.Authority + "/v2.0/";

    options.TokenValidationParameters.ValidateIssuer = false;

    options.Events.OnSignedOutCallbackRedirect = (context) =>
    {

        context.Response.Redirect("/Home/About");
        context.HandleResponse();

        return Task.CompletedTask;
    };
})

[2019-01-08 08:18] #36 closed

[2019-01-23 21:32] InPermutation opened #41 "aspnetcore2-2: Section "About The code" refers to nonexistent file"
In https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/aspnetcore2-2/README.md, there is an aside to

This file does not exist on this branch.

[2019-01-24 01:14] InPermutation commented on #41
Relatedly, `Views/Shared/_LoginPartial.cshtml` also refers to `asp-controller="Account"` in two places.

[2019-01-30 16:12] PingPongSet opened #43 "Information on how to authenticate for Resource Owner Password grant type with AD"
Is it possible to authenticate using Resource Owner Password grant type with AD?

If so, can anyone provide links or info?

[2019-01-30 16:16] jmprieur commented on #43
It is, but we don't encourage it as there are limitations.
The conceptual doc is: http://aka.ms/msal-net-up
A sample is linked from the bottom of that page.

[2019-01-30 16:17] jmprieur commented on #43
@PingPongSet closing the question as I answered.
Feel free to continue using this issue, I also monitor the closed issues

[2019-01-30 16:17] #43 closed

[2019-01-30 16:18] PingPongSet opened #44 "Unable to grant access"
I followed the instructions on link below

https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2

Use Option 1 of Step 2

When I run the app locally, I can select my azure account to login, however, I got the error below after that:

The url: https://login.microsoftonline.com/common/reprocess?ctx=xxxxx ....

Need admin approval
ADPdaSsoWebApp
ADPdaSsoWebApp needs per

[2019-01-30 16:23] jmprieur commented on #44
This indicates that the admin of the tenant where you want to install the application has disabled the possibility for users to consent, therefore requiring an admin consent.

You probably want to create your own tenant (in the Azure Portal, new resource, Azure Active Directory).

[2019-01-30 16:26] PingPongSet opened #45 "Access to https://localhost:44321/signin-oidc and redirection to login"
The link below is defined.

https://localhost:44321/signin-oidc

However, HomeController doesn't define this method, and the url returns error when visited.

**Questions**

1 In code, how does it get redirected to https://login.microsoftonline.com/ when the url below is visited?
https://localhost:44321

2 The url below is not working as mentioned above, how is it possible for it to display content

[2019-01-30 16:31] jmprieur commented on #45
@PingPongSet : I'd advise you ask general questions (not strickly related to this sample) on Stack overflow. You'll get answers quicker, and also this will benefit to more people.

[2019-01-30 16:35] #44 closed

[2019-01-30 16:35] PingPongSet commented on #45
Thanks for the advice.

Does Resource Owner Password grant type is supported by AD?

[2019-01-30 16:39] jmprieur commented on #45
yes it is.

[2019-01-30 18:23] #45 closed

[2019-02-01 12:26] yespreddy opened #48 "System.Exception: Correlation failed when opening the web site from Microsoft Word"
After hosting the given sample code by configuring the AAD, the normal authentication flow is working fine, when we type the URL in the browser window directly.

But, When we open the application URL from the Microsoft Word, getting the exception: Correlation failed.

**Below are the steps to reproduce the issue:**
1)	Copy and paste the sample code hosted URL in the Microsoft Word.
2)	Next, click

[2019-02-01 15:09] PingPongSet opened #49 "Exception visiting https://localhost:44321/signin-oidc after sign on"
I followed steps 1 - 3, but got exception when visiting` https://localhost:44321/signin-oidc `after sign on.

However, when I checked `Access tokens` option below,

Register your app
`Advanced settings | Implicit grant section`, check `Access tokens`

After setting above, `https://localhost:44321/signin-oidc` is then redirected to `https://localhost:44321/.`

After this change, it works.

Is it mi

[2019-02-04 11:40] yespreddy commented on #49
I have even checked the check box **Access tokens** in **Advanced settings | Implicit grant** section,
still facing the redirection issue to **https://localhost:44321/signin-oidc** when I open the link from the Microsoft Word.
But normally, if I type the url in the browser window, its working fine.

[2019-02-04 12:39] jmprieur commented on #49
@yespreddy
Wouldn't you be using Adanced Threat Protection?
It includes a feature called Safe Links, which replaces the URLs in an incoming email with URLs (*.outlook.com) that allow Microsoft to scan the original link for anything suspicious and redirect the user only after it is cleared.

[2019-02-13 11:46] yoozek opened #51 "App Registratrion (Preview) is missing"
It was available some days ago, but now App Registration (Preview) is missing from AzureAD administration, how can I work around it?

[2019-02-13 13:21] jmprieur commented on #51
@yoozek what region are you in?
@lnalepa FYI

[2019-02-13 13:37] yoozek commented on #51
@jmprieur
**Country or region**
Poland
**Location**
EU Model Clause compliant datacenters

[2019-02-14 16:45] jmprieur commented on #51
@yoozek : is the App Registration preview back?

[2019-02-14 17:39] yoozek commented on #51
@jmprieur  no it's not, but I created normal app registration.
Could you tell me what's the difference between Enterprise applications and App registrations?
I didn't know how to change "groupMembershipClaims": "SecurityGroup" in enterprise app, so I created normal one with reply url set to https://localhost:44362/signin-oidc and specified TenantId in appsettings and it works :)

[2019-02-14 18:31] jmprieur commented on #51
@yoozek
Enterprise applications are for service principals, whereas the App registration is to create apps: Please see [AZURE Active Directory - What is the difference between a Service Principal and an Enterprise Application?](https://stackoverflow.com/questions/53109262/azure-active-directory-what-is-the-difference-between-a-service-principal-and/53109692#53109692)

You cannot change the groupMe

[2019-02-14 19:41] yoozek commented on #51
@jmprieur thanks for explanation, everything is clear now. Thanks!

[2019-02-14 19:41] #51 closed

[2019-02-25 16:10] jrperron88 opened #52 "How do I host this in AKS?"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

### Versions

### Mention any other details that might be useful
I was trying to use this to authenticate users into my application when hosted in AKS. Is there a better practice?
I'm not able to capture the request_url v

[2019-02-25 19:01] jmprieur commented on #52
@jrperron88
In the list of pages for the app in the Azure portal, select **Authentication**.
In the Redirect URIs, add a redirect URL of type Web and valued **<URL where you have deployed your app>**/signin-oidc

[2019-02-25 19:07] jrperron88 commented on #52
I attempted to, but i'm not sure what URL to add. I have it hosted in an AKS cluster with the external endpoint here: http://104.43.128.214
I've tried using this url, but it doesn't accept non-https URLs.

[2019-02-25 20:29] jmprieur commented on #52
@jrperron88 : I'm not familiar with AKS. isn't there a publicly visible URL ?
@danieldobalian  : would you know?

[2019-02-25 20:31] jrperron88 commented on #52
it looks like the reply url is http://104.43.128.214/signin-oidc. I'm thinking I need to add a security layer on my AKS cluster to utilize https before I can get this to work.

[2019-02-27 04:23] #52 closed

[2019-02-27 04:27] jrperron88 opened #53 "How to call a custom API"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

### Versions

### Mention any other details that might be useful

[2019-02-27 08:35] jmprieur commented on #53
Hello @jrperron88
Thanks for your feedback

We are currently building a multi-phase tutorial (in the Tutorials branch, but I need to warn you that this is work in progress => not yet consistent), and one of the goals is to show that
Meanwhile, you might want to have a look at this sample. It's not a web app but the scopes will be the same: https://github.com/Azure-Samples/active-directory-dotnet-n

[2019-02-27 16:29] jrperron88 commented on #53
Thank you, that got me a little further. I'm running into an issue accessing the webAPI now that I have a token. I'm getting the following error. I think i'm missing something. The only thing I altered in the code was the endpoint and the scope variable:
HttpRequestException: Invalid status code in the HttpResponseMessage: StatusCode: 401, ReasonPhrase: 'Unauthorized', Version: 1.1, Content: Syste

[2019-02-28 07:27] jmprieur commented on #53
@jrperron88 : Can you please describe the topology of your application?
Do I understand correctly that this is:

ASP.NET Core Web app ----->    your Web API

You got a token for your Web API (using the following scope: api://clientIdOfYourWebAPI/access_as_user) ?

What **audience** did you set in the Web API? They need to match with the scope.
See [WebAPI/Startup.cs#L56](https://github.com/Azure-S

[2019-02-28 12:39] jrperron88 commented on #53
@jmprieur I was able to troubleshoot it enough to get it working. I was using the VS 2017 template for web API with Authentication. The Startup was using AAD authentication library. I switched it over to JWT and it works. Thank you for your help and this guide!

[2019-02-28 12:39] #53 closed

[2019-03-06 17:21] jmprieur opened #57 "pictures"
![image](https://user-images.githubusercontent.com/13203188/53899064-a100ab80-4039-11e9-8869-fa9cffcd345a.png)

[2019-03-06 17:53] #57 closed

[2019-03-08 11:44] diogomrodrigues commented on #48
@yespreddy Did you solve this problem?

[2019-03-13 13:07] melzoghbi opened #62 "Capturing FirstName from AAD Login in asp.net core 2.2 web apps"
I am developing .net core 2.2 application. I would like to get the user's first name in the _LoginPartial.cshtml in RAZOR web app. I am able to get the user's surname and email but not the first name. Is there away to get this?

This is what i have in my login partial view:

[code]

Also i tried this:

@User.FindFirst(System.Security.Claims.ClaimTypes.GivenName).Value

The given name claim returns

[2019-03-14 08:05] jmprieur commented on #62
@melzoghbi :
If the first name is not in the Claims (you can inspect them with the debugger),  the best is probably to call Microsoft Graph to get all the information you want. Did you have a look at this branch [aspnetcore2-2-signInAndCallGraph](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/aspnetcore2-2-signInAndCallGraph) or that one [tutorials](https

[2019-03-21 07:20] RvdMerweJHB opened #66 "Safari Login loop"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

### Versions

### Mention any other details that might be useful
None of the supplied fixes work:
https://github.com/aspnet/AADIntegration/issues/52
https://hajekj.net/2018/08/31/beware-of-samesite-cookie-policy-in-asp-ne

[2019-03-25 12:17] khenzar opened #69 "NuGet package for Microsoft.Identity.Web"
This is more of a suggestion. I'm pretty sure I'm not the only one who would appreciate if the reusable library project Microsoft.Identity.Web was available as a NuGet package.
That way we can easily keep up with any updates/fixes that you do!
Thank you for considering this!

[2019-03-26 19:21] khenzar opened #74 "SignIn and SignOut links from AccountController not routable in Preview 3 of Razor Components project"
### Describe the bug
Account controller from Microsoft.AspNetCore.Authentication.AzureAD.UI is not routable in Razor Components Preview 3.

### To Reproduce
Steps to reproduce the behavior (this is not to setup a working app with AzureAD authentication):
1. Using ASP.NET Core 3.0 SDK version 3.0.100-preview3-010431
2. Create new Razor Components project
3. Add reference to nuget package [Microsoft

[2019-03-27 06:25] jmprieur opened #76 "todo: interchange the steps in tutorial"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

As reported by @negoe, we need to change in all the README.md, the order of step2 with step 1, i.e. making this one first [Download/ Clone this sample code or build the application using a template](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-2-An

[2019-03-29 05:34] jmprieur opened #77 "Explain how to deploy the app in a docker container"
### Minimal steps to reproduce

[2019-04-02 06:37] jmprieur commented on #77
See also https://github.com/aspnet/AspNetCore/issues/4135#issuecomment-478846165

[2019-04-04 08:42] jmprieur commented on #69
Thanks for suggesting it.
@khenzar : we are working on it (See https://github.com/AzureAD/microsoft-authentication-extensions-for-dotnet/tree/master/src/Microsoft.Identity.Client.Extensions.Web)

[2019-04-04 08:45] jmprieur commented on #49
@yespreddy : what is your scenario? why would you navigate directly to https://localhost:44321/signin-oidc ? and not to https://localhost:44321

[2019-04-04 08:47] jmprieur commented on #62
@melzoghbi : you might want to configure optional claims in your application. See https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims#v20-optional-claims

[2019-04-04 08:47] jmprieur commented on #62
closing the issue as it was answered.

[2019-04-04 08:47] #62 closed

[2019-04-04 08:48] jmprieur commented on #48
This seems to be an issue with Word as Chris explained: https://github.com/aspnet/Security/issues/1252

[2019-04-04 08:55] jmprieur commented on #41
It's now part of ASP.NET Core itself. I fixed the readme. thanks for the heads-up @InPermutation
see the [AccountController.cs](https://github.com/aspnet/AspNetCore/blob/master/src/Azure/AzureAD/Authentication.AzureAD.UI/src/Areas/AzureAD/Controllers/AccountController.cs) file in the ASP.NET Core source tree)

[2019-04-04 08:55] #41 closed

[2019-04-04 15:51] RedBlue1776 opened #80 "Alternative approach to soverign clouds"
Is it possible to detect if an account is sovereign, and then redirect the URL/host to a node that is running in the same environment?

E.g. If my global server is "GlobalRelyingParty.com", and I have something deployed in "GermanyRelyingParty.com", then I would 302 redirect (or something) to that instance.  Similar behavior would occur in the opposite direction for a global user who mistakenly us

[2019-04-05 08:52] jmprieur commented on #80
@RedBlue1776 this is something that will be available in the future (instance discovery)
cc: @negoe to elaborate.

[2019-04-10 00:49] Valks commented on #74
Use the IUriHelper service, it has a Boolean forceLoad which will force the Razor Page to route to an external url instead of trying to handle it using blazor/razor components.

[code]

[2019-04-10 01:13] Valks opened #88 "Comparing aadAuthority Uri against host Authority"
```if(issuerValidators.ContainsKey(aadAuthority))```
Will always be false because aadAuthority is the full Uri path and not just the host. Assuming the issuer should be unique based on the full Uri path the Key should contain the full Uri path when calling: ```issuerValidators.Add(authority, issuerValidator);```

https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/

[2019-04-15 07:16] khenzar commented on #74
Hi Valks, thanks I have tried your suggestion.
Unfortunately, the same error persists.

I can confirm the UriHelper is used, as I have pulled out the onclick methods, so that I can put breakpoints in them:
[code]

The full exception that I see in VisualStudio, output from Debug:
[code]

[2019-05-13 01:05] RobCannon commented on #69
Just trying to get the status of this.  The referenced PR was merged.  But I don't see a NuGet library yet.  Is it under a different name?

[2019-05-13 16:29] brubakerjeff opened #98 "Unable to obtain configuration from: https://login.microsoftonline.com/common/dis"
Hi,

I'm working through the example and receive the following when running. I updated the TenantID, ClientID, and Domain to match the example tenant. I'm working behind a corporate http proxy , could this be related or should I look elsewhere? If so, is there a way to set proxy flags in this example

'One or more errors occurred. (IDX20803: Unable to obtain configuration from: 'https://login.micr

[2019-05-13 16:57] GriffinGSA opened #99 "Teach a man to fish"
How about showing us how you created the Visual Studio Solution itself or am I missing something? What the community really needs is an example that demonstrates how to create an Web Application in Visual studio and get it to authenticate with oAuth, then finally adding RBAC to that sample application as well. Downloading an already created Web Application = "magic " in order to make this stuff wo

[2019-05-13 17:06] kalyankrishna1 commented on #99
The various readme have a "Create the sample from the command line" section that shows how to build the sample from command line.
Note that, some of the samples , build on a previous one and would not have this step.

[2019-05-13 17:48] TiagoBrenck commented on #99
@GriffinGSA, we try to document the code as much as possible and add the section "About the Code" on the readme to explain more about some key points in the sample. If you are missing a comment on an specific method, let us know which one so we can add it.

About the Visual Studio solution part, we usually start our samples using the templates provided by VS already. The templates provide us some

[2019-05-14 17:05] deckerbd commented on #69
@RobCannon I don't believe it's published yet but I could be wrong. I know the latest code in the referenced repo requires the next patch version of the SDK which isn't compatible with VS 2017, nor VS for Mac yet (See https://github.com/AzureAD/microsoft-authentication-extensions-for-dotnet/blob/master/global.json).

Currently the Web extension project isn't targeting .NET Standard 2.0 for the Mic

[2019-05-15 14:24] jasonshave opened #100 "Login loop (temporarily fixed by restarting app service)"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### OS and Version?

### Versions

### Mention any other details that might be useful

[2019-05-17 04:11] BlackFenix2 commented on #74
I believe you have to also map the controllers in your routing endpoint builder. That is why the login/logout routes are not being found by your app. For anyone else experiencing this issue, see: https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-2.2&tabs=visual-studio#migrate-mvc-controllers

[2019-05-20 02:26] jmprieur commented on #98
@brentschmaltz @mafurman
Is there a way to set a proxy on Config manager?
@brentschmaltz, I believe you are revisiting this code. Is it something we can take into account
cc: @MarkZuber @kalyankrishna1 @TiagoBrenck

[2019-05-20 04:24] brentschmaltz commented on #98
@jmprieur I will be looking into this code in the next two weeks. This code requires that the address specified should return the metadata. Is the server required to call the proxy, then the proxy relay the request?
It would be easiest if the proxy was configured to allow this specific call through.

[2019-05-20 06:50] kalyankrishna1 commented on #98
@brubakerjeff , It would be much more easier if the domain "https://login.microsoftonline.com" is whitelisted by Proxy. It will also allow other apps integrating with AAD not change to accommodate the proxy.
We can learn from your feedback and work to expose the HttpClient like we did for MSAL, but consider
the whitelisting as a possible workaround.

[2019-05-20 07:33] jmprieur commented on #99
Thanks for the feedback @GriffinGSA
We'll add sections about creating the ASP.NET Core Web app project with Visual Studio in addition to with the command line (this produces the same result, but you are right that this might be easier to some users)

I'm a bit confused, though, by some of your comments. Could you please clarify, so that we are sure we don't miss something:

- Which README.md do yo

[2019-05-20 10:06] jmprieur commented on #69
It's not yet published, indeed. But we plan to do so soon
cc: @henrik-me @MarkZuber

[2019-05-20 15:16] jmprieur commented on #100
@jasonshave : what are the repro steps? just use the sample? which sub folder?

[2019-05-20 15:30] jasonshave commented on #100
The step to reproduce (for me at least) is to simply wait about 12 hours. The website eventually won't authenticate and loops as mentioned above. I tried setting the token type to `.AddInMemoryPerUserTokenCache` and while this seemed to work okay over the past few days, I have the login loop showing up again.

The code I'm using is from the sample [here](https://github.com/Azure-Samples/active-dir

[2019-05-20 19:05] deckerbd commented on #88
I'm running into the same thing. For my web app, I'm trying to use both OpenID and JwtBearer auth (our API and Web app/SPA are hosted together), and the logic ends up attempting to add the same key twice. In addition, it looks like these values don't match between OpenID and JwtBearer (see [Web](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/Micros

[2019-05-20 19:42] jmprieur commented on #88
@deckerbd : yes please do.

[2019-05-20 22:00] brentschmaltz commented on #98
@kalyankrishna1 please share with me what we did with MSAL. We are about 2 weeks out from shipping 5.5.0, if its a small item, we may be able to add it.

[2019-05-21 09:18] jmprieur commented on #88
@brentschmaltz @MarkZuber  FYI

[2019-05-21 09:32] jmprieur commented on #100
@kalyankrishna1 @TiagoBrenck
does one of you have time to have a look?
otherwise I'll try to get to this by EOW

[2019-05-21 16:36] TiagoBrenck commented on #100
I will take a look at this. @jmprieur

[2019-05-21 17:00] TiagoBrenck commented on #100
@jasonshave Could you reproduce this bug running on localhost? Or it just happens when you deploy the web app on Azure?

[2019-05-23 05:22] kalyankrishna1 commented on #98
@brentschmaltz , I was referring to something similar to [this](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/MSAL.NET-3-released#you-told-us-you-needed-more-configuration-for-applications)

[2019-05-23 06:18] brentschmaltz commented on #98
Oh, we have support for specifying an HttpClient here https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/8b126a518875e3007655f75bbb842d4dffe0650f/src/Microsoft.IdentityModel.Protocols/Configuration/HttpDocumentRetriever.cs#L58, but we don't support HttpClientFactory.

[2019-05-23 13:42] ferronsw opened #103 "Claims too big for header"
### This issue is for a: (mark with an `x`)
[code]

## The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. [ ] Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg](../1-Web

[2019-05-23 15:59] jmprieur commented on #103
@ferronsw ; I'm assuming you've read the README in [5-WebApp-AuthZ/5-2-Groups](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/5-WebApp-AuthZ/5-2-Groups)

Do I understand that the overflow does not work?

[2019-05-24 06:17] ferronsw commented on #103
@jmprieur I've read it now, but the so called overage/overflow isn't working for me.
The document says it's only kicking in at `(**150 for SAML tokens, 200 for JWT tokens**)`.
My user has about 120 groups, but the cookie size was 6 chunks and to large to process.

[2019-05-24 07:27] kalyankrishna1 commented on #103
@ferronsw , what is the exact error . 200 objectIds are actually within limits of cookies/header and such. Please help us with details on what were you trying and what error you ran into? The claims should travel over Http without any issues.

[2019-05-24 07:36] ferronsw commented on #103
@kalyankrishna1 there is no error in the application, because the browser displays "Secure connection failed" after logging in (I'm using https). When I delete some group claim within the Microsoft.Identity.Web.StartupHelper.AddMsal() `OnAuthorizationCodeReceived` I don't get this error anymore. The browser says that the header it tries to submit to the server is 22,0006 KB.

[2019-05-24 07:52] kalyankrishna1 commented on #103
So you delete the claims from the claimsPrincipal object ? if that's the case then the token traveled from AAD to your browser and was successfully hydrated in the ClaimsPrincipal collection. I think this claimsprincipal, along with other attributes is being written to a header and that breaks the limits.
This is always an issue that developers should be careful about when requesting group claims

[2019-05-24 08:07] ferronsw commented on #103
I understand. It would be nice if you could set the overage number on an Azure AD app registration.
That would limit the number of Graph request.

[2019-05-24 08:07] #103 closed

[2019-05-28 06:13] ferronsw commented on #100
I'm having te same problem on a Linux Azure Web App.

[2019-05-29 07:31] ferronsw commented on #100
With DataProtection on it still happens.

[2019-05-29 20:11] ferronsw commented on #100
@jasonshave I can confirm this also happens when running it for 12 hours on localhost.

[2019-05-29 20:57] TiagoBrenck commented on #100
@ferronsw I could reproduce it locally. We are still investigating it, but so far here is my analysis:

What is happening is:
1. After X-hrs (I set locally to expire in 1 min), the token that we have cached expires.
2. The user calls Profile Action Result, (with **MsalUiRequiredExceptionFilter**) and an access token will try to be acquired. The method `GetAccessTokenOnBehalfOfUser` (inside `TokenA

[2019-05-30 12:18] #99 closed

[2019-06-02 20:23] jmprieur commented on #100
@kalyankrishna1 : why is there an Absolute expiration time? Don't we rather want to have a sliding window?
By setting an absolute time. Once it's reached, no token can be added to the cache.

[2019-06-04 07:00] jmprieur commented on #100
@jasonshave : thanks again for reporting this issue.
This is now fixed.

[2019-06-04 07:00] #100 closed

[2019-06-13 11:35] #74 closed

[2019-06-13 11:35] jmprieur commented on #49
Closing as there was no answer

[2019-06-13 11:35] #49 closed

[2019-06-13 11:40] jmprieur opened #112 "Tutorial Phase - 1.5. WebApp signs-in users with local or social identities (B2C)"
### This issue is for a: (mark with an `x`)
[code]

It's about adding a **phase 1.5** to the tutorial to show how to sign-in users with social identities or local identities with Azure AD B2C

### Repro-ing the issue
Go to [1-WebApp-OIDC/1-5-B2C](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-5-B2C)

**Expected behavior**
A sample i

[2019-06-13 11:40] jmprieur commented on #16
Closing as duplicate of #112

[2019-06-13 11:40] #16 closed

[2019-06-13 11:41] jmprieur commented on #66
Closing as it's external (not related to the sample)

[2019-06-13 11:41] #66 closed

[2019-06-13 11:41] jmprieur commented on #48
Closing as it's external

[2019-06-13 11:41] #48 closed

[2019-06-13 11:56] jmprieur commented on #112
@TiagoBrenck
assigning this issue to you. Ping me if this is not clear. The work (given that most of the code is now in ASP.NET core directly) should be minimal.

cc: @kalyankrishna1

[2019-06-13 11:59] jmprieur opened #113 "Add a phase 7 on troubleshooting and error handling"
Customers can be confused on how to debug web apps. Here we want to go through:
- the most frequent issues (not MFA etc … as it's already handled by the code in Microsoft.Identity.Web): bad client ID, bad secret, secret expired
- Troubleshooting guide

To help debugging the Web App and Web API you could enable:​
1. the IdentityModelExtension PII: See [TodoListService/Startup.cs#L76](https://github

[2019-06-13 12:03] jmprieur opened #114 "Each solution and app should have its own name"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:
all
### Repro-ing the issue

**Repro steps**

Open one of the sub-folders of the ASP.NET Core tutorial

Run the App creation scripts

**Expected behavior**

Each Visual Studio solution, and each application as generated by the app creation scripts should have its own name, so that customers can

[2019-06-13 15:03] NabilKem opened #115 "Error : No account or login hint was passed to the AcquireTokenSilent call"
Hello,

We are getting this error ": No account or login hint was passed to the AcquireTokenSilent call

**Error Details :**
   at Microsoft.Identity.Client.AcquireTokenSilentParameterBuilder.Validate()
   at Microsoft.Identity.Client.AbstractAcquireTokenParameterBuilder`1.ValidateAndCalculateApiId()
   at Microsoft.Identity.Client.AbstractClientAppBaseAcquireTokenParameterBuilder`1.ExecuteAsync(C

[2019-06-13 16:58] TiagoBrenck commented on #115
@NabilKem could you please give us more details on how to reproduce this bug?
I have tried it here and I didn't get any error. Please, provide us details like:
- Step by step to reproduce the bug
- Is this happening when running locally or on azure?
- Did you make any customization in the code?

Thanks

[2019-06-13 18:31] NabilKem commented on #115
Hi @TiagoBrenck,

I just cloned the solution :  5-WebApp-AuthZ/5-1-Roles, then replaced the appsettings with my own Azure AD info :

`{
  "AzureAd": {
    "Instance": "https://login.microsoftonline.com/",
    "Domain": "mydomain.onmicrosoft.com",
    "TenantId": "fb237ab8-......",
    "ClientId": "14229dbf-.......",
    "CallbackPath": "/signin-oidc",
    "SignedOutCallbackPath ": "/signout-oidc",

[2019-06-13 23:49] TiagoBrenck commented on #112
PR opened: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/116

[2019-06-20 15:03] Elanis opened #118 "Wrong redirect URI behind a proxy"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. [X] Web app that signs in users
   1. [X] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg](../1-We

[2019-06-22 06:37] kalyankrishna1 commented on #118
Could you advise the proxy admins to whitelist Azure AD endpoint "https://login.microsoftonline.com" and allow traffic to pass as is ?

[2019-06-22 06:41] kalyankrishna1 commented on #115
Sign-out (if possible) or clear cookies and try again please

[2019-06-22 07:39] Elanis commented on #118
I already made it whitelisted because at first I couldn't couldn't call the AzureAD endpoint, but now, after being connected as my professional account, i got redirected to:
**https://login.microsoftonline.com/......?redirect_uri=http://example.com........** instead of **https://login.microsoftonline.com/......?redirect_uri=https://example.com........**.

Isn't the library (or the web app itself)

[2019-06-24 06:30] jmprieur commented on #118
@Elanis : would this article help you? http://josephwoodward.co.uk/2016/07/proxying-http-requests-asp-net-core-using-kestrel ?

[2019-06-24 09:00] Elanis commented on #118
Hello, I don't think so. I don't have any control on the reverse proxy, and it isn't a .NET app.

Is there a way to force redirect_uri on the application side ?

Notes:
- What happening:
![image](https://user-images.githubusercontent.com/7013446/60005621-2488eb80-966f-11e9-97ef-cf09ef10f863.png)

- The url i'm redirected to: https://login.microsoftonline.com/MYTENANTID/oauth2/v2.0/authorize?client

[2019-06-24 12:45] jmprieur commented on #118
Thanks for the clear explanation, @Elanis

I'm not sure this is the right fix, but to make progress towards the issue resolution, I would try to insert a line here: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/47f1fc57b3574c011cd52d2bcc45b240f29fcc03/Microsoft.Identity.Web/StartupHelpers.cs#L94

something like:

[code]

Please tell me if that worked.

[2019-06-24 15:09] Elanis commented on #118
Yeah, thanks, It was fixed.

I got another error with Signature validation but I'll try to fix it by myself first. If I got another stuck or when I find out how to make it work, I'll update this issue to explain how to fix it (if another person have the problem).

[2019-06-25 21:19] antonGritsenko commented on #115
Same story for project _3-WebApp-multi-APIs_
Actually, same story for any project that uses _Microsoft.Identity.Web_ and AddAzureAdV2Authentication/AddMsal
And looks like it related to a guest accounts only.
My repro:
I have two tenants: **TenantA** with my account and **TenantB** where application registered.
1. Clone this repo
2. Change tenant id, domain and client to app from **TenantB**
3. Run

[2019-06-25 21:20] antonGritsenko commented on #30
Looks like it returns, see referenced issue above

[2019-06-25 21:34] antonGritsenko commented on #115
And just btw, everything work fine with same account\client id\tenant in this sample: https://github.com/Azure-Samples/active-directory-dotnet-webapp-webapi-openidconnect-aspnetcore

I faced with subject's error when tried to migration my real app to MSAL v2, then rollback to samples and then found this topic.

[2019-06-25 23:02] TiagoBrenck commented on #115
@antonGritsenko thanks for giving us more details. I think I could reproduce your bug in another sample (although I am not getting the loop experience) and I will start investigating it.

[2019-06-26 16:27] jackhyder commented on #69
Is there an ETA on when this will be available for .NET Core 2?

[2019-06-28 00:58] TiagoBrenck commented on #115
@antonGritsenko I have opened the issue: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1241

Thanks for your contribution.

[2019-06-28 13:24] jmprieur commented on #115
thanks @TiagoBrenck for this investigation

The regression is really in the sample (in the library),

I've started trying to fix the sample by not using the Account ID provided by MSAL in the token cache arguments (as they are the home account Id, not the guest tenant id).
The branch is https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/jmprieur/fix115

Howev

[2019-06-28 17:13] TiagoBrenck commented on #115
@jmprieur I will pull your branch and continue the work.

[2019-07-01 08:30] jmprieur commented on #88
fixed by @bgavrilMS in the Web API tutorial
came with https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/109

[2019-07-01 08:30] #88 closed

[2019-07-02 15:29] jmprieur commented on #115
@TiagoBrenck : can you please review my latest commit to the branch (jmprieur/fix115)
I tested with the guest scenarios (tenantId = a GUID), and the AAD+MSA scenario (tenantId=common), but would like to be sure this does not break anything else.

cc: @bgavrilMS @MarkZuber

[2019-07-02 21:04] multco-malan opened #122 "Build/Deploy with dev.azure.com: Build fails."
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. [X] Web app that signs in users
   1. [X] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg](../1-We

[2019-07-02 23:30] jmprieur commented on #122
@multco-malan : I'm confused. Is this a bug (of Azure DevOps?) or a feature request?
As far as I'm concerned, the sample uses continuous integration with Azure DevOps legacy builds (not yaml), and they don't fail?
[![Build status](https://identitydivision.visualstudio.com/IDDP/_apis/build/status/AAD%20Samples/.NET%20client%20samples/ASP.NET%20Core%20Web%20App%20tutorial)](https://identitydivision.

[2019-07-02 23:32] #118 closed

[2019-07-03 15:00] multco-malan commented on #122
Hi Jean-Marc,

Nevermind.
I had some issues with how my VS sln was configured as well as some self inflicted issues in my DevOps build/release steps.

[2019-07-03 15:00] #122 closed

[2019-07-03 15:37] jmprieur commented on #122
Thanks for the clarification, @multco-malan

[2019-07-03 18:02] #115 closed

[2019-07-04 18:18] TiagoBrenck commented on #112
This is has been merged already @jmprieur.

[2019-07-05 09:02] #112 closed

[2019-07-08 14:38] multco-malan opened #124 "Bad link returns 404"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. [ ] Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg](../1-We

[2019-07-08 15:06] jmprieur commented on #124
@kalyankrishna1 and @TiagoBrenck
can you please fix the issue template?

[2019-07-09 15:06] fldvrees commented on #115
I encountered the same error message:
[code]

In my situation the problem was that in `appsettings.json` I used:
[code]
instead of
[code]

[2019-07-09 15:33] fldvrees commented on #115
I encountered the same error message:
[code]

In my situation the problem was that in `appsettings.json` I used:
[code]
instead of
[code]

[2019-07-10 08:40] Elanis commented on #118
Hello !

The problem fix was indeed:

------

The problem I got after this fix was:

The fix was to add privileges to the service account running the website.

------

Thanks @jmprieur, you saved me some hours ! 😃

**Problem Solved**

[2019-07-11 19:11] logankp opened #126 "Account selection dialog displaying on logout"
## The issue was found for the following scenario:

1. [x] Web app that signs in users
   1. [x] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../1-WebApp-OIDC/1-1-MyOrg)

When logging out of the web app, I'm still getting the account selection screen even though the login_hint parameter is in the URL with the correct value. How do I skip the account selection scre

[2019-07-11 19:37] TiagoBrenck commented on #126
Hi @logankp, we are aware of this behavior and we have opened an internal thread about this topic since some are saying that this is a feature introduced lately on OIDC v2 for security purpose.
We will let you know soon.

Thanks

[2019-07-12 07:12] jmprieur commented on #126
In my opinion, there is a regression/change on the service. I'm pretty sure this was working when I wrote the code.
@logankp : do you see at least the right account selected in the list of accounts?

[2019-07-12 14:27] logankp commented on #126
@jmprieur The correct account is selected. I can also confirm that the v1 endpoint works correctly.

[2019-07-12 17:42] TiagoBrenck commented on #126
v1 endpoint still accepts login_hint for the sign-out flow. As confirmed, v2 doesn't accept it anymore so the behavior of displaying the account selection dialog is by design.

[2019-07-12 17:42] #126 closed

[2019-07-12 17:56] logankp commented on #126
Thanks for confirming this. My use case is implementing auto-logout: after a certain period of time, the app will log the user out by initiating the logout flow. With the current implementation of v2, this is useless because the user has to physically click logout.

[2019-07-12 18:22] TiagoBrenck commented on #126
I understand. I don't know about the whole business need behind your use case, but maybe the conditional access policies could be an option for you. If you go to Azure Portal, then navigate to "Enterprise applications" > "Your app" > "Conditional Access", you can create a **Sign-in frequency** policy and set it to every X hour/days.

[2019-07-12 18:33] TiagoBrenck commented on #124
Fixed. Thanks for reporting that.

[2019-07-12 18:33] #124 closed

[2019-07-15 13:42] jmprieur commented on #80
@negoe : which product would that be related to? Not libraries?
(for sure not samples)

[2019-07-17 14:38] HenningRoigaard opened #129 "Scope as part of the cache key?"
I have a question related to the cacheprovider implementations and scopes.

The sample library includes a number of XXXTokenCacheProvider implementations, e.g., MSALAppSqlTokenCacheProvider. None of these consider scopes when defining a cache key, and I have been wondering if that is the intended "MSAL-way" of doing it.

Consider this case:
I would like for my Web App to access two different APIs

[2019-07-18 00:59] TiagoBrenck commented on #129
There is no need for the scope to be part of the token cache key, because the token saved for that user will be the same but it will contain both scopes. Basically, by the point that the user requested an access token for "scope B", their token will be one containing "scope A" and "scope B".

Does it answer your question?

[2019-07-18 06:32] HenningRoigaard commented on #129
Well, I expected that "scope B" would be part of the token, i.e., the scope should not be part of the cache key. The question was more along the line of how it gets to be part of the token? Since we cannot simply edit a token issued by the AD, someone somewhere must request a new token from the AD containing the new scope.

I guess I just wanted to get confirmation, that adding scopes to tokens wa

[2019-07-18 07:44] jmprieur commented on #129
@HenningRoigaard . Indeed it's taken care by Azure AD, called by MSAL.NET.

[2019-07-18 08:19] #129 closed

[2019-07-18 14:33] HenningRoigaard opened #130 "Token Cache remains after logout"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. [ ] Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-Any

[2019-07-22 08:35] HenningRoigaard opened #133 "TodoListService missing configuration?"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. [ ] Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-Any

[2019-07-22 17:24] TiagoBrenck commented on #130
@HenningRoigaard it was actually a bug when using guest accounts. The fix got merged already.

Thanks

[2019-07-23 06:56] HenningRoigaard commented on #130
I am aware of the Guest user issue , and this is something else. Fix issue 130 does not fix this.

This issue can be reproduced with fix 130, both for guest and regular accounts. The issue remains that UserTokenCacheAfterAccessNotification is invoked after cache is cleared, with a dirty (args.HasStateChanged) but empty cache. The code as is, persists that empty cache, and as a result, we will accu

[2019-07-23 17:27] TiagoBrenck commented on #130
@HenningRoigaard I used this sample, https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/2-WebApp-graph-user/2-2-TokenCache, to test and after logging out, I had an empty table on the DB.

So, could you please tell me how did you get this empty cache persisted?

[2019-07-23 18:32] kalyankrishna1 commented on #133
Thanks for taking the time to provide a detailed feedback, we've addressed most of your comments and observations
1. fixed
2. It actually needs to be done twice, I understand in actual prod scenarios you'd optimize, but this is a sample.
3. & 4. That was wrong and old code that we'd deprecate soon

Let us know if there are any more pending issues

[2019-07-24 07:05] #133 closed

[2019-07-24 07:47] HenningRoigaard commented on #130
I have tested using 2-2, and you are correct: there is no entry in the database after logout. However, this is due to some lucky but most likely unintentional programming :)
The flow from the point of view of **MSALPerUserSqlTokenCacheProvider** when signing out is:
1.	Create instance of **MSALPerUserSqlTokenCacheProvider**
2.	Invoke **UserTokenCacheBeforeAccessNotification**, which invokes **Read

[2019-07-24 19:29] joegithub commented on #115
What is the expected result of GetAccessTokenOnBehalfOfUser when working in a development environment where the client application is being stopped and started frequently? In my situation I have a client web app that uses Azure AD authentication to allow only users in my org directory to log in. I am using "AddInMemoryTokenCaches" but am experiencing the same issue described below when using the s

[2019-07-24 21:47] TiagoBrenck commented on #115
Hi @joegithub, the point that you are bringing indeed happens quite often on the development stage. The problem in question is that the browser still holds the user s cookies when you restart your app, so the user is still logged in. However, restarting the app erases the InMemory cache (that is bootstrapped on the login flow) resulting in this sync problem where the user is set on the frontend bu

[2019-07-26 00:17] TiagoBrenck commented on #130
After investigating it further more with the engineering team, we could reproduce what you pointed out but this behavior is actually by design. So, when you clear the cache, MSAL doesn't exclude the entry but saves an empty JSON of the cache entry.
The bytes that you are seeing when inspecting the memory cache is this JSON:

[code]

So, the access token, refresh token and id token are being cleare

[2019-07-26 06:48] HenningRoigaard commented on #130
@TiagoBrenck I can accept that MSAL callbacks with an empty cache by design.

However, I still believe it would be a good idea to do cleanup of empty caches, e.g., by not persisting them in the first place. From a storage perspective, it probably doesn't matter. However, I fear that accumulation might result in some GDPR compliance issue, and more generally, I would like to do it simply because of

[2019-07-26 10:35] liroforum opened #137 "GetAccountsAsync() returns null on second debug when using chrome"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. [ ] Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-Any

[2019-07-26 12:14] liroforum commented on #137
on further investigation, I can see the OnAuthorizationCodeRecieved event is not fired in the second and following debugs.

[2019-07-26 13:51] jmprieur commented on #130
@TiagoBrenck, please open an issue on MSAL.NET so that the persistance callback help this scenario. We would not want to pass null for public client applications, as Mark explained in the private thread. I like the IsEmpty property on the Token cache serialization argument.

cc: @MarkZuber

[2019-07-26 15:37] jmprieur commented on #137
@liroforum it's not because the app thinks the user is signed-in, whereas the cache is not
1. Which cache adapter did you use? maybe an adapter like the memory adapter that clears the process when you stop debugging? I'm thinking it's only a dev issue, not a prod issue?
2. I'm confused why a challenged is not triggered by the attribute on the controller. Wouldn't you have removed the `[MsalUiRequi

[2019-07-26 21:29] 7100SW opened #139 "Incorrect documentation for appsettings.json (1-5-B2C)"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. [x] Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-Any

[2019-07-26 21:53] joegithub commented on #115
Thank you for this information. I attempted to use the MsalUiRequiredExceptionFilter attribute and have not had success yet. My code is calling GetAccessTokenOnBehalfOfUser in the "CreateHttpRequestMessageAsync" method of a "BaseClient" class of an API client project, the scenario being that we use NSwagStudio to generate our API client classes and intercept the http request before they're sent to

[2019-07-26 22:51] TiagoBrenck commented on #115
@joegithub we are glad that you are eager to learn more about Azure and OpenID.

The `ActionResult` that must be decorated with `MsalUiRequiredExceptionFilter` is the one that will call `GetAccessTokenOnBehalfOfUser(...)` to attach it on the `bearer token`.

You shouldn't be creating the `IAccount` stuff because this is MSAL.NET library's job and there are many rules behind it. The problem that yo

[2019-07-26 23:03] TiagoBrenck commented on #115
@joegithub do you mind opening a separate issue for the SQL error, with some steps to help me reproduce it?  Thanks

[2019-07-29 12:44] liroforum commented on #137
1)Yes, I was using InMemory caching mechanism.
2)I was following 4-WebApp-your-API sample. I could not find [MsalUiRequiredExceptionFilter(Scopes = new[] { ... })] in the controller code(but found it in readme).

But yes, now I have added [MsalUiRequiredExceptionFilter(Scopes = new[] { ... })] to my controller action, so when the account is empty it goes for the MSAL exception and relogin.

Just w

[2019-07-29 13:52] jmprieur commented on #137
yes, the parameter shoud be the scopes you need to call downstream APIs, @liroforum

[2019-07-29 14:06] liroforum commented on #137
I used the below code without the Apiscope and it worked. Not sure why.

[MsalUiRequiredExceptionFilter(Scopes = new[] { Constants.ScopeUserRead })]

Thanks for your help.

[2019-07-29 14:28] jmprieur commented on #137
"user.read" is automatically added as an API permission when you create an app, and you consent for it when you log-in. That's why it worked without the attribute.

[2019-07-29 22:57] jcox86 opened #144 "Request for example to assign existing roles to existing groups"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

### Repro-ing the issue

### Any log messages given by the failure

### OS and Version?
Windows 10.

### Versions
.NET Core - 2.2.0
Microsoft.AspNetCore.Authentication.AzureAD.UI - 2.2.0

### Mention any other details that might be useful
You have a number of Powershell examples to create roles

[2019-07-30 03:37] #137 closed

[2019-07-30 03:37] jmprieur commented on #139
Merged.

[2019-07-30 03:37] #139 closed

[2019-08-02 12:27] HenningRoigaard opened #150 "Missing redirect on token cache miss?"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. [ ] Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-Any

[2019-08-02 17:29] TiagoBrenck commented on #150
Hi @HenningRoigaard, the PR https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/149 is taking care of this. However this exception is actually by design and is up to the developers to decide what to do when it gets thrown.

The PR in review uses a filter that will try to re-login the user in case this exception is thrown, but this solution may not fit all the

[2019-08-06 09:10] jmprieur commented on #57
![image](https://user-images.githubusercontent.com/13203188/62526924-0a563780-b7ef-11e9-8ce0-db284db3f02c.png)

![image](https://user-images.githubusercontent.com/13203188/62526937-10e4af00-b7ef-11e9-9fee-c205c97653c5.png)

![image](https://user-images.githubusercontent.com/13203188/62526943-14783600-b7ef-11e9-9913-ca79bf7a5cee.png)

![image](https://user-images.githubusercontent.com/13203188/6252

[2019-08-06 09:50] HenningRoigaard commented on #150
Using MsalUiRequiredExceptionFilterAttribute solved the issue (The PR #149 isn't required for simple use cases)

[2019-08-06 09:50] #150 closed

[2019-08-06 11:48] harounhajem opened #154 "SSL handshake exception running the sample app"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. [x] Web app that signs in users
   1. [x] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-Any

[2019-08-06 12:09] jmprieur commented on #57
![image](https://user-images.githubusercontent.com/13203188/62538366-75ac0380-b807-11e9-9ce0-d0eec9381b78.png)

![image](https://user-images.githubusercontent.com/13203188/62538382-7d6ba800-b807-11e9-9540-560e7129197b.png)

![image](https://user-images.githubusercontent.com/13203188/62538243-2bc31d80-b807-11e9-8689-085c5dc78f7e.png)

![image](https://user-images.githubusercontent.com/13203188/6253

[2019-08-06 12:20] harounhajem commented on #154
Found the issue, the `TodoListBaseAddress` in the client-applications `appsettings.json`, was incorrect. I'm running both apps as Kestrel servers and both of them use **HTTP** and not HTTPS. That means the web protocol has to change in the `appsettings`, like this.
 `"TodoListBaseAddress": "http://localhost:44351"`

Don't know why they are not running HTTPS, the HTTPS-port not listed when the serv

[2019-08-07 00:23] paolorr opened #155 "Set AccountController as ApiVersionNeutral"
I configured a webapp to use API versioning and if I try to access /AzureAD/Account/SignIn or /AzureAD/Account/SignOut I get ```{"error":{"code":"ApiVersionUnspecified","message":"An API version is required, but was not specified.","innerError":null}}``` because the API versioning is set to AssumeDefaultVersionWhenUnspecified = false.

On Asp.Net Core 2.2 to force this error it's necessary to add

[2019-08-07 00:42] #155 closed

[2019-08-07 00:44] jmprieur commented on #155
@paolorr : you don't want us to change things in the sample?

[2019-08-07 00:45] paolorr commented on #155
I found it easier to update my project to 2.2 as it has no conflicts with API versioning (by default) and moving from 2.1 to 2.2 had no impact in the project

[2019-08-08 08:15] #154 closed

[2019-08-11 23:16] Alfetta159 opened #158 "SQL Token Cache Provider Has Trouble Handling Different Client Applications Using the Same User Token Cache Record"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. [ ] Web app that signs in users
   1. [X] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-Any

[2019-08-12 00:04] Alfetta159 commented on #158
My suggested solution is not very good in that the `aud` claim isn't present during logging out. I'm working around this by adding the claim to the User during the `OnRedirectToIdentityProviderForSignOut` event just before calling the `RmoveAccount` method.

[2019-08-12 21:00] TiagoBrenck commented on #158
Hello @Alfetta159,

Thanks for pointing that out. I am working to fix it, but in the meantime you can [read this doc](https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/overview?view=aspnetcore-2.2#setapplicationname), that explains how to share DataProtection between apps.

There is another improvement that I am waiting to be finished to open the PR for this issue

[2019-08-12 21:05] robertjf opened #159 "Using ClaimsPrincipal with GetAccessTokenOnBehalfOfUser"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

I'm using the Microsoft.Identity.Web project with IdentityServer4 and MSAL to allow retrieval of additional user details via MS Graph when a user logs in with an Organisational account - the problem is, in order for the authentication to work, I need to pass in a `ClaimsPrincipal` to `GetAccess

[2019-08-12 21:21] TiagoBrenck commented on #159
@jmprieur could you take a look at this one?
Thanks

[2019-08-16 11:33] ferronsw opened #163 "Using Redis Cache"
The following is stated in '2-WebApp-graph-user/2-1-Call-MSGraph/README.md'

But when I look at the next step ('/2-WebApp-graph-user/2-2-TokenCache') there is only spoken about caching the token in sql. So is Redis cache not  supported, not documented or both?

[2019-08-16 12:11] jmprieur commented on #163
@ferronsw : It is supported, and you could definitively implement a Redis cache based on the token cache serialization examples provided in this sample in the [Microsoft.Identity.Web/Client/TokenCacheProviders](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/Microsoft.Identity.Web/Client/TokenCacheProviders) sub-folder.

This is on our backlog to pr

[2019-08-16 12:29] ferronsw commented on #163
@jmprieur  So if I understand correctly I have to write my own logic for the redis token serialization part?

[2019-08-16 12:35] jmprieur commented on #163
@ferronsw : yes, or otherwise wait until someone (who could be us) writes the serializer. This is on our backlog, but not the highest priority. If there are many votes, though, we could bump it up.

[2019-08-19 08:01] ferronsw opened #164 "azureAdOptionsAccessor.CurrentValue.ClientId is null but exception is not thrown"
Each token cache provider uses the clientId to set the AppId for the AppCacheId.
Currently this check is executed:

[code]

Writing the Redis Serialization I discovered this is useless. In my case `CurrentValue` isn't null, but `CurrentValue.ClientId` is.  Because of the `&&` operator the exeception is not thrown. The AzureADOptions are mapped in the Microsoft.Identity.Web.StartupHelpers like this

[2019-08-19 17:07] TiagoBrenck commented on #164
Is your options under `AzureAd` section on your config? Are your using `services.AddOptions();` on the `Startup.cs`?
The configuration expects them to be like this in your `appsettings.json`:

[code]

If you don't want to use the appId as part of your token key, it is fine, but the `AzureADOptions` is a must on other parts of your application, like the `Startup.cs`.

[2019-08-20 06:22] ferronsw commented on #164
@TiagoBrenck The `AzureAd` settings are specified like this.

This line fixes it:

`services.Configure<AzureADOptions>(Configuration.GetSection("AzureAd"));`

I just find it weird that this is not configured in the existing Token Serialization provider methods, because they all use the clientId.

[2019-08-20 06:23] #164 closed

[2019-08-20 16:25] jackpanetta commented on #69
Also wondering when this will be available?

Was supposed to be published "soon" on May 20th.

[2019-08-20 20:59] TiagoBrenck commented on #69
@jackpanetta we don't have an official date yet, but I can tell that this task is still active and there are people working on it.

[2019-08-24 14:52] bmmathe opened #169 "User.Identity.Name is null but should be preferred_username from claims"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. [ ] Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-Any

[2019-08-26 15:03] jmprieur commented on #169
This should work (and used to work), given this line: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/7a67374ddcc2216d84f05583ef6dcbbafcde86c9/Microsoft.Identity.Web/StartupHelpers.cs#L76

Can you please share detailed repro steps? which solution of the sample did you use ? @bmmathe

[2019-08-27 10:12] jmprieur commented on #163
PR from @ferronsw is https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/165

[2019-08-27 10:13] jmprieur commented on #69
PR in progress https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/153

[2019-08-27 12:42] jmprieur commented on #159
@robertjf do you know why the HttpContext.User does not have the user principal? wasn't the identity extracted from the ID Token?
How do you get the value to pass to `SetClaimsPrincipal` ?

[2019-08-28 06:54] jmprieur commented on #169
Thanks for these explanations @bmmathe
Just out of curiosity, do you use the same clientId for the msal.js app and the Web API? (which is a valid scenario)

[2019-09-02 11:26] jmprieur opened #171 "Explain how to sign-in users with ADFS"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. [x ] Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-An

[2019-09-04 12:01] jmprieur commented on #57
![image](https://user-images.githubusercontent.com/13203188/64252904-64483b00-cf1c-11e9-87bd-c119b456221c.png)

[2019-09-04 19:08] tnsholding opened #175 "Update sample to .Net Core 3.0"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. [ ] Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [X ] with any work and school account: [/1-WebApp-OIDC/1-2-An

[2019-09-04 23:06] Alfetta159 opened #177 "InvalidOperationException: The MetadataAddress or Authority must use HTTPS unless disabled for development by setting RequireHttpsMetadata=false."
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. [ ] Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-Any

[2019-09-05 17:19] maverickelementalch commented on #177
This problem is caused by a change in `WebApiServiceCollectionExtensions.AddProtectedWebApi()` which causes the JwtBearerOptions to be configured incorrectly. As a result, options.Authority ends up being set to the string "/v2.0" (instead of "https://{instance}/{domain}/") which causes the aforementioned validation error.

The solution is to remove this newly introduced line:

`services.Configure<

[2019-09-05 17:46] TiagoBrenck commented on #177
Sorry about the regression. There is this PR https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/174 addressing them.

[2019-09-05 18:41] TiagoBrenck commented on #177
Fixed, thanks

[2019-09-05 18:41] #177 closed

[2019-09-06 04:07] gavinharriss opened #180 "Microsoft Graph responses cached and shared across subsequent user logins"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. [ ] Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-Any

[2019-09-06 14:37] Alfetta159 opened #181 "Client App calls Service App which then calls another Service App Example"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. [ ] Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-Any

[2019-09-06 18:15] TiagoBrenck commented on #181
Hello @Alfetta159 your scenario seems to fit the on behalf of flow (OBO) case. Would you mind reading this documentation, https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-on-behalf-of-flow, and check if you are following its requirements?

Let us know if it didnt help.

[2019-09-09 02:29] jmprieur commented on #181
@Alfetta159 : indeed, this is OBO. See https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/2.%20Web%20API%20now%20calls%20Microsoft%20Graph

[2019-09-09 02:30] jmprieur commented on #175
@tnsholding : we'll update the sample to ASP.NET Core 3.0, when ASP.NET Core 3.0 GAs

[2019-09-09 02:31] jmprieur commented on #180
@kalyankrishna1 : do you have cycles to look at it?

[2019-09-09 15:23] andrenpt opened #183 "When using this sample I get Signature validation failed."
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. [ ] Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-Any

[2019-09-09 17:44] vRITHNER opened #184 "Microsoft.AspNetCore.Authentication.AzureAD.UI breaks with dotnet v. 3.0.0-preview9.19424.4"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. [ x] Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-An

[2019-09-09 18:50] TiagoBrenck commented on #183
Hello @andrenpt, I tried to reproduce the bug and didn't get the error.
Could you please provide more details, like:
- Did you customize the code?
- Are you using single tenant? Multi? Personal Account?
- What are the steps to reproduce it?

Thanks

[2019-09-09 19:29] andrenpt commented on #183
Hello @TiagoBrenck
Thank you very much for your quick answer. Really appreciate that
I am using a single TenantId

My Scope Config looks like this:

    /*
      TodoListScope is the scope of the Web API you want to call. This can be: "api://90b0be48-155d-4ba5-ba7a-0fddd1b68795/user_impersonation",
      - a scope for a V2 application (for instance api://b3682cc7-8b30-4bd2-aaba-080c6bf0fd31/access

[2019-09-09 19:34] kalyankrishna1 commented on #183
You should not be looking at or trying to validate access tokens for Apis that are not "yours", like those issued for MS Graph. See [this thread](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/609) for a detailed discussion,

[2019-09-09 22:13] kalyankrishna1 commented on #180
@gavinharriss , I've tested  this a few times now and not able to replicate this behavior at all.

The code in HomeController.cs is very simple, it picks the CurrentUser and prints their claims
            ViewData["User"] = HttpContext.User;

Please debug this line of code and check if the HttpContext is getting mixed up for you somehow?

[2019-09-09 22:45] gavinharriss commented on #180
@kalyankrishna1 ViewData["User"] = HttpContext.User is behaving as expected.

The home page https://localhost:44321/ always shows the correct information.

It's when Microsoft Graph is used that the issue manifests. If you hit the user profile page https://localhost:44321/UserProfile it always presents the details associated with the first user that logged in. My investigations seems to suggest it

[2019-09-09 23:54] jmprieur commented on #184
Duplicate of https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/issues/175

[2019-09-09 23:54] jmprieur commented on #184
Thanks for your feedback @vRITHNER
We have not yet ported this sample to ASP.NET Core 3.x

[2019-09-10 16:17] Alfetta159 commented on #181
Thank you, @TiagoBrenck . That did help. I wasn't using an on-behalf-of flow, but now I have it working.

[2019-09-10 16:22] #181 closed

[2019-09-10 16:22] Alfetta159 commented on #181
Thank you, @jmprieur .That sample was very helpful. The version of the Microsoft.Identity.Web library is a little behind the other, but I was able to make it work with a number of changes. I don't have to tell you that troubleshooting those issues can really force you to look and see what is happening behind the scenes.

[2019-09-10 16:45] jmprieur commented on #181
@Alfetta159 : yes, it's one of our goal to re-sync the version of Microsoft.Identity.Web in the Web API sample (and the daemon one). We also hope to have it as a NuGet package at some point.

[2019-09-10 21:57] kalyankrishna1 commented on #180
This bug has been fixed. Please take a the latest code and try again.

[2019-09-10 21:57] #180 closed

[2019-09-10 22:27] gavinharriss commented on #180
@kalyankrishna1 thanks for the super fast bug fix - very much appreciated :)

[2019-09-10 23:36] Alfetta159 commented on #181
One last thing, and I'm not sure if it should be a new issue or if falls under re-syncing the version of MS Identity Web:

When using `BuildConfidentialClientApplication`, [TokenAquisition.cs](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/4dbe43cab617796384df63b8a368fb56aa5c6c81/Microsoft.Identity.Web/TokenAcquisition.cs#L320) as eventually called from `

[2019-09-11 00:10] jmprieur commented on #180
@kalyankrishna1 : can you please add the link to the PR that fixed it?

[2019-09-11 01:40] kalyankrishna1 commented on #180
Link to [PR](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/147)

[2019-09-15 00:25] robertjf commented on #159
Hi @jmprieur sorry about the delay, finally got a chance to investigate a little further.

The code currently does this:

1. Receives a callback from Azure AD login.
2. runs `var result = await HttpContext.AuthenticateAsync(AzureADDefaults.CookieScheme);`

At this point, the HttpContext.User doesn't contain any information about the authenticated user, but the `result.Principal` does.  This is bas

[2019-09-16 22:20] dotnetprofessional opened #187 "BuildConfidentialClientApplication uses AzureAdOptions"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. [ ] Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-Any

[2019-09-16 22:38] TiagoBrenck commented on #187
Hi @dotnetprofessional,

I didn't understand the bug. If you check all the samples in this tutorial, you wont find any duplicated config. The `appsettings.json` has just one section called "AzureAd", which contains the configurations needed. `AzureADOptions` is just the class name.

Note that we are using "AzureAd" as the default section name, on `AddMicrosoftIdentityPlatformAuthentication()`, but

[2019-09-17 04:13] jmprieur commented on #187
@dotnetprofessional did you get the latest version of the code? I cannot repro your issue?

[2019-09-17 17:40] dotnetprofessional commented on #187
So I'll admit I'm not using the sample directly, but from my code base and there maybe an issue there. Here's what I"m seeing:

![image](https://user-images.githubusercontent.com/5588330/65063697-a23d5a00-d933-11e9-9239-32421c7a69c6.png)

vs
![image](https://user-images.githubusercontent.com/5588330/65063762-bed99200-d933-11e9-9107-87af7eb31a25.png)

With regards to: `AzureADOptions` I see you're

[2019-09-17 18:08] TiagoBrenck commented on #187
Oh, do you mean that instead of having this code,
[code]

we could have:
[code]

Removing the need of `var azureAdOptions = _azureAdOptions;` on `BuildConfidentialClientApplication()`?

[2019-09-17 18:25] dotnetprofessional commented on #187
Yes - that was my original proposed fix.

[2019-09-17 18:44] TiagoBrenck commented on #187
Sorry for taking some time to understand your point. I have opened a PR(https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/188) with your suggestion.

Thank you.

[2019-09-18 03:04] jmprieur commented on #187
Thanks @dotnetprofessional : I think you make a good point
Thanks  @TiagoBrenck for proposing the PR

[2019-09-18 22:51] dotnetprofessional commented on #187
Thanks for the quick turnaround...

[2019-09-19 11:45] Mrcl1450 commented on #159
I don't know if it's related but I'm having a similar issue with claims in AuthorizationRequirement.
If a user keeps writing a report for too long (30 mins - 1 hour?) `context.User.Claims.FirstOrDefault(c => c.Type == "preferred_username").Value;` throws a null exception on submit the form and they need to go back to main page in order to make it work again, losing what they wrote.

[2019-09-24 14:00] phil-w commented on #115
I understand why this is happening and just want it to stop.

I can find the MsalUiRequired exception in this Identity.Web code, but I can't figure out how to get Visual Studio to accept "MsalUiRequiredExceptionFilter". No doubt it's obvious even to dogs on the street, but what please do I need to include/ install/ incant in order to make that turn the correct colour in my editor?

And if I ignore

[2019-09-24 14:22] jmprieur commented on #115
where is this documentation, @phil-w : I think we forgot to update it.
This is now AuthorizeForScopesAttribute. See:
https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/Microsoft.Identity.Web/AuthorizeForScopesAttribute.cs

[2019-09-24 15:10] phil-w commented on #115
Oh, right, that code I can see. Hmm. My case is slightly complex and hacked from a sample here. I have an app server with a REST end point which I'm hitting from the client. That end point is decorated with that attribute already, and it seems to work in that if I'm not authenticated [with MS] then I can't access the end point etc. It all works beautifully and appears logical and secure, except fo

[2019-09-24 16:28] TiagoBrenck commented on #115
Hi @phil-w, if I understood it correctly, the app server is a web api and you consume it signing-in on a client app and sending the bearer token to the REST endpoint. So, this `AuthorizeForScopesAttribute` is only valid on the client app. It wont work on the web api.

Another point is about your web api consuming another service. We call it **on behalf of flow**, and it is indeed a little bit comp

[2019-09-24 16:42] phil-w commented on #115
Thanks, as you suggest, I'm using the `AuthorizeForScopesAttribute` successfully on the client-facing bit of code. I cribbed the "on behalf of flow" code from the example for "todo list", where the crashing line comes from:

`var accessToken = await this._tokenAcquisition.GetAccessTokenOnBehalfOfUserAsync(new[] { this._FhirScope });`
Where the scope is what you'd expect and correct. That _looks li

[2019-09-24 17:13] TiagoBrenck commented on #115
The `GetAccessTokenOnBehalfOfUserAsync` currently has the implementation below. It tries to find `jwt` and then performs the proper on behalf of flow. If it doesn't find the `jwt`, it goes through the acquire silent flow (which is not OBO). Could you set a breakpoint on this IF and check whether it `jwtClaim` is not null?

[code]

[2019-09-24 17:28] phil-w commented on #115
Thanks.  The claim comes back null. There's nothing in CurrentHttpContext.User which looks like "jwt", there is stuff including my signed-in user name etc. (0-7 "claims", one identity. So it hits the "else" - `GetAccessTokenOnBehalfOfUserAsync`.

However if I then delete the cookie, which makes everything work perfectly, the jwt is also null, so the presence of the cookie isn't affecting that "cla

[2019-09-25 15:15] phil-w commented on #115
Here's the stack trace. I can follow this through, but it's kind of tricky as it's async and it looks a bit recursive. I guess I need to try to trace the successful flow and parameters, and compare those with what happens when I have re-built the application (which causes the failure), so I can maybe avoid it.

`No account or login hint was passed to the AcquireTokenSilent call at Microsoft.Identi

[2019-09-25 16:21] jmprieur commented on #115
@phil-w : if this is a web api, you should have a look at this pattern: https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/blob/66786b06dccf32579114738079d41d94ef7a6c99/2.%20Web%20API%20now%20calls%20Microsoft%20Graph/TodoListService/Controllers/TodoListController.cs#L99-L102

[2019-09-25 16:50] joegithub commented on #115
In case it might help anyone who is trying to figure out how to deal with the "MsalUiRequiredException" I'll post what I ended up doing that worked for my specific scenario (asp.net core 2.2 web client app using Azure AD for user auth with JWT bearer auth to call an api).
I have an [Authorize] attribute on my HomeController, the first place the app should encounter the need to authenticate. I was

[2019-09-25 16:56] phil-w commented on #115
<laughs> Of course, that's precisely what I need to do! Thanks.

[2019-09-28 14:55] Alfetta159 commented on #158
I'm still having a problem with this, and the problem is exacerbated by having services call other services using on behalf of flow while those apps are all hosted in Azure as all of the different Azure app services are effectively different machines so an app might call a api and then when another app or even api calls that service, I get the cryptography error. I'll try the work around or turn o

[2019-09-30 09:34] okpedersen commented on #69
@jmprieur It see that #153 is merged now. But I can't find an official release of the package in the NuGet gallery. When will the package be uploaded?

[2019-09-30 17:02] TiagoBrenck commented on #158
Hi @Alfetta159,
Did you configure `SetApplicationName()` with the same name to all of these apps?

[2019-10-02 03:19] Alfetta159 commented on #158
I have been trying this w/ a couple of web app/web API application pairs, but not having and success in Azure just locally hosted.

I am going to take a little time and use the sample application and api and create two sets that talk to the same database and deploy them to Azure. I have the Microsoft.Web.Identity forked locally and deployed as a NuGet package on our private server. By stepping bac

[2019-10-02 16:42] TiagoBrenck commented on #158
Ok, thanks.

[2019-10-02 18:39] jmprieur commented on #69
@SaeedAkhter-MSFT FYI
cc: @henrik-me

[2019-10-03 04:33] Alfetta159 commented on #158
I spent some time this afternoon and evening setting up the #4 sample with a replicated pair using the same sql cache and published it all to Azure. It is still giving me the cryptographic error. Right now, the app registrations are using my company's tenant, but I could switch it to common and/or give you access to the resource group in Azure. Also, I could push the branch that I set this up in l

[2019-10-03 15:14] TiagoBrenck commented on #158
@Alfetta159  So, locally it is working, right? The problem happens when you deploy them to Azure?

[2019-10-03 16:25] Alfetta159 commented on #158
Yes. Works locally when everything is in IISExpress on the same machine, but not as app services in Azure.

I even went back and double checked and moved the data protection calls to execute before the IdentityWeb service extension methods in the ConfigureServices method of the StartUp.cs. I made sure that there isn't a corresponding call that needs to be made in the Configure method of the StartU

[2019-10-03 18:06] TiagoBrenck commented on #158
I have a testing setup that I could deploy on Azure, thanks though.
I will investigate it and let you know once we get a fix for this.

Thanks for the cooperation.

[2019-10-03 22:40] FreeSMIME opened #191 "Does Microsoft.Identity.Web work with ASP.NET Core 3.0?"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

I am using Razor Pages and need to get the client authentication working and the following doesn't seem to log any middleware events

            services.AddMicrosoftIdentityPlatformAuthentication(Configuration, "AzureAd", subscribeToOpenIdConnectMiddlewareDiagnosticsEvents:true)

[2019-10-03 23:10] TiagoBrenck commented on #191
Hi @FreeSMIME, I am sorry about your troubles.

You are right on your statement about calling `TokenAcquisition.AddAccountToCacheFromAuthorizationCodeAsync(...)` in order to populate the token cache. This is the entry point for the caching logic.

About the ASP.NET Core 3.0 problem, I think @jmprieur will be the best person to help you.

[2019-10-04 06:37] jmprieur commented on #191
@FreeSMIME : It's on the backlog to update the samples (and also MSAL.NET, BTW) to .NET Core 3.0.

[2019-10-04 18:42] udlose commented on #163
@jmprieur the link you provided gives a 404.  Can you please provide the correct link?

Also, the same link on this page is broken - https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/2-WebApp-graph-user/2-2-TokenCache#next-steps

[2019-10-08 03:56] conkman commented on #69
@jmprieur I am also interested in a nuget package for the Microsoft.Identity.Web library.  Do you have an eta for when it will be available?  Thank you in advance.

[2019-10-09 15:40] RedBlue1776 opened #193 "The AutoProvisioning scripts seem to only update Enterprise Applications, not App Registrations"
Are the scripts using the 1.0 endpoint?

### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. [ ] Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work an

[2019-10-09 16:41] TiagoBrenck commented on #193
Hi,
The scripts doesn't register only Enterprise Applications (which technically is called Service Principle). It actually has to create the application first to then create the Service Principle.

Are you signing-in on Azure Portal with the same user (from the same tenant) that you signed in when you executed the scripts?

Have you checked on App Registration page, under "All applications" tab?

[2019-10-09 16:45] jmprieur commented on #193
Also an app is an app (there is no v1.0 and v2.0 applications)
but the scripts create applications with the audience "My Org" or "Any Org" because Azure AD PowerShell cannot create apps with the "AAD + MSA" audience. But this is coming soon.

[2019-10-10 09:53] jmprieur opened #268 "The App token cache serialization key should contain the tenantId"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce
The App token cache serialization key should contain the tenantId. Today it only contains the AppId

[2019-10-10 12:24] jmprieur commented on #193
@RedBlue1776 : if you still have the issue, can you provide detailed repro steps?

[2019-10-10 18:01] jmprieur opened #267 "[Microsoft.Identity.Web] Microsoft.Identity.Web should leverage the ASP.NET Core IHttpClientFactory"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce
Microsoft.Identity.Web should leverage the ASP.NET Core IHttpClientFactory

[2019-10-11 18:20] TiagoBrenck commented on #158
@Alfetta159 are you getting the same encryption exception that you were getting when you opened this issue?

[2019-10-11 21:42] Alfetta159 commented on #158
I honestly can't be sure, but it was the same Cryptography exception.

I haven't been using SQL caching, so I'm not running into it lately.

[2019-10-15 13:34] AlphaCreative-Mike commented on #69
Any updates on this?  We have several solutions referencing different versions of the source project that we want to sync.  We'd rather use the NuGet package than reference the source project.

[2019-10-15 16:57] EthanYueZhao commented on #175
It's October. Any update?

[2019-10-15 21:45] TiagoBrenck commented on #158
@Alfetta159 there are 2 solutions for this problem. Let us know which one decided to use and if it worked.

#### Solution 1: Using .NET Distributed Cache

In order to have a distributed cache, .NET has the `IDistributedCache` interface that does the job.
To have it working with MSAL you will need to:
1. Create the new DB Table (this example names it as `TestCache`) using the CLI: `dotnet sql-cache

[2019-10-16 02:10] robertjf commented on #159
@jmprieur just checking in to see if you have enough information or require more from me?

[2019-10-16 09:30] jmprieur commented on #69
No update, yet, @AlphaCreative-Mike
We are still dicussing how to do that, as this is a bit of a special case: not really a product (we are thinking of a bigger strategy), but at the same time not quite a sample.

[2019-10-16 09:33] jmprieur commented on #175
It's on the roadmap: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/issues/191

Feel free to propose a PR, if you wish/can

[2019-10-16 12:45] AlphaCreativeDev commented on #69
@jmprieur  - That makes sense.  For anyone who is looking for options, we will probably fork the samples repo and then publish a build of Microsoft.Identity.Web into our private NuGet Repository.  One thing that would make this option better is if Microsoft.Identity.Web was in it's own repo instead of inside the Azure-Samples repo.  I hope this helps others.

[2019-10-16 12:45] AlphaCreative-Mike commented on #69
@jmprieur  - That makes sense.  For anyone who is looking for options, we will probably fork the samples repo and then publish a build of Microsoft.Identity.Web into our private NuGet Repository.  One thing that would make this option better is if Microsoft.Identity.Web was in it's own repo instead of inside the Azure-Samples repo.  I hope this helps others.

[2019-10-17 18:30] #187 closed

[2019-10-21 13:16] sleeplessninja commented on #69
@j

+1 submodule if not a nuget

[2019-10-21 13:16] sleeplessninja commented on #69
+1 submodule if not a nuget

[2019-10-21 22:07] udlose commented on #69
I'd like to see it distributed as a Nuget package. I certainly do not want to maintain a copy of the code if it were in a repo side by side with my own project - unless I misunderstood the comment by @henriksen.

[2019-10-23 14:36] conkman opened #196 "Microsoft.Identity.Web - WebApiServiceCollectionExtensions - AddProtectedWebApi"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. [ ] Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-Any

[2019-10-23 15:44] Alfetta159 commented on #158
Sorry, I'm having trouble finding time to look at this. I have a couple of things to wrap up and get ready for prod and one for demo and then I will most definitely try these two proposed solutions.

Thanks again for your help.

[2019-10-23 17:42] TiagoBrenck commented on #196
@conkman You might want to use this logic on your `Startup.cs`:

[code]

Let me know if this does not attend your needs.

[2019-10-23 17:48] conkman commented on #196
Won't this overwrite whats currently being done in the Library at WebApiServiceCollectionExtensions.AddProtectedWebApi?  I am calling this extension in the startup already.

[2019-10-23 17:50] conkman commented on #196
@TiagoBrenck won't this overwrite whats currently being done in the Microsoft.Identity.Web Library at WebApiServiceCollectionExtensions.AddProtectedWebApi? I am calling this extension in the startup already.

[2019-10-23 18:17] TiagoBrenck commented on #196
No, it wont overwrite. Lets take for example the method `AddProtectedWebApi`. If you check the code inside it, you have this event setup:

[code]

Lets say you want to augment the current `ClaimsPrincipal` by adding claims to it, and you have to do it on `OnTokenValidated `, however you don't want to lose this `UnauthorizedAccessException` check existing in the event. To do so, on your `Startup.cs

[2019-10-23 18:58] conkman commented on #196
@TiagoBrenck your the man!  Sorry I didn't read your code closer.  I see now what you are referring too.  This works and will accomplish what I am looking for.  Thanks again!

[2019-10-23 18:58] #196 closed

[2019-10-24 11:28] jmprieur commented on #196
Thanks @TiagoBrenck
@TiagoBrenck @kalyankrishna1 @conkman @jennyf19 @bgavrilMS I've documented this use case in the README.md for Microsoft.Identity.Web (as this is the second time we have the question)

https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/Microsoft.Identity.Web/README.md#more-customizations

[2019-10-24 14:42] conkman opened #197 "Microsoft.Identity.Web - OnTokenValidated - TokenAcquisition"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. [ ] Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-Any

[2019-10-24 15:17] jmprieur commented on #197
@conkman ; a controller action will be hit first? would it make sense to call the Microsoft Graph API in the controller action?

Otherwise, let me have a look.

[2019-10-24 16:51] TiagoBrenck commented on #197
@conkman would you prefer to have this claim already mapped on the JWT token instead? If so, you can read about it here: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-claims-mapping. For your case, you are looking into the onpremisessamaccountname value.

You will need to change your app manifest file, and set `acceptMappedClaims: true`. Then you will create the

[2019-10-24 19:17] conkman commented on #197
@TiagoBrenck what do we set for the service principle id?  Is that an Id I can find on our App Registration?

[2019-10-24 21:53] TiagoBrenck commented on #197
No. You grab the ServicePrincipleId by clicking on the highlighted link below. You can find this screen at your AppRegistration Overview tab.
![print](https://user-images.githubusercontent.com/16087102/67528225-cb0ce980-f66d-11e9-9c6b-9e6e5e47a5b8.png)

Once you click it, copy the ObjectId from that screen.

[2019-10-25 09:35] ferronsw opened #198 "InvalidAuthenticationToken"
I've made some changes to the `2-WebApp-graph-user\2-1-Call-MSGraph` sample.
I can login, but when I make a Graph request I get this error:

[code]

I debugged the TokenAcquisition.GetAccessTokenOnBehalfOfUserAsync() to get the access token.
Then I tried making a request in postman with that token and I got the expected result.

So the token seems to be valid, but when I use the Graph SDK I get th

[2019-10-25 09:46] jmprieur commented on #198
@ferronsw : what kind of changes did you make?
Are you sure you are calling Microsoft Graph with a token for Graph?

[2019-10-25 09:56] ferronsw commented on #198
@jmprieur I'm pretty sure that I'm calling Graph with a token for Graph. Can I verify that within the GraphServiceClient?

I've put the code from the Homecontroller requesting the token in a helper class.

[code]
Then I registered it as a service like this:

`services.AddTransient<IGraphSDKHelper, GraphSDKHelper>();`

[2019-10-25 12:16] ferronsw commented on #198
I've changed the Infrastructure.Constants.BearerAuthorizationScheme to Baerer instead of Bearer... Oops

[2019-10-25 12:16] #198 closed

[2019-10-25 14:34] conkman commented on #197
@TiagoBrenck we applied this to the App Registration and now I am getting this error back from the swagger page of the API while attempting to Authenticate.  Any idea why this would be happening now?

`Auth Error{"error":"invalid_request","error_description":"AADSTS50146:+This+application+is+required+to+be+configured+with+an+application-specific+signing+key.\r\nTrace+ID:+49a7b471-b45b-4ff5-9b0c-50

[2019-10-25 14:50] conkman commented on #197
Alright this is fixed now we did not update the acceptMappedClaims in the manifest for the App Registration to the value of:

`true`

[2019-10-25 17:33] conkman commented on #197
This is confirmed to be working!  Thanks again for your help @TiagoBrenck and @jmprieur

[2019-10-25 17:33] #197 closed

[2019-10-25 17:39] TiagoBrenck commented on #197
Awesome! I am glad I could help. For any extra claim that you need, check [this table](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-claims-mapping#table-3-valid-id-values-per-source) to get the corresponding ID and Source.

[2019-10-26 05:10] alexchx opened #199 "CryptographicException: The key {xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx} was not found in the key ring."
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. [ ] Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-Any

[2019-10-28 08:13] jmprieur commented on #183
Closing this issue as we answered.

[2019-10-28 08:13] #183 closed

[2019-10-28 15:33] BenButzer opened #200 "paths have collided 'buildAllSlnS.proj' 'buildAllSlns.proj' (e.g. case-sensitive paths on a case-insensitive filesystem)"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. [ ] Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-Any

[2019-10-28 16:48] jmprieur commented on #200
@TiagoBrenck : do you want to please take this one?

[2019-10-28 17:34] TiagoBrenck commented on #199
Hi @alexchx,

I have a [PR](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/195) opened with the explanation of this issue. For distributed environments you would have to use `AddDistributedSqlServerCache` or change the `DataProtection` to persist the key in a centralized place (shared folder or even key vault).

Please, take a look on that PR and choose a

[2019-10-28 17:52] TiagoBrenck commented on #200
@BenButzer what Operation System are you using that resulted this warning?

[2019-10-28 20:58] BenButzer commented on #200
Windows 10

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tiago Brenck <notifications@github.com>
Sent: Monday, October 28, 2019 12:52:29 PM
To: Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2 <active-directory-aspnetcore-webapp-openidconnect-v2@noreply.github.com>
Cc: BenButzer <benbutzer@hotmail.com>; Mention <mention@noreply.github.com>
Subj

[2019-10-28 21:44] TiagoBrenck commented on #200
I deleted the duplicated file. Could you try now?

[2019-10-29 12:53] jmprieur commented on #158
@Alfetta159 : can we close this issue?

[2019-10-29 14:48] BenButzer commented on #200
All better

[2019-10-29 14:52] jmprieur commented on #200
Thanks for confirming.

[2019-10-29 14:52] #200 closed

[2019-11-04 18:23] #158 closed

[2019-11-05 10:03] alan994 commented on #69
Any updates with this?

[2019-11-05 10:27] BeenaCelin commented on #69
waiting for Microsoft.Identity.Web nuget package. Please let us know the tendative date of release.

Thanks.

[2019-11-05 18:42] jackpanetta commented on #69
Any idea when this will be done?

It's been open since March.

[2019-11-06 13:14] BeenaCelin commented on #196
How to validate audience and scope in startup.cs file. I know the validation is happening inside AppProtectedWebApi - Microsoft.Identity.Web.WebApiServiceCollectionExtensions.AddProtectedWebApi
But i want to explicitly validate Audience and scope before this.

[2019-11-06 15:45] jmprieur commented on #196
@BeenaCelin : to validate the audience, just set it in the appsettings.json file (there is an option named Audience).

Alternatively you might want to hard code it (I would not)

[code]

For the scope, we recommend you validate it on the controller (as it can be different for different controller actions),

See https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/blob/1e97

[2019-11-07 02:51] ahollandusc commented on #69
Microsoft.Identity.Web nuget package please!

[2019-11-07 09:17] jmprieur commented on #69
@khenzar @RobCannon @deckerbd @jackhyder @jackpanetta @okpedersen @conkman @AlphaCreative-Mike @henriksen @sleeplessninja @udlose @alan994 @BeenaCelin @ahollandusc @udlose @AlphaCreativeDev @AHelper @FeyonaNThylander  @neilha @martincarlsson @blyw @mcortezfc @carlowahlstedt @dtrammer @Josverl @multcomalan @pwang2 @nikolami @ritdaw @richsage @EtiennePeeters

Thanks for your support, everybody!

I'm

[2019-11-07 09:18] jmprieur commented on #69
cc: @SaeedAkhter-MSFT @mvrak @henrik-me @jennyf19 @bgavrilMS @trwalke

[2019-11-07 14:38] BeenaCelin commented on #196
@jmprieur Agree. Thanks for the details.

[2019-11-07 19:15] mcortezfc commented on #69
I'm new to all the related technologies for this, so not currently in a position to contribute much.  But I'm working on Web APIs that will be accessed by interactive client & daemon applications, which might need to access other Web APIs all being backed by either my organization's existing Azure AD/ADFS logins or by CAS SAML2 logins.  It looks like the Microsoft.Identity.Web stuff simplifies a l

[2019-11-07 22:11] Beachj commented on #191
Any idea on when these will be migrated to 3.0?

[2019-11-07 22:24] ahollandusc commented on #69
Thanks for the quick reply @jmprieur,
A single centralised preview version (or even beta) nuget package would be awesome. Referencing it from your samples would focus usage and assist end user feedback.
I'm mostly a front end developer trying to do some back end work to secure our API's but happy to contribute where possible.

[2019-11-08 00:33] udlose commented on #69
@jmprieur what is going to be the difference between `Microsoft.Identity.Client.Extensions.Web` and `Microsoft.Identity.Web`?  The documenation uses them interchangeably and TBH it is quite confusing and unclear. I encourage your team to consider cleaning up the documentation and references to each to be more clear.

[2019-11-08 07:28] jmprieur commented on #69
You're right we need to clean-up this. There were hesitations, and this is really not clear. thanks for the heads-up @udlose

[2019-11-08 09:07] jmprieur commented on #191
We are working on it
For the ASP.NET Core Web API tutorial, we already have a PR. https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/pull/111
I hope to get to this for the ASP.NET Core Web app today and the .NET daemon  core daemon app calling its own Web API today (will be the same code for Microsoft.Identity.Web btw)

[2019-11-09 09:50] wdhodges commented on #184
I can say that even running the sample, following the readme on the page doesn't work either. Gives me the following error:
[code]
I do have dotnet 3.0.x installed, full production. Any ideas on that or just have to wait?

Export of `--info`
![image](https://user-images.githubusercontent.com/11448029/68526637-367ccb00-02ac-11ea-9118-9b891992881c.png)

Thanks!

[2019-11-09 10:56] jmprieur commented on #184
I'm working on it, @wdhodges

[2019-11-09 11:10] wdhodges commented on #184
That’s amazing news to hear!

On Sat, Nov 9, 2019 at 05:56 Jean-Marc Prieur <notifications@github.com>
wrote:

[2019-11-12 20:44] jasonshave commented on #191
@jmprieur looks like the PR was merged. Is it safe to say the current build works with .NET Core 3.0?

[2019-11-13 07:31] jmprieur commented on #191
@jasonshave : the ASP.NET Core Web API tutorial (for which the PR got merged) is ready. The ASP.NET Core Web app needs a bit more work. On it (intermittently as I also have other things to do)

[2019-11-14 14:23] pmeems opened #204 "Need simple sample to login and show name and photo in top bar"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [X] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2019-11-14 14:57] pmeems commented on #115
I'm having this same error. Not sure where to put this try-catch, I'm new to .NET Core and MVC.

[2019-11-14 19:28] TiagoBrenck commented on #204
Hi @pmeems,

First of all, thanks for using this tutorial as a learning tool. About your questions:

1. _Login using MyOrg_ (you said that this part is ok, so lets check-it)
2. _Not only show login name in top bar but show full name and profile photo (using MS Graph)_ ([Please check this sample and go to Profile action on HomeController](https://github.com/Azure-Samples/active-directory-aspnetcore

[2019-11-18 12:18] KirteeM opened #207 "Cannot get user IP when using AAD"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [x] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [x] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2019-11-18 17:40] TiagoBrenck commented on #207
Hi @KirteeM, would [fwd optional claims](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims) works better for you? The `fwd` claims holds the client IP.

[2019-11-18 20:17] bobo8488 opened #208 "AAD Login in ASPNET Core 2.2 Web Api + React js"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [x] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2019-11-18 20:40] JoelPagliuca commented on #183
Hello @jmprieur @kalyankrishna1 , this document I believe contradicts your response https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-implicit-grant-flow

To me this description of the implicit flow (particularly the protocol diagram) says a protected API should trust the token given by Microsoft Graph.

I'm having the same problem and I'll raise a new Issue to continue thi

[2019-11-18 20:41] JoelPagliuca opened #209 "IDX10511: Signature validation failed"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2019-11-18 20:41] JoelPagliuca commented on #183
#209

[2019-11-18 20:51] bobo8488 commented on #208
Updated

[2019-11-18 21:55] TiagoBrenck commented on #183
@JoelPagliuca the doc actually says:

 "Now that you've signed the user into your single-page app, you can silently **get** access tokens for calling web APIs secured by Microsoft identity platform, **such as the Microsoft Graph**."

I will explain it on your [opened issue](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/issues/209)

[2019-11-18 22:06] TiagoBrenck commented on #209
Hi @JoelPagliuca , when you get an access token for Graph, it can only be used to consume Graph API. If you have your own web api, you must get another access token (issued to your web api) and send it as bearer, not the Graph one.

I like to say that access tokens are like visas to enter a country. If you have a US visa, you cannot use it to enter Canada for instance. The same goes to web apis. I

[2019-11-18 22:38] JoelPagliuca commented on #209
That's a great analogy @TiagoBrenck thank-you!
How am I supposed to be generating an `access_token` using this library? Then documentation is a bit hard to follow at the moment and I think I've gone in circles a few times 😅.
So far I had the understanding my SPA was supposed to give my API an `access_token` from login.microsoft in the Auth header and the `services.AddProtectedWebApi` was supposed

[2019-11-18 23:02] TiagoBrenck commented on #209
Have you complete [this step](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API#register-the-service-app-todolistservice-aspnetcore-webapi) for registering your web api?

[2019-11-18 23:21] JoelPagliuca commented on #209
Aha! I had not, does my SPA now become a client of my Web API? What does the flow now look like for logging into my application with an Implicit flow using Azure as the Identity provider?

[2019-11-18 23:28] JoelPagliuca commented on #209
Or not even specifically an Implicit flow, myself and the front-end developer working with me are just keen to access this API I'm building with a JWT

[2019-11-19 00:06] TiagoBrenck commented on #209
So, once you have created the WebApi application in azure portal, and followed the **Expose an API** step, you will have the scope that your SPA will use when requesting an Access Token.

I don't know how your code is set, but I assume you were able to get a token from Graph. So in your code, try replacing the graph scope that you were using with the one you ve just created on your web api.

[2019-11-19 00:31] JoelPagliuca commented on #209
So it's looking like I get a valid JWT `access_token` now for my Web API, thank you so much for this help!

I'll try and see if I can raise a PR to suggest changes in the docs to help others find this advice quicker. It looks like the best flow to get here is by adding the App Registration and following the linked examples to this repository. I originally tried using dotnet core [documentation](ht

[2019-11-19 01:30] TiagoBrenck commented on #209
That is awesome news!

For groups, you could check [the step 5 in this tutorial](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/5-WebApp-AuthZ/5-2-Groups).

[2019-11-19 02:09] JoelPagliuca commented on #209
Thanks mate, I'll have a crack at that shortly, I'll close this issue :)

[2019-11-19 02:09] #209 closed

[2019-11-19 06:07] KirteeM commented on #207
Hello @TiagoBrenck ,

We will try that and let you know of the outcome.

Thanks and Regards
Kirtee

[2019-11-19 07:30] pmeems commented on #204
Thanks @TiagoBrenck for your quick reply. I managed to get the profile picture in my top bar using a View Component (see my question at [SO](https://stackoverflow.com/questions/58855518/upgrading-netv4-7-application-to-net-core-v3-and-identity-platform) ). Not sure if that is the best approach.

I still have problems with the cookie lifetime. It is still never refreshed. I've updated my [SO Questi

[2019-11-19 11:25] jmprieur commented on #204
@pmeems : thanks for your interest in this sample.
There are a lot of directions in which we could make the tutorial evolve. We'll definitively think of your requirements but there is a trade-off between the simplicity of the incremental chapters (as a learning tool), and a complete sample that would do all what you want, but that might not be that someone else want to have.
If you want to share y

[2019-11-19 11:26] #204 closed

[2019-11-19 13:02] WalternativE commented on #69
Totally! Far better than the current solution of "copying the project and manually updating it every now and then" 🙈

Sure, if that would help you I'd be more than happy to talk with you about our use case.

Would be in my free-time as I currently can't rationalize the resource usage at work (too many other high priority tasks) but I'm always happy to do some grunt work 🙂

[2019-11-20 15:18] KirteeM commented on #207
Hello @TiagoBrenck ,

I have added the following in the manifest and I still don't get the Ip address:
	"optionalClaims": {
		"idToken": [],
		"accessToken": [
			{
				"name": "fwd",
				"source": null,
				"essential": false,
				"additionalProperties": []
			}
		],
		"saml2Token": []
	},

Am I missing something?

Thanks and Regards
Kirtee

[2019-11-20 15:33] jmprieur commented on #207
@KirteeM if you add claims to an accessToken, you need to edit the manifest of the protected Web API for which this token is mean to be used (if you are its owner).
Did you edit the manifest of the Web app (therefore a client?). In that case you can only have an action on claims for the IDToken

[2019-11-20 16:19] KirteeM commented on #207
Thanks @jmprieur ,
that did the trick!

Regards
Kirtee

[2019-11-20 16:19] #207 closed

[2019-11-22 11:44] BeenaCelin opened #211 "Clone Microsoft.Identity.Web into my own repo as a sub module / repo"
Hi Team,

can you give me URL to clone exactly Microsoft.Identity.Web Project, as i need to refer this as a submodule to avoid missing of latest updates. It seems there is .git file in the root level. Kindly let me know how to get this specific library into my project via clone.

C:\dotnetcore-multicloud>git submodule add https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidco

[2019-11-25 08:37] bobo8488 commented on #208
Hi all. Could we know if this enhancement will be deployed soon? Only because I have a deploy in prod on the 3rd of december and I would like to know if I have to solve this problem in a different way. Thank you so much.

[2019-11-25 10:28] MonkeyTennis opened #212 "What cache dictionary key to use for authorization code flow"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2019-11-25 23:37] jmprieur commented on #212
@MonkeyTennis
the Web apps are not using the implicit flow but the hybrid flow (`OpenIdConnectResponseType.CodeIdToken`). You should not remove IdToken. BTW there is no security concern here. It's more the portal which calls out the IDToken as part of the implicit flow section, but we are going to change this because it's confusing.

You will never get the ID token from the access token acquired w

[2019-11-27 23:11] robgarrett opened #213 "Client assertion audience does not match Realm issuer with JWT assertion."
Is it possible to use client assertion (JWT payload) instead of a client secret in the authorization code grant, with a Microsoft Personal Account?

I've tried the flow manually (outside of MSAL framework) using the COMMON endpoint as the JWT audience and get an error "client assertion audience does not match Realm issuer".

Curious if anyone has this working.

[2019-11-28 22:51] jasonshave opened #216 "Enable AuthorizeForScopes to be applied to a controller (was Exception thrown: 'Microsoft.Identity.Client.MsalUiRequiredException')"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [X ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg

[2019-11-28 23:35] TiagoBrenck commented on #216
Hi @jasonshave, we have renamed `MsalUiRequiredExceptionFilter` to `AuthorizeForScopes`.

Are you experiencing this bug with the sample's latest version?

[2019-11-29 01:50] jasonshave commented on #216
Hey @TiagoBrenck I changed the attribute to what the sample uses and I still get the same error.

[2019-11-29 16:46] TiagoBrenck commented on #216
I ve tried to reproduce the error with the current version on `master` branch, and the samples worked fine. Is your local branch updated?

[2019-11-29 18:11] jasonshave commented on #216
The demo code appears to work okay as I can stop/restart/run the code over and over without issue.

In my reported case I've essentially copied the same code into my own project and have been using the previous version without issue until the latest update of this sample to fit my code. The issue appears to be with the following line:

`IAccount account = await application.GetAccountAsync(accountI

[2019-11-29 19:26] TiagoBrenck commented on #216
So, the behavior of returning `null` after restarting the app is expected when storing MSAL cache in memory. That is why we added the `MsalUiRequiredExceptionFilter/AuthorizeForScopes` attribute.

In a web scenario OAuth authentication flow, the entry point happens in the openId event `OnAuthorizationCodeReceived`. Here is where MSAL will create the first cache record, after calling `AcquireTokenB

[2019-11-29 19:35] jasonshave commented on #216
That helps explain what's happening.

First, is there a way to prevent .NET Core from saving the credential (i.e. a cookie policy)? I'm curious as this came up in a previous discussion I had with a customer as well. There may be cases where certain sites need to prompt the user for authentication each time they visit the site.

Second, given what I have presently, if we just let dotnet authenticat

[2019-11-29 20:29] TiagoBrenck commented on #216
@jmprieur could you help in this one?

[2019-11-29 20:40] jasonshave commented on #216
@TiagoBrenck how does the sample app deal with this scenario of a cached token?

[2019-11-29 21:41] TiagoBrenck commented on #216
For simplicity, most of our samples use in memory cache, so the `AuthorizeForScopes` attribute solves the restart problem for us.

[2019-11-29 21:52] jasonshave commented on #216
@TiagoBrenck thanks for this. Mine is using the same though.

[code]

Unless I'm missing something?

I'm using the same attribute declaration on my Index page:

`[AuthorizeForScopes(Scopes = new[] { ScopeConstants.ScopeUserRead })]`

The only difference is that I had to rename my `Constants` static to `ScopeConstants` due to a naming conflict but it resolves no problem.

[2019-11-29 22:12] TiagoBrenck commented on #216
The attribute must be on top of the Profile page as well.

[2019-11-29 22:23] jmprieur commented on #216
@TiagoBrenck : you mean the `[Authorize]` attribute?

[2019-11-29 22:35] TiagoBrenck commented on #216
This: `[AuthorizeForScopes(Scopes = new[] { ScopeConstants.ScopeUserRead })]`

[2019-11-29 23:05] jasonshave commented on #216
Is there a way to apply this attribute globally? I'm using ASP.NET Razor pages and there is no 'controller' per se. I noticed you're using the `[Authorize]` attribute on the controller, then using the `[AuthorizeForScopes(Scopes = new[] { ScopeConstants.ScopeUserRead })]` attribute on the method corresponding to the Profile() method for that page.

I cannot apply the `[AuthorizeForScopes(Scopes =

[2019-11-30 01:56] jmprieur commented on #216
@jasonshave : that sounds like a good enhancement.

[2019-11-30 05:01] jasonshave commented on #216
@jmprieur, I set up a new class and an event handler to capture the exception in my `GetGraphServiceClient` method call. I can get the event handler to trigger no problem, however I'm wondering what I could call to 'kickstart/boostrap' the re-authentication process?

[2019-11-30 16:36] jmprieur commented on #216
@jasonshave : you would need to do like the following: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/c62791909de85fa3342ed564b3427703cf5f3fb5/Microsoft.Identity.Web/AuthorizeForScopesAttribute.cs#L50-L81

the key is to let ASP.NET Core trigger the re-auth by sending a challenge to the user:

[code]

https://github.com/Azure-Samples/active-directory-aspne

[2019-11-30 23:50] jasonshave commented on #216
Thanks @jmprieur. I've tried implementing this in several different ways including setting up a custom middleware handler using `IExceptionFilter` and adding it to `Startup.cs` but it simply never triggers when `MsaluiRequiredException` is raised. I could easily be missing something as I've never implemented this type of filter in asp.net core before. If you have any advice I'd be happy to continu

[2019-12-01 19:41] jasonshave commented on #216
@jmprieur and @TiagoBrenck I spent a bit more time working through this and have found a solution!

First, the changes involve using an `IExceptionFilter` in ASP.NET Core instead of a `ExceptionFilterAttribute`. This is a key factor in the implementation as you don't need to decorate the methods with the attribute declaration. Instead, the global exception handler will pick up the `MsalUiRequiredE

[2019-12-01 20:10] jmprieur commented on #216
Thanks @jasonshave
I get your point for wanting a global filter and that would be great for Web apps which have actions which only require one scope, but as you'll notice in this sample (multiple APIs) there can be controllers with actions which require different scopes.

https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/3-WebApp-multi-APIs/Controller

[2019-12-01 21:07] jasonshave commented on #216
@jmprieur yes it makes sense and I did forget about those samples as well. I wonder if there is another way we can implement the global exception filter while maintaining flexibility between the Razor page syntax and the MVC style web API's with controllers. In my research I found that we support a [hierarchy of filtering in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/controller

[2019-12-04 17:37] thethird1978 opened #220 "Trying to update but missing TokenCacheProviders\Sql\MsalSqlTokenCacheProvider.cs"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2019-12-04 17:46] TiagoBrenck commented on #220
@thethird1978 could you please elaborate? Consider including error message, or more details on what is not working.

[2019-12-04 18:09] #199 closed

[2019-12-04 18:10] #193 closed

[2019-12-05 12:11] Mrcl1450 commented on #220
SQL TokenCacheProvider folder was deleted in #214

[2019-12-05 12:49] StevenDevooght opened #222 "Client credentials role claim type"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2019-12-05 16:26] jmprieur commented on #220
We deleted it as it's possible to use a distributed cache with a SQL implementation (out of the box in ASP.NET Core)

[code]

[2019-12-05 16:32] jmprieur commented on #222
@StevenDevooght
If you are interested in Web API called from daemon applications, please have a look at the following sample: https://github.com/Azure-Samples/active-directory-dotnetcore-daemon-v2/tree/master/2-Call-OwnApi

Also please read: https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-app-registration#if-your-web-api-is-called-by-a-daemon-app and http

[2019-12-05 16:33] jmprieur commented on #191
Done

[2019-12-05 16:34] jmprieur commented on #175
Done.

[2019-12-05 16:34] #175 closed

[2019-12-05 16:34] #191 closed

[2019-12-05 16:48] Mrcl1450 commented on #220
We might have a missing package then
![image](https://user-images.githubusercontent.com/8568899/70255603-ff9cb680-177e-11ea-8270-65c532ea756e.png)

[2019-12-05 17:16] jmprieur commented on #220
What do you mean it's missing?

If you, as an app developer, decide to add a **SQL Server** cache you have (in your app), to add the corresponding NuGet package:

https://www.nuget.org/packages/Microsoft.Extensions.Caching.SqlServer/

What Microsoft identity web does is provide an adapter to decouple the serialization itself.

[2019-12-05 18:52] TiagoBrenck commented on #222
@StevenDevooght I couldn't reproduce the error. I changed the `TodoListScope` for `/.default` instead of `access_as_user` and the application ran fine.

[2019-12-05 19:05] TiagoBrenck commented on #220
If you meant sample **2-1-Call-MSGraph** then yes, the sample doesn't come with `Microsoft.Extensions.Caching.SqlServer` nuget package installed because that sample`s mainly topic is not about SQL cache. However, sample **2-2-TokenCache** has the package.

[2019-12-09 09:10] StevenDevooght commented on #222
I forgot to uncomment :man_facepalming:
`JwtSecurityTokenHandler.DefaultMapInboundClaims = false;`

[2019-12-09 09:10] #222 closed

[2019-12-10 11:43] BeenaCelin commented on #69
@MS team, would you be updating about Microsoft.Identity.Web release information, this will be great help for us before Holidays for our Assets release. Thanks.

[2019-12-10 22:33] jmprieur opened #225 "Renamings should also have obo"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2019-12-10 22:33] jmprieur opened #226 "Renamings should also have obosl"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2019-12-10 22:33] jmprieur opened #227 "Renamings should also have obosl"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2019-12-10 22:33] jmprieur opened #228 "Renamings should also have obosl"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2019-12-10 22:33] jmprieur opened #229 "Renamings should also have obosls"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2019-12-10 22:33] jmprieur opened #230 "Renamings should also have obosls"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2019-12-10 22:33] jmprieur opened #231 "Renamings should also have obsolete attributes for backward compatibility"
As we rename the verbs in Microsoft.Identity.Web (in the `renaming` branch), we need to also provide obsolete attribute

[2019-12-11 00:27] jmprieur commented on #69
@BeenaCelin
we are currently discussing on how best split this between Microsoft.IdentityExtension for .NET, and ASP.NET Core ..

[2019-12-11 05:36] eitamal opened #232 "Sign-In-Consent Image Reveals Secret"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2019-12-11 06:38] jmprieur commented on #232
Thanks @eitamal
the domain is not a secret. @kalyankrishna1 @TiagoBrenck I'm ok with won't fixing this, but please tell me what you want to do.

[2019-12-11 06:39] #230 closed

[2019-12-11 06:39] #229 closed

[2019-12-11 06:39] #228 closed

[2019-12-11 06:39] #226 closed

[2019-12-11 06:39] #227 closed

[2019-12-11 06:40] #225 closed

[2019-12-11 09:27] pocki opened #233 "Get AccessTokenOnBehalfOfUser if (Current)HttpContext is not available (anymore)"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2019-12-12 14:18] hbermani opened #234 "Can't authenticate with Azure AD on React Template"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [x] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)

### Repro-ing the issue

Setup a new web app using Asp.net core with t

[2019-12-12 19:39] #232 closed

[2019-12-12 19:55] TiagoBrenck commented on #234
Hi @hbermani could you please explain more about your scenario?

The reason I ask is because when you mentioned to set "with identity" option for the template, you are choosing the topology where your users will be in a database and the authentication will be done against the users there. However, this tutorial is about using Microsoft Identity (AAD) to handle the authentication job, thus you wont

[2019-12-12 20:18] hbermani commented on #234
Tiago, thank you for getting back to me so promptly.

Re. the scenario, what I pictured (and please bear with me as I am new to this), the ASP.Net React template uses identity service (understand that is Identity Server 4) to host local accounts in SQL server. What I need to do is have few select users that can authenticate locally using the username and password interface and access authorised co

[2019-12-12 20:21] TiagoBrenck commented on #234
So, is your case a hybrid scenario where some users will be authenticated in AAD while few others will be under the SQL server?

[2019-12-12 20:22] hbermani commented on #234
Exactly, yes.

[2019-12-12 20:31] TiagoBrenck commented on #234
Would this be what you are looking for? https://stackoverflow.com/questions/54875422/hybrid-authentication-in-net-core-with-open-id-connect-and-local-database

[2019-12-12 20:52] hbermani commented on #234
Oh Tiago, you are onto something here.
There was a line I had to add onto the project.json that I have not seen in any of the documentation or code samples online that seems to have made a big difference..
    "CookieSchemeName": "Identity.External"

After I added that and the user signs in with Azure AD, a page appears that says you have successfully signed in into Azure AD and please provide an

[2019-12-12 21:15] TiagoBrenck commented on #234
Im glad I could give you some guidance.

[2019-12-12 21:17] hbermani commented on #234
You have indeed. I am just resolving the CORS issue. Once I figure that out I'll put here what the solution was. Being new to Github, can I give you kudos points or anything like that?

[2019-12-12 21:49] TiagoBrenck commented on #234
I don't think we have point system here. I hope you find the solution.
Have a good one.

[2019-12-12 21:49] #234 closed

[2019-12-13 15:21] hbermani commented on #208
Hi bobo, I have the same issue here. I have been trying to apply CORS policy including to the oidc configuration controller but having no luck with it at all.  Will let you know if I find an answer.

[2019-12-13 16:07] JGCreator opened #236 "Tutorial docs out-of-date as of #86"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2019-12-13 16:11] jmprieur commented on #236
@TiagoBrenck : do you want to update the README.md?

[2019-12-13 16:28] bobo8488 commented on #208
Thank you!

Il giorno ven 13 dic 2019 alle ore 16:21 hbermani <notifications@github.com>
ha scritto:

[2019-12-13 17:15] TiagoBrenck commented on #236
Sure, I can work with that

[2019-12-19 16:44] onovotny opened #240 "Microsoft.Identity.Web: Should clear session auth cookie if cache is missing account"
In the Microsoft.Identity.Web library, the system should automatically clear (`RejectPrincipal()`) the auth cookie if the corresponding account entry is missing from the token cache. This can happen if the cache expired, if it was a memory cache and the server bounced, etc.

The issue is that the system is now in an inconsistent state, where the user is considered logged-in, but any operations to

[2019-12-19 17:29] #236 closed

[2019-12-19 17:53] freemstr commented on #69
Is Azure B2C token cache compatibility being considered for this release?

[2019-12-19 18:21] bgavrilMS commented on #69
@freemstr - B2C can be used for public clients as well as in web scenarios and the token cache is compatible. Do you have any problems with it? If so, consider logging a separate issue.

[2019-12-19 18:34] onovotny commented on #240
Strictly speaking, this is only necessary if there's any user-specific tokens in the cache. If the app is only using application credentials, this won't matter.

[2019-12-19 18:49] onovotny opened #241 "Microsoft.Identity.Web: No user scopes leads to error"
If you want to use .AddMsal(), there's no way to do so without any user scopes. It might be needed for Application flows.

If you use `new string[0]` for the scopes parameter, it'll throw in the OnAuthorizationCodeReceived callback since options.Scope will be null:
`await tokenAcquisition.AddAccountToCacheFromAuthorizationCodeAsync(context, options.Scope).ConfigureAwait(false);`

[2019-12-19 19:51] TiagoBrenck commented on #240
@onovotny if we start forcing sign-outs for other middleware, like cookies, we would be stepping into a developer's custom settings for that middleware. These settings might/or might not be inline to how we think a user should be considered signed-in or out.

What we can definitely consider doing is to raise an event when IAccount is null which a developer can use to carry out a custom action like

[2019-12-19 20:04] onovotny commented on #240
In my case, I don't need scopes here since I'm not implementing an API. This is a web request. The core issue is that without a valid IAccount in the cache, any user-based token requests will fail. The only solution is to have the user login to the app again to get a new code.

That's why I think forcing sign out isn't really a bad thing ... and should be automatic if there are any user scopes bei

[2019-12-19 20:13] TiagoBrenck commented on #240
Help me understand your scenario. Are you using MSAL just to cache IdTokens then?

[2019-12-19 20:17] onovotny commented on #240
I'm not caching Id Tokens, but the code is priming the cache so that it can get access tokens as-needed to other API's. If the cache is missing, the app is in a broken/inconsistent state.

[2019-12-19 20:33] TiagoBrenck commented on #240
Im completely aware of this inconsistent state. That is why we have the class `AuthorizeForScopesAttribute`. The logic there is to catch `MsalUiRequiredExceptionand` and try to "re sign-in" the user. Since the cookies/sessions/claims are all set for that user, they wont experience selecting an AAD account and typing login and password again, however the OpenIdConnect event `OnAuthorizationCodeRece

[2019-12-19 20:38] onovotny commented on #240
If there's a cleaner way of getting a new code and setting the cache without the sign-in, then I agree that's better than forcing a sign out. In the end, my suggestion is that should be handled automatically so the state is never bad and things "just work."

Auth is hard, and most developers just want a few lines to drop in and have things generally work.

[2019-12-19 20:42] TiagoBrenck commented on #240
I have helped a developer that wanted to have this set globally. So he created a filter and registered in the Startup.cs. Here is a an example of a class that would work without scopes, in your case:

[code]

[2019-12-19 20:44] onovotny commented on #240
Where would that get hooked up? And should that be in the default wire-ups, in the spirit of "it just works?"

[2019-12-19 20:46] onovotny commented on #240
The other thing is that exceptions are often caught deep down in the code and don't bubble up to the controller/MVC layer. Something that forces this check at the beginning of an incoming request proactively may be more effective?

[2019-12-19 20:49] TiagoBrenck commented on #240
You may be looking at this configuration in the `Startup.cs` then:

*(this code snippet uses dotnet core 3, if you are using version 2.x, the equivalent of AddControllersWithViews would be AddMvc)*

[code]

[2019-12-19 20:57] onovotny commented on #240
Right...but that assumes that the exception is not caught otherwise, which isn't a valid assumption. I have try/catches in my controllers and they catch all exceptions to do something useful as a last resort.

I think something like this needs to be global/preemptive at the start of a request, not as a result of an exception when you try to use it.

[2019-12-19 21:37] TiagoBrenck commented on #240
I agree, this approach wouldn't check this inconsistent state before every action.

Maybe, to be more preemptive we might be looking at a custom `AuthorizationHandler<T>` and implement the `HandleRequirementAsync()` method. This method has the param `AuthorizationHandlerContext context` which gives us access to the httpContext.User. I am not quite sure if it allows dependency injection, so we woul

[2019-12-20 14:26] freemstr commented on #69
@bgavrilMS THank you for clarification
https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/153#issuecomment-527411746
Which refers to
https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/153#pullrequestreview-274472461
and also
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/AAD-B2C-specifics#kno

[2019-12-20 14:30] bgavrilMS commented on #69
@freemstr - yes, you right, I understood the wrong message. The token cache schema is the same for AAD, ADFS and B2C, but some assumptions need to be made to account for B2C's use of `policies`. These assumptions are sadly exposed to the developers, and require a lot of inside knowledge to get right.

[2019-12-20 19:16] jmprieur commented on #240
Thanks @onovotny

I did not know that: `HttpContext.GetCookieValidatePrincipalContext()?.Principal` contains the identity of the signed-in user. This is really good to know.

What I would propose is that on the signout we remove the cookie. Maybe here: https://github.com/dotnet-foundation/membership/blob/97b75e30e50aab76bfa5a21f1ab88bf31ae66da4/Microsoft.Identity.Web/TokenCacheProviders/MsalAbstra

[2019-12-20 21:38] freemstr commented on #69
@bgavrilMS this must be why there is still no official guide on JWT Bearer to B2C API from MVC
https://github.com/aspnet/AspNetCore.Docs/issues/13215, which is not solved but merged into
https://github.com/aspnet/AspNetCore.Docs/issues/16186 which is also not closed

Even though its definitely possible with MSAL and has been running in production since core 2.0 release.

The original delivery date

[2019-12-20 21:42] udlose commented on #196
@jmprieur , @TiagoBrenck
I have tried using this check but I'm not getting success - it fails and throws the `UnauthorizedAccessException`.  Here are the Claims I'm getting back.  What am I missing?

1. aud
2. iss
3. iat
4. nbf
5. exp
6. aio
7. http://schemas.microsoft.com/claims/authnmethodsreferences
8. http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname:
9. http://schemas.xmlsoap.org/

[2019-12-20 22:21] udlose opened #242 "When will Microsoft.Identity.Web be available as a nuget package?"
When will Microsoft.Identity.Web be available as a nuget package?  It is absolutely ridiculous that I have to cobble together pieces of sample code - _that I have to maintain_ - to get this functionality.

[2019-12-24 03:37] rishavghosh605 commented on #98
I had the same issue of IDX20803 when creating a protected web api, after several trials found out my appsettings.json needed a fix.
My current appsetting.json
{
  "AzureAdB2C": {
    "Instance": "https://xxxxxxxxxxxxx.b2clogin.com/tfp",
    "ClientId": {Your AppID},
    "Domain": "xxxxxxxxxxxxxxxxxxx.onmicrosoft.com",
    "SignUpSignInPolicyId": "B2C_1_signupsignin1"
  },
  "Logging": {
    "LogL

[2019-12-26 06:07] rajpraba1986 opened #243 "We couldn't sign you in. Please try again."
![Authentication_Error](https://user-images.githubusercontent.com/15793172/71460722-0f407580-27e8-11ea-9291-dd33c695ff66.JPG)
![Authentication Authorization_Screenshot](https://user-images.githubusercontent.com/15793172/71460882-9db4f700-27e8-11ea-8816-1fca3200418c.JPG)
![Startup cs file](https://user-images.githubusercontent.com/15793172/71460890-a1e11480-27e8-11ea-885f-e1acc8adcea8.JPG)

-------

[2019-12-27 07:22] #243 closed

[2019-12-27 09:17] NikolaosWakem commented on #242
netstandard2.1 rather than netcoreapp3.0 ideally please :-D

[2020-01-02 10:38] benc-uk commented on #242
Went looking for a NuGet package as well, crazy that in 2020 there's still no official library support for v2.0 endpoints in .NET Core!
Why is this functionally locked away in a _sample_

[2020-01-03 02:39] wjdavis5 opened #245 "401 calling WVD Api"
[code]

### The issue was found for the following scenario:

### Repro-ing the issue

**Repro steps**

In Startup.cs:
[code]
In controller:
[code]

**Expected behavior**
Excepted that the calls to the WVD API do not return a 401 with the passed in token.

**Actual behavior**
Calling the Test endpoint and setting through we can see that the WVD api is returning a 401. The application has been grant

[2020-01-03 14:31] jmprieur commented on #245
@wjdavis5
1) do you get a token ?
2) are you able to confirm that the scope is right (you might want to use https://jwt.ms
3) If you have a token with the right scope, then you'd want to see with the Web API owners.

[2020-01-03 14:37] JasonKleban opened #246 "Authorize's LoginPath?"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [x] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)

How do we override the AuthorizeAttribute unauthorized behavior?  I've

[2020-01-03 15:27] wjdavis5 commented on #245
Thanks for responding, this has really been driving me nuts.
I have getting a token, I'll check the scopes in the token using the link you just shared when I get home tonight. This really seems to be an issue with only the WVD endpoints b/c if I change the scope to azure user impersonation, I can list vms etc. just fine.

[2020-01-03 17:09] jmprieur commented on #245
@wjdavis5 : I just thought you might have to use 'https://mrs-Prod.ame.gbl/mrs-RDInfra-prod//user_impersonation'
(note the double /)
See https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-migration#scopes-for-a-web-api-accepting-v10-tokens and in particular https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-migration#warning-should-you-have-one-or-two-sl

[2020-01-03 21:28] wjdavis5 commented on #245
Adding the extra / resulted in an exception.

[2020-01-04 12:46] jmprieur commented on #245
Thanks for verifying, @wjdavis5
Do you have the right scopes in your token?

[2020-01-04 12:58] jmprieur commented on #246
@JasonKleban did you try to override the OpenIdConnect event `OnRedirectToIdentityProvider`?
Something like what is done here: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/6b150dc8b9d6c4b1b173385422e66edb9f367e8d/Microsoft.Identity.Web/WebAppServiceCollectionExtensions.cs#L72

[2020-01-04 15:40] JasonKleban commented on #246
Thanks for the response.  Judging by its name, `OnRedirectToIdentityProvider` sounds like something that still needs to happen once I DO need to redirect to AzureAD.  I didn't see an obvious way to redirect to a custom in-app route instead anyway.  I'd expect some event like `OnUnauthorized` or something, perhaps.  Are we talking about the same thing?

[2020-01-04 17:27] wjdavis5 commented on #245
Here is the snip of the token:

`{
  "typ": "JWT",
  "alg": "RS256",
  "x5t": "piVlloQDSMKxh1m2ygnotsurewhatsasecrethere",
  "kid": "piVlloQDSMKxh1m2ygnotsurewhatsasecrethere"
}.{
  "aud": "https://mrs-Prod.ame.gbl/mrs-RDInfra-prod",
  "iss": "https://sts.windows.net/0105c271-1a0c-4114-9883-notsurewhatsasecrethere/",
  "iat": 1578158349,
  "nbf": 1578158349,
  "exp": 1578162249,
  "acr": "1",
  "a

[2020-01-04 17:32] wjdavis5 commented on #245
Is it b/c I have MFA enabled?

[2020-01-04 17:45] wjdavis5 commented on #245
Omg I just figured it out by comparing the token I got from the msft rdweb application:

From the RDWeb App:
"aud": "https://mrs-prod.ame.gbl/mrs-RDInfra-prod",

From my App:
"aud": "https://mrs-Prod.ame.gbl/mrs-RDInfra-prod",

....
Yes I was using an uppercase P in - mrs-Prod. And the msft app was using a lowercase p in mrs-prod.

I'm flabbergasted, angry and excited all at the same time.

[2020-01-04 19:17] jmprieur commented on #245
Thanks for the update, @wjdavis5
I let you close the issue :)

[2020-01-04 19:38] jmprieur commented on #246
What about using `OnAuthenticationFailed` ?

https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/6b150dc8b9d6c4b1b173385422e66edb9f367e8d/Microsoft.Identity.Web/Resource/OpenIdConnectMiddlewareDiagnostics.cs#L101

[2020-01-05 04:11] #245 closed

[2020-01-05 15:34] jbehrens94 opened #247 "OptionsValidationException when using MSAL in StartUp.cs"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-01-05 20:14] jmprieur opened #248 "Microsoft.Identity.Web should be netstandard2.1 rather than netcoreapp3.0 ideally"
See request: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/issues/242#issuecomment-569228606

[2020-01-06 23:05] ahelwer commented on #69
Is there any update on this? We've been waiting for this package for a very long time...

[2020-01-07 07:33] gitjosephbeer commented on #69
I'd be intrested on any update concerning a Microsoft.Identity.Web nuGet library as well...

[2020-01-07 16:21] udlose commented on #196
@jmprieur , @TiagoBrenck  bump

[2020-01-07 18:06] TiagoBrenck commented on #196
@udlose sorry I was on vacation. It looks like your app uses an older JWT claims mapping, so the correspondent claim for role is `http://schemas.microsoft.com/ws/2008/06/identity/claims/role`.

So in your case, the role check should be:

[code]

If you want to change the claims mapping, place this line in your `ConfigureServices(IServiceCollection services)` at `Startup.cs`:

[code]

[2020-01-07 18:14] udlose commented on #196
@TiagoBrenck  thank you for your prompt reply :)

I'm using the sample from Microsoft.Identity.Web for Auth via AzureAD (unfortunately, this code is not available as a Nuget yet).  Where is this configured?

What are the ramifications of doing this?

Also, I assume that I have 2 options:
1. to either change the role check as you mention OR
2. change the claims mapping as you mention

Is that corre

[2020-01-07 18:38] TiagoBrenck commented on #242
We understand your frustrations and we also want Microsoft.Identity.Web to be out as a package or something similar. Unfortunately there are still some internal arrangements pending to be solved before Microsoft.Identity.Web moves out from the sample repository.

The main thread about this topic is being discussed here: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconn

[2020-01-07 19:02] TiagoBrenck commented on #246
@JasonKleban, the sample might not be related to your problem but we intercepted the event `OnAuthenticationFailed` and redirected to a custom page here:
https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/2-WebApp-graph-user/2-3-Multi-Tenant/Startup.cs#L98

[2020-01-07 19:19] TiagoBrenck commented on #247
Hi, could you help me understand more your issue? You have checked the samples **1-WebApp-OIDC/1-5-B2C**, **2-WebApp-graph-user/2-1-Call-MSGraph** and **2-WebApp-graph-user/2-2-TokenCache** but their `Startup.cs` configurations are a bit different from each other and it doesn't apply with the repro steps given.

Is your scenario a B2C app that needs to consume MS Graph?

[2020-01-07 20:43] TiagoBrenck commented on #196
Answering your questions by its numbers:

1. If you check the `ver` claims of your token, it says v.1. I believe these claims names are the default for v1 tokens.
1. What do you mean about "ramifications"?
1. You could also change token version to v2 on AzurePortal. This can be done by editing the app manifest: `"accessTokenAcceptedVersion": 2,`. The other solution is from our side to include the

[2020-01-08 05:09] sujayvsarma commented on #211
There is no `.git` file at the root of the `Microsoft.Identity.Web` folder. So you cannot clone that folder separately.

[2020-01-08 05:12] sujayvsarma commented on #213
How are you constructing / acquiring the client assertion JWT?

[2020-01-08 06:19] sujayvsarma commented on #240
👆 fails in the scenario of organizational tenants where when the signin happened, you got a token. But between that and the token expiry, the user account was disabled (say the user left the organization).

It is impractical to expect that a person that left an organization will not try to access organizational portals at a future point in time -- if only because they used a BYOD laptop and they h

[2020-01-08 06:23] sujayvsarma commented on #247
@jbehrens94 - In your `appsettings.json`, there is a section named "AzureAd". Have you set the parameters for that? In specific, `Instance` must be set to "https://login.microsoftonline.com/" or one of the national domains (with one of `.com`, `.de`, `.us` or `.cn` extensions)

[2020-01-08 06:39] sujayvsarma commented on #69
I had no idea that such a thing existed until @jmprieur linked me to this repo on another issue elsewhere (See: https://github.com/dotnet/aspnetcore/issues/18117#issuecomment-571744304).

While you discuss Microsoft.Identity.Web, do bear in mind the following:

- There are way too many packages out there that seem to do the same thing. MSAL, ADAL, Microsoft.Identity.Client.Extensions.Web, and vari

[2020-01-08 06:55] sujayvsarma opened #249 "Microsoft.Identity.Web - Implement C# 8.0 nullable standard"
Even if the project is not C# 8.0, consider implementing the `nullable` standard by suffixing `?` to all parameters and returns that may be `NULL`.

This will be a breaking changing internal to the library & to consuming code. Therefore, consider publishing the changes only during a major cycle.

[2020-01-08 07:49] jmprieur commented on #196
@TiagoBrenck : I think that the code should be more robust and accept both set of claims. Also the claims mapping could be partial.

Also this code will change in the future as we introduce more hierarchical ways of defining scopes / roles for the application, the controller and the controller action.

[2020-01-08 08:07] sujayvsarma opened #250 "Assistance Request - Specific adaptation of Microsoft.Identity.Web"
This actually follows from [this issue](https://github.com/dotnet/aspnetcore/issues/18117).

My scenario is that I have an application that has to do with managing Azure-based resources (you know, VMs, apps, etc). The application is multi-tenanted -- anyone that can logon to Azure Portal and use that should be able to login to this application and use it. Currently I have a wide-net, meaning Multi

[2020-01-08 09:36] jmprieur commented on #249
@sujayvsarma can you be more specific about which parameters you'd want to be null?

[2020-01-08 09:37] jmprieur commented on #250
@sujayvsarma what if it was available as a NuGet package? In the end this would be a component, and you'd use the public API you'd need. Did you see https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/Microsoft.Identity.Web/README.md ?

[2020-01-08 09:40] jmprieur commented on #250
Also, today, Microsoft.Identity.Web leverages `Microsoft.AspNetCore.Authentication.AzureAD.UI` but we are experimenting about leveraging the OIDC middleware directly. See the [removingUis](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/commits/jmprieur/removingUis) branch

[2020-01-08 09:41] sujayvsarma commented on #250
Yes, exactly. I have responded to your survey [with my comments](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/issues/69#issuecomment-571912449).

But this question has nothing to do with that. This is on how I would "minify" the current Identity.Web codebase for specific usage in my application rather than having to fork/clone and use the whole thing with al

[2020-01-08 09:42] jmprieur commented on #240
@sujayvsarma. This problem is being taken into account separately (by Azure AD)

[2020-01-08 09:42] sujayvsarma commented on #250
So basically you would be adding to the confusion of profusion in the packages that do the same thing! Please dont!

[2020-01-08 09:43] sujayvsarma commented on #250
Again.. this issue is not a bug report or a request for changing Microsoft.Identity.Web.

This is a question, asking for your help in adapting that code for my needs.

[2020-01-08 09:43] jmprieur commented on #250
@sujayvsarma : Do you mean you'd want to have more NuGet packages doing less things?

[2020-01-08 09:43] sujayvsarma commented on #250
Yes. I would prefer that.

[2020-01-08 09:48] sujayvsarma commented on #249
Not that *I* would want to make null, but it creates a distinction between what the code would consider to maybe null or will never be null.

For example, in `Microsoft.Identity.Web` > `TokenAcquisition.cs`, line 165, you are checking if the parameter `scopes` is null. If the `GetAccessTokenOnBehalfOfUserAsync` expects to receive `scopes`  as null sometime, it would define its signature as:

[code

[2020-01-08 09:50] jmprieur commented on #250
Actually we are discussing with the ASP.NET Core team about that. It's not something we'd do on our own. cc: @blowdart

[2020-01-08 09:51] sujayvsarma commented on #240
@jmprieur  - I don't see it as being AzureAD's problem. Rather it is due to the decision of the middleware / library handling the auth token. If like @onovotny suggested, when the token expired if the user had to go through a manual sign in experience, this problem would not arise. Because then, they would get blocked right there when the Azure AD would ban them. No return to the app at all.

But,

[2020-01-08 09:52] sujayvsarma commented on #240
There was a study somewhere that said that a huge number of corporate espionage problems where because ex-employees continued to have access to resources they should not. So this is a big & serious issue.

[2020-01-08 15:30] multco-malan commented on #250
Hi Sujay,
What does USP mean?
thanks

[2020-01-08 15:42] sujayvsarma commented on #250
@multco-malan - USP: Unique Selling Points

What's unique about this? Why should people care it exists? etc

[2020-01-08 16:05] udlose commented on #196
@jmprieur , @TiagoBrenck

This is one of the most important reasons that we need to have this kind of implementation provided as a Nuget package.  This *should* be nothing more than a black-box to application developers that we plugin to to get this functionality.  Crafting it ourselves and having to maintain this just doesn't make sense as a long-term strategy.  I'm aware of the efforts to have t

[2020-01-08 16:18] jmprieur commented on #196
@udlose : thanks for the feedback. We do really understand the need for the NuGet package and are working on providing a solution to make your life easy
cc: @henrik-me @jennyf19 @bgavrilMS

[2020-01-09 06:52] sujayvsarma opened #251 "BUG - Azure RM token Scope URI should be changed, especially for Organizations multi-tenant logins"
When getting the access token after signing in with the "organizations" endpoint, the Scope URI for AzureRM token should be changed.

For `<tenantid>` logins, the Scope URI is `https://management.azure.com` as defined in `ArmOperationService.ArmResource` constant.

But for `organizations` logins, the Scope URI should be `https://management.core.windows.net`. Otherwise you get an invalid scope exce

[2020-01-09 17:11] jmprieur commented on #251
@TiagoBrenck : can you please fix this one?
cc: @kalyankrishna1

[2020-01-09 17:54] #98 closed

[2020-01-09 18:13] sujayvsarma commented on #249
Fyi, I have managed to implement these suggestions and managed to remove & clean up some code as well. If you're interested, I'll hook up a PR or send you the zip somewhere ?

[2020-01-09 18:50] jmprieur commented on #249
Sure, @sujayvsarma, feel free to propose a PR.

[2020-01-09 18:54] TiagoBrenck commented on #251
Sure, I will investigate it further since it seems to be a bug in ARM instead.

[2020-01-10 04:07] #251 closed

[2020-01-10 10:36] jbehrens94 commented on #247
Hi @TiagoBrenck and @sujayvsarma,

I did come closer thanks to your comments, thank you! I do want to use B2C, yes. Preferably a Web API and web app that talk to the same B2C app.

However, if I currently run the web app and sign in, I'm receiving this error:

`InvalidOperationException: IDX20803: Unable to obtain configuration from: 'https://{domain}.b2clogin.com/common/v2.0/.well-known/openid-co

[2020-01-10 10:43] sujayvsarma commented on #247
@jbehrens94 - Like @TiagoBrenck said, the samples are all different from each other and you cannot mix and match their configuration or code -- not unless you know what you are doing with them and how they interact several layers deep in the code.

Without seeing your code it is hard to know what is going on. Since you are running samples at this point, I recommend you create a (temporary?) git re

[2020-01-10 11:26] jbehrens94 commented on #247
@sujayvsarma I added my temporary git repo here: [link](https://github.com/jbehrens94/Brews)

[2020-01-10 12:45] sujayvsarma commented on #247
First up, I don't know whether the highlighted portions (in the below screenshot) in your `appsettings.json` are this way because you have put them in the repo, or is this how you are trying to use them? These values should be replaced by actual values in your config.

![AppSettings.json File](https://user-images.githubusercontent.com/7371750/72153759-c89c6f00-33d4-11ea-9f4d-a110c8e2f366.png)

Als

[2020-01-10 13:58] jbehrens94 commented on #247
@sujayvsarma I removed the values for now, because I didn't want to leak them into the repository. So, I suppose the values are correct?

I'm currently not using B2COptions.cs, so I don't think that's relevant to get B2C to work for now. Anyway, I am still receiving the error about a file not being found at the b2clogin domain. So maybe you could see something in the repository, or maybe there's a

[2020-01-10 17:28] TiagoBrenck commented on #247
@jbehrens94 we are still working in integrating B2C calling web api using MSAL and Microsoft.Identity.Web. There is a branch with a working code, however there are some internal tasks going on here that once they are done, this branch will suffer modifications.

**If you don't mind having it changed later**, you can find the working code in [this branch](https://github.com/Azure-Samples/active-dir

[2020-01-10 21:39] jbehrens94 commented on #247
@TiagoBrenck Thank you! I don't mind changing it later, as your team is also working on getting Microsoft.Identity.Web and MSAL to NuGet, right? Thanks anyway, I'll check it out tomorrow and let you know if it works as expected.

[2020-01-12 11:32] sujayvsarma opened #254 "Microsoft.Identity.Web - Production-readiness & Issues"
First of all, kudos to every developer that worked on writing these samples and the Microsoft.Identity.Web codebase. You have done a great job at trying to navigate the maze that is ADAL + MSAL and tried to make things as easy as possible.

BUT...

Since you are talking about making Microsoft.Identity.Web "production grade" by making it available as a NuGet package, I don't think it is ready, not

[2020-01-13 19:44] nehaagrawal opened #255 "CORS Issue in Authenticating asp.net core web app"
I have followed this document https://docs.microsoft.com/bs-latn-ba/azure/active-directory/develop/quickstart-v2-aspnet-core-webapp for implementing authentication in my asp.net core web app. I am getting below error. Above documenr doesn't say anything about setting CORS so I am wondering what could be the issue?

    Access to XMLHttpRequest at 'https://login.microsoftonline.com/someid/oauth2/v2

[2020-01-13 21:35] TiagoBrenck commented on #255
CORS doesn't need to be set in this case indeed. Sometimes, this CORS error message misleads to the actual problem. Could you share the `AzureAd` of your `appsettings.json` please? (You can mask the clientId and tenant if you like so)

[2020-01-15 10:33] boachim opened #258 "2.1 - Call MsGraph - launchSettings - applicationUrl - default wrong port"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-01-15 10:37] jennyf19 commented on #258
@TiagoBrenck we found this issue when working w/the css engineers in Lisbon. Can you take a look please? if you need more info, let us know.

[2020-01-15 12:04] binhnguyen1984 opened #259 "Issue: No account or login hint was passed to the AcquireTokenSilent call during reload"
I got the above error when reloading my web page that uses Azure AD authentication to call a web api. When the page was first loaded, the user logged in and everything was fine. Then after a while, I reload the page and got the error. To be able to reload the page, I had to clear the browser's cache. So what is the issue here and how to solve it?

[2020-01-15 18:34] TiagoBrenck commented on #259
The issue is because your MSAL cache got cleared (I bet you might be using InMemory) when you restarted your app. However the cookies in the browser stills alive, so when you reload the page, you get an authenticated session because of the cookies but you did pass through the event `OnAuthorizationCodeReceived` which instantiate MSAL cache.

Solutions for your problem would be using the attribute

[2020-01-15 18:43] TiagoBrenck commented on #258
@jennyf19 could you elaborate more the repro steps?

[2020-01-15 23:24] stvb opened #260 "Example 1-5-B2C fails to start with .Net Core 3.1.1"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-01-16 07:15] binhnguyen1984 commented on #259
@TiagoBrenck
I tried out your suggestion but it still did not work. How can we enforce the web page to re-authenticate the user this case?

[2020-01-16 09:27] jmprieur commented on #258
@TiagoBrenck : when trying to run the sample, the launched URL was not the same as the port defined by the application.

The SSL Port is 44321
https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/66fadc936081c08403d28ed403db50fe14c1930f/2-WebApp-graph-user/2-1-Call-MSGraph/Properties/launchSettings.json#L7

whereas the app is launched from https://localhost:443

[2020-01-16 09:32] stvb commented on #260
No, but i just tried adding that reference explicitly and didn't help either.

But, i just tried Microsoft.AspNetCore.Authentication.AzureADB2C.UI 3.1.0 and that works. So the breaking change is in the 3.1.1 change of Microsoft.AspNetCore.Authentication.AzureADB2C.UI

[2020-01-17 14:23] jadjare opened #264 "Advice sought: Handling expired tokens during an javascript fetch request"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. [x] Other (please describe)
   1. [x] Handling the an Expired Access Token during an AJAX based call
      1. [x] Microsoft.Identity.Web
      1. [x] Using TokenAcquisition to retrieve a token to be used for calling the graph me

[2020-01-17 14:53] jennyf19 commented on #264
@jmprieur will respond.

cc: @anasimao

[2020-01-17 15:04] jmprieur commented on #264
@jadjare : did you try to remove the `AuthorizeForScopes` attribute on the action? you could process the MsalUiRequiredException yourself.

https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/f84854eb0c2876afa63edc349c16e1cb3f23f32e/2-WebApp-graph-user/2-1-Call-MSGraph/Controllers/HomeController.cs#L34

[2020-01-17 16:46] jadjare commented on #264
@jmprieur : I had a filter on to handle the AuthorizeForScopesAttribute site wide
[code]
and in startup.cs
[code]
I have removed this so that so that there shouldn't be any automatic handling of the MsalUiRequiredException.

Now, when the page first loads it authorizes the user and presents my basic sample page, which includes a button to perform the AJAX request.  Clicking on the button successfu

[2020-01-17 18:14] TiagoBrenck commented on #259
@jmprieur @kalyankrishna1 @bgavrilMS could you help answer this one?

[2020-01-18 17:42] newpiguy opened #266 "[Tutorial] aspnetcore-webapp-tutorial-alt.svg text not visible in Dark Mode theme"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-01-18 21:00] jmprieur commented on #260
@jennyf19 FYI.

[2020-01-18 21:02] #258 closed

[2020-01-19 18:17] jmprieur commented on #266
Thanks for the heads-up, @newpiguy

[2020-01-19 18:20] #220 closed

[2020-01-19 18:25] jmprieur commented on #259
This is a duplicate of https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/issues/240

[2020-01-19 18:25] #259 closed

[2020-01-20 19:13] kalyankrishna1 commented on #268
@TiagoBrenck I'll check this once with the MT sample (enhance it with a client credential scenario). The token for Graph should be obtained and cached for each tenant separately.

[2020-01-20 20:03] jmprieur commented on #248
This does not seem possible for the moment as MSAL.NET does not have a netstandard2.1 dependency. @bgavrilMS what do you think?

[2020-01-20 20:11] bgavrilMS commented on #248
From MSAL perspective, you can do whatever you like with extension libraries. MSAL supports netstandrd 1.3, so extension library can target everything **above** netstandard 1.3 (i.e. netstandard2.1 etc.).

However, this may not be what you want. If your only framework in ASP.NET Core, why do you want to support NetStandard? What is the benefit?

[2020-01-23 00:05] multco-malan opened #270 "Handle signout in Blazor (dot net core 3.1), going to an allow anonymous page containing sign in link."
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [x] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-01-23 06:03] rggammon opened #271 "AddMsal does not work with scopes for different resources (AADSTS28000 error)"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-01-23 17:47] TiagoBrenck commented on #271
Hello @rggammon this is actually expected and by design at the moment. Different resources could have different policies (like conditional access and MFA) and it would require a separate login experience for each resource, what is not UX friendly.

@jmprieur @bgavrilMS is there any future plan regarding this topic?

[2020-01-23 18:10] rggammon commented on #271
Ok - fyi, I get the appropriate consent screen across both resources, so it may be possible to do this with one login/consent, but I can understand if this is not something AddMsal supports.

[2020-01-23 18:10] #271 closed

[2020-01-24 12:29] bobo8488 commented on #208
Is it possibile to know something about this? I think that this is a huge problem for all the developers that have routing on SPA pages and after that they call protected apis. Please, let us know.
Thank you

[2020-01-24 13:02] hbermani commented on #208
hi bobo,
I ended up implementing Azure AD B2C with this library https://github.com/syncweek-react-aad/react-aad#readme, and leverage JWT to authorise with the backend.

[2020-01-24 13:14] bobo8488 commented on #208
Hi hbermani,
with your solution, if you are also protecting the .net core backend, this won't work....because the cookie that is saved is not verifiable by the backend because is issued from the MSAL. The problem here is that in the "Authorized" backend the CORS error prevent us to login correctly and then consume the api that is called. In my opinion the error to handle is the cors error... Don't

[2020-01-24 13:16] hbermani commented on #208
That's the thing, you don't trust the MSAL token, your backend will need to verify the token against Azure AD B2C.

[2020-01-24 13:42] bobo8488 commented on #208
Ok. Is it possible to see the code of your .net core 2.2 server side? Thank you

[2020-01-24 13:44] hbermani commented on #208
Here is the detailed docs for verifying the token
https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-tokens#validation

[2020-01-27 21:13] bobo8488 commented on #208
It's not working. I'm always get signature error when I'm verifying the token. I think that the token is a microsoft graph token. I'm not using the active directory b2c.
The question is, how is possible to verify a microsoft graph access token inside my .net core protected web api?
Thank you

[2020-01-27 21:30] TiagoBrenck commented on #208
@bobo8488 you simply dont. Think about access token as a country visa. You have gotten yourself a visa to US, but asking how can you use your US visa to enter in Japan?

If you get an access token for Graph, you must only use it to access MS Graph. If you need to access your .NET core web api, then the API must expose a scope, and your front-end app should acquire a token to this .NET api scope an

[2020-01-28 07:20] bobo8488 commented on #208
Yes, you are right, but no documentation has been released to authenticate with azure Active directory and validating that token in a protected web api... So I follow the documentation, but maybe I'm following the wrong documentation... Any ideas? Thank you!

[2020-01-28 10:14] hbermani commented on #208
Hi bobo, so as I understand it, you authenticate / verify identity with id token and look what permissions have been granted with access token (which I am assuming you are fetching on server side).

See if this helps https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens#validating-an-id_token

[2020-01-28 10:34] bobo8488 commented on #208
I'm authenticating the user with React-AAD. After that I have to call a protected web API.
I call a function of React AAD that give me the access token. After that I put that token in the header of the rest api request.
When the api is called, the authentication fails.
How can I obtain a valid azure active directory token and how is possible to validate that token in the .net core 2.2 backend?
Tha

[2020-01-28 16:51] bobo8488 commented on #208
@TiagoBrenck Thank you for your response...but there is any documentation about this? I have a frontend in react that use MSAL library for authentication... I don't know how to solve this problem with my backend...

[2020-01-28 17:48] TiagoBrenck commented on #208
@bobo8488 my suggestion to protect a web api would be this sample: https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/1.%20Desktop%20app%20calls%20Web%20API

It shows you how to configure the web api in Azure Portal, set its values in dot net core project and how to set the `[Authorize]' attribute that will accept a token from your front-end client. This part

[2020-01-28 20:42] TiagoBrenck commented on #184
The samples got updated to use Core 3.1.0

[2020-01-28 20:42] #184 closed

[2020-01-29 18:22] TiagoBrenck opened #273 "InvalidOperationException: Either provide the 'ScopeKeySection' or the 'Scopes' to the 'AuthorizeForScopes'"
`AuthorizeForScopesAttribute` is registered as a singleton, hence if you get it hit once by using the **ScopeKeySection** argument, the second time a `MsalUiRequiredException` is thrown you would have **ScopeKeySection** and **Scopes** populated (due to the singleton architecture) and the validation below will fail

[code]

### This issue is for a: (mark with an `x`)
[code]

### The issue was foun

[2020-01-31 03:09] GedillurBjorn opened #274 "[Tutorial] Example with web app calling web api in Core 3.1 using B2C"
Hi,
I am looking for an example of asp.net core web app calling a asp.net core web api both using AAD B2C, I an fairly new to code in genera and did not find a way to adapt the code found with core 2.2 to 3.1.
Thanks!

[2020-02-01 11:03] DanHarries opened #276 "Any help please: ASP Core 3 Mvc - Azure AD Authenticates then doesn't ..."
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [x] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]

[2020-02-01 18:46] #246 closed

[2020-02-02 21:29] sowsan opened #277 "Example for Blazor server side app"
Any examples for the blazor server-side app for the same scenario would be very helpful,

https://docs.microsoft.com/en-us/aspnet/core/security/blazor/?view=aspnetcore-3.1&tabs=visual-studio

[2020-02-02 22:53] jmprieur commented on #277
@sowsan : this is on the backlog

[2020-02-02 22:55] sowsan commented on #277
Thank you!

[2020-02-02 22:55] #277 closed

[2020-02-03 08:28] DanHarries commented on #276
This wasn't anything to do with the cookie being lost, there was a db call to an external server in my controller and that was throwing the permission error 😑

[2020-02-03 08:28] #276 closed

[2020-02-03 19:17] jennyf19 commented on #273
cc: @jmprieur

[2020-02-03 21:10] jennyf19 commented on #264
@jadjare What do you mean by "invalidating the token"?

[2020-02-03 23:06] jmprieur commented on #273
@TiagoBrenck : why is it statically defined? it's an attribute instance? I don't get it. I looked at the doc for the exception filters, it does not say it's static?

[2020-02-03 23:29] TiagoBrenck commented on #273
@jmprieur I don't know why it is statically defined. If you follow the steps mentioned above you will be able to reproduce the bug.

[2020-02-03 23:48] jmprieur commented on #273
what happens is that Scopes is assigned (as an optimization) from the value of the resource, which means that next time we throw an error.
A fix would be to assigned the value of the resource into a different variable (which would not change Scopes).

This has actually good if we want to dynamically read the config file.

[2020-02-04 11:07] jadjare commented on #264
@jennyf19 By "invalidating the token" I mean taking an action that causes a request for an Access Token to be redirected to the login.microsoftonline.com/.../oath2.

Normally this happens when you first log in to an application or after an Access Token has expired.  I don't have permissions to change the expiry period of the token I'm receiving and can't wait an hour between requests.  However, I'

[2020-02-04 23:28] jmprieur opened #279 "[Microsoft.Identity.Web] Microsoft.Identity.Web should support Easy Auth"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ x] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ x] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOr

[2020-02-04 23:54] TiagoBrenck commented on #273
Nice suggestion @jmprieur . I have opened a PR: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/280

Honestly, I am still confused how come the `Scopes` kept assigned.

[2020-02-05 00:05] jennyf19 commented on #273
@TiagoBrenck it's because we're setting the Scopes value to whatever is in `configuration.GetValue<string>(ScopeKeySection)`, then later checking if there is a value in both: `                    if (!string.IsNullOrWhiteSpace(ScopeKeySection) && Scopes != null && Scopes.Length > 0)`, which there is, so then the InvalidException is thrown, even though the two scopes are the same.

[2020-02-05 17:14] fboucsc opened #281 "[Microsoft.Identity.Web?] No account or login hint was passed to the AcquireTokenSilent call - in authorization filter"
### This issue is for a: (mark with an `x`)
[code]

### The issue was found for the following scenario:

Please add an 'x' for the scenario(s) where you found an issue

1. Web app that signs in users
   1. [ ] with a work and school account in your organization: [1-WebApp-OIDC/1-1-MyOrg](../blob/master/1-WebApp-OIDC/1-1-MyOrg)
   1. [ ] with any work and school account: [/1-WebApp-OIDC/1-2-AnyOrg]